#cloud-config
{{if http_proxy}}
apt_proxy: {{http_proxy}}
{{elif server_host}}
apt_proxy: http://{{server_host}}:8000/
{{endif}}

system_info:
   package_mirrors:
     - arches: [i386, amd64]
       search:
         primary:  ["http://{{main_archive_hostname}}/{{main_archive_directory}}"]
         security: ["http://{{main_archive_hostname}}/{{main_archive_directory}}"]
       failsafe:
         primary:  "http://archive.ubuntu.com/ubuntu"
         security: "http://security.ubuntu.com/ubuntu"
     - arches: [default]
       search:
         primary:  ["http://{{ports_archive_hostname}}/{{ports_archive_directory}}"]
         security: ["http://{{ports_archive_hostname}}/{{ports_archive_directory}}"]
       failsafe:
         primary:  "http://ports.ubuntu.com/ubuntu-ports"
         security: "http://ports.ubuntu.com/ubuntu-ports"
