[run]
branch = True
source = src
omit =
  */testing.py
  */testing/*
  */tests/*

[report]
omit =
  src/*/migrations/*
  src/maastesting/*
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError

[html]
directory = coverage
title = Coverage for MAAS
