*.DS_Store
*.egg
*.egg-info
*.log
*.snap
*.fuse_hidden*
/.mypy_cache
/.db.lock
/.failed
/.git
/.hypothesis
/.installed.cfg
/.pybuild/
/.noseids
/.run
/.tox
/.ve
/.vscode
/*.orig.tar.gz
/bin
/build
/build_pkg
/db
/debian/build/
/debian/debhelper-build-stamp
/develop-eggs
/dist
/api-docs.rst
/eggs
/etc/maas/rackd.conf
/etc/maas/regiond.conf
/include
/lib
/junit.xml
/local
/logs/*
/maas_git_source.tar.bz2
/man/.doctrees
/node_modules
/parts
/prime
/release.macaroon
/release.lp
/services/*/supervise
/snap/.snapcraft
/src/maasui/build
/src/maasui/nodejs
/src/machine-resources/bin
/src/machine-resources/vendor
/stage
/TAGS
/tags
/twisted
/xunit.*.xml
__pycache__
*.orig
*~
\#*\#
.#*
*.*.swp
