*.DS_Store
*.egg
*.egg-info
*.log
*.snap
/.bzr
/.coverage
/.coverage.*
/.db.lock
/.failed
/.git
/.hypothesis
/.idea
/.idea/libraries
/.idea/scopes
/.idea/workspace.xml
/.installed.cfg
/.pybuild/
/.noseids
/.run
/.run-e2e
/*.orig.tar.gz
/bin
/build
/build_pkg
/coverage
/coverage.xml
/db
/debian/build/
/debian/debhelper-build-stamp
/develop-eggs
/dist
/docs/api.rst
/docs/_autosummary
/docs/_build
/eggs
/etc/maas/rackd.conf
/etc/maas/regiond.conf
/include
/lib
/local
/logs/*
/maas_git_source.tar.bz2
/man/.doctrees
/media/demo/*
/media/development
/node_modules
/parts
/prime
/services/*/supervise
/snap/.snapcraft
/src/maasserver/static/js/enums.js
/stage
/TAGS
/tags
/twisted
/xunit.*.xml
yarn.lock
__pycache__
*.orig
*~
\#*\#
.#*
*.*.swp
