*.DS_Store
*.egg
*.egg-info
*.log
*.snap
*.fuse_hidden*
/.mypy_cache
/.coverage
/.coverage.*
/.db.lock
/.failed
/.git
/.hypothesis
/.idea
/.idea/libraries
/.idea/scopes
/.idea/workspace.xml
/.installed.cfg
/.pybuild/
/.noseids
/.run
/.ve
/.vscode
/*.orig.tar.gz
/bin
/build
/build_pkg
/coverage
/coverage.xml
/db
/debian/build/
/debian/debhelper-build-stamp
/develop-eggs
/dist
/api-docs.rst
/eggs
/etc/maas/rackd.conf
/etc/maas/regiond.conf
/include
/lib
/junit.xml
/local
/logs/*
/maas_git_source.tar.bz2
/man/.doctrees
/node_modules
/parts
/prime
/services/*/supervise
/snap/.snapcraft
/snap/local/postgres-9.5
/src/maasui/build
/src/maasui/nodejs
/src/machine-resources/bin
/src/machine-resources/pkg
/src/machine-resources/src/*
!/src/machine-resources/src/machine-resources
/src/machine-resources/src/machine-resources/vendor
/stage
/TAGS
/tags
/twisted
/xunit.*.xml
__pycache__
*.orig
*~
\#*\#
.#*
*.*.swp
