/build_pkg export-ignore
/debian export-ignore
/utilities export-ignore
/required-packages export-ignore
/snap export-ignore
/run-skel export-ignore
/services export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Don't include generated JavaScript or CSS in diff output.
# (They will still show up as binary files that differ.)
/src/maasserver/static/js/bundle/** -diff
/src/maasserver/static/css/build.css -diff
