graft src/maasserver/static
graft src/maasserver/templates
graft src/metadataserver/fixtures
graft src/provisioningserver/templates
include src/maasserver/migrations/south/django16_south_maas19.tar.gz
include src/provisioningserver/drivers/power/*.xml
