fixtures==4.0.0
hypothesis==6.46.9
ipdb==0.13.9
junitxml==0.7
postgresfixture==0.4.2
pytest==7.1.2
pytest-mock==3.7.0
pytest-xdist==2.5.0
python-subunit==1.4.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.5.0
# Install MAAS itself in editable mode
-e .
