argparse==1.1
black==19.3b0
blessings==1.6
decorator==4.0.10
django-nose==1.4.5
extras==1.0.0
fixtures==3.0.0
hypothesis==3.6.1
ipdb==0.10.3
ipython==5.1.0
ipython-genutils==0.1.0
junitxml==0.7
linecache2==1.0.0
nose==1.3.7
nose-timer==0.6.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
postgresfixture==0.4.1
prompt-toolkit==1.0.9
ptyprocess==0.6.0
Pygments==2.1.3
python-mimeparse==1.6.0
python-subunit==1.2.0
selenium==2.45
setuptools==36.2.7
simplegeneric==0.8.1
sqlparse==0.2.2
termcolor==1.1.0
testresources==2.0.1
testscenarios==0.5.0
testtools==2.2.0
traceback2==1.4.0
traitlets==4.3.1
unittest2==1.1.0
wcwidth==0.1.7
# Explicit versions for PACKAGED dependencies. This is where a TEST
# dependency itself depends on an INSTALL/RUNTIME dependency which is, by
# force, provided by a system package.
psycopg2==2.7.4
six==1.11.0
# lint dependencies
entrypoints==0.3
# coverage dependencies
coverage==4.3.1
# Install MAAS itself in editable mode
-e .
