/******************************************************************************
    Page
*/
.center-page-wrapper {
    text-align: center;
    margin: 0 auto;
    width: 95%;
    min-width: 976px;
    }

.center-page-content {
    text-align: left;
    }

/******************************************************************************
    Header
*/
#global-header {
    background-color: #221e1b;
    padding: 6px 8px;
    }

#user-nav {
    float: right;
    }

#user-nav li {
    padding: 0;
    }

#header {
    height: 48px;
    background-color: #221e1b;
    }

#global-header,
#global-header a,
#header a,
#header {
    color: #fff;
    text-decoration: none;
    }

#main-nav {
    margin-left: 10px;
    font-size: 14px;
    }

#right-nav li a,
#main-nav li a {
    display: block;
    height: 31px;
    padding: 17px 15px 0 15px;
    }

#main-nav li.icon a {
    padding-top: 9px;
    height: 39px;
    }

#main-nav li.icon:hover a,
#main-nav li.icon.active a {
    background-color: #221e1b;
    }

#main-nav li.icon.large a {
    padding-top: 16px;
    height: 30px;
    }

#right-nav li.active a,
#main-nav li.active a,
#main-nav li:hover a,
#right-nav li:hover a {
    background-color: #dd4814;
    }

#right-nav li:hover li a,
#right-nav li li:hover a {
    background-color: #fff;
    }

#right-nav li li a {
    padding: 11px 0 0 15px;
    height: 28px;
    }

#right-nav {
    float: right;
    margin-right: 5px;
    }

/******************************************************************************
    Content
*/
#body {
    clear: both;
    margin: 0;
    padding-top: 1px;
    margin-bottom: 10px;
    }

#page-title {
    font-size: 36px;
    color: #333;
    margin: 0 20px;
    padding: 14px 0 20px 0;
    }

#content {
    padding: 20px 20px 40px 20px;
    background-color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1),-1px 0 0 rgba(0,0,0,0.03);
    }

/******************************************************************************
    Content modifier: modal-content
*/
.modal-content #body {
    background-color: transparent;
    }

/******************************************************************************
    Content modifier: login
*/
.login #body {
    margin-top: 100px;
    }

.login #body .center-page-wrapper {
    min-width: 0;
    width: 440px;
    }

.login.no-users #body .center-page-wrapper {
    width: 670px;
    }

.login #page-title {
    margin-left: 15px;
    }

.login #content {
    padding: 30px 40px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,1);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.1);
    }

.login #content h2:first-child {
    margin: 0 0 20px 0;
    }

.login h2 {
    margin-bottom: 20px;
    }

.login #footer {
    margin: 0 auto;
    }

.login #footer .center-page-wrapper {
    min-width: 0;
    width: 440px;
    }

.login.no-users #footer .center-page-wrapper {
    width: 670px;
    }

/******************************************************************************
    Content modifier: content-with-sidebar
*/
#content-with-sidebar {
    border-right: 1px solid #e5e2e0;
    }

/******************************************************************************
    Content modifier: sidebar
*/
.sidebar #content {
    padding-right: 220px;
    }

/******************************************************************************
    Sidebar
*/
#sidebar {
    display: none;
    float: right;
    width: 210px;
    margin-right: -250px;
    padding: 0 20px 10px 20px;
    }

.sidebar #sidebar {
    display: block;
    }

#sidebar h4 {
    font-weight: bold;
    margin-bottom: 5px;
    }

#sidebar .block:first-child h4 {
    margin-top: 0;
    }

#sidebar .button {
    width: 100px;
    }

#sidebar h4 {
    margin: 30px 0 0 0;
    }

#sidebar h4:first-child {
    margin-top: 10px;
    }

#sidebar .button,
#sidebar button,
#sidebar input[type="submit"] {
    margin-top: 10px;
    }

/******************************************************************************
    Footer
*/
#footer {
    padding: 12px 0;
    color: #333;
    font-size: 12px;
    width: 100%;
    }

#footer img {
    float: right;
    margin-top: -9px;
    }
