.selector h2 {
    margin: 0;
    padding: 0px 5px 4px 5px;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    height: 18px;
    vertical-align: middle;
    }

.selector .selector-available h2 {
    background: none;
    color: #666;
    vertical-align: middle;
    }

.selector img.help-tooltip {
    display: inline;
    }

.selector img.help-tooltip {
    cursor: help;
    }

.selector label {
    display: inline;
    }

.selector input,
.selector textarea,
.selector select {
    font-size: 12px;
    }

.selector-available,
.selector-chosen {
    width: 300px;
    }

.selector .selector-available input {
    width: 260px;
    }

.selector select {
    width: 300px;
    height: 17.2em;
    }
