{% extends "maasserver/base.html" %}

{% block nav-active-node-list %}active{% endblock %}
{% block title %}Commissioning result for node {{ object.node.hostname }}, script {{ object.name }}{% endblock %}
{% block page-title %}Commissioning result for node: {{ object.node.hostname }}{% endblock %}

{% block content %}
<script type="text/javascript">
<!--
  YUI().use('tabview', function (Y) {
    var tabview = new Y.TabView({srcNode: '#tags'});
    tabview.render();
  });
// -->
</script>
    <div class="eight-col border solid" id="name">
        <h4>Output file</h4>
        <span>{{ object.name }}</span>
    </div>
    <div class="eight-col border" id="node">
        <h4>Node</h4>
        <span>
            <a href="{% url 'node-view' object.node.system_id %}">
            {{ object.node.hostname }}
            </a>
        </span>
    </div>
    <div class="eight-col border" id="time">
        <h4>Result registered at</h4>
        <span>{{ object.created }}</span>
    </div>
    <div class="eight-col border" id="script-result">
        <h4>Script return value</h4>
        <span>{{ object.script_result }}</span>
    </div>
    <div class="eight-col border" id="output">
        {% if object.data %}
        <h2>Output</h2> {% if object.name == "99-maas-02-capture-lldp.out" or object.name == "00-maas-01-lshw.out" %}
        <div id="tags" class="slider">
            <ul class="tabs">
                <li>
                    <a href="#yaml">YAML</a>
                </li>
                <li>
                    <a href="#xml">XML</a>
                </li>
            </ul>
            <div class="content">
                <div id="yaml">
                    <pre>{{ object.get_data_as_yaml_html }}</pre>
                </div>
                <div id="xml">
                    <pre>{{ object.get_data_as_html }}</pre>
                </div>
            </div>
        </div>
        {% else %}
        <pre>
        {{ object.get_data_as_html }}
        </pre>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
