form.search {
    position: absolute;
    top: 0;
    right: 0;
    width: 210px;
    height: 33px;
    }

form.search-test {
    position: absolute;
    top: 0;
    right: 220px;
    width: 420px;
    height: 33px;
    }

#header form.search {
    position: relative;
    width: 420px;
    margin: 18px 15px 0 0;
    }

input.search-test {
    position: relative;
    top: 0;
    left: -20px;
    width: 420px;
    height: 33px;
    padding: 0;
    padding-left: 22px;
    background-color: #fff;
    }

input.search-input {
    position: relative;
    top: 0;
    left: 0px;
    width: 186px;
    height: 33px;
    padding: 0;
    padding-left: 22px;
    background-color: #fff;
    }

#header input.search-input {
    width: 225px;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

#header input.search-test-input {
    width: 225px;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

input.search-test-submit,
input.search-test-submit:hover {
    position: absolute;
    top: 4px;
    margin-top: 3px;
    left: -19px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background: transparent url(../?img/search_icon.png) no-repeat center center;
    border: none;
    font-size: 0;
    cursor: pointer;
    }

input.search-submit,
input.search-submit:hover {
    position: absolute;
    top: 4px;
    left: 1px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    background: transparent url(../?img/search_icon.png) no-repeat center center;
    border: none;
    font-size: 0;
    cursor: pointer;
    }
