table.list tr {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e5e2e0;
    }
table.list th {
    padding: 5px;
    }
table.list tr.actions {
    background-color: #f2f2f2;
    }
table.list tr.actions td {
    padding: 5px 10px;
    }
table.list tr.actions input[type="submit"] {
    padding: 2px 10px;
    }
table.list td {
    padding: 10px 5px;
    }
