{% extends "maasserver/base.html" %}
{% block ng-app %}data-ng-app="MAAS"{% endblock %}
{% block title %}Login{% endblock %}
{% block layout-modifiers %}
    modal-content login
    {% if no_users and not external_auth_url %}
        no-users
    {% endif %}
{% endblock %}
{% block content %}
    {% block page-title-block %}
    {% endblock %}
    <div class="p-strip">
        <div class="row">
    {% if no_users and not external_auth_url %}
        <div class="col-8">
            <h1 class="p-heading--four">No admin user has been created yet</h1>
            <p>Use the "init" administration command to create one:<br><br></p>
            <pre>{{ create_command }} init</pre>
            <form method="get" action="{% url 'login' %}">
                <button type="submit" class="p-button--positive">Login</button>
            </form>
        </div>
    {% else %}
        <div class="col-8 prefix-4">
            <div class="p-card">
                <header class="p-card__header">
                    <h1 class="p-heading--four">Welcome</h1>
                    <p>Login to continue to {% include "maasserver/site_title.html" %}</p>
                </header>
                {% if external_auth_url %}
                <script type="text/javascript" src="/MAAS/combo/macaroons.js"></script>
                <external-login auth-url="{{ external_auth_url }}" next-path="{{ next }}">
                {% else %}
                {% comment %} We turn off autocompletion of the login form in production environments. Autocompletion, in combination with cross-site scripting attacks, can potentially allow remote attackers to steal credentials. {% endcomment %}
                <form method="post" {% if not debug %}autocomplete="off" {% endif %} action="{% url 'login' %}" class="u-no-margin--top">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <ul class="p-list">
                        {% for field in form %}
                            {% include "maasserver/form_field.html" %}
                        {% endfor %}
                    </ul>
                    {% if form.errors %}
                    <p><i class="p-icon--error"></i> <strong>Error:</strong> Your username and password didn't match. Please try again.</p>
                    {% endif %}
                    <button type="submit" class="p-button--positive">Login</button>
                </form>
                {% endif %}

            </div>
        </div>
   {% endif %}
        </div>
    </div>
{% endblock %}
