@charset "UTF-8";

/**
 * MAAS base styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

/**
 * Dependencies
 *
 * Importing mixin file from Ubuntu guidelines: core-mixins.scss
 */

/**
 * General
 *
 * General element styles
 *
 * @section general
 */

html {
    background: url('../img/backgrounds/image-background-paper.png');
    height: 100%;
}

body {
    height: 100%;
    font-size: 1.0em;
    font-family: 'Ubuntu', Arial, 'libra sans', sans-serif;
    font-weight: 300;
}

hr {
    border: none;
    background: #B2B2B2;
    width: 100%;
    height: 1px;
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

ul,
ol {
    margin-left: 0;
}

a.alt {
    color: #333;

    &:hover {
        color: $ubuntu-orange;
    }
}

a:active,
a:focus {
    outline: none;
}

::selection {
    color: #FFF;
    background: #F07746;
}

::-moz-selection {
    color: #FFF;
    background: #F07746;
}
