@include font-face('Ubuntu', '../fonts/ubuntu-l-webfont', 300, normal);

@include font-face('Ubuntu', '../fonts/ubuntu-li-webfont', 300, italic);

@include font-face('Ubuntu', '../fonts/ubuntu-r-webfont', 400, normal);

@include font-face('Ubuntu', '../fonts/ubuntu-m-webfont', 500, normal);

@include font-face('Ubuntu', '../fonts/ubuntu-mi-webfont', 500, italic);

@include font-face('Ubuntu', '../fonts/ubuntu-b-webfont', 700, normal);

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('https://themes.googleusercontent.com/static/fonts/ubuntu/v5/GZMdC02DTXXx8AdUvU2etw.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('https://themes.googleusercontent.com/static/fonts/ubuntu/v5/pqisLQoeO9YTDCNnlQ9bfz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
