////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-typography
/// @since        0.0.1
////

/// MAAS Typographic element styles
/// @group MAAS Typography
@mixin maas-typography {

  a {
    color: $link-hover;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $link-hover;
      border-bottom: 1px solid $link-hover;
    }
  }

  p,
  li,
  code,
  pre {
    @include font-size(16px);
    line-height: #{$line-height-ratio};
    margin-bottom: .75em;
  }

  pre,
  code {
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-wrap: break-word;
    tab-size: 4;
    hyphens: none;
    direction: ltr;
  }

  hr {
    margin-bottom: 20px;
  }

  // Heading required classes and sizes
  $headings: h1, h2, h3, h4, h5;
  $size: $h1, $h2, $h3, $h4, $h5;
  $heading-size: zip($headings, $size);

  // Shared heading styles
  #{$headings()} {
    margin: 10px 0;
    font-weight: 300;
    line-height: #{$line-height-ratio};
    color: $headline-color;
  }

  // Additional font sizes
  .gigantic {
    @include font-size($gigantic);
  }

  .mega {
    @include font-size($mega);
  }
}
