////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-tabs
/// @since        0.0.1
////

/// MAAS tabs
/// @group maas tabs
@mixin maas-tabs {
  .tabs {
    display: inline-block;

    .tabs__tab {
      @include font-size(18px);
      display: inline-block;
      list-style-type: none;

      .tabs__tab-link {
        color: $warm-grey;
        text-decoration: none;
        border-bottom: 0;
      }

      &:hover .tabs__tab-link {
        border-bottom: 3px solid $warm-grey;
      }

      &:after {
        content: '';
        width: 1px;
        display: inline-block;
        background: $outline;
        height: 11px;
        padding: 0;
        margin: 0 5px;
      }

      &:last-child::after {
        display: none;
      }
    }

    .is-active {

      .tabs__tab-link,
      &:hover .tabs__tab-link {
        border-bottom: 3px solid $tab-active-state;
      }
    }
  }
}
