////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-buttons
/// @since        0.0.1
////

/// Buttons element styles
/// @group Forms
@mixin maas-buttons {
  // .button--primary {
  //   line-height: 20px;
  // }

  .button--primary,
  .button--secondary {
    @extend %button-pattern;
  }

  .button--secondary {
    line-height: 18px;
  }

  .button--primary,
  .button--destructive,
  .button--positive {

    &:hover {
      color: $white;
    }
  }

  .button--base,
  .button--neutral {

    &:hover {
      color: $cool-grey;
    }
  }
}

@mixin maas-button-group {
  .button-group {
    position: relative;
    width: 100%;
    vertical-align: middle;
    clear: both;
    min-width: 160px;

    &.button-group--inline {
      display: inline-block;
      width: auto;
    }

    .button-group__link {
      display: inline-block;
      float: left;
      text-align: left;
      padding-right: 35px;

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 4px;
        height: 4px;
        vertical-align: middle;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(45deg);
      }
    }

    .button-group__dropdown {
      border-radius: 3px;
      right: 0;
      margin: 0;
      list-style: none;
      background: $white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      z-index: 20;
      max-height: 1000px;
      transition: max-height .3s ease-in;
      overflow: hidden;
      position: absolute;
      top: 36px;
      clear: both;
      width: 100%;
      min-width: 160px;
    }

    .button-group__item {
      float: left;
      clear: both;
      padding: 5px 10px;
      margin: 0;

      .button-group__item-link {
        color: $cool-grey;
        cursor: pointer;
        width: 100%;
        float: left;
        margin: 0;
        border: 0;

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }
  }
  // scss-lint:enable SelectorFormat
}

%button-pattern {
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  padding: 8px 14px;
  height: 36px;
  box-sizing: border-box;

  &[disabled],
  &.button--disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.button--inline {
    display: inline-block;
    width: auto;
  }
}
