////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-tool-tips
/// @since        0.0.1
////

/// Tooltip element styles
/// @group maas tooltips
@mixin maas-tooltips {
  .tooltip {
    position: relative;

    &::before {
      position: absolute;
      left: 50%;
      transform: translateX(-50%) translateY(-14px);
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      z-index: -1;
      border-top: 5px solid $cool-grey;
      opacity: 0;
      visibility: hidden;
      bottom: 100%;
      margin-bottom: -11px;
    }

    &::after {
      content: attr(aria-label);
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      position: absolute;
      z-index: -1;
      left: 50%;
      bottom: 100%;
      transform: translateX(-50%) translateY(-8px);
      background: $cool-grey;
      color: $white;
      padding: 10px;
      height: auto;
      text-indent: 0;
      opacity: 0;
      visibility: hidden;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(51, 51, 51, .2);
      white-space: pre;
      box-sizing: border-box;
      font-style: normal;
    }

    &:hover::after,
    &:hover::before {
      opacity: 1 !important;
      z-index: 1000;
      visibility: visible;
    }

    &.tooltip--right {

      &::before {
        border-top: 5px solid transparent;
        border-right: 5px solid $cool-grey;
        border-bottom: 5px solid transparent;
        left: 100%;
        bottom: inherit;
        top: 50%;
        transform: translateX(4px) translateY(-50%);
      }

      &::after {
        left: 100%;
        bottom: inherit;
        top: 50%;
        margin-bottom: -14px;
        transform: translateX(14px) translateY(-50%);
      }
    }

    &.tooltip--bottom {

      &::before {
        border-top: 0;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $cool-grey;
        border-left: 5px solid transparent;
        left: 50%;
        bottom: inherit;
        top: 100%;
        transform: translateX(-50%) translateY(8px);
      }

      &::after {
        left: 50%;
        bottom: inherit;
        top: 100%;
        margin-bottom: 0;
        transform: translateX(-50%) translateY(13px);
      }
    }

    &.tooltip--left {

      &::before {
        border-top: 5px solid transparent;
        border-left: 5px solid $cool-grey;
        border-bottom: 5px solid transparent;
        left: -4px;
        bottom: inherit;
        top: 50%;
        transform: translateX(-100%) translateY(-50%);
      }

      &::after {
        left: -14px;
        bottom: inherit;
        top: 50%;
        margin-bottom: -14px;
        transform: translateX(-100%) translateY(-50%);
      }
    }
  }
}
