////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/vanilla-framework/docs/#mixin-vf-forms
/// @since        0.0.3
////

/// Form layout element styles
/// @group Forms
@mixin maas-form-layouts {
  .form {

    .form__group {
      margin-bottom: 10px;

      .form__group-input {
        position: relative;

        .form__group-remove {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          height: 16px;
          width: 16px;
          background: url('#{$asset-path}images/icons/remove.svg') no-repeat;
          background-size: 75% 75%;
          background-position: center;
          display: inline-block;
        }

        .icon {
          position: absolute;
          top: 10px;
          right: 10px;
          display: inline-block;
        }
      }

      &.form__group--subtle {

        .form__group-label {
          color: $warm-grey;
        }

        input,
        select,
        textarea {
          border-color: $mercury-grey;
          background-color: transparent;

          &:hover {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }

          &:active,
          &:focus {
            border-color: $warm-grey;
            background-color: $white;
            outline: none;
          }
        }
      }
    }

    .form__fieldset {

      .form__group:last-of-type {
        margin-bottom: 0;
      }
    }

    .form__siblings {
      float: left;
      width: 100%;
      margin-bottom: 10px;

      &:hover {

        .form__group--subtle {

          input,
          select,
          textarea {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }
        }
      }

      &.is-active {

        .form__group--subtle {

          input,
          select,
          textarea {
            border-color: $mid-grey;
            background-color: $white;
            outline: none;
          }
        }
      }
    }

    &.form--stack {

      .form__group {
        width: 100%;
        float: left;

        [class*='-col'] {
          margin-bottom: 0;
        }

        .form__group-label {
          margin-top: 0;
          margin-bottom: 0;
          line-height: 34px;
          vertical-align: top;
        }

        .form__group-input {
          min-height: 34px;

          .onoffswitch {
            margin-top: 9px;
          }
        }
      }
    }

    &.form--inline {

      .form__fieldset {
        display: inline-block;
        width: auto;
        margin: 0;
        vertical-align: middle;
      }

      .form__group {
        display: inline-block;
        margin: 0 20px 0 0;
        vertical-align: top;

        .form__group-label {
          margin-bottom: 0;
          margin-right: 10px;
          vertical-align: top;
          line-height: 34px;
        }

        input,
        select,
        .form__group-input {
          display: inline-block;
          width: auto;
          min-height: 34px;
        }

        [type='checkbox'] + label,
        [type='radio'] + label {
          line-height: 34px;
        }

        .onoffswitch {
          margin: 9px 0 0;
        }

        .onoffswitch-external-label {
          margin: 0;
          vertical-align: middle;
          line-height: 34px;
        }
      }
    }

    .form__help-text {
      @include font-size(14px);
      color: $warm-grey;
    }
  }

  .form__error {
    margin: 0;
    color: $error;

    .form__error-item {
      margin: 6px 0;
    }
  }
}
