////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-buttons
/// @since        0.0.1
////

/// Buttons element styles
/// @group Forms
@mixin maas-buttons {
  // .button--primary {
  //   line-height: 20px;
  // }

  .button--secondary {
    @extend %button-pattern;
  }

  .button--secondary {
    line-height: 18px;
    color: $cool-grey;

    &:hover {
      border-bottom-color: $alto-grey;
      color: $cool-grey;
    }

    @media only screen and (max-width : $breakpoint-medium) {
      line-height: 28px;
    }
  }

  .button--destructive,
  .button--positive {

    &:hover {
      color: $white;
    }
  }

  .button--base,
  .button--neutral {

    &:hover {
      color: $cool-grey;
      border-bottom: 0;
    }
  }

  .button--large {
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  [class^="button--"] {

    @media only screen and (max-width : $breakpoint-medium) {
      margin-top: 0px;

      + [class^="button--"] {
        margin-top: 10px;
      }
    }
  }
}

@mixin maas-button-group {
  .button-group {
    position: relative;
    width: 100%;
    vertical-align: middle;
    clear: both;
    min-width: 160px;

    @media only screen and (max-width : $breakpoint-medium) {
      width: 100%;
    }

    &.button-group--inline {
      display: inline-block;
      width: auto;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
      }
    }

    .button-group__link {
      display: inline-block;
      float: left;
      text-align: left;
      padding-right: 35px;

      @media only screen and (max-width : $breakpoint-medium) {
        line-height: 30px;
      }

      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 4px;
        height: 4px;
        vertical-align: middle;
        border-right: 1px solid;
        border-bottom: 1px solid;
        transform: rotate(45deg);

        @media only screen and (max-width : $breakpoint-medium) {
          top: 18px;
        }
      }
    }

    .button-group__dropdown {
      border-radius: 3px;
      left: 0;
      margin: 0;
      list-style: none;
      background: $white;
      border: 1px solid $alto-grey;
      border-top: 0;
      z-index: 20;
      max-height: 1000px;
      transition: max-height .3s ease-in;
      position: absolute;
      top: 36px;
      clear: both;
      min-width: 160px;
      width: 100%;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100%;
        top: 48px;
      }
    }

    .button-group__item {
      float: left;
      clear: both;
      padding: 5px 14px;
      margin: 0;
      text-align: left;
      width: 100%;

      .button-group__item-link {
        color: $cool-grey;
        cursor: pointer;
        width: 100%;
        float: left;
        margin: 0;
        border: 0;
        text-transform: lowercase;
        white-space: nowrap;

        &:first-letter {
          text-transform: uppercase;
        }

        &:hover {
          color: $link-hover;
          text-decoration: none;
        }
      }
    }
  }
  // scss-lint:enable SelectorFormat
}

%button-pattern {
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  padding: 8px 14px;
  height: 36px;
  box-sizing: border-box;
  -webkit-appearance: none;

  &[disabled],
  &.button--disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.button--inline {
    display: inline-block;
    width: auto;

    @media only screen and (max-width : $breakpoint-medium) {
      width: 100%;
    }
  }

  @media only screen and (max-width : $breakpoint-medium) {
    width: 100%;
    height: 48px;
    line-height: 28px;
  }
}
