////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-display
/// @since        0.0.1
////

/// Display
/// @group Display
@mixin maas-display {
  .u-align {

    @media only screen and (min-width : $breakpoint-min-medium) {
      &--right {
        text-align: right !important;
      }

      &--left {
        text-align: left !important;
      }

      &--center {
        text-align: center !important;
      }
    }

    &--left-mobile {
      text-align: left !important;
    }
  }

  .u-position {

    &--relative {
      position: relative !important;
    }

    &--fixed {
      position: fixed !important;
    }

    &--absolute {
      position: absolute !important;
    }
  }

  .u-float {

    &--right {
      float: right !important;
    }

    &--left {
      float: left !important;
    }

    &--none {
      float: none !important;
    }
  }

  .u-muted {
    opacity: .5 !important;
    filter: alpha(opacity = 50) !important;
  }

  .u-clear {
    clear: both !important;
  }

  .u-display {

    &--block {
      display: block !important;

      @media only screen and (max-width : $breakpoint-medium) {
        &-mobile {
          display: block !important;
        }
      }
    }

    &--inline {
      display: inline !important;
    }

    &--inline-block {
      display: inline-block !important;
    }

    &--hidden {
      display: none !important;
    }

    &--desktop {

      @media only screen and (max-width : $breakpoint-medium) {
        position: absolute !important;
        visibility: hidden !important;
        overflow: hidden;
        width: 0;
        height: 0;
      }
    }

    &--mobile {

      @media only screen and (min-width : $breakpoint-min-medium) {
        position: absolute !important;
        visibility: hidden !important;
        overflow: hidden;
        width: 0;
        height: 0;
      }
    }
  }

  .u-width {

    &--full {
      width: 100% !important;
    }

    &--half {
      width: 50% !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }

    &--third {
      width: calc(100%/3) !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }

    &--quater {
      width: 25% !important;

      @media only screen and (max-width : $breakpoint-medium) {
        width: 100% !important;
      }
    }
  }

  .u-scroll {

    &--none {
      overflow: hidden;
    }
  }

  .u-mobile {

    &--offscreen {
      left: -100vw;
      display: none !important;
    }
  }
}
