////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-animations
/// @since        0.0.1
////

/// Animations
/// @group Animations
@mixin maas-animations {
  .u-animation--spin {
    animation: spin 1s infinite linear !important;
  }

  .u-animation--pulse {
    animation: pulse 1s ease-out !important;
    animation-iteration-count: infinite !important;
    opacity: 0;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(.1, .1);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(1.2, 1.2);
      opacity: 0;
    }
  }
}
