////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-vertical-alignment
/// @since        0.0.1
////

/// Vertical alignment
/// @group Vertical alignment
@mixin maas-vertical-alignment {
  .u-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
