////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-row
/// @since        0.0.1
////

/// MAAS row styling
/// @group maas row
@mixin maas-row {

  .row {
    background-color: $transparent;
    border-top: 1px dotted $mid-grey;

    &:first-of-type {
      border-top: 0;
    }
  }
}
