@mixin maas-pages {

  body {
    height: calc(100% - 202px);
  }

  table thead {
    display: table-header-group !important;
  }

  table thead,
  .table .table__head {
    width: auto !important;

    &.table__head--sticky {
      background: #fff;
      padding: 0;
      width: 100vw !important;
      left: 0 !important;
      right: 0 !important;
      border-top: 1px dotted #d2d2d2;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      height: auto !important;

      tr th {
        float: none;
      }
    }
  }

  .button-group .button-group__item .button-group__item-link {
    text-transform: none;
  }

  .u-text--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .hidden {
    display: none;
  }

  .small-icon {
      width: 12px;
  }

  .images-info {
      text-align: center;
      padding: 10px;
  }

  .images-warning {
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    padding: 15px 20px 15px 45px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background: $white url('#{$asset-path}images/d730daea-error.svg') no-repeat;
    background-size: 16px 16px;
    background-position: 15px center;
    margin-bottom: 20px;
  }

  #loader {
    width: 10px;
    margin: 16px auto 0 auto;
  }

  #importing {
    box-sizing: border-box;
    border-radius: 2px;
    list-style: none;
    padding: 15px;
    font-size: 16px;
    margin: 0 0 20px;
    background: $white;
    background-position: top 50% left 15px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    .spinner {
      margin-top: -3px;
    }
  }

  .spinner {
    @include icon-size(16px);
    padding: 0;
    border-bottom: 0 !important;
    display: inline-block;
    vertical-align: middle;
    text-indent: 999em;
    background: url('#{$asset-path}images/8b7b3046-loading.png') no-repeat;
    background-size: 100% 100%;
  }

  .spin {
    animation: spin 1s infinite linear !important;
  }

  .importing-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
  }

  @charset 'UTF-8';

/**
 * MAAS account styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

  .accounts {

      .logout {

          .divide {
              padding: 0 20px 0 30px;
              display: inline-block;
          }
      }

      .api {

          li {
              position: relative;

                  input[type='text'] {
                      @extend %input--styles;
                      line-height: 30px;
                      padding-right: 30px;
                      width: 100%;

                      &::-webkit-input-placeholder {
                         color: #333;
                      }

                      &:-moz-placeholder { /* Firefox 18- */
                         color: #333;
                      }

                      &::-moz-placeholder {  /* Firefox 19+ */
                         color: #333;
                      }

                      &:-ms-input-placeholder {
                         color: #333;
                      }
                  }

              .delete-link {
                  position: absolute;
                  top: 13px;
                  right: 15px;
              }
          }
      }
  }

  .script-content {
    width: 100%;
    overflow: hidden;

    .content {
      margin: 20px 0 0;
    }
  }

  .u-align--flex {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      display: block;
    }

    .u-align--top {
      align-self: flex-start;
    }

    .u-align--bottom {
      align-self: flex-end;
    }
  }

  tags-input {

    .autocomplete {

      .suggestion-list {
        border-radius: 3px;
        left: 0;
        margin: 0;
        list-style: none;
        background: #fff;
        border: 1px solid #d2d2d2;
        border-top: 0;
        z-index: 20;
        max-height: 1000px;
        transition: max-height .3s ease-in;
        position: absolute;
        top: 34px;
        clear: both;
        min-width: 160px;
        width: 100%;

        .suggestion-item {
          float: left;
          margin: 0;
          padding: 5px 10px;
          border-top: 1px solid #d2d2d2;
          width: 100%;

          &:first-child {
            border-top: 0;
          }

          &:hover {
            background-color: #f7f7f7;
          }
        }
      }
    }
  }

  .tags--inline {

    .host {
        position: relative;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 100%;
    }

    .tags {
      border: 1px solid $outline;
      border-radius: 2px;

      -moz-appearance: textfield;
      -webkit-appearance: textfield;
      padding: 1px;
      overflow: hidden;
      word-wrap: break-word;
      cursor: text;
      background-color: #fff;
      height: 100%;

      &:focus,
      &.focused {
        border-color: #888;
        outline: none;
      }

      .tag-list {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .tag-item {
          background-color: #f7f7f7;
          line-height: 24px;
          margin: 4px;
          padding: 0 5px;
        }
      }

      .input {
        border: 0;
        outline: 0;
        margin: 2px;
        padding: 0 0 0 5px;
        float: left;
        height: 26px;
        width: auto !important;

        &:placeholder {
          color: transparent;
        }
      }
    }
  }

  .page-header .page-header__dropdown.is-open {
    overflow: visible;
  }

  .u-visibility--hidden {
    visibility: hidden !important;
  }
}
