//Local overrides to the navigation pattern
@mixin maas-navigation {
  .p-dropdown.active {
    .p-navigation__toggle--open {
      display: none;
    }

    .p-navigation__toggle--close {
      @media (max-width: $breakpoint-navigation-threshold) {
        display: inline-block;
      }
    }

    .p-navigation__nav {
      display: block;
    }
  }

  .p-navigation {
    border-bottom: 0;
    
    &__banner {
      @media (max-width: $breakpoint-navigation-threshold) {
        overflow: hidden;
        position: relative;
      }
    }
    

    .p-navigation__links {
      &:last-of-type {
        border-right-color: lighten($color-navigation-background, 20);
      }

      &--right {
        @extend .p-navigation__links;

        @media (min-width: $breakpoint-navigation-threshold) {
          position: absolute;
          right: 0;
        }
      }

      .p-navigation__link {
        border-color: lighten($color-navigation-background, 20);

        &.is-selected > a {
          border-bottom-color: $color-brand;
        }

        &:first-child {
          border-top: 0;
        }

        a {
          &:hover {
            background-color: lighten($color-navigation-background, 20);
          }
  
          &.active {
            box-shadow: inset 0 -3px $color-brand;
          }
        }
      }
    }
  }
}
