// Generates column classes use for tables
// the column class generated will look like '.table-column--1'
// Number value at the end signifies the width percentage
@mixin maas-table-columns($table-columns) {

  @for $i from 1 through $table-columns {
    .table-col--#{$i} {
      $width: percentage($i / 100);
      width: $width - 3.2877%;
    }
  }

  table td,
  table th {
    @media (min-width: $breakpoint-small) {
      text-overflow: ellipsis;
      overflow-x: hidden;
      overflow-y: visible;
      white-space: nowrap;
      padding-left: 5px;
      margin: auto 0 !important;
    }

    &:first-of-type {
      @media (min-width: $breakpoint-small) {
        padding-left: 0;
      }
    }
  }

  .p-table--action-cell {
    overflow: visible;
  }
}
