////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-search
/// @since        0.0.1
////

/// MAAS search
/// @group maas search
@mixin maas-search {

  .search {
    position: relative;

    .search__input {
      @include font-size(16px);
      box-sizing: border-box;
      border-radius: 4px;
      list-style: none;
      background: $white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
      width: 100%;
      border: 0;
      padding: 15px;
      appearance: textfield;

      &::placeholder {
        color: $warm-grey;
      }

      /* IE10+ */
      &::-ms-clear {
        display: none;
      }

      /* Chrome */
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }

      &:disabled,
      &.search--disabled {
        background-color: $white;
        opacity: .5;
        pointer-events: none;

        + .search__submit {
          pointer-events: none;
          opacity: .5;
        }
      }
    }

    .search__submit {
      position: absolute;
      top: 15px;
      right: 15px;
      background-color: $transparent;
      background-image: url('#{$asset-path}images/icons/magnifying_glass.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px;
      text-indent: -999em;
      display: block;
      width: 20px;
      height: 20px;
      overflow: hidden;
      outline: none;
      padding: 0;
      border: 0;

      &:hover {
        background-color: $transparent;
        background-image: url('#{$asset-path}images/icons/magnifying_glass.svg');
      }

      &.search__submit--close {
        background-image: url('#{$asset-path}images/icons/remove.svg');
        background-size: 16px;
      }
    }
  }
}
