@mixin maas-p-sticky-footer {
  .p-footer {
    margin-top: auto;

    &__logo {
      margin: 0.5rem 1rem;
    }
  }

  html,
  body {
    height: 100%;
  }

  .has-sticky-footer {
    display: flex;
    flex-direction: column;
  }
}
