@mixin maas-p-hr {
  .u-hr--fixed-width {
    position: relative;

    &::after {
      @extend %vf-pseudo-border--top;
      left: $grid-margin-width;
      margin: 0 auto;
      max-width: $grid-max-width - 2 * $grid-margin-width;
      right: $grid-margin-width;
    }
  }
}
