@mixin maas-p-sticky-footer {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  .p-footer {
    grid-row-end: span 1;
    grid-row-start: auto;
  }
}
