$chart-bg-light: #d3e4ed;
$core-size: 5px;
$chart-height: 15px;
$bar-height: 11px;

@mixin maas-p-cores-chart {
  maas-cores-chart {
    @extend %maas-element;
  }

  .p-cores-chart {
    display: inline-block;
    border: 1px solid $color-link;
    border-radius: 1rem;
    width: 100%;
  }

  .p-cores-chart__inner {
    position: relative;
    overflow: hidden;
    height: $chart-height;
    border: 2px solid $color-x-light;
    border-radius: 1rem;
  }

  .p-cores-chart--single-row {
    width: auto;

    .p-cores-chart__inner {
      height: 9px;
    }
  }

  .p-cores-chart--double-row {
    width: auto;
  }

  .p-core {
    float: left;
    background-color: $chart-bg-light;
    width: $core-size;
    height: $core-size;
    margin-right: 1px;
  }

  .p-core:last-child {
    margin-right: 0;
  }

  .p-core--used {
    background-color: $color-link;
  }

  .p-cores-row {
    overflow: hidden;
  }

  .p-cores-row + .p-cores-row {
    margin-top: 1px;
  }

  .p-cores-row--used {
    position: absolute;
    top: 0;
    left: 0;
  }

  .p-cores-row--used + .p-cores-row--used {
    top: 6px;
  }

  .p-cores-chart__total-bar {
    min-width: 100%;
    width: 100%;
    height: $bar-height;
    background-image: url(https://assets.ubuntu.com/v1/60e7f9e0-kvm-graph-tex-filler-light.svg);
    background-repeat: repeat no-repeat;
    background-position: top left;
  }

  .p-cores-chart__used-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: $bar-height;
    background-image: url(https://assets.ubuntu.com/v1/ed4566c3-kvm-graph-tex-filler.svg);
    background-repeat: repeat no-repeat;
    background-position: center left;
  }
}
