$triangle-height: $sp-unit;

@mixin maas-p-popovers {
  %popover {
    position: relative;

    .p-popover__content {
      background-color: $color-x-light;
      border-radius: $border-radius;
      box-shadow: 0 1px 5px 1px rgba(17, 17, 17, 0.2);
      display: none;
      margin-bottom: 0;
      min-width: 280px;
      padding: $sp-small $sp-medium;
      position: absolute;
      z-index: 10;

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        margin-top: $triangle-height;
        box-sizing: border-box;
        border-width: $triangle-height;
        border-style: solid;
        border-color: transparent transparent $color-x-light $color-x-light;
        transform-origin: 0 0;
        box-shadow: -2px 2px 3px 0 rgba(17, 17, 17, 0.2);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
      }
    }

    &:focus,
    &:hover {
      .p-popover__content {
        display: block;
      }
    }
  }

  .p-popover--right {
    @extend %popover;

    .p-popover__content {
      bottom: inherit;
      left: 100%;
      top: 50%;
      transform: translateX(14px) translateY(-50%);

      &::before {
        left: 1px;
        transform: rotate(46deg);
      }

      &::after {
        left: -15px;
      }
    }
  }

  .p-popover--left {
    @extend %popover;

    .p-popover__content {
      bottom: inherit;
      left: -16px;
      top: 50%;
      transform: translateX(-100%) translateY(-50%);

      &::before {
        right: -$triangle-height * 2;
        transform: rotate(-135deg);
      }

      &::after {
        right: -15px;
      }
    }
  }
}
