@mixin maas-p-pod-summary {
  .p-pod-storage {
    .p-pod-storage__row {
      padding: $spv-inner--small 0;
    }
  }

  .p-pod-edit {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    &__label {
      @media (max-width: $breakpoint-small) {
        display: none;
      }
    }

    &__label,
    & .p-button {
      flex: 0 0 auto;
    }

    * + * {
      margin-left: $sph-outer;
    }

    & .p-code-copyable-wrapper {
      flex: 1 0 auto;
      @media (max-width: $breakpoint-small) {
        margin-left: 0; // the label is hidden on small, so margin not needed
      }
    }
  }
}
