////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-page-header
/// @since        0.0.1
////

/// MAAS Page header
/// @group maas page header
@mixin maas-page-header {

  .page-header {
    box-sizing: border-box;
    background: $white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 0 20px;
    width: 100%;
    float: left;
    margin-bottom: 20px;

    .page-header__title {
      @include font-size($h1);
      margin: 0;
      padding: 34px 0;
      display: inline-block;

      [contenteditable="true"] {
        @include font-size($h1);
        padding: 8px 10px;
        width: auto;
        box-sizing: border-box;
        border: 1px solid $transparent;
        margin: -20px 0 -20px -10px;
        border-radius: 2px;
        color: $cool-grey;
        cursor: default;
        display: inline-block;

        &.editmode,
        &.editable:hover {
          border: 1px solid #D2D2D2;
          cursor: text;
        }

        &.editmode:hover,
        &:active,
        &:focus {
          outline: none;
          background-color: $white;
          border: 1px solid #B2B2B2;
        }

        &.invalid,
        &.invalid:hover,
        &.invalid:active,
        &.invalid:focus {
            border-color: $error;
        }
      }

      .page-header__title-dot {
        display: inline-block;
        width: auto;
        padding: 0 ;
      }

      .page-header__title-domain {
        @include font-size($h1);
        display: inline-block;
        width: auto;
        min-height: 66px;
        max-height: 66px;
        line-height: 25px;
        margin: -20px 0;
        background-position: top 32px right 10px;
        padding: 13px 10px !important;
      }
    }

    .page-header__status {
      @include font-size(19px);
      width: auto;
      display: inline-block;
      position: relative;
      margin-left: 20px;
      color: $warm-grey;

      .page-header__status-check {
        @include font-size(16px);
        margin-left: 10px;
        color: inherit;
        border: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .page-header__controls {
      padding: 40px 0;
      display: inline-block;
      float: right;

      .page-header__controls-feedback {
        color: $cool-grey;
        text-decoration: none;
        border-bottom: 1px solid $link-border;

        &:hover {
          text-decoration: none;
          color: $link-hover;
          cursor: pointer;
        }
      }
    }

    .page-header__dropdown {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.3s ease;
      -moz-transition: max-height 0.3s ease;
      transition: max-height 0.3s ease;

      &.is-open {
        max-height: 1000px;
      }

      .page-header__section {
        border-top: 1px dotted $warm-grey;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .page-header__message {
        width: auto;
        display: inline-block;
        float: none;
        margin: 0 20px 0 0;
        line-height: 36px;
      }

      .page-header__message--error {
        background: url('#{$asset-path}images/icons/error.svg') no-repeat;
        background-size: 16px 16px;
        background-position: 0 10px;
        padding-left: 25px;
      }

      .page-header__message--info {
        background: url('#{$asset-path}images/icons/info.svg') no-repeat;
        background-size: 16px 16px;
        background-position: 0 10px;
        padding-left: 25px;
      }

      .page-header__message--warning {
        background: url('#{$asset-path}images/icons/warning.svg') no-repeat;
        background-size: 16px 16px;
        background-position: 0 10px;
        padding-left: 25px;
      }

      .page-header__message--success {
        background: url('#{$asset-path}images/icons/success.svg') no-repeat;
        background-size: 16px 16px;
        background-position: 0 10px;
        padding-left: 25px;
      }

      .page-header__controls {
        padding: 0;
        float: right;
      }
    }
  }
}
