@mixin maas-table-sortable {
  .p-table--sortable {
    [role="columnheader"] {
      @extend th[role="columnheader"][aria-sort];

      &::after {
        @extend %icon;
        @include vf-icon-chevron;
        @include vf-icon-size(0.75rem);
        background-size: auto;
        margin-left: $sph-inner--small;
      }

      &.is-sorted.sort-asc::after {
        content: "";
      }

      &.is-sorted.sort-desc::after {
        content: "";
        transform: rotate(180deg);
      }
    }
  }
}
