@mixin maas-p-cta {
  %p-cta-icon {
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: map-get($icon-sizes, default);
    content: "";
    height: map-get($icon-sizes, default);
    position: absolute;
    width: map-get($icon-sizes, default);
  }

  .p-cta {
    @extend .p-contextual-menu;
  }

  .p-cta__toggle {
    margin-bottom: $spv-intra--condensed;
    padding-right: $sph-intra * 2 + map-get($icon-sizes, default);

    &::after {
      @extend %p-cta-icon;
      @include vf-icon-chevron($color-mid-dark);
      right: $sph-intra;
      top: ($spv-nudge - $px) * 2;
    }

    &.p-button--positive::after {
      @include vf-icon-chevron($color-x-light);
    }

    &.is-selected::after {
      transform: rotate(180deg);
    }
  }

  .p-cta__dropdown {
    @extend .p-contextual-menu__dropdown;
    min-width: 100%;
    top: 100%;
    width: auto;
    z-index: 2;
  }

  .p-cta__group {
    & + & .p-cta__link:first-child {
      border-top: 1px solid $color-mid-light;
    }
  }

  .p-cta__link {
    @extend .p-contextual-menu__link;
    display: flex;
    justify-content: space-between;
    padding: $spv-intra--condensed $sph-intra;
    transition-duration: 0s;

    &.is-unavailable {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .p-cta__count {
    padding-left: $sph-intra;
  }
}
