////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-header
/// @since        0.0.1
////

/// MAAS header styling
/// @group maas header
@mixin maas-header {

  .banner {
    background-color: $black;

    @media only screen and (min-width: $navigation-threshold) {
      box-shadow: none;

      .nav-primary {
        max-width: none;

        .logo {
          height: auto;
          margin-top: 12px;

          a {
            border-bottom: 0;
          }
        }

        ul {

          li {
            border-left: 1px solid $cool-grey;

            &:last-child {
              border-right: 1px solid $cool-grey;
              border-left: 1px solid $cool-grey;
            }

            a,
            a:link,
            a:visited {
              box-sizing: border-box;
              border-bottom: 0;
              border-left: 0;

              &:hover {
                background-color: rgba($cool-grey, .9);
              }

              &.active {
                background-color: $transparent;
                box-shadow: inset 0px -3px $link-hover;

                &:hover {
                  background-color: rgba($cool-grey, .9);
                }
              }
            }
          }
        }
      }
    }
  }
}
