$chart-bg-light: #d3e4ed;
$core-size: 5px;
$chart-height: 15px;
$chart-height-small: 9px;
$bar-height: 11px;

@mixin maas-p-cores-chart {
  maas-cores-chart {
    @extend %maas-element;
  }

  .p-cores-chart {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .p-cores-chart__inner {
    position: relative;
    overflow: hidden;
    height: $chart-height;
    border: 2px solid transparent;
    border-radius: 1rem;

    .p-cores-chart--undercommit & {
      border-radius: 1rem 0 0 1rem;
    }
  }

  %chart-border {
    position: absolute;
    top: 0;
    height: $chart-height;
    border-width: 1px;
    border-color: $color-link;

    .p-cores-chart--single-row & {
      height: $chart-height-small;
    }
  }

  .p-cores-chart__border {
    @extend %chart-border;
    left: 0;
    width: 100%;
    border-style: solid;
    border-radius: 1rem;

    .p-cores-chart--overcommit & {
      border-radius: 1rem 0 0 1rem;
      border-right-width: 0;
    }
  }

  .p-cores-chart__border--overcommit {
    @extend %chart-border;
    right: 0;
    border-style: dashed;
    border-radius: 0 1rem 1rem 0;
    border-left-width: 0;
  }

  .p-cores-chart--single-row {
    width: auto;

    .p-cores-chart__inner {
      height: $chart-height-small;
    }
  }

  .p-cores-chart--double-row {
    width: auto;
  }

  .p-core {
    float: left;
    background-color: $chart-bg-light;
    width: $core-size;
    height: $core-size;
    margin-right: 1px;
  }

  .p-core:last-child {
    margin-right: 0;
  }

  .p-core--used {
    background-color: $color-link;
  }

  .p-cores-row {
    overflow: hidden;
  }

  .p-cores-row--used {
    height: $core-size;
  }

  .p-cores-row + .p-cores-row,
  .p-cores-row--used + .p-cores-row--used {
    margin-top: 1px;
  }

  .p-used-cores__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  .p-total-cores__wrapper,
  .p-used-cores__wrapper {
    width: 100%;
  }

  %chart-bar {
    height: $bar-height;
    background-repeat: repeat no-repeat;
    margin: 1px;
  }

  .p-cores-chart__total-bar {
    @extend %chart-bar;
    min-width: 100%;
    width: 100%;
    background-image: url(../assets/images/kvm-graph-tex-filler-light.svg);
    background-position: top left;
  }

  .p-cores-chart__used-bar {
    @extend %chart-bar;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../assets/images/kvm-graph-tex-filler.svg);
    background-position: center left;
  }

  %chart-key-line {
    display: inline-block;
    width: 1rem;
    height: 0;
    border-top-width: 2px;
    margin-bottom: 0.2rem;
  }

  .p-cores-chart__key--cores {
    @extend %chart-key-line;
    border-top-style: solid;
    border-top-color: $color-link;
  }

  .p-cores-chart__key--overcommit {
    @extend %chart-key-line;
    border-top-style: dashed;
    border-top-color: $color-link;
  }

  %chart-key-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 1rem;
  }

  .p-cores-chart__key--used {
    @extend %chart-key-dot;
    background-color: $color-link;
  }

  .p-cores-chart__key--available {
    @extend %chart-key-dot;
    background-color: $chart-bg-light;
  }
}
