$triangle-height: $sp-unit;

@mixin maas-p-popovers {
  %popover {
    position: relative;

    .p-popover__content {
      background-color: $color-x-light;
      border-radius: $border-radius;
      box-shadow: 0 1px 5px 1px rgba(17, 17, 17, 0.2);
      display: none;
      margin-bottom: 0;
      min-width: 280px;
      padding: $sp-small $sp-medium;
      position: absolute;
      z-index: 10;

      &.is-small {
        min-width: 0;
      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        top: 50%;
        margin-top: $triangle-height;
        box-sizing: border-box;
        border-width: $triangle-height;
        border-style: solid;
        border-color: transparent transparent $color-x-light $color-x-light;
        transform-origin: 0 0;
        box-shadow: -2px 2px 3px 0 rgba(17, 17, 17, 0.2);
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 30px;
      }
    }

    &:focus,
    &:hover {
      .p-popover__content {
        display: block;
      }
    }
  }

  .p-popover--right {
    @extend %popover;

    .p-popover__content {
      bottom: inherit;
      left: 100%;
      top: 50%;
      transform: translateX(14px) translateY(-50%);

      &::before {
        left: 1px;
        transform: rotate(46deg);
      }

      &::after {
        left: -15px;
      }
    }
  }

  .p-popover--left {
    @extend %popover;

    .p-popover__content {
      bottom: inherit;
      left: -16px;
      top: 50%;
      transform: translateX(-100%) translateY(-50%);

      &::before {
        right: -$triangle-height * 2;
        transform: rotate(-135deg);
      }

      &::after {
        right: -15px;
      }
    }
  }

  .p-popover-key__row {
    display: flex;
    min-width: 200px;
  }

  .p-popover-key__row--spacer {
    margin-bottom: 0.5rem;
    height: 0;

    .p-popover-key__cell:nth-child(1) {
      border-bottom: 1px solid $color-mid-light;
    }

    .p-popover-key_-cell:nth-child(2) {
      border-bottom: 1px solid $color-mid-light;
    }
  }

  .p-popover-key__cell {
    flex: 1;

    &:nth-child(1) {
      flex: 0 0 70%;
      text-align: right;
    }

    &:nth-child(2) {
      flex: 0 0 15%;
      text-align: right;
    }

    &:nth-child(3) {
      flex: 0 0 15%;
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }
}
