////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/maas-gui-vanilla-theme/docs/#mixin-maas-fonts
/// @since        0.0.1
////

/// MAAS Font face styles
/// @group maas fonts
@mixin maas-fonts {

  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-l-webfont', 300, normal, $exts: eot woff ttf svg);
  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-li-webfont', 300, italic);
  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-r-webfont', 400, normal, $exts: eot woff ttf svg);
  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-m-webfont', 500, normal, $exts: eot woff ttf svg);
  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-mi-webfont', 500, italic);
  @include font-face('Ubuntu', '#{$asset-path}fonts/ubuntu-b-webfont', 700, normal);

  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    src: url('/themes.googleusercontent.com/static/fonts/ubuntu/v5/GZMdC02DTXXx8AdUvU2etw.woff') format('woff');
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 700;
    src: url('/themes.googleusercontent.com/static/fonts/ubuntu/v5/pqisLQoeO9YTDCNnlQ9bfz8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
  }
}
