/// assets database path
/// usage: background: url(#{$asset-path}img/backgrounds/background.jpg) no-repeat 0 0;
$asset-path: '../assets/';

/// MAAS font sizes
$base-font-family:      "'Ubuntu', Arial, 'libra sans', sans-serif";
$base-font-size:        16px!default;
$base-line-height:      24px!default;

$h1:                    32px!default;
$h2:                    23px!default;
$h3:                    20px!default;
$h4:                    16px!default;
$h5:                    14px!default;

$gigantic:              45px!default;
$mega:                  40px!default;

/// MAAS Line heights
$base-spacing-unit:     20px!default;
$half-spacing-unit:     $base-spacing-unit / 2!default;
$line-height-ratio:     $base-line-height / $base-font-size;

/// MAAS Text styles
$text-color:            $cool-grey;
$headline-color:        $cool-grey;
$alt-headline-color:    $warm-grey;
$link-color:            $brand-color;
$link-border:           #c2c2c2;
$link-hover:            #dd4814;

// MAAS colours
$off-white:             #fafafa!default;
$pale-grey:             #bcbcbc!default;
$muted-grey:            #b2b2b2!default;
$gallery-grey:          #eee!default;
$mercury-grey:          #e3e3e3!default;
$off-white:             #f8f8f8!default;

$loading:               #2ab7ec!default;
$error:                 #d83832!default;
$information:           #2ab7ec!default;
$outline:               #d2d2d2!default;
$success:               #38b44a!default;
$disabled:              $gallery-grey;
$editable:              $white;

/// MAAS Form colours
$primary-button-color:  #dd4814;
$secondary-button-color: $white;
$input-checked:         #dd4814;

// MAAS Tab colours
$tab-active-state:      #dd4814!default;


// Header variables
$header-link-color:     $white;

// MAAS structure
$site-max-width:        1440px;
$breakpoint-large:      $site-max-width;

// MAAS states
$states: (
  error: $error,
  off: $outline,
  warning: $warning,
  success: $success,
  on: $success,
  information: $information,
  loading: $loading
);
