@mixin maas-table-widths {
  @mixin table-sortable-adjust($breakpoint) {
    // At a set breakpoint position the sorting chevron above the table header
    @media (max-width: $breakpoint) {
      &,
      .is-sorted {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: calc(50% - 8px);
        }
      }

      // When the sortable element is within the table header adjust the top
      //position to provide space
      .is-sorted::after {
        top: -.75rem;
      }
    }
  }

  .p-table--network-discovery {
    $chevron-cell-width: 50px;

    tr {
      justify-content: space-between;
    }

    th, td {
      flex: 0 0 auto;
    }

    &__name {
      width: 15%;
    }

    &__mac {
      width: 20%;
    }

    &__ip {
      width: 25%;
    }

    &__rack {
      width: 15%;
    }

    &__last-seen {
      width: calc(25% - #{$chevron-cell-width});
    }

    &__chevron {
      flex: 0 0 auto;
      width: $chevron-cell-width; // chevron needs a static width
    }
  }

  .p-table--pods {
    .p-table__row {
      .p-table__cell {
        &:nth-child(1) {
          width: 18%;
        }

        &:nth-child(2) {
          width: 9%;
        }

        &:nth-child(3) {
          width: 14%;
        }

        &:nth-child(4) {
          width: 14%;
        }

        &:nth-child(5) {
          width: 10%;
        }

        &:nth-child(6) {
          width: 14%;
        }

        &:nth-child(7) {
          width: 15%;
        }
      }
    }
  }

  .p-table--devices {
    .p-table__row {
      .p-table__cell {
        &:nth-child(1) {
          width: 33%;
        }

        &:nth-child(2) {
          width: 17%;
        }

        &:nth-child(3) {
          width: 15%;

          @media (max-width: 1000px) {
            display: none !important;
          }
        }

        &:nth-child(4) {
          width: 20%;
        }

        &:nth-child(5) {
          width: 15%;
        }
      }
    }
  }

  .p-table--controllers {
    .p-table__row {
      .p-table__cell {
        &:nth-child(1) {
          width: 30%;
        }

        &:nth-child(2) {
          width: 10%;
        }

        &:nth-child(3) {
          width: 20%;
        }

        &:nth-child(4) {
          width: 15%;
        }

        &:nth-child(5) {
          width: 20%;
        }

        &:nth-child(6) {
          width: 15%;
        }
      }
    }
  }

  .p-table--images {
    .p-table__row {
      .p-table__cell {
        &:nth-child(1) {
          width: 20%;
        }

        &:nth-child(2) {
          width: 15%;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:nth-child(4) {
          width: 35%;
        }

        &:nth-child(5) {
          width: 15%;
        }
      }
    }
  }

  .p-table--disks-partitions {
    .p-table__row {
      .p-table__cell {
        &:nth-child(1) {
          width: 15%;
        }

        &:nth-child(2) {
          width: 15%;
        }

        &:nth-child(3) {
          width: 7%;
        }

        &:nth-child(4) {
          width: 9%;
        }

        &:nth-child(5) {
          width: 12%;
        }

        &:nth-child(6) {
          width: 10%;
        }

        &:nth-child(7) {
          width: 12%;
        }

        &:nth-child(8) {
          width: 10%;
        }

        &:nth-child(9) {
          width: 10%;
        }
      }
    }
  }

  .p-table--machines {
    .p-table__row {
      th {
        &:nth-child(1) {
          @include table-sortable-adjust(990px);
          width: 20%;
        }
        &:nth-child(2) {
          @include table-sortable-adjust(1150px);
          width: 10%;
        }
        &:nth-child(3) {
          width: 4%;
        }
        &:nth-child(4) {
          width: 20%;
        }
        &:nth-child(5) {
          @include table-sortable-adjust(1100px);
          width: 10%;
        }
        &:nth-child(6) {
          @include table-sortable-adjust(1600px);
          width: 7%;
        }
        &:nth-child(7) {
          @include table-sortable-adjust(1390px);
          width: 10%;
        }
        &:nth-child(8) {
          @include table-sortable-adjust(1600px);
          width: 7%;
        }
        &:nth-child(9) {
          @include table-sortable-adjust(1600px);
          width: 12%;
        }
      }
    }
  }

  .p-table--controller-interfaces {
    .p-table--is-device {
      th, td {
        &:nth-child(1) {
          width: 30%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &:nth-child(4) {
          width: 15%;
        }
      }
    }

    .p-table--is-not-device {
      th, td {
        &:nth-child(1) {
          width: 16%;
        }
        &:nth-child(2) {
          width: 7%;
        }
        &:nth-child(3) {
          width: 9%;
        }
        &:nth-child(4) {
          width: 13%;
        }
        &:nth-child(5) {
          width: 13%;
        }
        &:nth-child(6) {
          width: 13%;
        }
        &:nth-child(7) {
          width: 19%;
        }
        &:nth-child(8) {
          width: 10%;
        }
      }
    }
  }

  .p-table--controllers-commissioning {
    .p-table__row {
      th, td {
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 15%;
        }
        &:nth-child(3) {
          width: 20%;
        }
        &:nth-child(4) {
          width: 20%;
        }
        &:nth-child(5) {
          width: 25%;
        }
        &:nth-child(6) {
          width: 5%;
        }
      }
    }
  }
  .p-table--controller-vlans {
    .p-table__row {
      @media (min-width: $breakpoint-small) {
        th, td {
          &:nth-child(1) {
            width: 15%;
          }
          &:nth-child(2) {
            width: 15%;
          }
          &:nth-child(3) {
            width: 10%;
          }
          &:nth-child(4) {
            width: 20%;
          }
          &:nth-child(5) {
            width: 20%;
          }
          &:nth-child(6) {
            width: 20%;
          }
        }
      }
    }
  }

  .p-table--create-raid {
    &__name {
      @media (max-width: $breakpoint-medium) {
        width: 50%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 30%;
      }
    }
    &__size {
      width: 10%;
    }
    &__type {
      width: 20%;
    }
    &__active {
      width: 10%;
    }
    &__spare {
      width: 10%;
    }
  }

  .p-table--create-volume-group {
    &__name {
      @media (max-width: $breakpoint-medium) {
        width: 50%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 30%;
      }
    }
    &__size {
      width: 30%;
    }
    &__type {
      width: 20%;
    }
    &__empty {
      width: 10%;
    }
  }
  .p-table--bcache {
    &__name {
      @media (max-width: $breakpoint-medium) {
        width: 50%;
      }
      @media (min-width: $breakpoint-medium) {
        width: 30%;
      }
    }
    &__size {
      width: 30%;
    }
    &__type {
      width: 20%;
    }
    &__empty {
      width: 10%;
    }
  }
}

