//does not work with colors containing alpha
@function encodecolor($string) {
	@if type-of($string) == 'color' {
      $hex: str-slice(ie-hex-str($string), 4);
      $string:unquote("#{$hex}");
    }
    $string: '%23' + $string;
	@return $string;
}

.u-position-relative {
  position: relative;
}

.u-width--auto {
  width: auto !important;
}

.u-flex--no-wrap {
  display: flex;
}
