// import required files
@import 'base.cloud-vanilla';

// Theme variables
@import 'settings.defaults';
@import 'settings.fonts';

// Theme base styles
@import 'base.main';
@import 'base.typography';
@import 'base.forms';
@import 'base.definition-list';

// Theme layout styles
@import 'layout.wrapper';
@import 'layout.row';

// Theme component styles
@import 'components.buttons';
@import 'components.forms';
@import 'components.code';
@import 'components.notifications';
@import 'components.icons';
@import 'components.list-tree';
@import 'components.tables';
@import 'components.tooltips';
@import 'components.tabs';

// Theme pattern styles
@import 'patterns.accordion';
@import 'patterns.action-card';
@import 'patterns.footer';
@import 'patterns.header';
@import 'patterns.page-header';
@import 'patterns.search';

@import 'pages.scratch';

// Theme helper styles
@import 'helpers.animations';
@import 'helpers.borders';
@import 'helpers.display';
@import 'helpers.spacing';
@import 'helpers.state';
@import 'helpers.vertical-alignment';
@import 'helpers.mixins';

// MAAS theme
@mixin maas-gui-vanilla-theme {
  @include cloud-vanilla-theme;
  @include maas-main;
  @include maas-typography;
  @include maas-forms;
  @include maas-definition-list;
  @include maas-wrapper;
  @include maas-row;
  @include maas-buttons;
  @include maas-button-group;
  @include maas-form-layouts;
  @include maas-code-block;
  @include maas-notifications;
  @include maas-icons;
  @include maas-list-tree;
  @include maas-table;
  @include maas-tabs;
  @include maas-tooltips;
  @include maas-accordion;
  @include maas-action-card;
  @include maas-footer;
  @include maas-header;
  @include maas-page-header;
  @include maas-search;
  @include maas-animations;
  @include maas-borders;
  @include maas-display;
  @include maas-spacing;
  @include maas-state;
  @include maas-vertical-alignment;
  @include maas-pages;
}

// Build the MAAS theme
@include maas-gui-vanilla-theme;
