// Import MAAS-specific Vanilla configuration
@import 'settings';

// Import Vanilla framework
@import '../../../../node_modules/vanilla-framework/scss/vanilla';
@include vanilla;

@import 'utils';
// Import local patterns
@import 'maas';
@import 'patterns_inline-list';
@import 'base_typography';
@import 'base_tables';
@import 'base_forms';
@import 'base_links';
@import 'patterns_button';
@import 'patterns_icons';
@import 'patterns_navigation';
@import 'patterns_page-header';
@import 'patterns_tabs';
@import 'patterns_switch';
@import 'patterns_table-expanding';
@import 'patterns_card';
@import 'patterns_meter';
@import 'patterns_strips';
@import 'patterns_tag-input';
@import 'patterns_forms';
@import 'patterns_hr';
@import 'patterns_notification';
@import 'patterns_footer';
@import 'patterns_search-box';
@import 'patterns_table-sortable';
@import 'tables';
@import 'patterns_space-between';

// Include local patterns
@include maas;
@include maas-inline-lists;
@include maas-tables;

@include maas-b-forms;
@include maas-b-links;
@include maas-icons;
@include maas-navigation;
@include maas-page-header;
@include maas-tabs;
@include maas-switch;
@include maas-table-expanding;
@include maas-cards;
@include maas-meter;
@include maas-p-strip;
@include maas-tag-input;
@include maas-p-buttons;
@include maas-p-forms;
@include maas-p-hr;
@include maas-p-notifications;
@include maas-p-search-box;
@include maas-p-sticky-footer;
@include maas-table-sortable;
@include maas-table-widths;
@include patterns_space-between;
