/*
* ubuntu1204-sphinx.css
* ~~~~~~~~~~~~~~~~~~~~
*
* Sphinx stylesheet -- Ubuntu theme.
*/

body {
  font-family: Ubuntu;
  background: url('images/bg_dotted.png');
  height: 100%;
}

a:hover {
  color: #DD4814 !important;
}

.navbar .brand {
  color: #FFF;
}

footer p {
  line-height:1.1em;
  color:#333 !important;
}

.headerlink {
  display: none;
}

#searchbox {
  margin-top: 8px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Ubuntu;
    font-weight: normal;
    border-bottom: 1px solid #ccc;
    margin: 20px -20px 10px -20px;
    padding: 3px 0 3px 10px;
}


div.body h1 { margin-top: 0; font-size: 200%; }
div.body h2 { font-size: 190%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

header {
  background: #dd4814 url('images/header_bg.png') left top repeat-x;
}

a.headerlink {
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

div.body p, div.body dd, div.body li {
    text-align: justify;
    line-height: 130%;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
  font-family: free-sans, sans, sans-serif;
  background-color: #fefefe;
  text-weight: 700;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #f7f7f7;
    -moz-box-shadow: 0 2px 2px 0 #c2c2c2;
    -webkit-box-shadow: 0 2px 2px 0 #c2c2c2;
  box-shadow: 0 2px 2px 0 #c2c2c2;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  border-radius: 4px;
}

div.seealso {
  background-color: #ffc;
  border: 1px solid #ff6;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.topic {
    background-color: #eee;
}

div.warning {
  background-color: #ffe4e4;
  border: 1px solid #f66;
  border-radius: 4px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

p.admonition-title {
  display: inline;
  text-weight: 700;
}

p.admonition-title:after {
    content: ":";
}

pre {
  line-height: 1.6em;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 10px;
  border: 1px dashed #772953; /* color borrowed from http://www.ubuntu.com/cloud */
  border-radius: 4px;
  background-color: #f7f2f6;  /* color borrowed from http://www.ubuntu.com/cloud */
}

tt {
    background-color: #ecf0f3;
    padding: 0 1px 0 1px;
    font-size: 0.95em;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('lib/font/fontawesome-webfont.eot');
  src: url('lib/font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
     url('lib/font/fontawesome-webfont.woff') format('woff'),
     url('lib/font/fontawesome-webfont.ttf') format('truetype'),
     url('lib/font/fontawesome-webfont.svg#FontAwesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sidebar-nav {
    padding: 9px 0;
    margin-left: 10px;
    font-size: 13px;
}

.sidebar-nav-fixed {
    position:fixed;
    top:60px;
    width:21.97%;
}

.row-fluid{
  background: #fff;
}

@media (max-width: 767px) {
    .sidebar-nav-fixed {
        width:auto;
    }
}

@media (max-width: 979px) {
    .sidebar-nav-fixed {
        position:static;
        width: auto;
    }
}

#search-submit {
  background: transparent url(images/search_submit_bg_2.png) no-repeat left top;
  text-indent: 35px;
  overflow: hidden;
  width: 26px;
  height: 25px;
  padding: 0px;
  margin: 3px 0px 0px 0px;
  border: none;
  cursor: pointer;
  float: right;
}

#search-submit:hover {
  background: transparent url(images/search_submit_bg_2.png) no-repeat 0px -23px;
}

#search-submit:active {
  background: transparent url(images/search_submit_bg_2.png) no-repeat 0px -46px;
}

/* being uber specific here with the selector to make sure and not hide tooo much on accident  */
div.span9>#what-is-juju ul > li.toctree-l1 {
        display: none;  
} 

