# -*- mode: shell-script -*-
#
# Control a system via amttool
#
{{if power_change == 'on'}}
  power_mode='powerup'
{{else}}
  power_mode='powerdown'
{{endif}}

yes | AMT_PASSWORD={{power_pass}} amttool {{power_address}} ${power_mode} pxe
