# -*- mode: shell-script -*-
#
# Control a system via Universal Management Gateway.

python - << END
from provisioningserver.drivers.hardware.umg import power_control_umg
power_control_umg(
    {{escape_py_literal(power_address) | safe}},
    {{escape_py_literal(power_user) | safe}},
    {{escape_py_literal(power_pass) | safe}},
    {{escape_py_literal(system_alias) | safe}},
    {{escape_py_literal(power_change) | safe}},
)
END
