# -*- mode: shell-script -*-
#
# Control virtual system's "power" through virsh.
#

issue_virsh_command() {
python - << END
from provisioningserver.custom_hardware.virsh import power_control_virsh
power_control_virsh(
    {{repr(power_address).decode("ascii") | safe}},
    {{repr(power_id).decode("ascii") | safe}},
    {{repr(power_change).decode("ascii") | safe}},
    {{repr(power_pass).decode("ascii") | safe}},
)
END
}

issue_virsh_command
