@mixin maas-machine-summary-cards {
  .l-grid__machine-summary-cards {
    @extend %full-span-grid;
    grid:
      [row1-start] "overview-card overview-card overview-card overview-card" min-content [row1-end]
      [row2-start] "system-card numa-card network-card network-card" min-content [row2-end]
      / 1fr 1fr 1fr 1fr;

    .overview-card {
      grid-area: overview-card;
    }

    .system-card {
      grid-area: system-card;
    }

    .numa-card {
      grid-area: numa-card;
    }

    .network-card {
      grid-area: network-card;
    }

    @media only screen and (max-width: $breakpoint-x-large) {
      grid:
        [row1-start] "overview-card overview-card overview-card" min-content [row1-end]
        [row2-start] "system-card network-card network-card" max-content [row2-end]
        [row3-start] "numa-card network-card network-card" min-content [row3-end]
        / 1fr 1fr 1fr;
    }

    @media only screen and (max-width: $breakpoint-large) {
      grid:
        [row1-start] "overview-card overview-card" min-content [row1-end]
        [row2-start] "network-card network-card" min-content [row2-end]
        [row3-start] "system-card numa-card" min-content [row3-end]
        / 1fr 1fr;
    }

    @media only screen and (max-width: $breakpoint-medium) {
      grid:
        [row1-start] "overview-card" min-content [row1-end]
        [row2-start] "network-card" min-content [row2-end]
        [row3-start] "system-card" min-content [row3-end]
        [row4-start] "numa-card" min-content [row4-end]
        / 1fr;
    }
  }
}
