DEFAULT execute

LABEL execute
  SAY Booting under MAAS direction...
  SAY {{kernel_params() | kernel_command}}
  KERNEL http://{{kernel_params | fs_host}}:5248/images/{{kernel_params | kernel_path }}
  INITRD http://{{kernel_params | fs_host}}:5248/images/{{kernel_params | initrd_path }}
  APPEND {{kernel_params | kernel_command}}
  IPAPPEND 2
