<!DOCTYPE html>
<html lang="en" {% block ng-app %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Canonical">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=8">
    <![endif]-->

    <base href="{% url 'index' %}">
    <title>{% block title %}{% endblock %} | {% include "maasserver/site_title.html" %}</title>

    {% if global_options.enable_analytics %}
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P4TGJR9');</script>
    {% endif %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}assets/images/icons/maas-favicon-32px.png">

    <!-- stylesheets -->
    {% block css-conf %}
        {% include "maasserver/css-conf.html" %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body class="has-sticky-footer {% block layout-modifiers %}{% endblock %}">
    {% block html_includes %}{% endblock %}
    {% include "maasserver/navigation.html" %}
    <main id="main-content" class="u-no-margin--top">
        {% block page-title-block %}
        <header class="p-strip--light is-shallow p-sticky-header page-header u-no-padding--bottom {% block page-header-classes %}{% endblock %}" media-query="min-width: 769px">
            <div class="row">
                <h1 class="page-header__title">{% block page-title %}{% endblock %}</h1>
                <p class="page-header__status">{% block page-status %}{% endblock %}</p>
            </div>
            {% block page-navigation %}{% endblock %}
            {% endblock %}
        </header>
        {% if user.is_authenticated %}
        {% if messages %}
        <div class="p-strip is-shallow u-no-padding--bottom">
            <div class="row {% block notifications-class %}{% endblock %}">
                {% for message in messages %}
                    <div {% if message.tags %} class="col-8 p-notification p-notification--{{ message.tags }}" {% endif %}>
                    <p class="p-notification__response">{{ message }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <div id="content">
            {% block content %}
        </div>
        {% endblock %}
        <aside id="sidebar">
            {% block sidebar %}
            {% endblock %}
        </aside>
    </main>
    {% include "maasserver/footer.html" %}
    {% block js-conf %}
        {% include "maasserver/js-conf.html" %}
    {% endblock %}

    {# Page-specific extra Javascript code #}
    {% block extra-js %}
    {% endblock %}

    <!-- Only present on none AngularJS pages. The MAAS AngularJS module
         handles sending page views between routes.
    -->
    <script>
        window.ga = window.ga || function() {
            (window.ga.q = window.ga.q || []).push(arguments);
        };
        window.ga.l = +new Date();
        window.ga('create', 'UA-1018242-63', 'auto', {
          userId: MAAS_config.analytics_user_id
        });
        window.ga('set', 'dimension1', MAAS_config.version);
        window.ga('set', 'dimension2', MAAS_config.uuid);
        window.ga('send', 'pageview');
    </script>
</body>
</html>
