{% extends "maasserver/base.html" %}

{% block nav-active-result-list %}active{% endblock %}
{% block title %}Boot Image list{% endblock %}
{% block page-title %}
{{ paginator.count }} boot image{{ paginator.count|pluralize }}
in cluster {{ nodegroup.cluster_name }}
{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block content %}
    <div id="results">
      <h2>Boot images in cluster <a href="{% url 'cluster-edit' nodegroup.uuid %}">{{ nodegroup.cluster_name }}</a></h2>
      {% if not paginator.count %}
        {% include "maasserver/no-bootimages-warning.html" %}
      {% else %}
        <table class="list">
          <thead>
            <tr>
              <th>ID</th>
              <th>Release</th>
              <th>Architecture</th>
              <th>Subarchitecture</th>
              <th>Purpose</th>
              <th>Label</th>
            </tr>
          </thead>
          <tbody>
        {% for bootimage in bootimage_list %}
          <tr class="bootimage {% cycle 'even' 'odd' %}">
            <td>{{ bootimage.id }}</td>
            <td>{{ bootimage.release }}</td>
            <td>{{ bootimage.architecture }}</td>
            <td>{{ bootimage.subarchitecture }}</td>
            <td>{{ bootimage.purpose }}</td>
            <td>{{ bootimage.label }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      {% include "maasserver/pagination.html" %}
      {% endif %}         
      <div class="clear"></div>
    </div>

{% endblock %}
