<tr class="cluster {{ cycle }}
    {% if display_warnings %}
        {% if cluster.bootimage_set.count == 0 or not cluster.is_connected %}
            warning
        {% endif %}
    {% endif %}"
    id="{{ cluster.uuid }}">
    {% with state=cluster.get_state %}
    <td>
        <a href="{% url 'cluster-edit' cluster.uuid %}">
        {{ cluster.cluster_name }}
        {% if display_warnings %}
            {% if not region_has_images or state == "Disconnected" or state == "Out-of-sync" %}
            &nbsp;
            <img
                src="{{ STATIC_URL }}img/warning.png"
                {% if state == "Disconnected" %}
                title="Warning: this cluster is disconnected."
                {% elif not region_has_images %}
                title="Warning: this cluster cannot sync images as the region doesn't have any images."
                {% else %}
                title="Warning: this cluster is {{ state.lower }}."
                {% endif %}
            />
            {% endif %}
        {% endif %}
        </a>
    </td>
    <td id="{{ cluster.uuid }}_connection">
        {% if state == "Disconnected" %}
        &cross;
        {% else %}
        &check;
        {% endif %}
    </td>
    <td>{{ cluster.get_managed_interfaces|length }}</td>
    <td>{{ cluster.node_set.count }}</td>
    <td id="{{ cluster.uuid }}_images">
        {% if not region_has_images %}
        No images available
        {% else %}
        {% if state == "Disconnected" %}
        -
        {% else %}
        {% if state == "Syncing" %}
        <div class="spinner spin"></div>&nbsp;
        {% endif %}
        {{ state }}
        {% endif %}
        {% endif %}
    </td>
    {% endwith %}
    <td class="icon-controls">
        <a href="{% url 'cluster-edit' cluster.uuid %}" class="icon" title="Edit cluster {{ cluster.cluster_name }}">
            <img src="{{ STATIC_URL }}img/edit.png" alt="edit" />
        </a>
        <a title="Delete cluster {{ cluster.cluster_name }}" href="{% url 'cluster-delete' cluster.uuid %}">
            <img src="{{ STATIC_URL }}img/delete.png" alt="delete" />
        </a>
    </td>
</tr>
