{% extends "maasserver/base.html" %}

{% block nav-active-cluster-list %}active{% endblock %}
{% block title %}{{ status_name }} clusters{% endblock %}
{% block page-title %}{{ current_count }}{% if input_query %} matching{% endif %} {{ status_name|lower }} cluster{{ current_count|pluralize }} in {% include "maasserver/site_title.html" %}{% endblock %}
{% block site-switcher %}{% endblock %}
{% block header-search %}{% endblock %}

{% block content %}
<div id="clusters" style="position: relative;">

<h2 id="clusters">{{ title }}</h2>
<table class="list" id="clusters-list">
  {% include "maasserver/cluster_listing_head.html" %}
  <tbody>
    {% for cluster in cluster_list %}
      {% cycle 'even' 'odd' as cycle silent %}
      {% include "maasserver/cluster_listing_row.html" with cycle=cycle warning_no_images=warn_no_images %}
    {% endfor %}
  </tbody>
</table>
{% include "maasserver/pagination.html" %}
<div>
  {% if status == statuses.ACCEPTED %}
    <form method="POST"
          action="{% url 'cluster-list' %}">
      {% csrf_token %}
      <input type="hidden" name="import_all_boot_images" value="1" />
      <input type="submit" class="button right" value="Import boot images" />
    </form>
  {% endif %}
  {% if status == statuses.PENDING %}
    <form id="reject_all_pending_nodegroups"
          method="POST"
          action="{% url 'cluster-list' %}">
      {% csrf_token %}
      <input type="hidden" name="mass_accept_submit" value="1" />
      <input type="submit" class="button right" value="Accept all" />
    </form>
    <form id="accept_all_pending_nodegroups"
          method="POST"
          action="{% url 'cluster-list' %}">
      {% csrf_token %}
      <input type="hidden" name="mass_reject_submit" value="1" />
      <input type="submit" class="button right space-right-small"
             value="Reject all" />
    </form>
  {% endif %}

</div>
<div class="clear"></div>


{% endblock %}