{% extends "maasserver/base.html" %}

{% block nav-active-cluster-list %}active{% endblock %}
{% block title %}Clusters{% endblock %}
{% block page-title %}{{ current_count }} cluster{{ current_count|pluralize }} in {% include "maasserver/site_title.html" %}{% endblock %}
{% block header-search %}{% endblock %}

{% block content %}
<div id="clusters">
    <h2>Clusters</h2>
    <table id="clusters-list">
        {% include "maasserver/cluster_listing_head.html" %}
        <tbody>
        {% for cluster in cluster_list %}
            {% cycle 'even' 'odd' as cycle silent %}
            {% include "maasserver/cluster_listing_row.html" with cycle=cycle display_warnings=display_warnings %}
        {% endfor %}
        </tbody>
    </table>
    {% include "maasserver/pagination.html" %}
</div>
{% endblock %}
