<h4>Summary</h4>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr class="djDebugOdd">
            <td>Total Clusters</td>
            <td>{{ total_clusters }}</td>
        </tr>
        <tr class="djDebugEven">
            <td>Total getClientFor Calls</td>
            <td>{{ total_getClientFor_calls }}</td>
        </tr>
        <tr class="djDebugOdd">
            <td>Total getClientFor Errors</td>
            <td>{{ total_getClientFor_errors }}</td>
        </tr>
        <tr class="djDebugEven">
            <td>Total RPC Calls</td>
            <td>{{ total_rpc_calls }}</td>
        </tr>
        <tr class="djDebugOdd">
            <td>Total RPC Succeed</td>
            <td>{{ total_rpc_succeed }}</td>
        </tr>
        <tr class="djDebugEven">
            <td>Total RPC Fail</td>
            <td>{{ total_rpc_fail }}</td>
        </tr>
        <tr class="djDebugOdd">
            <td>Total Time</td>
            <td>{{ total_time }}ms</td>
        </tr>
    </tbody>
</table>
{% if getClientFor_errors|length %}
<h4>getClientFor - Errors</h4>
<table>
    <thead>
    <tr>
        <th>Cluster UUID</th>
        <th>Cluster Name</th>
        <th>Error</th>
        <th>Traceback</th>
    </tr>
    </thead>
    <tbody>
        {% for error in getClientFor_errors %}
        <tr class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
            <td>{{ error.uuid }}</td>
            <td>{{ error.cluster }}</td>
            <td>{{ error.error }}</td>
            <td><pre style="max-height: 75px;">{{ error.traceback }}</pre></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if fail_rpc_calls|length %}
<h4>Failed RPC Calls</h4>
<table>
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Cluster UUID</th>
        <th>Cluster Name</th>
        <th>Exec Time</th>
        <th>Command</th>
        <th>Arguments</th>
        <th>Error</th>
        <th>Traceback</th>
    </tr>
    </thead>
    <tbody class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        {% for call in fail_rpc_calls %}
        <tr>
            <td><span style="background-color: #FF0000">&nbsp</span></td>
            <td>{{ call.uuid }}</td>
            <td>{{ call.cluster }}</td>
            <td>{{ call.time }}ms</td>
            <td>{{ call.command }}</td>
            <td>{{ call.arguments }}</td>
            <td>{{ call.error }}</td>
            <td><pre  style="max-height: 75px;">{{ call.traceback }}</pre></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if succeed_rpc_calls|length %}
<h4>Successful RPC Calls</h4>
<table>
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Cluster UUID</th>
        <th>Cluster Name</th>
        <th>Exec Time</th>
        <th>Command</th>
        <th>Arguments</th>
        <th>Result</th>
    </tr>
    </thead>
    <tbody class="{% cycle 'djDebugOdd' 'djDebugEven' %}">
        {% for call in succeed_rpc_calls %}
        <tr>
            <td><span style="background-color: #A5FF00">&nbsp</span></td>
            <td>{{ call.uuid }}</td>
            <td>{{ call.cluster }}</td>
            <td>{{ call.time }}ms</td>
            <td>{{ call.command }}</td>
            <td>{{ call.arguments }}</td>
            <td><pre  style="max-height: 75px;">{{ call.result }}</pre></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
