{% load field_type %}
<li class="p-list__item">
<div class="p-form-validation {{ field.html_name }}{% if css_class %} {{ css_class }}{% endif %}{% if field.errors %} is-error{% endif %}">
    {% if not field.is_hidden %}
    {% ifequal field|field_type "CheckboxInput" %}
        {{ field }}
    {% endifequal %}
    {% if field.label %}
    <label for="id_{{ field.html_name }}">
        {{ field.label }}
        {% if field.field.required %}
        <span class="required">(required)</span>
        {% endif %}
    </label>
    {% endif %}
    {% endif %}
    {% ifnotequal field|field_type "CheckboxInput" %}
    {{ field }}
    {% endifnotequal %}
    {% if field.errors %}
    <span class="p-form-validation__message">
        <strong>Error:</strong> {{ field.errors }}
    </span>
    {% endif %}
    <p>{% if field.help_text %}{{ field.help_text }}{% endif %}</p>
</div>
</li>