{% load field_type %}
<li class="{{ field.html_name }}{% if css_class %} {{ css_class }}{% endif %}{% if field.errors %} error{% endif %}{% if field.help_text %} help-msg{% endif %}">
    {% if not field.is_hidden %}
    {% ifequal field|field_type "CheckboxInput" %}
        {{ field }}
    {% endifequal %}
    {% if field.label %}
    <label for="id_{{ field.html_name }}">
        {{ field.label }}
        {% if field.field.required %}
        <span class="required">(required)</span>
        {% endif %}
    </label>
    {% endif %}
    {% endif %}
    {% ifnotequal field|field_type "CheckboxInput" %}
    {{ field }}
    {% endifnotequal %}
    {% if field.errors %}
    <span class="u-text--error u-margin--top-tiny">{{ field.errors }}</span>
    {% endif %}
    <span class="help u-display--block"><small>{% if field.help_text %}{{ field.help_text }}{% endif %}</small></span>
</li>
