{% extends "maasserver/base.html" %}

{% block nav-active-index %}active{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use('maas.node_add', 'maas.node','maas.node_views', function (Y) {
    Y.on('load', function() {
      // Create Dashboard view.
      var view_container = Y.Node.create('<div />')
          .set('id', 'dashboard');
      Y.one('#content').append(view_container);
      var view = new Y.maas.node_views.NodesDashboard(
          {'append': '#dashboard'});
      view.render(view_container);
      // Create 'Add node' link.
      var add_node_link = Y.Node.create('<a />')
          .set('id', 'addnode')
          .set('text', "Add node")
          .set('href', '#')
          .addClass('button');
      Y.one('#content').append(add_node_link);
      add_node_link.on('click', Y.maas.node_add.showAddNodeWidget);
    });
  });
  // -->
  </script>
{% endblock %}

{% block page-title-block %}
  {% if user.is_superuser %}
    {% comment %}TODO: wire this up so that it changes the MaaS title{% endcomment %}
    <form action="" method="" class="page-title-form">
      <input type="text" value="{{ global_options.site_name }}" title="Edit the name of this MaaS" />
    </form>
  {% else %}
    <h1 id="page-title">{% include "maasserver/site_title.html" %}</h1>
  {% endif %}
{% endblock %}

{% block content %}
{% endblock %}
