{% extends "maasserver/base.html" %}

{% block nav-active-index %}active{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block page-title %}Dashboard{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use('maas.node_add', 'maas.node','maas.node_views', function (Y) {
    Y.on('load', function() {
      // Create Dashboard view.
      var view_container = Y.Node.create('<div />')
          .set('id', 'dashboard');
      Y.one('#content').append(view_container);
      var view = new Y.maas.node_views.NodesDashboard(
          {'append': '#dashboard'});
      view.render(view_container);
      // Create 'Add node' link.
      var add_node_link = Y.Node.create('<a />')
          .set('id', 'addnode')
          .set('text', "Add node")
          .set('href', '#');
      Y.one('#content').append(add_node_link);
      add_node_link.on('click', Y.maas.node_add.showAddNodeWidget);
      // Wire up the view to the 'nodeAdded' event.
      Y.one('#addnode').on('click', Y.maas.node_add.showAddNodeWidget);
    });
  });
  // -->
  </script>
{% endblock %}

{% block content %}
{% endblock %}
