<script type="text/javascript"
    src="{% url "merge" filename="jquery.js" %}?v={{files_version}}">
</script>
<script type="text/javascript"
    src="{% url "merge" filename="angular.js" %}?v={{files_version}}">
</script>
<script type="text/javascript"
    src="{% url "merge" filename="ng-tags-input.js" %}?v={{files_version}}">
</script>
<script type="text/javascript"
    src="{% url "merge" filename="maas-angular.js" %}?v={{files_version}}">
</script>

<script type="text/javascript">
<!--
var YUI_config = {
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %},
    combine: true,
    filter: {% if YUI_DEBUG %}'raw'{% else %}'min'{% endif %},
    root: '',
    base: '{% url "combo-yui" %}?',
    comboBase: '{% url "combo-yui" %}?',
};
var MAAS_config = {
    uris: {
        login: '{% url "login" %}',
        statics: '{{ STATIC_URL }}',
        maas_handler: '{% url "maas_handler" %}',
        nodes_handler: '{% url "nodes_handler" %}',
        account_handler: '{% url "account_handler" %}',
        images_handler: '{% url "images" %}'
        },
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %}
};
// -->
</script>
<script type="text/javascript"
    src="{% url "merge" filename="yui.js" %}?v={{files_version}}">
</script>
<script type="text/javascript"
    src="{% url "merge" filename="maas-yui.js" %}?v={{files_version}}">
</script>
