<script type="text/javascript">
<!--
var YUI_config = {
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %},
    combine: true,
    filter: {% if YUI_DEBUG %}'raw'{% else %}'min'{% endif %},
    root: '',
    base: '{% if FORCE_SCRIPT_NAME %}{{ FORCE_SCRIPT_NAME }}{% endif%}/{{YUI_COMBO_URL }}?',
    comboBase: '{% if FORCE_SCRIPT_NAME %}{{ FORCE_SCRIPT_NAME }}{% endif%}/{{ YUI_COMBO_URL }}?',
};
var MAAS_config = {
    uris: {
        login: '{% url "login" %}',
        statics: '{{ STATIC_URL }}',
        maas_handler: '{% url "maas_handler" %}',
        nodes_handler: '{% url "nodes_handler" %}',
        account_handler: '{% url "account_handler" %}'
        },
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %}
};
// -->
</script>
<script type="text/javascript"
  src="{% if FORCE_SCRIPT_NAME %}{{ FORCE_SCRIPT_NAME }}{% endif%}/{{ YUI_COMBO_URL }}?yui-base/yui-base-min.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/morph.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/user_panel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/node_add.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/node.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/prefs.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/node_views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/longpoll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/enums.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/power_parameters.js"></script>
