<script type="text/javascript">
<!--
var YUI_config = {
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %},
    combine: {% if YUI_DEBUG %}true{% else %}false{% endif %},
    base: '{{ STATIC_URL }}js/yui/{{ YUI_VERSION }}/'
};
var MAAS_config = {
    uris: {
        statics: '{{ STATIC_URL }}',
        nodes_handler: '{% url "nodes_handler" %}'
        },
    debug: {% if YUI_DEBUG %}true{% else %}false{% endif %}
};
// -->
</script>
<script
  src="{{ STATIC_URL }}js/yui/{{ YUI_VERSION }}/yui-base/yui-base-min.js">
</script>
<script src="{{ STATIC_URL }}js/node_add.js"></script>
<script src="{{ STATIC_URL }}js/node.js"></script>
<script src="{{ STATIC_URL }}js/node_views.js"></script>
