{% extends "maasserver/base.html" %}

{% block nav-active-logout %}active{% endblock %}
{% block title %}Logout{% endblock %}
{% block page-title %}Logout{% endblock %}
{% block layout-modifiers %}logout{% endblock %}

{% block content %}
    {% block page-title-block %}
    {% endblock %}
        <div class="p-strip">
            <div class="row">
                <div class="col-8 prefix-4">
                    <div class="p-card">
                        <header class="p-card__header">
                            <h1 class="p-heading--four">Logout</h1>
                            <p>Are you sure you want to log out?</p>
                        </header>
                        <form method="post" class="u-no-margin--top u-align--right">
                            {% csrf_token %}
                            <input type="hidden" name="post" value="yes" />
                            <a href="{% url 'index' %}" class="p-button--neutral u-no-margin--top">No</a>
                            <button type="submit" class="p-button--positive"
                                    onClick="localStorage.clear()">
                              Yes
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
