{% comment %}
This file should be included in the 'pre_head' block in order to transform
Django's basic multiselect widget into a Javascripty widget.
Then this javascript must be included after the widget is declared:
<script type="text/javascript">
    addEvent(window, "load", function(e) { SelectFilter.init("$id_of_the_field", "$Object_text_name", 0, "{{ STATIC_URL }}admin/"); });
</script>
{% endcomment %}
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/core.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectFilter2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/js/SelectBox.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}admin/css/forms.css"/>
