{% extends "maasserver/base.html" %}

{% block pre_head %}{% include "maasserver/multiselect_widget_include.html" %}{% endblock %}
{% block nav-active-network-list %}active{% endblock %}
{% block title %}Edit network{% endblock %}
{% block page-title %}Edit network{% endblock %}

{% block content %}
<div class="eight-col">
    <form action="." method="post">
        {% csrf_token %}
        <ul>
            {% for field in form %}
                {% include "maasserver/form_field.html" %}
            {% endfor %}
        </ul>
        <input type="submit" value="Save network" class="cta-ubuntu right" />
        <a class="link-cta-ubuntu secondary" href="{% url 'network-list' %}">Cancel</a>
    </form>
</div>
<script type="text/javascript">
    addEvent(window, "load", function(e) { SelectFilter.init("id_mac_addresses", "network interfaces", 0, "{{ STATIC_URL }}admin/"); });
</script>
{% endblock %}
