{% extends "maasserver/base.html" %}

{% block nav-active-network-list %}active{% endblock %}
{% block title %}Networks{% endblock %}
{% block page-title %}
  {{ paginator.count }}
    {% if input_query %} matching{% endif %}
    network{{ paginator.count|pluralize }} in
    {% include "maasserver/site_title.html" %}
{% endblock %}

{% block content %}
<div id="networks">
    <h2>Networks</h2>
    {% if network_list|length %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Network</th>
                <th>VLAN tag</th>
                <th>Default gateway</th>
                <th>Attached nodes</th>
                {% if user.is_superuser %}
                {% comment %} Action buttons {% endcomment %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for network_item in network_list %}
            <tr class="network {% cycle 'even' 'odd' %}" id="{{ network_item.name }}">
                <td>
                    <a class="network" href="{% url 'network-view' network_item.name %}">{{ network_item.name }}</a>
                </td>
                <td>{{ network_item.description|truncatechars:40 }}</td>
                <td>{{ network_item.get_network }}</td>
                <td>{{ network_item.vlan_tag|default_if_none:"" }}</td>
                <td>{{ network_item.default_gateway|default_if_none:"" }}</td>
                <td>
                    <a title="View nodes attached to network {{ network_item.name }}" href="{% url 'index' %}#/nodes?query=networks%3A%28{{ network_item.name }}%29">{{ network_item.get_connected_nodes.count }}</a>
                </td>
                {% if user.is_superuser %}
                <td class="icon-controls">
                    {% if not network_item.is_default %}
                    <a href="{% url 'network-edit' network_item.name %}" title="Edit network {{ network_item.name }}" class="icon edit">edit</a>
                    <a href="{% url 'network-del' network_item.name %}" title="Delete network {{ network_item.name }}" class="icon delete">delete</a>
                    <form method="POST" action="{% url 'network-del' network_item.name %}">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ network_item.name }}" />
                    </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "maasserver/pagination.html" %}
    {% else %}
    <p>No networks defined.</p>
    {% endif %}
    {% if user.is_superuser %}
    <a class="link-cta-ubuntu right" href="{% url 'network-add' %}">Add network</a>
    {% endif %}
</div>
{% endblock %}
