{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Add MAC address{% endblock %}
{% block page-title %}Add MAC address{% endblock %}

{% block content %}
  <form action="." method="post" class="block auto-width">
    {% csrf_token %}
    <ul>
    {% for field in form %}
      {% include "maasserver/form_field.html" %}
    {% endfor %}
    </ul>
    <input type="submit" class="right" value="Add MAC address" />
    <a class="link-button"
       href="{% url 'node-edit' node.system_id %}">Cancel</a>
  </form>
{% endblock %}
