{% extends "maasserver/base.html" %}

{% block nav-active-node-list %}active{% endblock %}
{% block title %}Preseed for node: {{ node.hostname }}{% endblock %}
{% block page-title %}Preseed for node: {{ node.hostname }}{% endblock %}
{% block layout-modifiers %}sidebar{% endblock %}

{% block content %}
<div id="content-with-sidebar" class="eight-col append-one">
    {% if is_commissioning %}
    <p>This node is commissioning.  This is the commissioning preseed.</p>
    {% endif %}
    <pre>
        {{ preseed|force_escape }}
    </pre>
</div>
{% endblock %}

{% block sidebar %}
<div class="three-col last-col">
    <h3>Node details</h3>
    <a href="{% url 'node-view' node.system_id %}" class="link-cta-ubuntu secondary full">View node</a>
</div>
{% endblock %}
