{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit node{% endblock %}
{% block page-title %}Edit node{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use(
    'maas.enums', 'maas.power_parameters', 'maas.os_distro_select', 'maas.license_key',
    function (Y) {
    Y.on('load', function() {
      // Create OSDistroWidget so that the release field will be
      // updated each time the value of the os field changes.
      var releaseWidget = new Y.maas.os_distro_select.OSReleaseWidget({
          srcNode: '#id_distro_series'
          });
      releaseWidget.bindTo(Y.one('.osystem').one('select'), 'change');
      releaseWidget.render();

      // Create LicenseKeyWidget so that the license key field will be
      // show when a release is selected that requires it.
      var licenseKeyWidget = new Y.maas.license_key.LicenseKeyWidget({
          srcNode: '.license_key'
          });
      licenseKeyWidget.bindTo(Y.one('.distro_series').one('select'), 'change');
      licenseKeyWidget.render();

      // Create LinkedContentWidget widget so that the power_parameter field
      // will be updated each time the value of the power_type field changes.
      var power_types = {{ power_types }};
      var widget = new Y.maas.power_parameters.LinkedContentWidget({
          srcNode: '.power_parameters',
          driverEnum: power_types,
          templatePrefix: '#power-param-form-'
          });
      widget.bindTo(Y.one('.power_type').one('select'), 'change');
      widget.render();
    });
  });
  // -->
  </script>
{% endblock %}

{% block content %}
  <div id="node-edit" class="block size7">
  <form action="." method="post" class="block auto-width">
    {% csrf_token %}
    <ul>
      {% for field in form %}
        {% include "maasserver/form_field.html" %}
      {% endfor %}
      <li>
        <label for="id_mac_addresses">Network interfaces</label>
        {% for macaddress in node.macaddress_set.all %}
        <p>
        {{ macaddress }}&nbsp;&nbsp;
        <a title="Delete network interface"
           class="icon"
           href="{% url 'mac-delete' macaddress.node.system_id macaddress.mac_address %}">
          <img src="{{ STATIC_URL }}img/delete.png" alt="delete" />
        </a>
        </p>
        {% empty %}
          No known network interfaces.
        {% endfor %}
      </li>
      <li>
        <a class="add-link add-mac-form"
           href="{% url 'mac-add' node.system_id %}">
          <img src="{{ STATIC_URL }}img/inline_add.png" alt="+" class="icon" />
          Register additional network interface
        </a>
      </li>
    </ul>
    <input name="ui-submission" type="hidden" value="Submitted from the UI" />
    <input type="submit" value="Save node" class="right" />
    <a class="link-button" href="{% url 'node-view' node.system_id %}">Cancel</a>
  </form>
  </div>
{% endblock %}
