<div id="node_event_list">
  {% if event_list %}
  <table class="list">
    <thead>
      <tr>
        <th>Level</th>
        <th>Emitted</th>
        <th>Event</th>
        </tr>
    </thead>
    <tbody>
      {% for event_item in event_list %}
      <tr class="{{ event_item.type.level_str|lower }}" id="{{ event_item.id }}">
        <td width="10%">{{ event_item.type.level_str }}</td>
        <td width="30%" title="{{ event_item.created|date:'r' }}">
          {{ event_item.created|timesince }} ago
        </td>
        <td class="event_description">
        {{ event_item.type.description }}
        {% if event_item.description %} &mdash; {{ event_item.description }}{% endif %}
        </td>
        <td></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "maasserver/pagination.html" %}
  {% else %}
  No events.
  {% endif %}
  <div class="clear"></div>
</div>
