{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Node: {{ node.hostname }}{% endblock %}
{% block page-title %}Node: {{ node.hostname }}{% endblock %}
{% block layout-modifiers %}sidebar{% endblock %}

{% block sidebar %}
  {% if can_edit %}
    <div class="block size3">
      <h4>Node details</h4>
      <a href="{% url 'node-edit' node.system_id %}" class="button secondary">
        Edit node
      </a>
    </div>
  {% endif %}
  {% if form.action_buttons or can_delete %}
    <div class="block size3">
    <h4>Actions</h4>
    {% if can_delete %}
      {% if node.owner %}
        <a href="#"
           title="You cannot delete this node because it's in use."
           class="disabled button">
          Delete node
        </a>
      {% else %}
        <a href="{% url 'node-delete' node.system_id %}"
           class="button secondary">
          Delete node
        </a>
      {% endif %}
    {% endif %}
    {% for action in form.action_buttons %}
      {% if forloop.first %}
        <form id="node_actions" method="post" action=".">
      {% endif %}
      <input class="secondary {% if not forloop.first or can_delete %}space-top{% endif %}"
             type="submit"
             name="{{ form.input_name }}"
             value="{{ action.display }}" />
      {% if forloop.last %}</form>{% endif %}
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <ul class="data-list">
    <li class="block size2 first">
      <h4>Hostname</h4>
      <span>{{ node.hostname }}</span>
    </li>
    <li class="block size3">
      <h4>MAC addresses</h4>
      <span>
          {% for mac in node.macaddress_set.all %}
          {{ mac }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
      </span>
    </li>
    <li class="block size3">
      <h4>Status</h4>
      <span>
          {{ node.display_status }}
      </span>
    </li>
    {% if node.error %}
    <li class="block first">
      <h4>Error output</h4>
      <span>
          {{ node.error }}
      </span>
    </li>
    {% endif %}
    {% if node.owner %}
    <li class="block size2 first">
      <h4>Owner</h4>
      <span>{{ node.owner }}</span>
    </li>
    {% endif %}
  </ul>
{% endblock %}

