{% extends "maasserver/base.html" %}

{% block nav-active-node-list %}active{% endblock %}
{% block title %}Nodes{% endblock %}
{% block page-title %}{{ paginator.count }}{% if input_query %} matching{% endif %} node{{ paginator.count|pluralize }} in {% include "maasserver/site_title.html" %}{% endblock %}
{% block site-switcher %}{% endblock %}
{% block header-search %}{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use('maas.node_add', function (Y) {
    Y.on('load', function() {
      Y.one('#addnode').on('click', function(e) {
        e.preventDefault();
        Y.maas.node_add.showAddNodeWidget({targetNode: '#nodes'});
      });
      // Reload the page when a new node gets added.
      Y.maas.node_add.AddNodeDispatcher.on(
        Y.maas.node_add.NODE_ADDED_EVENT, function(e) {
          window.location.reload();
      });
    });
  });
  // Connect the 'select all' checkbox to all the node checkboxes.
  YUI().use('node', function (Y) {
    Y.on('load', function() {
      var master = Y.one('#all_system_id_control');
      var checkboxes = Y.one('table#node_list').all('input[name="system_id"]');
      // Uncheck the master checkbox if one of the row checkboxes gets
      // unchecked
      checkboxes.on('change', function(e) {
        var notChecked = checkboxes.filter('input:not(:checked)');
        master.set('checked', (notChecked.size() == 0));
      });
      // Check/uncheck all the row checkboxes if the master checkbox gets
      // checked/unchecked.
      master.on('change', function(e) {
        var checked = e.target.get('checked');
        checkboxes.set('checked', checked);
      });
    });
  });
  // -->
  </script>
{% endblock %}

{% block content %}
  <div id="nodes" style="position: relative;">
    <form id="node_listing_search_form"
          action="{% url 'node-list' %}?{{preserved_query}}"
          method="get" class="search">
      <input type="search" name="query" placeholder="Search nodes"
             class="search-input" value="{{input_query|default_if_none:''}}" />
      <input id="search_button" type="submit" value="Search"
             class="search-submit" />
    </form>

    <form id="node_listing_form"
          action="{% url 'node-list' %}?{{preserved_query}}"
          method="post">
      <div class="block full-width">
        {% csrf_token %}
        Bulk action:&nbsp;
        {{ form.action }}
        <input type="submit" value="Go" />
        {% for field in form %}
          {% if field.errors %}
            <span class="errors">{{ field.errors }}</span>
          {% endif %}
        {% endfor %}
      </div>
      {% if input_query_error %}
        <p style="padding-top:10px;" class="form-errors">
          {{input_query_error}}
        </p>
      {% endif %}
      {% include "maasserver/nodes_listing.html" with sorting="true" actions="true"%}
      {% include "maasserver/pagination.html" %}
    </form>

    <a id="addnode" href="#" class="button right space-top">+ Add node</a>
    <div class="clear"></div>
    <a class="right space-top" href="{% url "enlist-preseed-view" %}">View enlistment preseed</a>
    <div class="clear"></div>
  </div>
{% endblock %}
