{% extends "maasserver/base.html" %}

{% block nav-active-node-list %}active{% endblock %}
{% block title %}Nodes{% endblock %}
{% block page-title %}{{ node_list|length }} node{{ node_list|length|pluralize }} in {% include "maasserver/site_title.html" %}{% endblock %}
{% block site-switcher %}{% endblock %}
{% block header-search %}{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use('maas.node_add', function (Y) {
    Y.on('load', function() {
      Y.one('#addnode').on('click', Y.maas.node_add.showAddNodeWidget);
    });
  });
  // -->
  </script>
{% endblock %}

{% block content %}
  {% comment %}
    <!-- To be enabled when we have search functionality -->
    <form action="" method="get" class="block full-width inline-form">
      <input type="text" name="query" class="search-box" value="Search nodes" />
    </form>
  {% endcomment %}
  {% if node_list|length %}
      <table class="list">
        <thead>
          <tr>
            <th>Hostname</th>
            <th>MAC</th>
            <th>Status</th>
          </tr>
        </thead>
        {% for node in node_list %}
          <tr class="node {% cycle 'even' 'odd' %}">
            <td>
              <a href="{% url 'node-view' node.id %}">
                {{ node.hostname }}
              </a>
            </td>
            <td>
              {{ node.macaddress_set.reverse|first }}
              {% if node.macaddress_set.count > 1 %}
                ({{ node.macaddress_set.count|add:"-1" }} more MAC Address{{ node.macaddress_set.count|add:"-1"|pluralize }})
              {% endif %}
            </td>
            <td>{{ node.display_status }}</td>
          </tr>
        {% endfor %}
      </table>
  {% endif%}
  <a id="addnode" href="#" class="button right">Add node</a>
{% endblock %}
