{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit Cluster Controller{% endblock %}
{% block page-title %}Edit Cluster Controller{% endblock %}

{% block content %}
<div class="block size10 first">
    <form action="." method="post" class="block">
      {% csrf_token %}
      <ul>
      {% for field in form %}
        {% include "maasserver/form_field.html" %}
      {% endfor %}
      </ul>
      <input type="submit" value="Save cluster controller"
             class="button right" />
      <a class="link-button" href="{% url 'settings' %}">Cancel</a>
      <h2>Interfaces</h2>
      {% with nb_interfaces=cluster.nodegroupinterface_set.count %}
      This cluster controller has {{ nb_interfaces }}
      interface{{ nb_interfaces|pluralize }}.
      {% endwith %}
      <table class="list">
        <thead>
          <tr>
            <th>Interface</th>
            <th>Network</th>
            <th>Status</th>
            <th>Non-MAAS DHCP</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
      {% for interface in interfaces %}
        <tr class="interface {% cycle 'even' 'odd' %}"
            id="{{ interface.interface }}">
          <td>{{ interface.interface }}</td>
          <td>{{ interface.network|default_if_none:"Not configured" }}</td>
          <td>{{ interface.display_management }}</td>
          <td>{{ interface.foreign_dhcp_ip|default_if_none:"" }}
            {% if interface.foreign_dhcp_ip and interface.display_management != "Unmanaged" %}
              <img src="{{ STATIC_URL }}img/warning.png" title="Clashes with MAAS DHCP!"/>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'cluster-interface-edit' uuid=cluster.uuid interface=interface.interface %}"
               class="icon"
               title="Edit interface {{ interface.interface }}">
              <img src="{{ STATIC_URL }}img/edit.png"
                   alt="edit"
                   class="space-right-small" />
            </a>
            <a title="Delete interface {{ interface.interface }}"
               href="{% url 'cluster-interface-delete' cluster.uuid interface.interface %}">
               <img src="{{ STATIC_URL }}img/delete.png" alt="delete" />
            </a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="button right"
         href="{% url 'cluster-interface-create' cluster.uuid %}">Add interface</a>

      <div class="clear"></div>
      <h2>Boot images</h2>
      {% if not cluster.bootimage_set.count %}
      <p>Warning: this cluster has no boot images!</p>
      <p>
        This cluster needs boot images to boot the nodes it controls.
        You need to make sure the cluster's configuration (in
        <span class="console">/etc/maas/import_ephemerals</span>
        and <span class="console">/etc/maas/import_pxe_files</span> on the cluster's
        machine) suits the configuration of the machines this cluster will have to
        handle and then run the import script by clicking the "Import boot images"
        button on the  <a href="{% url 'settings' %}#clusters">cluster's listing page</a>.
      </p>
      {% else %}
        <table class="list">
          <thead>
            <tr>
              <th>Id</th>
              <th>Architecture</th>
              <th>Subarchitecture</th>
              <th>Release</th>
              <th>Purpose</th>
              <th>Label</th>
            </tr>
          </thead>
          <tbody>
        {% for bootimage in cluster.bootimage_set.all %}
          <tr class="bootimage {% cycle 'even' 'odd' %}">
            <td>{{ bootimage.id }}</td>
            <td>{{ bootimage.architecture }}</td>
            <td>{{ bootimage.subarchitecture }}</td>
            <td>{{ bootimage.release }}</td>
            <td>{{ bootimage.purpose }}</td>
            <td>{{ bootimage.label }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      {% endif %}         
    </form>
  </div>
  <div class="clear"></div>
</div>
{% endblock %}
