{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit node{% endblock %}
{% block page-title %}Edit node{% endblock %}

{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/power_parameters.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/enums.js"></script>
  <script type="text/javascript">
  <!--
  YUI().use(
    'maas.enums', 'maas.power_parameters',
    function (Y) {
    Y.on('load', function() {
      // Create LinkedContentWidget widget so that the power_parameter field
      // will be updated each time the value of the power_type field changes.
      var widget = new Y.maas.power_parameters.LinkedContentWidget({
          srcNode: '.power_parameters',
          driverEnum: Y.maas.enums.POWER_TYPE,
          templatePrefix: '#power-param-form-'
          });
      widget.bindTo(Y.one('.power_type').one('select'), 'change');
      widget.render();
    });
  });
  // -->
  </script>
{% endblock %}

{% block content %}
  <form action="." method="post" class="block auto-width">
    <ul>
      {% for field in form %}
        {% include "maasserver/form_field.html" %}
      {% endfor %}
      <li>
        <label for="id_mac_addresses">MAC addresses</label>
        {% for macaddress in node.macaddress_set.all %}
        <p>
        {{ macaddress }}&nbsp;&nbsp;
        <a title="Delete mac address"
           class="icon"
           href="{% url 'mac-delete' macaddress.node.system_id macaddress.mac_address %}">
          <img src="/static/img/delete.png" alt="delete"/>
        </a>
        </p>
        {% empty %}
          No MAC address.
        {% endfor %}
      </li>
      <li>
        <a class="add-link add-mac-form"
           href="{% url 'mac-add' node.system_id %}">
          <img src="/static/img/inline_add.png" alt="+" class="icon"/>
          Add additional MAC address
        </a>
      </li>
    </ul>
    <input type="submit" value="Save node" class="right" />
    <a class="link-button" href="{% url 'node-view' node.system_id %}">Cancel</a>
  </form>
{% endblock %}
