{% extends "maasserver/base.html" %}

{% block nav-active-node-list %}active{% endblock %}
{% block title %}Add network interface{% endblock %}
{% block page-title %}Add network interface{% endblock %}

{% block content %}
<form action="." method="post" class="eight-col">
    {% csrf_token %}
    <ul>
        {% for field in form %}
            {% include "maasserver/form_field.html" %}
        {% endfor %}
    </ul>
    <input type="submit" class="right" value="Add network interface" />
    <a class="link-cta-ubuntu secondary" href="{% url 'node-edit' node.system_id %}">Cancel</a>
</form>
{% endblock %}
