{% extends "maasserver/base.html" %}

{% block nav-active-cluster-list %}active{% endblock %}
{% block title %}Create Cluster Interface{% endblock %}
{% block page-title %}Create Cluster Interface{% endblock %}

{% block content %}
<div class="eight-col">
    <form action="." method="post">
        {% csrf_token %}
        <ul>
        {% for field in form %}
            {% include "maasserver/form_field.html" %}
        {% endfor %}
        </ul>
        <input type="submit" value="Save interface" class="cta-ubuntu right" />
        <a class="link-cta-ubuntu secondary-alt" href="{% url 'cluster-edit' nodegroup.uuid %}">Cancel</a>
    </form>
</div>
{% endblock %}
