{% if is_paginated %}
    <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="{{first_page_link}}">FIRST</a>
        <a href="{{previous_page_link}}">PREVIOUS</a>
    {% else %}
        <span class="inactive">FIRST</span>
        <span class="inactive">PREVIOUS</span>
    {% endif %}
        <span>{{page_obj.start_index}}-{{page_obj.end_index}} of {{paginator.count}}</span>
    {% if page_obj.has_next %}
        <a href="{{next_page_link}}">NEXT</a>
        <a href="{{last_page_link}}">LAST</a>
    {% else %}
        <span class="inactive">NEXT</span>
        <span class="inactive">LAST</span>
    {% endif %}
    </div>
{% endif %}
