{% extends "maasserver/base.html" %}

{% block nav-active-prefs %}active{% endblock %}
{% block title %}User preferences for {{ user.username }}{% endblock %}
{% block page-title %}User preferences for {{ user.username }}{% endblock %}

{% block head %}
  <script type="text/javascript">
  <!--
  YUI().use('maas.prefs', function (Y) {
    var profile_widget = new Y.maas.prefs.TokenWidget(
        {'srcNode': Y.one('#api')});
    profile_widget.render();
  });
  // -->
  </script>
{% endblock %}

{% block content %}
  <div id="prefs">
    <div id="keys" class="block size7 first">
      <h2>Keys</h2>
      <h3>MAAS keys</h3>
      <div id="api">
      <ul class="list">
        {% for token in user.get_profile.get_authorisation_tokens %}
          <li class="bundle">
            <a href="#" class="delete-link icon right">
              <img title="Delete MAAS key"
                   src="{{ STATIC_URL }}img/delete.png" />
            </a>
            <input type="text"
                   value="{{ token.consumer.key }}:{{ token.key }}:{{ token.secret }}"
                   id="{{ token.key }}"
                   class="disabled" />
          </li>
        {% endfor %}
      </ul>
      <p id="token_creation_placeholder" />
      </div>
      <div class="clear"></div>
      <div id="ssh-keys">
      <h3>SSH keys</h3>
      <ul class="list">
        {% for key in user.sshkey_set.all %}
          <li>
          <a href="{% url 'prefs-delete-sshkey' key.id %}" class="icon right">
              <img title="Delete SSH key"
                   src="{{ STATIC_URL }}img/delete.png" />
            </a>
            {{ key.display_html }}
          </li>
	{% empty %}
	  No SSH key configured.
        {% endfor %}
      </ul>
      <a href="{% url 'prefs-add-sshkey' %}"
         id="add_ssh_key"
         class="button right space-top">+ Add SSH key</a>
    </div>
    <div class="clear"></div>
    <div id="profile" class="block size7 first">
      <h2>User details</h2>
      <form action="." method="post">
        <ul>
          {% for field in profile_form %}
            {% include "maasserver/form_field.html" %}
	  {% endfor %}
	</ul>
        <input type="hidden" name="profile_submit" value="1" />
        <input type="submit" class="button right" value="Save" />
      </form>
    </div>
    <div id="password" class="block size7 first">
      <h2>Password</h2>
      <form action="." method="post">
        <ul>
          {% for field in password_form %}
            {% include "maasserver/form_field.html" %}
          {% endfor %}
        </ul>
        <input type="hidden" name="password_submit" value="1" />
        <input type="submit" class="button right" value="Change password" />
      </form>
    </div>
  </div>
{% endblock %}
