{% extends "maasserver/base.html" %}

{% block title %}Add SSL key{% endblock %}
{% block page-title %}Add SSL key{% endblock %}

{% block content %}
<div class="eight-col">
	<form method="post">
	    {% csrf_token %}
	    <ul>
	        {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
	    </ul>
			<div class=" u-float--right">
					<a class="button--base button--inline" href="{% url 'prefs' %}">Cancel</a>
					<button type="submit" class="button--positive button--inline">Add key</button>
			</div>
	</form>
</div>
{% endblock %}
