{% extends "maasserver/base.html" %}

{% block title %}Add SSH key{% endblock %}
{% block page-title %}Add SSH key{% endblock %}

{% block content %}
<div class="eight-col">
	<form action="." method="post">
	    {% csrf_token %}
	    <ul>
	        {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
	    </ul>
	    <a class="link-cta-ubuntu secondary-alt" href="{% url 'prefs' %}">Cancel</a>
	    <input type="submit" class="cta-ubuntu right" value="+ Add key" />
	</form>
</div>
{% endblock %}
