<h2 id="accepted-clusters">Cluster controllers</h2>
<table class="list" id="accepted-clusters-list">
  <tbody>
    {% for cluster in accepted_clusters %}
      {% cycle 'even' 'odd' as cycle silent %}
      {% include "maasserver/settings_cluster_listing_row.html" with cycle=cycle %}
    {% endfor %}
  </tbody>
</table>
<div>
  <form method="POST"
        action="{% url 'settings' %}">
    {% csrf_token %}
    <input type="hidden" name="import_all_boot_images" value="1" />
    <input type="submit" class="button right" value="Import boot images" />
  </form>
</div>
<div class="clear"></div>
{% if pending_clusters %}
<h3 id="pending-clusters">Pending clusters</h3>
<table class="list" id="pending-clusters-list">
  <tbody>
    {% for cluster in pending_clusters %}
      {% cycle 'even' 'odd' as cycle silent %}
      {% include "maasserver/settings_cluster_listing_row.html" with cycle=cycle %}
    {% endfor %}
  </tbody>
</table>
<div>
  <form id="reject_all_pending_nodegroups"
        method="POST"
        action="{% url 'settings' %}">
    {% csrf_token %}
    <input type="hidden" name="mass_accept_submit" value="1" />
    <input type="submit" class="button right" value="Accept all" />
  </form>
  <form id="accept_all_pending_nodegroups"
        method="POST"
        action="{% url 'settings' %}">
    {% csrf_token %}
    <input type="hidden" name="mass_reject_submit" value="1" />
    <input type="submit" class="button right space-right-small"
           value="Reject all" />
  </form>
</div>
<div class="clear"></div>
{% endif %}
{% if rejected_clusters %}
<h3 id="rejected-clusters">Rejected clusters</h3>
<table class="list" id="rejected-clusters-list">
  <tbody>
    {% for cluster in rejected_clusters %}
      {% cycle 'even' 'odd' as cycle silent %}
      {% include "maasserver/settings_cluster_listing_row.html" with cycle=cycle %}
    {% endfor %}
  </tbody>
</table>
{% endif %}
