<h2>Commissioning scripts</h2>
<table class="list">
    <tbody>
    {% for script in commissioning_scripts %}
        <tr id="{{ script.name }}">
            <td class="script-expander">
                <a href="#" class="script-trigger">{{ script.name }}</a>
                <div class="script-content">
                    <pre>{{ script.script.data }}</pre>
                </div>
            </td>
            <td class="icon-controls u-align--right">
                <a title="Delete commissioning script {{ script.name }}" class="p-icon--delete" href="{% url 'commissioning-script-delete' script.id %}">Delete</a>
            </td>
        </tr>
    </tbody>
    {% empty %}
    <p>No commissioning scripts.</p>
    {% endfor %}
</table>
<a class="p-button--neutral u-float--right" href="{% url 'commissioning-script-add' %}">Upload script</a>
