{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}

{% block title %}Settings{% endblock %}
{% block page-title %}Settings{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
  <div id="settings" class="block">
    <div id="users">
      <h2>Users and Keys</h2>
      <table class="list">
        <thead>
          <tr>
            <th>ID</th>
            <th>Number of nodes in use</th>
            <th>Last seen</th>
            <th>MAAS Admin</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user_item in user_list %}
          <tr class="user {% cycle 'even' 'odd' %}" id="{{ user_item.username }}">
            <td>
              <a class="user"
                 href="{% url 'accounts-view' user_item.username %}">
                {{ user_item.username }}
              </a>
            </td>
            <td>{{ user_item.node_set.count }}</td>
            <td>{{ user_item.last_login }}</td>
            <td>
              {% if user_item.is_superuser %}
                Yes
              {% endif %}
            </td>
            <td>
              <a href="{% url 'accounts-edit' user_item.username %}"
                 title="Edit user {{ user_item.username }}"
                 class="icon">
                <img src="{{ STATIC_URL }}img/edit.png" 
                     alt="edit"
                     class="space-right-small" />
              </a>
              {% if user != user_item %}
                <a title="Delete user {{ user_item.username }}"
                   class="delete-user icon"
                   href="{% url 'accounts-del' user_item.username %}">
                  <img src="{{ STATIC_URL }}img/delete.png" alt="delete" />
                </a>
                <form method="POST"
                      action="{% url 'accounts-del' user_item.username %}">
                  {% csrf_token %}
                  <input type="hidden" name="username"
                         value="{{ user_item.username }}" />
                </form>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="button right space-top-small" href="{% url 'accounts-add' %}">
        Add user
      </a>
      <div class="clear"></div>
    </div>
    <div id="commissioning" class="block size7 first">
      <h2>Commissioning</h2>
      <form action="{% url "settings" %}" method="post">
        {% csrf_token %}
        <ul>
        {% for field in commissioning_form %}
          {% include "maasserver/form_field.html" %}
        {% endfor %}
        </ul>
        <input type="hidden" name="commissioning_submit" value="1" />
        <input type="submit" class="button right" value="Save" />
      </form>
    </div>
    <div id="ubuntu" class="block size7 first">
      <h2>Ubuntu</h2>
      <form action="{% url "settings" %}" method="post">
        {% csrf_token %}
        <ul>
        {% with field=ubuntu_form.update_from %}
          {% include "maasserver/form_field.html" %}
        {% endwith %}
        <li>
          <label>Custom archives</label>
          <a href="{% url "settings-add-archive" %}">
            <img src="{{ STATIC_URL }}img/inline_add.png" 
                 alt="Add" class="icon" />
            Add archive for newly provisioned machines
          </a>
        </li>
        {% with field=ubuntu_form.fallback_master_archive %}
          {% include "maasserver/form_field.html" %}
        {% endwith %}
        {% with field=ubuntu_form.keep_mirror_list_uptodate %}
          {% include "maasserver/form_field.html" %}
        {% endwith %}
        {% with field=ubuntu_form.fetch_new_releases %}
          {% include "maasserver/form_field.html" %}
        {% endwith %}
        </ul>
        <input type="hidden" name="ubuntu_submit" value="1" />
        <input type="submit" class="button right" value="Save" />
      </form>
    </div>
    <div id="maas_and_network" class="block size7 first">
      <h2>Network Configuration</h2>
      <form action="{% url "settings" %}" method="post">
        {% csrf_token %}
        <ul>
        {% for field in maas_and_network_form %}
          {% include "maasserver/form_field.html" %}
        {% endfor %}
        </ul>
        <input type="hidden" name="maas_and_network_submit" value="1" />
        <input type="submit" class="button right" value="Save" />
      </form>
    </div>
  </div>
{% endblock %}
