<h2>License Keys</h2>
<table>
    <tbody>
        {% for key in license_keys %}
        <tr id="{{ key.osystem }}-{{ key.distro_series }}">
            <td>{{ key.osystem_title }}</td>
            <td>{{ key.distro_series_title }}</td>
            <td class="u-align--right">
                <a href="{% url 'license-key-edit' key.osystem key.distro_series %}" title="Edit license key" class="p-icon--edit">
                    edit
                </a>
                <a href="{% url 'license-key-delete' key.osystem key.distro_series %}" title="Delete license key" class="p-icon--delete">
                    delete
                </a>
            </td>
            {% empty %}
            <p>No license keys.</p>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="p-button--neutral u-float--right" href="{% url 'license-key-add' %}">Add license key</a>
