<h2>License Keys</h2>
<table>
    <tbody>
        {% for key in license_keys %}
        <tr class="script {% cycle 'even' 'odd' %}" id="{{ key.osystem }}-{{ key.distro_series }}">
            <td>{{ key.osystem_title }}</td>
            <td>{{ key.distro_series_title }}</td>
            <td class="icon-controls">
                <a href="{% url 'license-key-edit' key.osystem key.distro_series %}" title="Edit license key" class="icon edit">
                    edit
                </a>
                <a href="{% url 'license-key-delete' key.osystem key.distro_series %}" title="Delete license key" class="icon delete">
                    delete
                </a>
            </td>
            {% empty %}
            No license keys.
        </tr>
        {% endfor %}
    </tbody>
</table>
<a class="link-cta-ubuntu right" href="{% url 'license-key-add' %}">Add license key</a>
