<h2 class="p-heading--four">Test scripts</h2>
<table class="list">
    <tbody>
    {% for script in test_scripts %}
        <tr id="{{ script.name }}">
            <td class="p-script-expander">
                <div class="u-space-between">
                    <div>
                        <a href="#" class="p-script-expander__trigger">{{ script.name }}</a>
                    </div>
                    <div>
                        <a title="Delete test script {{ script.name }}" class="p-icon--delete" href="{% url 'test-script-delete' script.id %}">Delete</a>
                    </div>
                </div>
                <div class="p-script-expander__content u-hide">
                    <pre>{{ script.script.data }}</pre>
                </div>
            </td>
        </tr>
    </tbody>
    {% empty %}
    <p>No test scripts.</p>
    {% endfor %}
</table>
<a class="p-button--neutral u-float--right" href="{% url 'test-script-add' %}">Upload script</a>
