{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}

{% block title %}Settings{% endblock %}
{% block page-title %}Settings{% endblock %}

{% block ng-app %}data-ng-app="MAAS"{% endblock %}

{% block head %}
{% endblock %}

{% block page-header-classes %}u-no-padding--bottom{% endblock %}
{% block page-navigation %}
<nav class="p-tabs">
    <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_users' %}" class="p-tabs__link" role="tab">Users</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_general' %}" class="p-tabs__link" role="tab" aria-selected="true">General</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_scripts' %}" class="p-tabs__link" role="tab">User scripts</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_storage' %}" class="p-tabs__link" role="tab">Storage</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_network' %}" class="p-tabs__link" role="tab">Network services</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/dhcp" class="p-tabs__link" role="tab">DHCP snippets</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/repositories" class="p-tabs__link" role="tab">Package repositories</a>
        </li>
        {% if show_license_keys %}
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_license_keys' %}" class="p-tabs__link" role="tab">License keys</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="settings">
    <div class="p-strip is-bordered">
        <div class="row">
            <div id="maas" class="col-8">
                <h2 class="p-heading--four">MAAS Configuration</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in maas_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="maas_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="commissioning" class="col-8">
                <h2 class="p-heading--four">Commissioning</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in commissioning_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="commissioning_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="deploy" class="col-8">
                <h2 class="p-heading--four">Deploy</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list" data-maas-default-os-select="#id_deploy-default_osystem" data-maas-default-series-select="#id_deploy-default_distro_series">
                        {% for field in deploy_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="deploy_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="global_kernel_opts" class="col-8">
                <h2 class="p-heading--four">Global Kernel Parameters</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% with field=kernelopts_form.kernel_opts %} {% include "maasserver/form_field.html" %} {% endwith %}
                    </ul>
                    <input type="hidden" name="kernelopts_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="windows" class="col-8">
                <h2 class="p-heading--four">Windows</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in windows_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="windows_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="third_party_drivers" class="col-8">
                <h2 class="p-heading--four">Third Party Drivers Configuration</h2>
                <form action="{% url 'settings_general' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in third_party_drivers_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="third_party_drivers_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
