{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Add test script{% endblock %}
{% block page-title %}Add test script{% endblock %}

{% block content %}
<div class="p-strip">
	<div class="row">
		<div class="col-8">
			<form enctype="multipart/form-data" method="post">
				{% csrf_token %}
				<ul class="p-list">
					{% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
				</ul>
					<div class="u-float--right">
							<a class="p-button--base" href="{% url 'settings' %}#test_scripts">Cancel</a>
							<button type="submit" class="p-button--positive ">Upload</button>
					</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
