{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Add commissioning script{% endblock %}
{% block page-title %}Add commissioning script{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post" action="."
        class="block auto-width">
    {% csrf_token %}
    <ul>
    {% for field in form %}
      {% include "maasserver/form_field.html" %}
    {% endfor %}
    </ul>
    <input type="submit" class="right" value="Upload" />
    <a class="link-button"
       href="{% url 'settings' %}#commissioning_scripts">Cancel</a>
  </form>
{% endblock %}
