{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Add commissioning script{% endblock %}
{% block page-title %}Add commissioning script{% endblock %}

{% block content %}
<div class="eight-col">
	<form enctype="multipart/form-data" method="post" action=".">
	    {% csrf_token %}
	    <ul>
	        {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
	    </ul>
	    <input type="submit" class="button--primary button--inline u-float--right" value="Upload" />
	    <a class="button--secondary button--inline" href="{% url 'settings' %}#commissioning_scripts">Cancel</a>
	</form>
</div>
{% endblock %}
