{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}

{% block title %}Settings{% endblock %}
{% block page-title %}Settings{% endblock %}

{% block ng-app %}data-ng-app="MAAS"{% endblock %}

{% block head %}
{% endblock %}

{% block page-header-classes %}u-no-padding--bottom{% endblock %}
{% block page-navigation %}
<nav class="p-tabs">
    <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_users' %}" class="p-tabs__link" role="tab">Users</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_general' %}" class="p-tabs__link" role="tab">General</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_scripts' %}" class="p-tabs__link" role="tab">User scripts</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_storage' %}" class="p-tabs__link" role="tab">Storage</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_network' %}" class="p-tabs__link" role="tab" aria-selected="true">Network services</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/dhcp" class="p-tabs__link" role="tab">DHCP snippets</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/repositories" class="p-tabs__link" role="tab">Package repositories</a>
        </li>
        {% if show_license_keys %}
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_license_keys' %}" class="p-tabs__link" role="tab">License keys</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="settings">
    <div class="p-strip is-bordered">
        <div class="row">
            <div id="proxy" class="col-8">
                <h2 class="p-heading--four">Proxy</h2>
                <span class="u-text--loading" data-ng-if="loading"><i class="p-icon--spinner u-animation--spin"></i> Loading...</span>

                <form action="{% url 'settings_network' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        <maas-proxy-settings data-ng-if="!loading"></maas-proxy-settings>
                    </ul>
                    <input type="hidden" name="proxy_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="dns" class="col-8">
                <h2 class="p-heading--four">DNS</h2>
                <form action="{% url 'settings_network' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in dns_form %}
                            {% include "maasserver/form_field.html" %}
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="dns_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="ntp" class="col-8">
                <h2 class="p-heading--four">NTP</h2>
                <form action="{% url 'settings_network' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in ntp_form %}
                            {% include "maasserver/form_field.html" %}
                        {% endfor %}
                    </ul>
                    <input type="hidden" name="ntp_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="p-strip is-bordered">
        <div class="row">
            <div id="network" class="col-8">
                <h2 class="p-heading--four">Network Discovery</h2>
                <form action="{% url 'settings_network' %}" method="post">
                    {% csrf_token %}
                    <ul class="p-list">
                        {% for field in network_discovery_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                    </ul>
                    <input type="hidden" name="network_discovery_submit" value="1" />
                    <button type="submit" class="p-button--positive u-float--right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
