{% extends "maasserver/base.html" %}

{% block title %}Delete commissioning script{% endblock %}
{% block page-title %}Delete commissioning script{% endblock %}

{% block content %}
<div class="eight-col">
    <h2>Are you sure you want to delete the commissioning script '{{ script_to_delete.name }}'?<br /></h2>
    <p>This action is permanent and can not be undone.</p>
    <form method="post">{% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <input type="submit" value="Delete commissioning script" class="button--primary button--inline u-float--right" />
        <a class="button--secondary button--inline" href="{% url 'settings' %}#commissioning_scripts">Cancel</a>
    </form>
</div>
{% endblock %}
