{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}

{% block title %}Settings{% endblock %}
{% block page-title %}Settings{% endblock %}

{% block ng-app %}data-ng-app="MAAS"{% endblock %}

{% block head %}
{% endblock %}

{% block page-header-classes %}u-no-padding--bottom{% endblock %}
{% block page-navigation %}
<nav class="p-tabs">
    <ul class="p-tabs__list" role="tablist">
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_users' %}" class="p-tabs__link" role="tab" aria-selected="true">Users</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_general' %}" class="p-tabs__link" role="tab">General</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_scripts' %}" class="p-tabs__link" role="tab">User scripts</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_storage' %}" class="p-tabs__link" role="tab">Storage</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_network' %}" class="p-tabs__link" role="tab">Network services</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/dhcp" class="p-tabs__link" role="tab">DHCP snippets</a>
        </li>
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'index' %}#/settings/repositories" class="p-tabs__link" role="tab">Package repositories</a>
        </li>
        {% if show_license_keys %}
        <li class="p-tabs__item" role="presentation">
            <a href="{% url 'settings_license_keys' %}" class="p-tabs__link" role="tab">License keys</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="settings">
    <div class="p-strip is-bordered">
        <div class="row">
            <div id="users" class="col-8">
                <h2 class="p-heading--four">Users</h2>
                {% if external_auth_enabled %}
                <div class="p-notification">
                  <p class="p-notification__response">
                    MAAS is configured with external authentication. Make sure
                    that usernames of created users match the ones on your
                    external authentication source.
                  </p>
                </div>
                {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Number of nodes in use</th>
                            <th>Type</th>
                            <th>Last seen</th>
                            <th>MAAS Admin</th>
                            <th class="u-align--right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_item in user_list %}
                        <tr id="{{ user_item.username }}">
                            <td aria-label="User">
                                <a class="user" href="{% url 'accounts-view' user_item.username %}">{{ user_item.username }}</a>
                            </td>
                            <td aria-label="Number of nodes in use">{{ user_item.node_set.count }}</td>
                            <td aria-label="Type">
                                {% if user_item.userprofile.is_local %} Local {% else %} External {% endif %}
                            </td>
                            <td aria-label="Last seen">{{ user_item.last_login }}</td>
                            <td aria-label="MAAS Admin">
                                {% if user_item.is_superuser %} Yes {% endif %}
                            </td>
                            <td class="u-align--right">
                                <a href="{% url 'accounts-edit' user_item.username %}" title="Edit user {{ user_item.username }}" class="p-button--base is-small">
                                    <i class="p-icon--edit">Edit</i>
                                </a>
                                {% if user != user_item %}
                                <a href="{% url 'accounts-del' user_item.username %}" title="Delete user {{ user_item.username }}" class="p-button--base is-small">
                                    <i class="p-icon--delete">Delete</i>
                                </a>
                                <form method="POST" action="{% url 'accounts-del' user_item.username %}" class="u-off-screen">
                                    {% csrf_token %}
                                    <input type="hidden" name="username" value="{{ user_item.username }}" />
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a class="p-button--neutral u-float--right" href="{% url 'accounts-add' %}">Add user</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}
