{% extends "maasserver/base.html" %}

{% block title %}Delete license key{% endblock %}
{% block page-title %}Delete license key{% endblock %}

{% block content %}
<div class="eight-col">
    <h2 class="p-heading--four">Are you sure you want to delete the license key '{{ license_key_to_delete.osystem }} / {{ license_key_to_delete.distro_series }}'?<br /></h2>
    <p>This action is permanent and can not be undone.</p>
    <form method="post">{% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <div class="u-float--right">
            <a class="button--secondary button--inline" href="{% url 'settings' %}#license_keys">Cancel</a>
            <button type="submit" class="button--destructive button--inline">Delete license key</button>
        </div>
    </form>
</div>
{% endblock %}
