<tr class="cluster {{ cycle }}"
    id="{{ cluster.uuid }}">
  <td>
    {{ cluster.cluster_name }}
    {% if cluster.bootimage_set.count == 0 %}
      <span class="warning">(Warning: this cluster has no boot images.)</span>
    {% endif %}
  </td>
  <td class="icon-controls">
    <a href="{% url 'cluster-edit' cluster.uuid %}"
       class="icon"
       title="Edit cluster {{ cluster.cluster_name }}">
      <img src="{{ STATIC_URL }}img/edit.png"
           alt="edit"
           class="space-right-small" />
    </a>
    <a title="Delete cluster {{ cluster.cluster_name }}"
       href="{% url 'cluster-delete' cluster.uuid %}">
       <img src="{{ STATIC_URL }}img/delete.png" alt="delete" />
    </a>
  </td>
</tr>
