{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Add archive{% endblock %}
{% block page-title %}Add archive{% endblock %}

{% block content %}
<div class="eight-col">
	<form action="." method="post">
	    {% csrf_token %}
	    <ul>
	        {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
	    </ul>
	    <input type="submit" class="cta-ubuntu right" value="Add archive" />
	    <a class="link-cta-ubuntu secondary-alt" href="{% url 'settings' %}">Cancel</a>
	</form>
</div>
{% endblock %}
