<script type="text/x-template" id="add-macaddress">
  <p>
    <label for="id_mac_addresses">Mac address</label>
    <input type="text" maxlength="30" name="mac_addresses"
           id="id_mac_addresses" />
    <div class="field-help">e.g AA:BB:CC:DD:EE:FF</div>
  </p>
</script>
<script type="text/x-template" id="add-node">
  <p>
    <label for="id_hostname">Hostname
      <span class="form-optional">(optional)</span>
    </label>
    <input type="text" maxlength="30" name="hostname" id="id_hostname" />
    <div class="field-help">Default is MAC-based, e.g. "node-aabbccddeeff"
    </div>
  </p>
  <p>
    <label for="id_after_commissioning_action">After commissionning</label>
    <select id="id_after_commissioning_action"
            name="after_commissioning_action">
      <option selected="selected" value="0">Queue for dynamic
        allocation to services</option>
      <option value="1">Check compatibility and hold for future
        decision</option>
      <option value="2">Deploy with Ubuntu 12.04 LTS</option>
      <option value="3">Deploy with Ubuntu 11.10</option>
      <option value="4">Deploy with Ubuntu 11.04</option>
      <option value="5">Deploy with Ubuntu 10.10</option>
    </select>
  </p>
</script>
