<script type="text/x-template" id="add-macaddress">
  <p>
    <label for="id_mac_addresses">Mac address</label>
    <input type="text" maxlength="30" name="mac_addresses"
           id="id_mac_addresses" />
    <div class="field-help">e.g AA:BB:CC:DD:EE:FF</div>
  </p>
</script>
<script type="text/x-template" id="add-architecture">
  <p>
    <label for="id_architecture">Architecture</label>
    {{ node_form.architecture }}
  </p>
</script>
<script type="text/x-template" id="add-node">
  <p>
    <label for="id_hostname">Hostname
      <span class="form-optional">(optional)</span>
    </label>
    {{ node_form.hostname }}
    <div class="field-help">Default is MAC-based, e.g. "node-aabbccddeeff"
    </div>
  </p>
  <p>
    <label for="id_after_commissioning_action">After commissioning</label>
    {{ node_form.after_commissioning_action }}
  </p>
</script>
