{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit User{% endblock %}
{% block page-title %}Edit User{% endblock %}

{% block content %}
<div class="p-strip is-bordered">
    <form method="post">
        <div class="row">
            <div class="col-8">
                <h2 class="p-heading--four">Settings</h2>
                {% csrf_token %}
                <ul class="p-list">
                    {% for field in profile_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                </ul>
                <input type="hidden" name="profile_submit" value="1" />
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="u-align--right">
                    <a href="{% url 'settings' %}" class="p-button--base">Cancel</a>
                    <button type="submit" class="p-button--positive">Save user</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="p-strip">
    <div class="row">
        <div class="col-8" id="password">
            <h2 class="p-heading--four">Change password</h2>
            <form method="post">
                {% csrf_token %}
                <ul class="p-list">
                    {% for field in password_form %} {% include "maasserver/form_field.html" %} {% endfor %}
                </ul>
                <input type="hidden" name="password_submit" value="1" />
                <div class="u-float--right">
                    <a href="{% url 'settings' %}"class="p-button--base">Cancel</a>
                    <button type="submit" class="p-button--positive">Save password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
