{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Delete user: {{ user_to_delete.user.username }}{% endblock %}
{% block page-title %}Delete user: {{ user_to_delete.user.username }}{% endblock %}

{% block content %}
<div class="p-strip">
    <div class="row">
        <div class="col-8">
            <h2 class="p-heading--four">Are you sure you want to delete the user "{{ user_to_delete.user.username }}"?</h2>
            <p>This action is permanent and can not be undone.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="u-align--right">
                <form method="post">{% csrf_token %}
                    <input type="hidden" name="post" value="yes" />
                    <a class="p-button--neutral" href="{% url 'settings' %}">Cancel</a>
                    <button type="submit" class="p-button--negative">Delete user</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
