{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Delete user: {{ user_to_delete.user.username }}{% endblock %}
{% block page-title %}Delete user: {{ user_to_delete.user.username }}{% endblock %}

{% block content %}
<div class="eight-col">
    <h2>Are you sure you want to delete the user "{{ user_to_delete.user.username }}"?</h2>
    <p>This action is permanent and can not be undone.</p>
    <form action="." method="post">{% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <input type="submit" value="Delete user" class="cta-ubuntu right" />
        <a class="link-cta-ubuntu secondary" href="{% url 'settings' %}">Cancel</a>
    </form>
</div>
{% endblock %}
