{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}View user{% endblock %}
{% block page-title %}View user: {{ view_user.username }}{% endblock %}
{% block page-header-classes %}u-no-padding--bottom{% endblock %}

{% block content %}
<div class="p-strip">
    <form class="p-form p-form--stacked">
        <div class="row">
            <div class="col-6">
                <div class="p-form__group row">
                    <p class="p-form__label col-2">Username</p>
                    <div class="p-form__control col-4">
                        <p>{{ view_user.username }}</p>
                    </div>
                </div>
                <div class="p-form__group row">
                    <p class="p-form__label col-2">Full name</p>
                    <div class="p-form__control col-4">
                        <p>{{ view_user.last_name }}</p>
                    </div>
                </div>
                <div class="p-form__group row">
                    <p class="p-form__label col-2">Email address</p>
                    <div class="p-form__control col-4">
                        <p>{{ view_user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-form__group row">
                    <p class="p-form__label col-2">MAAS Keys</p>
                    <div class="p-form__control col-4">
                        <p>{{ user.userprofile.get_authorisation_tokens.count }}
                        key{{ user.userprofile.get_authorisation_tokens.count|pluralize }}</p>
                    </div>
                </div>
                <div class="p-form__group row">
                    <p class="p-form__label col-2">MAAS Administrator</p>
                    <div class="p-form__control col-4">
                        <p>{{ view_user.is_superuser }}</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row u-align--right">
            <a
                class="p-button--neutral"
                href="{% if user == view_user %}{% url 'prefs' %}
                    {% else %}{% url 'accounts-edit' view_user.username %}
                    {% endif %}"
            >
                Edit user
            </a>
            <a href="{% url 'accounts-del' view_user.username %}" class="p-button--negative">Delete user</a>
        </div>
    </form>
{% endblock %}
