{% extends "maasserver/base.html" %}

{% block nav-active-zone-list %}active{% endblock %}
{% block title %}Physical zones{% endblock %}
{% block page-title %}{{ paginator.count }}{% if input_query %} matching{% endif %} zone{{ paginator.count|pluralize }} in {% include "maasserver/site_title.html" %}{% endblock %}

{% block content %}
<div id="zones">
    <h2>Physical zones</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Nodes</th>
                <th>Devices</th>
                {% if user.is_superuser %}
                <th></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for zone_item in zone_list %}
            <tr class="zone {% cycle 'even' 'odd' %}" id="{{ zone_item.name }}">
                <td>
                    <a class="zone" href="{% url 'zone-view' zone_item.name %}">{{ zone_item.name }}</a>
                </td>
                <td>{{ zone_item.description|truncatechars:40 }}</td>
                <td>
                    <a title="View nodes in zone {{ zone_item.name }}" href="{% url 'index' %}#/nodes?query=zone%3A%28{{ zone_item.name }}%29">{{ zone_item.node_only_set.count }}</a>
                </td>
                <td><a title="View devices in zone {{ zone_item.name }}" href="{% url 'index' %}#/nodes?query=zone%3A%28{{ zone_item.name }}%29&tab=devices">{{ zone_item.device_only_set.count }}</a></td>
                {% if user.is_superuser %}
                <td class="icon-controls">
                    {% if not zone_item.is_default %}
                    <a href="{% url 'zone-edit' zone_item.name %}" title="Edit zone {{ zone_item.name }}" class="icon edit">edit</a>
                    <a title="Delete zone {{ zone_item.name }}" class="icon delete" href="{% url 'zone-del' zone_item.name %}">delete</a>
                    <form method="POST" action="{% url 'zone-del' zone_item.name %}">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ zone_item.name }}" />
                    </form>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "maasserver/pagination.html" %}
    {% if user.is_superuser %}
    <a class="link-cta-ubuntu right" href="{% url 'zone-add' %}">Add zone</a>
    {% endif %}
</div>
{% endblock %}
