{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit Physical zone{% endblock %}
{% block page-title %}Edit Physical zone{% endblock %}

{% block content %}
<div class="eight-col">
    <form method="post" class="block">
        {% csrf_token %}
        <ul>
            {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
        </ul>
        <input type="submit" value="Save zone" class="button--primary button--inline u-float--right" />
        <a class="button--secondary button--inline" href="{% url 'zone-list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
