{% extends "maasserver/base.html" %}

{% block nav-active-zone-list %}active{% endblock %}
{% block title %}Physical zone {{ zone.name }}{% endblock %}
{% block page-title %}
Physical zone: {{ zone.name }}
{% endblock %}
{% block layout-modifiers %}sidebar{% endblock %}
{% block html_includes %}{% include "maasserver/snippets.html" %}
{% endblock %}

{% block content %}
<div class="eight-col append-one">
    <ul>
        <li class="two-col">
            <h4>Name</h4>
            <span>{{ zone.name }}</span>
        </li>
        <li class="two-col">
            <h4>Nodes</h4>
            <span id="#nodecount">
                <a title="View nodes in zone {{ zone.name }}" href="{{ node_list_link }}">{{ zone.node_set.count }}</a>
            </span>
        </li>
        {% if zone.is_default %}
        <li class="four-col last-col">
            <h4>Default</h4>
            <span id="#default">This zone is the default zone. Its name cannot be changed and it cannot be deleted.</span>
        </li>
        {% endif %}
        <li class="eight-col">
            {% if zone.description %}
            <h4>Description</h4>
            <pre>{{ zone.description }}</pre>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}

{% block sidebar %}
<div class="three-col last-col">
    <h4>Actions</h4>
    <ul class="no-bullets">
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'zone-edit' zone.name %}" class="link-cta-ubuntu full">Edit zone</a>
    </li>
    {% if not zone.is_default %}
    <li>
        <a href="{% url 'zone-del' zone.name %}" class="link-cta-ubuntu secondary-alt full">Delete zone</a>
    </li>
    {% endif %}
    {% endif %}
    </ul>
</div>
{% endblock %}
