{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit Physical zone{% endblock %}
{% block page-title %}Edit Physical zone{% endblock %}

{% block content %}
<div class="eight-col">
    <form method="post" class="block">
        {% csrf_token %}
        <ul>
            {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
        </ul>
        <div class="u-float--right">
            <a class="button--base button--inline" href="{% url 'zone-list' %}">Cancel</a>
            <button type="submit" class="button--positive button--inline">Save zone</button>
        </div>
    </form>
</div>
{% endblock %}
