{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Delete zone{% endblock %}
{% block page-title %}Delete zone{% endblock %}

{% block content %}
<div class="eight-col">
    <h2 class="p-heading--four">Are you sure you want to delete zone "{{ zone_to_delete }}"?</h2>
</div>
<div class="eight-col">
    <p>If any nodes are still in this zone, deleting the zone will take them out of the zone, but not otherwise affect them.</p>
    <p>This action is permanent and can not be undone.</p>
</div>
<div class="eight-col">
    <form method="post">{% csrf_token %}
        <input type="hidden" name="post" value="yes" />
        <div class="u-float--right">
            <button class="button--base button--inline" href="{% url 'zone-view' zone_to_delete.name %}">Cancel</button>
            <button type="submit" class="button--destructive button--inline">Delete zone</button>
        </div>
    </form>
</div>
{% endblock %}
