{% extends "maasserver/base.html" %}

{% block nav-active-zone-list %}active{% endblock %}
{% block title %}Add physical zone{% endblock %}
{% block page-title %}Add physical zone{% endblock %}

{% block content %}
<div class="eight-col">
	<form action="." method="post">
	    {% csrf_token %}
	    <ul>
	        {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
	    </ul>
	    <input type="submit" value="+ Add zone" class="cta-ubuntu right" />
	    <a class="link-cta-ubuntu secondary" href="{% url 'zone-list' %}">Cancel</a>
	</form>
</div>
{% endblock %}
