{% extends "maasserver/base.html" %}

{% block nav-active-settings %}active{% endblock %}
{% block title %}Edit Physical zone{% endblock %}
{% block page-title %}Edit Physical zone{% endblock %}

{% block content %}
<div class="eight-col">
    <form action="." method="post" class="block">
        {% csrf_token %}
        <ul>
            {% for field in form %} {% include "maasserver/form_field.html" %} {% endfor %}
        </ul>
        <input type="submit" value="Save zone" class="cta-ubuntu right" />
        <a class="link-cta-ubuntu secondary-alt" href="{% url 'zone-list' %}">Cancel</a>
    </form>
</div>
{% endblock %}
