{{if upstream_dns}}
forwarders {
{{for upstream_dns_address in upstream_dns}}
    {{upstream_dns_address}};
{{endfor}}
};
{{endif}}

dnssec-validation {{dnssec_validation}};

allow-query { any; };
allow-recursion { trusted; };
allow-query-cache { trusted; };
