#!ipxe
kernel {{kernel_params | fs_host}}{{kernel_params | kernel_path}}
imgargs {{kernel_params | kernel_name}} {{kernel_params | kernel_command}} maas_url={{kernel_params.preseed_url }} BOOTIF=01-${mac}
initrd {{kernel_params | fs_host}}{{kernel_params | initrd_path}}
boot
