<div class="row">
    <div class="col-10">
        <h2 data-ng-if="!isController" class="p-heading--four">{$ node.node_type_display $} configuration</h2>
        <h2 data-ng-if="isController" class="p-heading--four">Controller configuration</h2>
    </div>
    <div class="col-2">
        <button class="p-button--neutral u-float--right"
            data-ng-if="canEdit()"
            data-ng-click="editSummary()">Edit</button>
    </div>
</div>
<form class="p-form p-form--stacked">
    <div class="row">
        <div class="col-6">
            <div class="p-form__group" data-ng-if="!isDevice && !isController"
                data-ng-class="{ 'is-error': invalidArchitecture() }">
                <label for="architecture" class="p-form__label">Architecture</label>
                <div class="p-form__control">
                    <select name="architecture" id="architecture" class="p-form-validation__input"
                        data-ng-disabled="!summary.editing"
                        data-ng-model="summary.architecture.selected"
                        data-ng-options="arch for arch in summary.architecture.options">
                        <option value="" disabled="disabled">{$ getArchitecturePlaceholder() $}</option>
                    </select>
                </div>
            </div>
            <div class="p-form__group" data-ng-if="!isDevice && !isController">
                <label for="min_hwe_kernel" class="p-form__label">Minimum Kernel</label>
                <div class="p-form__control">
                    <select name="min_hwe_kernel" id="min_hwe_kernel"
                        data-ng-disabled="!summary.editing"
                        data-ng-model="summary.min_hwe_kernel.selected"
                        data-ng-options="hwe_kernel[0] as hwe_kernel[1] for hwe_kernel in summary.min_hwe_kernel.options">
                        <option value="">No minimum kernel</option>
                    </select>
                </div>
            </div>
            <div class="p-form__group">
                <label for="zone" class="p-form__label">Zone</label>
                <div class="p-form__control">
                    <select name="zone" id="zone"
                        data-ng-disabled="!summary.editing"
                        data-ng-model="summary.zone.selected"
                        data-ng-options="zone as zone.name for zone in summary.zone.options">
                        <option value="" disabled="disabled">Choose a zone</option>
                    </select>
                </div>
            </div>
            <div class="p-form__group" data-ng-if="!isDevice && !isController">
                <label for="pool" class="p-form__label">Resource pool</label>
                <div class="p-form__control">
                    <select name="pool" id="pool"
                        data-ng-disabled="!summary.editing"
                        data-ng-model="summary.pool.selected"
                        data-ng-options="pool as pool.name for pool in summary.pool.options">
                        <option value="" disabled="disabled">Choose a resource pool</option>
                    </select>
                </div>
            </div>
            <div class="p-form__group">
                <label class="p-form__label">Tags</label>
                <div class="p-form__control tags--inline">
                    <span data-ng-repeat="tag in node.tags" data-ng-hide="summary.editing">
                        <a href="#/machines/?query=tags:({$ tag $})">{$ tag $}</a>
                    </span>
                    <tags-input data-ng-model="summary.tags"
                        data-ng-show="summary.editing" allowed-tags-pattern="[\w-]+">
                        <auto-complete source="tagsAutocomplete($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 u-align--right" data-ng-if="summary.editing">
            <button class="p-button--base"
                data-ng-click="cancelEditSummary()">Cancel</button>
            <button class="p-button--positive"
                data-ng-class="{ secondary: invalidArchitecture() }"
                data-ng-click="saveEditSummary()">Save changes</button>
        </div>
    </div>
</form>
<div class="row" data-ng-if="!isDevice">
    <div class="col-10">
        <h2 class="p-heading--four">Power configuration</h2>
    </div>
    <div class="col-2">
        <button class="p-button--neutral u-float--right"
            data-ng-show="canEdit() && power_types.length"
            data-ng-click="editPower()"
            data-ng-if="!power.editing">Edit</button>
    </div>
</div>
<div class="row">
    <div class="col-12" data-ng-if="!isDevice">
        <div class="p-notification--negative" data-ng-if="!isRackControllerConnected()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> Editing is currently
                disabled because no rack controller is currently
                connected to the region.</p>
        </div>
        <div class="p-notification--negative"
            data-ng-if="isRackControllerConnected() && node.power_type == '' && !isController">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> This node does not
                have a power type set and MAAS will be unable to
                control it. Update the power information below.</p>
        </div>
        <div class="p-notification--warning"
            data-ng-if="isRackControllerConnected() && node.power_type == '' && isController">
            <p class="p-notification__response">
                <span class="p-notification__status">Warning:</span> This node does not
                have a power type set and MAAS will be unable to
                control it. Update the power information below.</p>
        </div>
        <div class="p-notification--negative" data-ng-if="hasPowerError()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> Power control
                software for this power type is missing from the rack
                controller.  To proceed, install the
                {$ getPowerErrors() $} on the rack controller.</p>
        </div>
        <div class="p-notification--negative" data-ng-if="hasPowerEventError()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> {$ getPowerEventErrorText() $}</p>
        </div>
        <div class="p-notification" data-ng-if="power.type.name == 'manual'">
            <p class="p-notification__response">Power control for
                this power type will need to be handled manually.</p>
        </div>
        <div class="p-notification" data-ng-if="power.editing && node.power_bmc_node_count > 1">
            <p class="p-notification__response">This power controller
                manages {$ node.power_bmc_node_count - 1 $} other
                {$ node.power_bmc_node_count > 3 ? "nodes" : "node" $}.
                Changing power parameters will affect these nodes.</p>
        </div>
    </div>
</div>
<form class="p-form p-form--stacked" class="disabled" data-ng-if="!isDevice">
    <div class="row">
        <div class="col-6 ng-hide"
            data-ng-show="power_types.length"
            data-ng-disabled="!power.editing"
            data-maas-power-parameters="power_types"
            data-ng-model="power">
        </div>
    </div>
    <div class="row">
        <div class="col-12 u-align--right ng-hide" data-ng-show="power.editing">
            <button class="p-button--base" type="button"
                data-ng-click="cancelEditPower()">Cancel</button>
            <button class="p-button--positive"
                data-ng-class="{ secondary: invalidPowerType() }"
                data-ng-click="saveEditPower()">Save changes</button>
        </div>
    </div>
</form>
