<!-- Notifications -->
<section class="p-strip u-no-padding--bottom">
    <div class="row">
        <div class="p-notification--negative" data-ng-if="node.power_state === 'error'">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> {$ getEventText(node.events[0]) $}. <a href="/#/machine/{$ node.system_id $}?area=events">See all events</a>.
            </p>
        </div>
        <div data-ng-if="canEdit()">
            <div class="p-notification--negative"
                data-ng-if="!isController && !isDevice && !isRackControllerConnected()">
                <p class="p-notification__response">
                    <span class="p-notification__status">Error:</span> Editing is currently disabled because no rack controller is currently connected to the region.
                </p>
            </div>
            <div class="p-notification--negative"
                data-ng-if="!isController && !isDevice && hasInvalidArchitecture() && isRackControllerConnected() && hasUsableArchitectures()">
                <p class="p-notification__response">
                    <span class="p-notification__status">Error:</span> This machine currently has an invalid architecture. Update the architecture of this machine to make it deployable.
                </p>
            </div>
            <div class="p-notification--negative"
                data-ng-if="!isController && !isDevice && hasInvalidArchitecture() && isRackControllerConnected() && !hasUsableArchitectures()">
                <p class="p-notification__response">
                    <span class="p-notification__status">Error:</span> No boot images have been imported for a valid architecture to be selected. Visit the <a href="/#/images">images page</a> to start the import process.
                </p>
            </div>
        </div>
        <div class="p-notification" data-ng-if="!isDevice && !(isController && node.status === 'New') && node.cpu_count == 0">
            <p class="p-notification__response">
                Commission the machine to get CPU, Memory and Storage information.
            </p>
        </div>
    </div>
</section>

<section class="p-strip is-shallow">

    <!-- Machine overview -->
    <div ng-if="node.node_type === 0">
        <div class="l-grid__machine-summary-cards">
            <div class="overview-card" maas-card-loader="machine-overview"></div>
            <div class="system-card" maas-card-loader="system"></div>
            <div class="numa-card" maas-card-loader="numa"></div>
            <div class="network-card" maas-card-loader="network"></div>
        </div>
    </div>

    <!-- Device overview -->
    <div ng-if="node.node_type === 1">
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="device"></div>
            </div>
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="tags"></div>
            </div>
        </div>
    </div>

    <!-- Region controller overview -->
    <div ng-if="node.node_type === 3">
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="services"></div>
            </div>
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="controller"></div>
            </div>
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="hardware_info"></div>
            </div>
        </div>
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.cpu_test_status.status === 3 }">
                <div maas-card-loader="cpu"></div>
            </div>
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.memory_test_status.status === 3 }">
                <div maas-card-loader="memory"></div>
            </div>
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.storage_test_status.status === 3 }">
                <div maas-card-loader="storage"></div>
            </div>
        </div>
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="tags"></div>
            </div>
        </div>
    </div>

    <!-- Rack / region and rack controller overview-->
    <div ng-if="node.node_type == 2 || node.node_type == 4">
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted">
                <div maas-card-loader="services"></div>
            </div>
            <div class="col-8">
                <div class="row u-equal-height">
                    <div class="col-4 p-card--highlighted">
                        <div maas-card-loader="images"></div>
                    </div>
                    <div class="col-4 p-card--highlighted">
                        <div maas-card-loader="controller"></div>
                    </div>
                </div>
                <div class="row u-equal-height">
                    <div class="col-4 p-card--highlighted">
                        <div maas-card-loader="hardware_info"></div>
                    </div>
                    <div class="col-4 p-card--highlighted">
                        <div maas-card-loader="tags"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row u-equal-height">
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.cpu_test_status.status === 3 }">
                <div maas-card-loader="cpu"></div>
            </div>
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.memory_test_status.status === 3 }">
                <div maas-card-loader="memory"></div>
            </div>
            <div class="col-4 p-card--highlighted" ng-class="{ 'is-error': node.storage_test_status.status === 3 }">
                <div maas-card-loader="storage"></div>
            </div>
        </div>
    </div>
</section>
