<div class="row" data-ng-show="node.node_type == 3 || node.node_type == 4">
    <div class="col-12">
        <h3 class="p-heading--four">Region Controller</h3>
        <ul class="p-list-tree" aria-multiselectable="true" role="tablist">
            <li class="p-list-tree__item">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.regiond) $}"></span>
                    &nbsp;regiond
                    <span data-ng-if="services.regiond.status_info"> &mdash; {$ services.regiond.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.bind9) $}"></span>
                    &nbsp;bind9
                    <span data-ng-if="services.bind9.status_info"> &mdash; {$ services.bind9.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.proxy) $}"></span>
                    &nbsp;proxy
                    <span data-ng-if="services.proxy.status_info"> &mdash; {$ services.proxy.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item" data-ng-if="services.ntp_region">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.ntp_region) $}"></span>
                    &nbsp;ntp
                    <span data-ng-if="services.ntp_region.status_info"> &mdash; {$ services.ntp_region.status_info $}</span>
                </span>
            </li>
        </ul>
    </div>
</div>
<div class="row" data-ng-show="node.node_type == 2 || node.node_type == 4">
    <div class="col-12">
        <h3 class="p-heading--four">Rack Controller</h3>
        <ul class="p-list-tree" aria-multiselectable="true" role="tablist">
            <li class="p-list-tree__item p-list-tree__item--group">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.rackd) $}"></span>
                    &nbsp;rackd
                    <span data-ng-if="services.rackd.status_info"> &mdash; {$ services.rackd.status_info $}</span>
                </span>
                <ul class="p-list-tree" role="tabpanel" aria-hidden="true">
                    <li class="p-list-tree__item">
                        <span>
                            <span class="p-icon--{$ getServiceClass(services.http) $}"></span>
                            &nbsp;http
                            <span data-ng-if="services.http.status_info"> &mdash; {$ services.http.status_info $}</span>
                        </span>
                    </li>
                    <li class="p-list-tree__item">
                        <span>
                            <span class="p-icon--{$ getServiceClass(services.tftp) $}"></span>
                            &nbsp;tftp
                            <span data-ng-if="services.tftp.status_info"> &mdash; {$ services.tftp.status_info $}</span>
                        </span>
                    </li>
                </ul>
            </li>
            <li class="p-list-tree__item">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.dhcpd) $}"></span>
                    &nbsp;dhcpd
                    <span data-ng-if="services.dhcpd.status_info"> &mdash; {$ services.dhcpd.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.dhcpd6) $}"></span>
                    &nbsp;dhcpd6
                    <span data-ng-if="services.dhcpd6.status_info"> &mdash; {$ services.dhcpd6.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item" data-ng-if="services.dns_rack">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.dns_rack) $}"></span>
                    &nbsp;dns
                    <span data-ng-if="services.dns_rack.status_info"> &mdash; {$ services.dns_rack.status_info $}</span>
                </span>
            </li>
            <li class="p-list-tree__item" data-ng-if="services.ntp_rack">
                <span>
                    <span class="p-icon--{$ getServiceClass(services.ntp_rack) $}"></span>
                    &nbsp;ntp
                    <span data-ng-if="services.ntp_rack.status_info"> &mdash; {$ services.ntp_rack.status_info $}</span>
                </span>
            </li>
        </ul>
    </div>
</div>
