<div class="row">
    <div data-ng-if="isSuperUser()">
        <div class="p-notification--negative"
            data-ng-if="!isController && !isDevice && !isRackControllerConnected()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> Editing is currently disabled because no rack controller is currently connected to the region.
            </p>
        </div>
        <div class="p-notification--negative"
            data-ng-if="!isController && !isDevice && hasInvalidArchitecture() && isRackControllerConnected() && hasUsableArchitectures()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> This machine currently has an invalid architecture. Update the architecture of this machine to make it deployable.
            </p>
        </div>
        <div class="p-notification--negative"
            data-ng-if="!isController && !isDevice && hasInvalidArchitecture() && isRackControllerConnected() && !hasUsableArchitectures()">
            <p class="p-notification__response">
                <span class="p-notification__status">Error:</span> No boot images have been imported for a valid architecture to be selected. Visit the <a href="images">images page</a> to start the import process.
            </p>
        </div>
    </div>
    <div class="p-notification" data-ng-if="!isDevice && !(isController && node.status === 'New') && node.cpu_count == 0">
        <p class="p-notification__response">
            Commission the machine to get CPU, Memory and Storage information.
        </p>
    </div>
    <div class="p-notification--caution" data-ng-if="showFailedTestWarning()">
        <p class="p-notification__response">
            <span class="p-notification__status">Warning:</span> Machine has failed tests; use with caution!
        </p>
    </div>
</div>
<div class="p-strip is-shallow">
    <div class="row u-equal-height" data-ng-if="isDevice">
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
            <div maas-card-loader="device"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
            <div maas-card-loader="tags"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="node.node_type == 3">
        <div class="col-4 p-card--highlighted action-card u-border--solid">
            <div maas-card-loader="services"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
            <div maas-card-loader="controller"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
            <div maas-card-loader="hardware_info"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="node.node_type == 3">
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-class="{ 'is-error': node.cpu_test_status === 3 }">
            <div maas-card-loader="cpu"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-class="{ 'is-error': node.memory_test_status === 3 }">
            <div maas-card-loader="memory"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-class="{ 'is-error': node.storage_test_status === 3 }">
            <div maas-card-loader="storage"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="node.node_type == 3">
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
            <div maas-card-loader="tags"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="node.node_type == 2 || node.node_type == 4">
        <div class="col-4 p-card--highlighted action-card u-border--solid">
            <div maas-card-loader="services"></div>
        </div>
        <div class="col-8">
            <div class="row u-equal-height">
                <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
                    <div maas-card-loader="images"></div>
                </div>
                <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
                    <div maas-card-loader="controller"></div>
                </div>
            </div>
            <div class="row u-equal-height">
                <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
                    <div maas-card-loader="hardware_info"></div>
                </div>
                <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid">
                    <div maas-card-loader="tags"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="node.node_type == 2 || node.node_type == 4">
        <div class="col-4 p-card--highlighted action-card u-border--solid" data-ng-class="{ 'is-error': node.cpu_test_status === 3 }">
            <div maas-card-loader="cpu"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-class="{ 'is-error': node.memory_test_status === 3 }">
            <div maas-card-loader="memory"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-class="{ 'is-error': node.storage_test_status === 3 }">
            <div maas-card-loader="storage"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="!isDevice && !isController">
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="!isController" data-ng-class="{ 'is-error': node.cpu_test_status === 3 }">
            <div maas-card-loader="cpu"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="!isController" data-ng-class="{ 'is-error': node.memory_test_status === 3 }">
            <div maas-card-loader="memory"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="node.node_type != 3" data-ng-class="{ 'is-error': node.storage_test_status === 3 }">
            <div maas-card-loader="storage"></div>
        </div>
    </div>
    <div class="row u-equal-height" data-ng-if="!isDevice && !isController">
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="!isController">
            <div maas-card-loader="machine"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="!isController">
            <div maas-card-loader="hardware_info"></div>
        </div>
        <div class="col-4 p-card--highlighted action-card action-card--positionable u-border--solid" data-ng-if="!isController">
            <div maas-card-loader="tags"></div>
        </div>
    </div>
</div>
