<div class="row" data-ng-if="!loaded">
    <div class="col-12">
        <p class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i>&nbsp;&nbsp;Loading...</p>
    </div>
</div>
<div class="row">
    <form data-ng-if="loaded">
        <table class="p-table-expanding">
            <thead>
                <tr>
                    <th class="col-2" title="Fabric">Fabric</th>
                    <th class="col-2" title="VLAN">VLAN</th>
                    <th class="col-1" title="DHCP">DHCP</th>
                    <th class="col-3" title="Subnets">Subnets</th>
                    <th class="col-2" title="Primary rack">Primary rack</th>
                    <th class="col-2" title="Secondary rack">Secondary rack</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table__row" data-ng-repeat="vlanRow in vlanTable">
                    <td class="col-2" title="{$ vlanRow['fabric'].name $}">
                        <a href="#/fabric/{$ vlanRow['fabric'].id $}">{$ vlanRow['fabric'].name $}</a>
                    </td>
                    <td class="col-2" title="{$ vlanRow['fabric'].name $}">
                        <a href="#/vlan/{$ vlanRow['vlan'].id $}">{$ getVLANText(vlanRow['vlan']) $}</a>
                    </td>
                    <td class="col-1">
                        <span data-ng-if="vlanRow.vlan.dhcp_on === true || vlanRow.vlan.relay_vlan !== null || vlanRow.vlan.external_dhcp === true">Enabled</span>
                        <span data-ng-if="vlanRow.vlan.dhcp_on !== true && vlanRow.vlan.relay_vlan === null">Disabled</span>
                    </td>
                    <td class="col-3">
                        <div class="u-no-margin--top" data-ng-repeat="subnet in vlanRow['subnets']">
                          <a href="#/subnet/{$ subnet.id $}" title="{$ getSubnetText(subnet) $}">{$ getSubnetText(subnet) $}</a>
                        </div>
                    </td>
                    <td class="col-2">
                        <a href="#/controller/{$ vlanRow['primary_rack'].system_id $}" title="{$ vlanRow['primary_rack'].fqdn $}">{$ vlanRow['primary_rack'].fqdn $}</a>
                    </td>
                    <td class="col-2">
                        <a href="#/controller/{$ vlanRow['secondary_rack'].system_id $}" title="{$ vlanRow['secondary_rack'].fqdn $}">{$ vlanRow['secondary_rack'].fqdn $}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
