.tag-list {
    list-style: none;
    margin: 0;
}

.tag-list--item {
    display: inline-block;
    text-transform: lowercase;

    a:link,
    a:visited {
        color: #333;
    }
    a:after {
        content: ',';
    }
    &:last-child a:after {
        content: '';
    }
}
