@charset "UTF-8";

/**
 * MAAS button styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

a.link-cta-ubuntu,
button.cta-ubuntu,
input[type="submit"],
form button[type="submit"],
form input[type="submit"] {
    font-size: 1em;

    &.disabled {
        cursor: default;
        opacity: 0.5;

        &:hover {
            background-color: $ubuntu-orange;
        }
    }

    &.secondary {
        background: #EEE;
        color: #333;
        border: 1px solid #B2B2B2;

        &:hover {
            background: #FFF;
        }

        &.disabled {
        cursor: default;
        opacity: 0.5;

            &:hover {
                background-color: #EEE;
            }
        }
    }

    &.full {
        display: block;
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

a.link-cta-ubuntu {
    line-height: 20px;
}
