@charset 'UTF-8';

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS button styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. VARIABLES & PLACEHOLDERS
    2. BUTTON                       -- Form and link cta button styles
    3. BUTTON GROUP                 -- Button group styles

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. VARIABLES & PLACEHOLDERS ---------------------------------------
--------------------------------------------------------------------*/

/**
 * General call to action styling and hover state placehlder.
 */
%cta-link {
    @include box-sizing();
    @include rounded-corners(3px 0px 0px 3px);
    display: inline-block;
    padding: 10px 14px;
    text-align: center;
    color: $white;
    background-color: $ubuntu-orange;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: darken($ubuntu-orange, 6.2%);
    }
}

%secondary-cta {
    color: $ubuntu-orange;
    border: 1px solid #b2b2b2;
    background-color: #FFF;
    line-height: 1;

    &:hover {
        cursor: pointer;
        background-color: #F2F2F2;
    }
}

/* 2. BUTTON ---------------------------------------------------------
--------------------------------------------------------------------*/

a.link-cta-ubuntu,
button.cta-ubuntu,
input[type='submit'],
form button[type='submit'],
form input[type='submit'] {
    font-size: 1em;
    border: none;
    max-height: 37px;

    &[disabled],
    &.disabled {
        cursor: default;
        opacity: .5;
    }

    &.clear {
        background: none;
        color: #333;
    }

    &.secondary {
        color: $ubuntu-orange;
        border: 1px solid #b2b2b2;
        background: #FFF;

        &.external {
            background-image: url('../img/external-link-black.svg');
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: top 8px right 8px;
        }

        &:hover {
            background-color: #F2F2F2;
            cursor: pointer;
        }

        &[disabled],
        &.disabled {
            cursor: default;
            color: lighten($ubuntu-orange, 30%);
            border: 1px solid #ddd;
            background: #FFF;
            opacity: 1;

            &:hover {
                background: #FFF;
            }
        }
    }

    &.text-button {
        background-color: transparent;
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }

    &.full {
        display: block;

        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

a.link-cta-ubuntu {
    line-height: 20px;
}

/* 3. BUTTON GROUP ---------------------------------------------------
--------------------------------------------------------------------*/

/**
 * Button group to trigger a dropdown and to change any active
 * button state to a different option where required.
 */
.cta-group {
    float: left;
    width: auto;
    clear: both;
    position: relative;
    overflow: hidden;

    /**
     * cta link style and dropdown toggle
     */
    .cta-group__link {
        @extend %cta-link;
        @include rounded-corners(3px);
        max-height: 36px;
        padding-right: 49px;
        width: 100%;
        line-height: 1.2;
        position: relative;
        margin: 0;
        text-align: left;

        &:after {
            @include rounded-corners(0px 3px 3px 0px);
            content: '';
            display: block;
            height: 36px;
            width: 34px;
            background: red;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url('../img/chevron-white.svg');
            background-color: $ubuntu-orange;
            background-repeat: no-repeat;
            background-position: center;
        }

        &:hover {
            background-color: $ubuntu-orange;

            &:after {
                background-color: darken($ubuntu-orange, 6.2%);
            }
        }
    }

    /**
     * cta group dropdown styles
     */
    .cta-group__dropdown {
        @include box-sizing();
        @include rounded-corners(3px);
        right: 0;
        list-style: none;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        z-index: 20;
        max-height: 1000px;
        transition: max-height 0.3s ease-in;
        overflow: hidden;
        position: relative;
        clear: both;

        &.ng-hide {
            display: block !important;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
        }

        .cta-group__item {
            @include box-sizing();
            float: left;
            clear: both;
            padding: 5px 10px;
            margin: 0;

            a {
                color: #333;
                cursor: pointer;
                width: 100%;
                float: left;
                margin: 0;

                &:hover {
                    color: $ubuntu-orange;
                    text-decoration: none;
                }
            }
        }
    }

    /**
     * cta group secondary style
     */
    &.secondary  {

        .cta-group__link {
            @extend %secondary-cta;
            float: left;
            max-height: 36px;
            width: 100%;

            &:after {
                @include box-sizing();
                background-image: url('../img/icons/accordion-open.svg');
                background-repeat: no-repeat;
                background-color: #fff;
                border: 1px solid #b2b2b2;
                border-left: none;
                top: -1px;
                right: -1px;
            }

            &:hover {
                background-color: #FFF;

                &:after {
                    background-color: #F2F2F2;
                }
            }
        }
    }
}
