@charset 'UTF-8';

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS button styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. VARIABLES & PLACEHOLDERS
    2. BUTTON                       -- Form and link cta button styles
    3. BUTTON GROUP                 -- Button group styles

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. VARIABLES & PLACEHOLDERS ---------------------------------------
--------------------------------------------------------------------*/

/**
 * General call to action styling and hover state placehlder.
 */
%cta-link {
    @include box-sizing();
    @include rounded-corners(3px 0px 0px 3px);
    display: inline-block;
    padding: 10px 14px;
    text-align: center;
    color: $white;
    background-color: $ubuntu-orange;

    &:hover {
        cursor: pointer;
        text-decoration: none;
        background-color: darken($ubuntu-orange, 6.2%);
    }
}

%secondary-cta {
    color: #333;
    border: 1px solid #b2b2b2;
    background-color: #eee;

    &:hover {
        background-color: #fff;
    }
}

/* 2. BUTTON ---------------------------------------------------------
--------------------------------------------------------------------*/

a.link-cta-ubuntu,
button.cta-ubuntu,
input[type='submit'],
form button[type='submit'],
form input[type='submit'] {
    font-size: 1em;
    border: none;

    &[disabled],
    &.disabled {
        cursor: default;
        opacity: .5;
    }

    &.clear {
        background: none;
        color: #333;
    }

    &.secondary {
        color: #333;
        border: 1px solid #b2b2b2;
        background: #eee;

        &.external {
            background-image: url('../img/external-link-black.svg');
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: top 8px right 8px;
        }

        &:hover {
            background-color: #fff;
        }

        &[disabled] {
            cursor: default;
            color: lighten(#333, 50%);
            border: 1px solid #b2b2b2;
            background: #eee;

            &:hover {
                background: #EEE;
            }
        }
    }

    &.full {
        display: block;

        width: 100%;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 20px;
    }
}

a.link-cta-ubuntu {
    line-height: 20px;
}

/* 3. BUTTON GROUP ---------------------------------------------------
--------------------------------------------------------------------*/

/**
 * Button group to trigger a dropdown and to change any active
 * button state to a different option where required.
 */
.cta-group {
    position: relative;
    display: inline-block;
    width: 100%;

    /**
     * cta link style and dropdown toggle
     */
    .cta-group__link {
        @extend %cta-link;
        @include rounded-corners(3px);
        float: left;
        max-height: 36px;
        padding-right: 34px;
        background-image: url('../img/chevron-white.svg');
        background-repeat: no-repeat;
        background-position: top 17px right 15px;
        width: 100%;
        line-height: 1;
    }

    /**
     * cta group dropdown styles
     */
    .cta-group__dropdown {
        @include box-sizing();
        @include rounded-corners(3px);
        position: absolute;
        top: 36px;
        max-width: inherit;
        width: 100%;
        list-style: none;
        background: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        padding: 10px;
        z-index: 20;

        .cta-group__item {
            float: left;
            width: 100%;

            a {
                color: #333;
                cursor: pointer;
                width: 100%;
                float: left;

                &:hover {
                    color: $ubuntu-orange;
                    text-decoration: none;
                }
            }
        }
    }

    /**
     * cta group secondary style
     */
    &.secondary  {

        .cta-group__link {
            @extend %secondary-cta;
            background-image: url('../img/icons/accordion-open.svg');
            background-repeat: no-repeat;
            float: left;
            max-height: 36px;
            padding-right: 34px;
            background-repeat: no-repeat;
            background-position: top 17px right 15px;
            width: 100%;
        }
    }
}
