@charset 'UTF-8';

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS form styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. VARIABLES & PLACEHOLDERS
    2. FORM
    3. FEEDBACK STYLES
    4. INLINE ELEMENTS
    5. INLINE FORM

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. VARIABLES & PLACEHOLDERS  --------------------------------------
--------------------------------------------------------------------*/

%input--styles {
    @include rounded-corners(2px);
    @include box-sizing();
    -webkit-appearance: none;
    background: #FFF;
    color: #333;
    border: 1px solid #D2D2D2;
    display: block;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0px 13px;

    &:hover {

    }

    &:active {
        border-color: #B2B2B2;
        outline: none;
    }

    &:focus {
        border-color: #B2B2B2;
        outline: none;
    }
}

/* 2. FORM -----------------------------------------------------------
--------------------------------------------------------------------*/

%input--styles {
    @include rounded-corners(2px);
    @include box-sizing();
    -webkit-appearance: none;
    background: #FFF;
    color: #333;
    border: 1px solid #D2D2D2;
    display: block;
    font-family: Ubuntu,Arial,"libra sans",sans-serif;
    font-size: 1em;
    font-weight: 300;
    padding: 0px 13px;

    &:hover {

    }

    &:active {
        border-color: #B2B2B2;
        outline: none;
    }

    &:focus {
        border-color: #B2B2B2;
        outline: none;
    }

    &.invalid,
    &.ng-invalid {
        border-color: #d90000;
    }
}

label {
    position: relative;
}

form {

    li {

        &.help-msg {
            margin-bottom: 1em;

            .help {
                color: #888;
                font-size: 0.875em;
            }
        }
    }

    label span {
        color: #333;
    }

    input {

        &[type='text'],
        &[type='number'],
        &[type='search'],
        &[type='password'],
        &[type='email'],
        &[type='url'] {
            @extend %input--styles;
            padding: 7px 10px;

            &::-webkit-input-placeholder {
               color: #888;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: #888;
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: #888;
            }

            &:-ms-input-placeholder {
               color: #888;
            }
        }

        &[type='number'] {
            padding-right: 15px;
        }

        &[type='search'] {
            -webkit-appearance: textfield;
        }

        &[type='search']::-webkit-search-decoration,
        &[type='search']::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

        &[type='checkbox'],
        &[type='radio'],
        &[type='image'] {
            display: inline-block;
            margin-right: 10px;
        }
    }

    textarea {
        @extend %input--styles;
        overflow: auto;
        height: auto;
        min-height: 175px;
        padding: 7px 10px;

        vertical-align: top;
    }

    select {
        @extend %input--styles;
        display: block;
        clear: both;
        cursor: pointer;
        margin: 0;
        background-image: url('../img/icons/accordion-open.svg');
        background-repeat: no-repeat;
        background-position: top 16px right 10px;
        padding: 6px 30px 7px 10px;

        /* Removes firefox select styles & arrow */
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';

        &[multiple],
        &[size] {
            height: auto;
            background-image: none;
            padding-top: 10px;
        }

        /* Removes firefox dotted outline focusing */
        &:-moz-focusring  {
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        &[disabled] {
            color: #888;
        }
    }

    fieldset {
        background: none;
        margin-left: 0;
    }
}

input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;

    & + label {
        padding-left: 20px;
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            background: url('../img/checkbox.svg') no-repeat;
            background-size: 13px 13px;
            background-position: 0px 3px;
        }
    }

    &:checked + label:before {
        background: url('../img/checkbox-checked.svg') no-repeat;
        background-position: 0px 3px;
    }
}

/* 3. FEEDBACK STYLES ------------------------------------------------
--------------------------------------------------------------------*/

.field-error,
.errors {
    color: #DF382C;

    .errorlist {
        margin: 0;

        li {
            margin: 0 0 14px 0;
        }
    }
}

/* 4. INLINE ELEMENTS ------------------------------------------------
--------------------------------------------------------------------*/

.inline {
    display: inline-block;
    width: 100%;
    font-size: 0;
    margin-bottom: 10px;

    label {
        display: inline-block;
        float: none;

        /**
         * Required to fix the inline block invisible margin
         */
        font-size: 16px;
        margin: 0;
    }

    input[type='submit'],
    input[type='text'],
    input[type='number'],
    input[type='search'],
    input[type='password'],
    input[type='email'],
    input[type='checkbox'],
    select {
        display: inline-block;
        clear: none;
        margin: 0;
        float: none;

        /**
         * Required to fix the inline block invisible margin
         */
        font-size: 16px;
    }

    input.cta-ubuntu,
    a.link-cta-ubuntu,
    button.cta-ubuntu {
        /**
         * Required to fix the inline block invisible margin
         */
        font-size: 16px;
        margin-top: 10px;
    }

}

/* 1. INLINE FORM ----------------------------------------------------
--------------------------------------------------------------------*/

.form-inline {

    label,
    button,
    input[type='submit'],
    input[type='text'],
    input[type='number'],
    input[type='search'],
    input[type='password'],
    input[type='email'],
    input[type='checkbox'],
    select {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-bottom: 0;
    }

    input[type='submit']
    input[type='text'],
    input[type='number'],
    input[type='search'],
    input[type='password'],
    input[type='email'],
    input[type='checkbox'],
    select {
        margin-left: 10px;
    }
}
