////
/// MAAS icons and symbols
///
/// @project     MAAS
/// @author      Web Team at Canonical Ltd
/// @copyright   2015 Canonical Ltd
///
////

.icon {

    &.icon__loading {
        background: url('../img/in_progress.png') no-repeat;
        -webkit-animation: spin 1s infinite linear;
        -moz-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
    }
}

a.icon {
    cursor: pointer;
}

.icon-controls {

  .icon {
    display: none;
    float: right;
    text-align: left;
  }
}

table tr:hover .icon-controls .icon {
  display: block;
}
