@charset "UTF-8";

////
/// MAAS search styles
///
/// @project     MAAS
/// @author      Web Team at Canonical Ltd
/// @copyright   2015 Canonical Ltd
///
////

.listing-filter {

  .listing-filter__label {
    height: 53px;
    line-height: 53px;
  }

  .listing-filter__select {
    min-width: 150px;
  }
}
