@charset "UTF-8";

////
/// MAAS search styles
///
/// @project     MAAS
/// @author      Web Team at Canonical Ltd
/// @copyright   2015 Canonical Ltd
///
////

.listing-filter {

  .listing-filter__label {
    height: 53px;
    line-height: 53px;
  }

  .listing-filter__select {
    @include box-sizing();
    @include rounded-corners(4px);
    background:#FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    display: inline-block;
    border: none;
    padding: 12px 20px;
    font-size: 1.25em;
    margin-left: 0;
    background-image: url('../img/icons/accordion-open.svg');
    background-repeat: no-repeat;
    background-position: top 25px right 20px;
    max-height: none;
  }
}
