/**
 * MAAS list styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

dl {

  dt {
      clear: left;
  }

  dd {
      color: #888;
      margin-left: 0;
  }

  dt,
  dd {
      display: inline-block;
      float: left;
      line-height: 37px;
      margin-bottom: 10px !important;
  }
}

.list__tree {
  list-style: none;
  border-left: 1px solid #d4d4d4;
  position: relative;

  &.list__tree--sub-level {
    margin-top: 10px;
    margin-left: 20px;
    clear: both;

    .list__item .list__item-feedback {
      left: 180px;
    }
  }

  .list__item {
    list-style: none;

    &:before {
      content: '';
      width: 12px;
      height: 1px;
      background: #d4d4d4;
      display: inline-block;
      position: relative;
      top: -4px;
      margin-right: 5px
    }

    &:last-child::after {
      content: '';
      width: 4px;
      height: 1em;
      position: absolute;
      display: block;
      left: -2px;
      bottom: -6px;
      background: #f8f8f8;
    }

    .list__item-feedback {
      position: relative;
      left: 200px;
      margin-top: -24px;
    }
  }
}
