////
/// MAAS ngTagsInput Styles
///
/// @project     MAAS
/// @author      Web Team at Canonical Ltd
/// @copyright   2015 Canonical Ltd
///
////

tags-input {
  outline: none;

  .host:focus {
    outline: none;
  }

  .tags {

    &:focus,
    &.focused {
      outline: none;
    }

    .tag-list {
      margin: 4px 0 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      float: left;
    }

    .tag-item {
      display: inline-block;
      float: left;
      font-family: Ubuntu,Arial,"libra sans",sans-serif;
      font-size: 1em;
      font-weight: 300;
      height: 30px;
      line-height: 30px;
      cursor: default;
      color: #000;
      padding-right: 15px;
      position: relative;
      margin: 0 11px 0 0;

      .remove-button {
        display: inline-block;
        width: 12px;
        height: 12px;
        text-indent: -999em;
        background: url('../img/icons/cross.svg') no-repeat;
        background-size: 12px 12px;
        position: absolute;
        right: 0;
        top: 9px;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }

        &:active {
        }
      }
    }

    .input {
      @extend %input--styles;
      padding: 7px 10px;
      width: 100% !important;
      float: left;
      position: relative !important;
      left: 0;

      &.invalid-tag {
      }

      &::-ms-clear {
        display: none;
      }
    }

  }

  .autocomplete {
    float: left;
    width: 100%;

    .suggestion-list {
      background: #FFF;
      padding: 10px 8px;
      border: 1px solid #D2D2D2;
      border-top: 0;
      border-radius: 0 0 2px 2px;

      li {

        &:hover {
          background: #EEE;
          cursor: pointer;
        }
      }
    }
  }

  &.ng-invalid .tags {
  }

  &[disabled] {
    .host:focus {
      outline: none;
    }

    .tags {
      cursor: default;

      .tag-item {

        .remove-button {
          cursor: default;

          &:active {
          }
        }
      }

      .input {
        cursor: default;
      }
    }
  }
}

.tag-link {
  margin-right: 10px;

  &:last-of-type {

    &:after {
      content: '';
    }
  }
}
