@charset "UTF-8";

/**
 * MAAS placeholder styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

.icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-indent: 999em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    vertical-align: middle;

    &.info {
        background-image: url('../img/icons/info.png');
        background-image: url('../img/icons/info.svg'), none;
    }

    &.edit {
        background-image: url('../img/icons/edit.png');
        background-image: url('../img/icons/edit.svg'), none;
    }

    &.delete {
        background-image: url('../img/icons/delete.png');
        background-image: url('../img/icons/delete.svg'), none;
    }

    &.remove {
        background-image: url('../img/icons/cross.svg'), none;
    }

    &.warning {
        background-image: url('../img/icons/warning.png');
        background-image: url('../img/icons/warning.svg'), none;
    }

    &.debug {
        background-image: url('../img/icons/debug.png');
        background-image: url('../img/icons/debug.svg'), none;
    }

    &.success,
    &.tick {
        background-image: url('../img/icons/success.png');
        background-image: url('../img/icons/success.svg'), none;
    }

    &.error {
        background-image: url('../img/icons/error.png');
        background-image: url('../img/icons/error.svg'), none;
    }
}

.clear {
    clear: both;
}

.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.border {
    border-top: 1px dotted #B2B2B2;
    padding-top: 20px;

    &.bottom {
        border-bottom: 1px dotted #B2B2B2;

    }

    &.solid {
        border-style: solid;
    }
}

%vertical-align,
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%margin-top,
.margin-top {
    margin-top: 20px;

    &--ten {
        margin-top: 10px;
    }
}

%margin-rght,
.margin-right {
    margin-right: 20px !important;

    &--ten {
        margin-right: 10px !important;
    }
}

%margin-bottom,
.margin-bottom {
    margin-bottom: 20px;
}

%margin-left,
.margin-left {
    margin-left: 20px;
}

%padding-top,
.padding-top {
    padding-top: 20px;
}

%padding-right,
.padding-right {
    padding-right: 20px;
}

%padding-bottom,
.padding-bottom {
    padding-bottom: 20px;
}

%padding-left,
.padding-left {
    padding-left: 20px;
}

%border-top,
.border-top {
    border-top: 1px dotted #888;
}

%border-bottom,
.border-bottom {
    border-bottom: 1px dotted #888;
}

.no-padding {
    padding: 0;
}

.no-padding-left {
    padding-left: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}
