@charset "UTF-8";

/**
 * MAAS spinner styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

.spinner-col {
    width: 10px;
}

.spinner {
    float: left;
    margin: 0 auto;
    text-indent: -9999em;

    &.spin {
        background: url('../img/in_progress.png') no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        -webkit-animation: spin 1s infinite linear;
        -moz-animation: spin 1s infinite linear;
        animation: spin 1s infinite linear;
        padding: 0;
    }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
