@charset "UTF-8";

/**
 * MAAS spinner styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

.spinner-col {
    width: 10px;
}

.spinner {
    float: left;
    margin: 0 auto;
    text-indent: -9999em;
    border-top: 4px solid rgba(221, 72, 20, 0.3);
    border-right: 4px solid rgba(221, 72, 20, 0.3);
    border-bottom: 4px solid rgba(221, 72, 20, 0.3);
    border-left: 4px solid rgba(221, 72, 20, 0.3);
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.spinner.spin {
    border-left: 4px solid #dd4814;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
