@charset 'UTF-8';

/**
 * MAAS table styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

table {
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;

    th,
    td {
        background: transparent;
        text-align: left;
        padding: 13px 10px;

        .checkbox + .checkbox-label::before {
            top: -2px;
        }
    }

    thead {

        th {
            background: transparent;
            color: #888;
            border: none;
            border-bottom: 1px solid #B2B2B2;
        }
    }

    tbody {

        tr {
            &:hover .icon-controls a {
                opacity: 1;
            }
        }

        td {
            border: none;
            border-bottom: 1px dotted #B2B2B2;
            position: relative;

            &.icon-controls {
                text-align: right;

                a {
                    opacity: 0;
                }
            }

            input[type="text"] {
                position: absolute;
                left: 10px;
                top: 6px;
                width: 80%;
            }
        }
    }
}

.table-listing {
    text-align: left;
    width: 100%;
    margin: 0 0 40px 0;
    border-collapse: separate;
    border-spacing: 0;

    .table-listing__row {

        &:hover .table-listing__cell {
            background-color: #FFF;
        }

        &.error {
            background-color: #F3E3E2;

            .status {
                color: #DD3832;
            }
        }

        &.progress {
            background-color: rgba(25, 182, 238, 0.10);
        }

        &.selected {
            background-color: #FFF;
        }
    }

    .table-listing__header {
        background: transparent;
        color: #888;
        border: none;
        border-bottom: 1px solid #B2B2B2;

        .table-listing__header-link {
            background-repeat: no-repeat;
            background-position: top 8px right 0;
            color: #888;

            &:hover {
                color: #333;
                text-decoration: none;
                border-bottom: 1px solid #333;
            }

            &:focus,
            &:active,
            &:visited {
                text-decoration: none;
            }

            &.active {
                color: #333;
            }

            &.sort {
                border-bottom: 1px solid #333;
            }
        }

        .divide {
            width: 1px;
            display: inline-block;
            background: #D2D2D2 none repeat scroll 0% 0%;
            height: 10px;
            padding: 0px;
            margin: 0px 5px;
        }
    }

    .table-listing__cell {
        @include box-sizing();
        border: none;
        border-bottom: 1px dotted #B2B2B2;
        position: relative;

        &.icon-controls {
            text-align: right;
            opacity: 0;
        }

        input,
        select {
            position: absolute;
            left: 10px;
            top: 5px;
            width: 80%;
        }
    }

    .fixed {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
        padding-left: 0;

        .table-listing__header & {
            padding-left: 0;
        }
    }

    &.no-hover {

        .table-listing__row:hover {

            .table-listing__cell,
            td {
                background-color: transparent;
            }
        }
    }
}

/* TABLE GRID --------------------------------------------------------
--------------------------------------------------------------------*/

@mixin table-columns($table-columns) {
  $table-list: null;
  $max-width: 1440px;
  @for $i from 1 through $table-columns {
    .t#{$i} {
      width: percentage($i / 100);
    }
  }

  @for $i from 1 through $table-columns {
    .table__column--#{$i} {
      width: percentage($i / 100);
    }
  }
}

@include table-columns(100);

#commissioning_scripts {

    .script-content.slider {
        overflow: hidden;

        pre {
            margin-top: 20px;
        }
    }
}

.table {
  display: table;
  border-color: #B2B2B2;
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: scroll;
  margin-bottom: 20px;
  margin: 0 0 2.5em;
  width: 100%;

  .table__row {
    float: left;
    width: 100%;
    display: table-row;
    border-bottom: 1px dotted #B2B2B2;

    &:hover {
      background-color: #FFF;

      .table__input {
        background-color: #FFF;
        border-color: #D2D2D2;
        background-position: right 10px top 16px;

        &.invalid {
          border-color: #D90000;
        }
      }

      .table__controls {
        z-index: 1;
        opacity: 1;

        &--secondary {
          z-index: 1;
          opacity: 1;
        }
      }
    }

    &.active {
      background-color: #FFF;
    }

    &.active, &.disabled {

      &:hover {

        .table__input {
          background-color: transparent;
          border-color: transparent;
          pointer-events: none;
          background-position: -9999px -9999px;

          &.editible {
            pointer-events: all;
            background-color: #FFF;
            border-color: #D2D2D2;
            background-position: right 10px top 16px;
          }
        }

        .table__controls {
          opacity: 0;
          z-index: -1000;
          pointer-events: none;

          &--secondary {
            z-index: -1000;
            opacity: 0;
            pointer-events: none;
          }
        }

        .table__dropdown {

          .table__input {
            pointer-events: all;
            background-color: #FFF;
            border-color: #D2D2D2;
            background-position: right 10px top 16px;
          }
        }
      }
    }
  }

  .table__header,
  .table__data {
    font-size: 16px;
    display: table-cell;
    padding: 13px 10px;
    box-sizing: border-box;
    min-height: 21px;
    background: none;
    border: 0;
    text-align: left;
    float: left;

    a {
      color: $ubuntu-orange;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .table__head {
    display: table-head;
    width: 100%;
    box-sizing: border-box;

    .table__row {
      border-bottom: 1px solid #B2B2B2;

      &:hover {
        background-color: transparent;
      }
    }

    .table__header {
      font-size: 13px;
      background: none;
      color: #888;
    }

    a,
    .table__header-link {
      color: #888;

      &:hover {
        color: #333;
        text-decoration: none;
        border-bottom: 1px solid #333;
      }

      &.active {
        color: #333;
        text-decoration: none;
      }

      &.sort {
        border-bottom: 1px solid inherit;
      }
    }

    .divide {
      width: 1px;
      display: inline-block;
      background: #888;
      height: 10px;
      margin: 0 5px;
    }
  }

  .table__body {
    display: table-row-group;
  }

  .table__footer {
    display: table-footer-group;
  }

  .table__label {
    clear: both;
    display: block;
    margin-top: 11px;
    color: #BCBCBC;

    a {
      color: #BCBCBC;

      &:hover {
        color: $ubuntu-orange;
      }
    }

    &.active {

      a {
        color: $ubuntu-orange;
      }
    }
  }

  .table__controls {
    width: 100%;
    text-align: right;
    opacity: 0;
    z-index: -1000;

    &--secondary {
      opacity: 0;
      z-index: -1000;
      width: auto;
      text-align: left;
    }
  }

  // Form styles
  .table__input {
    display: inline-block;
    margin: -7px 0 -8px -14px;
    background-color: transparent;
    border-color: transparent;
    background-position: -9999px -9999px;

    &.invalid {
      border-color: transparent;

      &:focus {
        border-color: #D90000;
      }
    }

    &:focus {
      background-color: #FFF;
      border-color: #D2D2D2;
    }
  }

  label {
    font-size: 13px;
    color: #BCBCBC;
  }

  input,
  select {
    margin: 0 0 0 -14px;
  }

  input[type="radio"] {
    margin-left: 0;
  }

  ul {

    li {
      margin: 0;
      margin-top: 14px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  // Table dropdown
  .table__dropdown {
    width: 100%;

    .table__dropdown-row {
        border-bottom: 0;
        position: relative;

        &:before {
          display: block;
          margin: 0 auto;
          width: calc(100% - 20px);
          border-top: 1px dotted #B2B2B2;
          position: absolute;
          height: 1px;
          content: '';
          top: 0;
          left: 10px;
        }

        &.table__dropdown-row--head {
          border-bottom: 0;

          .table__header {
            color: #BCBCBC;
            font-size: 13px;
          }
        }

        &.no-border {
          border: 0;

          &:before {
             border: 0;
          }
        }

        .table__input {
          display: inline-block;
          margin: -7px 0 -8px -14px;
          background-color: #FFF;
          border-color: #D2D2D2;
          background-position: right 10px top 16px;
        }
    }

    // Info dropdown
    &--info {

      .table__row {
        border-bottom: 0;
      }

      .table__data {
        color: #BCBCBC;
      }
    }
  }
}
