@charset 'UTF-8';

/**
 * MAAS table styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

table {
    text-align: left;
    width: 100%;

    th,
    td {
        border: none;
        background: transparent;
        text-align: left;
        padding: 13px 10px;
    }

    thead {

        th {
            background: transparent;
            color: #B2B2B2;
            border-bottom: 1px solid #B2B2B2;

            a:link,
            a:visited {
                color: #B2B2B2;
                font-weight: 300;

                &:hover {
                    color: #333;
                }

                &.sort-asc {
                    background-image: url('../?img/sort_ascending.png');
                }

                &.sort-desc {
                    background-image: url('../?img/sort_descending.png');
                }
            }
        }
    }

    tbody {

        tr {
            &:hover td {
                background: #FFF;
            }

            &:hover .icon-controls {
                opacity: 1;
            }
        }

        td {
            border-bottom: 1px dotted #B2B2B2;

            &.icon-controls {
                text-align: right;
                opacity: 0;
            }
        }
    }
}

.table-listing {

    &__cell-fixed {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
    }
}
