@charset 'UTF-8';

/**
 * MAAS table styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

table {
    text-align: left;
    width: 100%;
    margin-bottom: 40px;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;

    th,
    td {
        background: transparent;
        text-align: left;
        padding: 13px 10px;

        .checkbox + .checkbox-label::before {
            top: -2px;
        }
    }

    thead {

        th {
            background: transparent;
            color: #888;
            border: none;
            border-bottom: 1px solid #B2B2B2;
        }
    }

    tbody {

        tr {
            &:hover .icon-controls a {
                opacity: 1;
            }
        }

        td {
            border: none;
            border-bottom: 1px dotted #B2B2B2;
            position: relative;

            &.icon-controls {
                text-align: right;

                a {
                    opacity: 0;
                }
            }

            input[type="text"] {
                position: absolute;
                left: 10px;
                top: 6px;
                width: 80%;
            }
        }
    }
}

.table-listing {
    text-align: left;
    width: 100%;
    margin: 0 0 40px 0;
    border-collapse: separate;
    border-spacing: 0;

    .table-listing__row {

        &:hover .table-listing__cell {
            background-color: #FFF;
        }

        &.error {
            background-color: #F3E3E2;

            .status {
                color: #DD3832;
            }
        }

        &.progress {
            background-color: rgba(25, 182, 238, 0.10);
        }

        &.selected {
            background-color: #FFF;
        }
    }

    .table-listing__header {
        background: transparent;
        color: #888;
        border: none;
        border-bottom: 1px solid #B2B2B2;

        .table-listing__header-link {
            background-repeat: no-repeat;
            background-position: top 8px right 0;
            color: #888;

            &:hover {
                color: #333;
                text-decoration: none;
                border-bottom: 1px solid #333;
            }

            &:focus,
            &:active,
            &:visited {
                text-decoration: none;
            }

            &.active {
                color: #333;
            }

            &.sort {
                border-bottom: 1px solid #333;
            }
        }

        .divide {
            width: 1px;
            display: inline-block;
            background: #D2D2D2 none repeat scroll 0% 0%;
            height: 10px;
            padding: 0px;
            margin: 0px 5px;
        }
    }

    .table-listing__cell {
        @include box-sizing();
        border: none;
        border-bottom: 1px dotted #B2B2B2;
        position: relative;

        &.icon-controls {
            text-align: right;
            opacity: 0;
        }

        input,
        select {
            position: absolute;
            left: 10px;
            top: 5px;
            width: 80%;
        }
    }

    .fixed {
        max-width: 200px;
        min-width: 200px;
        width: 200px;
        padding-left: 0;

        .table-listing__header & {
            padding-left: 0;
        }
    }

    &.no-hover {

        .table-listing__row:hover {

            .table-listing__cell,
            td {
                background-color: transparent;
            }
        }
    }
}

/* TABLE GRID --------------------------------------------------------
--------------------------------------------------------------------*/

.t1 {
    width: 1%;
    min-width: 45px;
}

.t5 {
    width: 5%;
}

.t9 {
  width: 9%;
}

.t10 {
    width: 10%;
}

.t11 {
  width: 11%;
}

.t12 {
    width: 12.5%;
}

.t13 {
  width: 13%;
}
 /* 1/8 */
.t15 {
    width: 15%;
}

.t19 {
    width: 19%;
}

.t20 {
    width: 20%;
}

.t24 {
    width: 24%;
}

.t25 {
    width: 25%;
}

.t29 {
    width: 29%;
}
   /* 1/4 */
.t30 {
    width: 30%;
}

.t33 {
    width: 33.333%;
}   /* 1/3 */
.t35 {
    width: 35%;
}

.t37 {
    width: 37.5%;
}

.t39 {
    width: 39%;
}
 /* 3/8 */
.t40 {
    width: 40%;
}

.t45 {
    width: 45%;
}

.t50 {
    width: 50%;
}

.t54 {
  width: 54%;
}
   /* 1/2 */
.t55 {
    width: 55%;
}

.t60 {
    width: 60%;
}

.t62 {
    width: 62.5%;
}
 /* 5/8 */
.t65 {
    width: 65%;
}

.t66 {
    width: 66.666%;
}   /* 2/3 */

.t69 {
  width: 69%;
}

.t70 {
    width: 70%;
}

.t75 {
    width: 75%;
}
   /* 3/4*/
.t80 {
    width: 80%;
}

.t85 {
    width: 85%;
}

.t87 {
    width: 87.5%;
}
 /* 7/8 */
.t90 {
    width: 90%;
}

.t95 {
    width: 95%;
}

.t100 {
  width: 100%;
}

#commissioning_scripts {

    .script-content.slider {
        overflow: hidden;

        pre {
            margin-top: 20px;
        }
    }
}

.table {
  width: 100%;
  display: table;
  box-sizing: border-box;
  table-layout: fixed;

  .table-row {
    float: left;
    width: 100%;
    display: table-row;
    box-sizing: border-box;
    border-bottom: 1px dotted #B2B2B2;
    min-height: 50px;

    &:hover {
      background-color: #FFF;
    }

    &.active {
      background-color: #FFF;
    }
  }

  .table-cell {
    display: table-cell;
    padding: 13px 10px;
    box-sizing: border-box;
    min-height: 21px;

    a {
      color: $ubuntu-orange;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .table-head {
    display: table-head;
    width: 100%;
    box-sizing: border-box;

    .table-row {
      border-bottom: 1px solid #B2B2B2;

      &:hover {
        background-color: transparent;
      }
    }

    .table-cell {
      color: #888;
      font-weight: 400;

      a {
        color: #888;

        &:hover {
          color: #333;
          border-bottom: 1px solid #333;
          text-decoration: none;
        }
      }

      .divide {
          width: 1px;
          display: inline-block;
          background: #D2D2D2 none repeat scroll 0% 0%;
          height: 10px;
          padding: 0px;
          margin: 0px 5px;
      }
    }
  }
}
