/**
 * MAAS typography styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

h1,
h2,
h3,
h4,
h5 {

    span {
        color: #888;
        font-size: 75%;
        padding-left: 20px;
    }
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

pre {
  border: 0;
  background-color: #FFF;
  border-radius: 2px;

  code {
    counter-reset: line-numbering;

    .line {
    float: left;

      &::before {
        content: counter(line-numbering);
        counter-increment: line-numbering;
        padding-right: 1em; /* space after numbers */
        width: 1.5em;
        text-align: right;
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}
