@charset 'UTF-8';

@import "../../ubuntu/core-constants";
@import "../../ubuntu/core-mixins";

/**
 * MAAS dashboard styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

form.page-title-form {
    margin-bottom: 30px;

    input {

        border: 1px solid transparent;
        background-color: transparent;
        font-size: 36px;
        line-height: 26px;
        color: #333;
        margin: 6px 10px;
        padding: 4px;
        width: 97%;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 4px;

        &:hover {
            border: 1px solid #E4E4E4;
            background-color: #fff;
            outline: none;
        }

        &:focus {
            border: 1px solid #dd4814;
            background-color: #fff;
            outline: none;
        }
    }
}