@charset 'UTF-8';

@import "../../ubuntu/core-constants";
@import "../../ubuntu/core-mixins";

/**
 * MAAS dashboard styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

form.page-title-form {
    margin-bottom: 30px;

    input {
        @include border-radius(5px);
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 36px;
        line-height: 26px;
        color: #333;
        margin: 6px 10px;
        padding: 4px;
        height: auto;
        box-shadow: none;

        &:hover {
            outline: none;
            background: #FFF;
            border-color: #D2D2D2;
            box-shadow: inset 0 1px 1px rgba(000,000,000,0.1);
        }

        &:focus {
            border: 1px solid #dd4814;
            background-color: #fff;
            outline: none;
        }
    }
}
