@charset 'UTF-8';

/**
 * MAAS node styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

.small-icon {
    width: 12px;
}

.images-info {
    text-align: center;
    padding: 10px;
}

.images-warning {
    @include box-sizing();
    @include rounded-corners(2px);
    list-style: none;
    padding: 15px 20px 15px 45px;
    margin: 0;
    font-weight: 400;
    font-size: 0.875em;
    background:#FFF;
    background-position: top 50% left 15px;
    background-repeat: no-repeat;
    margin: 0 0 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #EEE;
    background-image: url('../img/icons/warning.png');
    background-image: url('../img/icons/warning.svg'), none;
}

#loader {
    width: 10px;
    margin: 16px auto 0 auto;
}

#importing {
    @include box-sizing();
    @include rounded-corners(2px);
    list-style: none;
    padding: 15px 20px 15px 45px;
    margin: 0;
    font-weight: 400;
    font-size: 0.875em;
    background:#FFF;
    background-position: top 50% left 15px;
    background-repeat: no-repeat;
    margin: 0 0 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border: 1px solid #EEE;
    position: relative;

    .spinner {
        position: absolute;
        left: 15px;
    }
}

.importing-dot {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    animation: dot 1.3s infinite;
}
