@charset 'UTF-8';

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS node styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. NODES                        -- Node listing styles
    2. NODES SEARCH                 -- Button group styles
    3. ACCORDION

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. NODES ----------------------------------------------------------
--------------------------------------------------------------------*/

.nodes {
    position: relative;

    .search {
        position: absolute;
        right: 0;

        input[type='submit'] {
            position: absolute;
            top: 8px;
            right: 12px;
            background-color: transparent;
            background-image: url('../?img/search-orange.png');
            background-repeat: no-repeat;
            text-indent: -999em;
            display: block;
            width: 19px;
            height: 19px;
            overflow: hidden;
            outline: none;
            padding: 0;

            &:hover {
                color: transparent;
                background-color: transparent;
                background-image: url('../?img/search-orange.png');
                background-repeat: no-repeat;
            }
        }

        @media screen and (max-width: 768px) {
            position: relative;
        }
    }

    .actions {

        @media screen and (max-width: 768px) {

            select {
                width: 100%;
                margin-bottom: 20px;
            }

            input {
                position: absolute;
                right: 0;
                top: 0
            }
        }
    }
}

.powerstates {
    width: 14px;
    height: 15px;
    display: inline-block;

    &.power-on {
        background: transparent url('../?img/icons/power-on.svg') left top no-repeat;
    }

    &.power-off {
        background: transparent url('../?img/icons/power-off.svg') left top no-repeat;
    }

    &.power-unknown {
        background: none;
    }

    &.power-error {
        background: transparent url('../?img/icons/power-error.svg') left top no-repeat;
    }

    &.power-check-ok {
        @include rounded-corners(50%);
        width: 10px;
        height: 10px;
        color: #33CC00;
    }

    &.power-check-error {
        @include rounded-corners(50%);
        width: 10px;
        height: 10px;
        color: #FF0000;
    }
}

.node-actions {

    .link-cta-ubuntu,
    .cta-ubuntu {
        margin-bottom: 10px;
        float: left;
        font-size: 16px;
    }
}

.buttons {
    margin-top: 30px;
}

#network-interfaces li {
    list-style-type: none;
}

#content-discovery-data {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dotted #B2B2B2;

    .slider {
        height: 0;
        overflow: hidden;
    }
}

.slider {
    padding-top: 0 !important;

    .content {
        @include rounded-corners(0 0 4px 4px);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        background: #FFF;
        border: 1px solid #EEE;
        border-top: none;
        padding: 20px;

        pre {
            margin: 0;
        }
    }

    .tabs {
        @include box-sizing();
        @include rounded-corners(4px 4px 0 0);
        padding: 8px 20px;
        margin: 0;
        font-weight: 400;
        font-size: 0.875em;
        background:#FFF;
        background-position: top 50% left 15px;
        background-repeat: no-repeat;
        border: 1px solid #EEE;
    }
}

/* 2. NODE SEARCH ----------------------------------------------------
--------------------------------------------------------------------*/

.node-search {
    position: relative;
    padding-bottom: 20px;

    .node-search__input {
        @include box-sizing();
        @include rounded-corners(4px);
        list-style: none;
        background:#FFF;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        width: 100%;
        border: none;
        padding: 13px 20px;
        font-size: 1.25em;
    }

    .node-search__submit {
        position: absolute;
        top: 15px;
        right: 25px;
        background-color: transparent;
        background-image: url('../?img/search-orange.png');
        background-repeat: no-repeat;
        text-indent: -999em;
        display: block;
        width: 19px;
        height: 19px;
        overflow: hidden;
        outline: none;
        padding: 0;
        border: none;
    }
}

/* 3. ACCORDION ------------------------------------------------------
--------------------------------------------------------------------*/

.accordion {
    @include box-sizing();
    @include rounded-corners(2px);
    list-style: none;
    background:#FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);

    /**
     * accordion main sidebar title
     */
    .accordion__title {
        border-bottom: 1px dotted #B2B2B2;
        padding: 13px 20px 12px;
        margin: 0;
        font-size: 1.3em;
    }

    /**
     * accordion data block, contains all filter links and controls.
     */
    .accordion__tab {
        border-bottom: 1px dotted #B2B2B2;

        &:last-of-type {
            border: none;
        }

        /**
         * Block level title
         */
        .accordion__tab-title {
            padding: 12px 20px;
            margin: 0;
            color: #888;
            cursor: pointer;
            background: transparent url('../?img/icons/accordion-open.svg') top 20px right 20px no-repeat;

            &.active {
                background-image: url('../?img/icons/accordion-close.svg');

                & + .accordion__tab-content {
                    display: block;
                }
            }
        }

        /**
         * Filter list
         */
        .accordion__tab-content {
            display: none;

            .accordion__tab-list {
                list-style-type: none;
                padding: 0 20px 14px;
                margin: 0;

                .accordion__tab-item {
                    margin-bottom: 0.15em;

                    .accordion__tab-link {
                        color: #333;
                        width: 100%;
                        display: inline-block;
                    }

                    &.active {
                        color: #D2D2D2;
                        background: transparent url('../?img/icons/filter-remove.svg') top 7px right 0px no-repeat;

                        .accordion__tab-link {
                            color: #D2D2D2;
                        }

                        &:hover {
                            background-image: url('../?img/icons/filter-remove-hover.svg');
                            color: #888;

                            .accordion__tab-link {
                                color: #888;
                            }
                        }
                    }
                }
            }
        }
    }
}
