@charset 'UTF-8';

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS node styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. NODES                        -- Node listing styles
    2. NODES SEARCH                 -- Button group styles
    3. ADD MACHINE LIST
    4. ACCORDION

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. NODES ----------------------------------------------------------
--------------------------------------------------------------------*/

.nodes {
    position: relative;

    .search {
        position: absolute;
        right: 0;

        input[type='submit'] {
            position: absolute;
            top: 8px;
            right: 12px;
            background-color: transparent;
            background-image: url('../img/search-icon.svg');
            background-repeat: no-repeat;
            text-indent: -999em;
            display: block;
            width: 21px;
            height: 20px;
            overflow: hidden;
            outline: none;
            padding: 0;

            &:hover {
                color: transparent;
                background-color: transparent;
                background-image: url('../img/search-icon.svg');
                background-repeat: no-repeat;
            }
        }

        @media screen and (max-width: 768px) {
            position: relative;
        }
    }

    .actions {

        @media screen and (max-width: 768px) {

            select {
                width: 100%;
                margin-bottom: 20px;
            }

            input {
                position: absolute;
                right: 0;
                top: 0
            }
        }
    }
}

.powerstates {
    width: 14px;
    height: 15px;
    display: inline-block;

    &.power-on {
        background: transparent url('../img/icons/power-on.svg') left top no-repeat;
    }

    &.power-off {
        background: transparent url('../img/icons/power-off.svg') left top no-repeat;
    }

    &.power-unknown {
        background: none;
    }

    &.power-error {
        background: transparent url('../img/icons/power-error.svg') left top no-repeat;
    }

    &.power-check-ok {
        @include rounded-corners(50%);
        width: 10px;
        height: 10px;
        color: #33CC00;
    }

    &.power-check-error {
        @include rounded-corners(50%);
        width: 10px;
        height: 10px;
        color: #FF0000;
    }
}

.node-actions {

    .link-cta-ubuntu,
    .cta-ubuntu {
        margin-bottom: 10px;
        float: left;
        font-size: 16px;
    }
}

.buttons {
    margin-top: 30px;
}

#network-interfaces li {
    list-style-type: none;
}

#content-discovery-data {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px dotted #B2B2B2;

    .slider {
        height: 0;
        overflow: hidden;
    }
}

.slider {
    padding-top: 0 !important;

    .content {
        @include rounded-corners(0 0 4px 4px);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
        background: #FFF;
        border: 1px solid #EEE;
        border-top: none;
        padding: 20px;

        pre {
            margin: 0;
        }
    }

    .tabs {
        @include box-sizing();
        @include rounded-corners(4px 4px 0 0);
        padding: 8px 20px;
        margin: 0;
        font-weight: 400;
        font-size: 0.875em;
        background:#FFF;
        background-position: top 50% left 15px;
        background-repeat: no-repeat;
        border: 1px solid #EEE;
    }
}

/* 3. ADD MACHINE LIST -----------------------------------------------
--------------------------------------------------------------------*/

.add-machine__list {
    padding: 13px 0 20px;
    border-top: 1px dotted #888;
    margin-bottom: 0;

    .add-machine__details {
        @extend %border-bottom;
        background: transparent url('../img/icons/accordion-open.svg') top 12px right 10px no-repeat;

        > div {
            margin-bottom: 0;
        }

        .add-machine__details-form {
            display: none;
        }

        &.active {
            background-image: url('../img/icons/accordion-close.svg');

            .add-machine__details-form {
                display: block;
            }
        }
    }
}

.power-status {
    display: inline-block;
    font-size: 100%;
    padding-left: 0;

    &--power {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        font-size: 100%;

        &.checking {
            color: #2AB7EC;
            background: url('../img/status_in_progress.svg');
            padding-left: 20px;
        }

        &.on {
            padding-left: 20px;
            color: #38B44A;
            background: transparent url('../img/icons/power-on.svg') left top 4px no-repeat;
        }

        &.off {
            padding-left: 20px;
            color: #D2D2D2;
            background: transparent url('../img/icons/power-off.svg') left top 4px no-repeat;
        }

        &.error {
            padding-left: 20px;
            color: #DB3832;
            background: transparent url('../img/icons/power-error.svg') left top 4px no-repeat;
        }

        .power-check {
            font-size: 0.75em;
            color: #D2D2D2;
            display: inline-block;
            padding: 0;

            .power-check__link {
                color: #888;
                text-decoration: none;
                margin-left: 5px;

                &:hover {
                    border-bottom: 0 !important;
                    text-decoration: underline !important;
                }
            }
        }
    }
}

.loading,
.loader {
    background: url('../img/in_progress.png') no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    padding: 0;
    display: inline-block;
}

/// Storage
/// @section storage
.details {

  &__used {
    color: #BCBCBC;
  }

  .details__label {
    clear: both;
    display: block;
    margin-top: 11px;
    color: #BCBCBC;

    a {
      color: #BCBCBC;

      &:hover {
        color: $ubuntu-orange;
      }
    }

    &.active {

      a {
        color: $ubuntu-orange;
      }
    }
  }

  .details__controls {
    width: 100%;
    text-align: right;
    opacity: 0;
    z-index: -1000;

    &--secondary {
      opacity: 0;
      z-index: -1000;
      width: auto;
      text-align: left;
    }
  }

  .table-row {

    .details__input {
      display: inline-block;
      margin: -7px 0 -8px -14px;
      background-color: transparent;
      border-color: transparent;
    }

    &:hover {

      .details__input {
        background-color: #FFF;
        border-color: #D2D2D2;
      }

      .details__controls {
        z-index: 1;
        opacity: 1;

        &--secondary {
          z-index: 1;
          opacity: 1;
        }
      }
    }

    &.active {

      &:hover {

        .details__input {
          background-color: transparent;
          border-color: transparent;
          pointer-events: none;
        }

        .details__controls {
          opacity: 0;
          z-index: -1000;
          pointer-events: none;

          &--secondary {
            z-index: -1000;
            opacity: 0;
            pointer-events: none;
          }
        }
      }
    }

    label {
      font-size: 13px;
      color: #BCBCBC;
    }

    input,
    select {
      margin: 0 0 0 -14px;
    }

    input[type="radio"] {
      margin-left: 0;
    }
  }

  .details__dropdown {

    .details__row {
        border-bottom: 0;

        &:before {
          display: block;
          margin: 0 auto;
          width: calc(100% - 20px);
          border-top: 1px dotted #B2B2B2;
          position: relative;
          height: 1px;
          content: '';
        }

        &.details__row--head {
          border-bottom: 0;

          .table-cell {
            color: #BCBCBC;
            font-size: 13px;
          }
        }

        &.no-border {
          border: 0;

          &:before {
             border: 0;
          }
        }

        .details__text {
          line-height: 37px;
        }
    }

    // Info dropdown
    &--info {

      .table-row {
        border-bottom: 0;
      }

      .table-cell {
        color: #BCBCBC;
      }
    }
  }
}
