@mixin maas-table-pools {
  .p-table--pools {
    th,
    td {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 25%;
      }

      &:nth-child(4) {
        width: 25%;
      }

      &:nth-child(5) {
        width: 100%;
      }
    }
  }
}
