@mixin maas-table-pods {
  .p-table--pods {
    .p-table__row {
      .p-table__cell {
        &:nth-of-type(1) {
          @include breakpoint-widths(50%, 33%, 30%, 17%);
        }

        &:nth-of-type(2) {
          @include breakpoint-widths(0, 14%, 10%, 6%);
        }

        &:nth-of-type(3) {
          @include breakpoint-widths(50%, 33%, 25%, 22%);
        }

        &:nth-of-type(4) {
          @include breakpoint-widths(0, 0, 10%, 5%);
        }

        &:nth-of-type(5) {
          @include breakpoint-widths(0, 20%, 15%, 10%);
        }

        &:nth-of-type(6) {
          @include breakpoint-widths(0, 0, 10%, 10%);
        }

        &:nth-of-type(7) {
          @include breakpoint-widths(0, 0, 0, 8%);
        }

        &:nth-of-type(8) {
          @include breakpoint-widths(0, 0, 0, 8%);
        }

        &:nth-of-type(9) {
          @include breakpoint-widths(0, 0, 0, 8%);
        }

        &:nth-of-type(10) {
          @include breakpoint-widths(0, 0, 0, 6%);
        }
      }
    }

    .p-table--pods-checkbox,
    .p-table--pods-checkbox-label {
      display: none;

      @media (min-width: $breakpoint-first) {
        display: inline;
      }
    }

    .p-double-row__muted-row {
      display: none;

      @media (min-width: $breakpoint-fourth) {
        display: block;
      }
    }

    th .p-double-row__muted-row {
      font-size: pow($ms-ratio, -2) * 1rem;
    }

    [class*="p-button"].is-small {
      @media (max-width: $breakpoint-fourth) {
        margin: -#{$spv-outer--small};
        padding: 0 $sph-inner--small;
      }
    }
  }

  .p-table--pod-networking-config,
  .p-table--pod-storage-config {
    input {
      // overriding min-width to make inputs fit within container
      min-width: auto;
      @extend %u-input-min-margin--bottom;
    }
  }

  $icon-button-width: calc(
    2px + #{$sph-inner--small + $vanilla-2-icon-button-side-padding * 2 +
      map-get($icon-sizes, default)}
  );

  .p-table--pod-networking-config {
    select {
      @extend %u-input-min-margin--bottom;
    }

    @media (min-width: $breakpoint-small) {
      margin-bottom: 0;

      .p-table__row {
        th,
        td {
          &:nth-child(1) {
            width: $icon-button-width;
          }

          &:nth-child(2) {
            width: 10%;
          }

          &:nth-child(3) {
            width: 25%;
          }

          &:nth-child(4) {
            width: 15%;
          }

          &:nth-child(5) {
            width: 23%;
          }

          &:nth-child(6) {
            width: 10%;
          }

          &:nth-child(7) {
            width: 12%;
          }

          &:nth-child(8) {
            width: 5%;
          }
        }
      }
    }
  }

  .p-table--pod-storage-config {
    @media (min-width: $breakpoint-small) {
      margin-bottom: 0;

      .p-table__row {
        th,
        td {
          &:nth-child(1) {
            width: $icon-button-width;
          }

          &:nth-child(2) {
            width: 10%;
          }

          &:nth-child(3) {
            width: 40%;
          }

          &:nth-child(4) {
            width: 40%;
          }

          &:nth-child(5) {
            width: 10%;
          }
        }
      }
    }
  }

  .p-table--pod-networking-config--message {
    @media only screen and (min-width: $breakpoint-navigation-threshold) {
      margin-left: calc(2% + #{$sph-outer--large});
    }
  }
}
