@mixin maas-table-machines {
  .p-table--machines {
    $group-padding-left: 2.5rem;
    @extend %vf-pseudo-border--bottom;
    margin: 0;
    position: relative;

    .p-table__header {
      border-bottom: 1px solid $color-mid-light;
    }

    .p-table__group {
      border: 0;
      position: relative;

      .p-table__group-label {
        color: $color-dark;
        font-size: 1rem;
        padding: $spv-inner--small 0 $spv-inner--small $sph-inner--small;
        text-transform: none;

        .p-muted-text {
          font-weight: 300;
          padding-left: $sp-x-large;
        }
      }

      .p-table__group-toggle {
        padding: 0 $sp-x-small;
        position: absolute;
        right: $spv-inner--medium;
        top: $spv-outer--medium;
      }

      &.is-open {
        @include vf-icon-minus($color-mid-dark);
      }
    }

    .p-table__row {
      position: relative;

      &::after {
        content: "";
      }

      &.is-grouped {
        border: 0;

        &::after {
          position: absolute;
          left: $group-padding-left;
          right: 0;
          height: 1px;
          background-color: $color-light-new;
        }

        & td:first-child {
          padding-left: $group-padding-left;
        }
      }

      td {
        vertical-align: top;
      }

      .p-table__col--name {
        @include breakpoint-widths(46%, 30%, 22%, 20%, 17%);
        position: relative;

        .p-tooltip,
        [class^="p-tooltip--"] {
          position: static;
        }
      }

      .p-table__col--power {
        @include breakpoint-widths(8%, 8%, 4%, 10%, 9%);
      }

      .p-table__col--status {
        @include breakpoint-widths(46%, 44%, 22%, 22%, 18%);
        position: relative;

        .p-tooltip,
        [class^="p-tooltip--"] {
          position: static;
        }
      }

      .p-table__col--owner {
        @include breakpoint-widths(0, 18%, 8%, 10%, 9%);
      }

      .p-table__col--pool {
        @include breakpoint-widths(0, 0, 0, 0, 7%);
        overflow: visible;
      }

      .p-table__col--zone {
        @include breakpoint-widths(0, 0, 0, 10%, 9%);
      }

      .p-table__col--fabric {
        @include breakpoint-widths(0, 0, 0, 0, 8%);
      }

      .p-table__col--cores {
        @include breakpoint-widths(0, 0, 10%, 6%, 5%);
      }

      .p-table__col--ram {
        @include breakpoint-widths(0, 0, 12%, 8%, 7%);
      }

      .p-table__col--disks {
        @include breakpoint-widths(0, 0, 10%, 6%, 5%);
      }

      .p-table__col--storage {
        @include breakpoint-widths(0, 0, 10%, 8%, 6%);
      }
    }

    // Needed to keep widths of machine table correct when no grouping selected
    .p-table__placeholder {
      * {
        height: 0 !important;
        padding: 0 !important;
        visibility: hidden;
      }
    }

    .p-icon--placeholder {
      @extend %icon;
      height: 1em;
      margin-right: 1em;
      width: 1em;
    }

    .p-tooltip__message {
      line-height: 1.5;
    }

    .p-tooltip__message--latest-event {
      max-width: 500px;
      white-space: inherit;
    }

    .p-checkbox--group {
      padding-top: 0;

      &::before {
        top: 0;
      }

      &::after {
        top: 0.25rem;
      }
    }

    &:last-of-type::after {
      display: none;
    }
  }

  .p-table__row {
    .p-table--machines tbody &:focus,
    .p-table--machines tbody &:focus-within {
      outline: 0;
    }

    .p-table--machines tbody &:hover,
    .p-table--machines tbody &:focus-within {
      background-color: $color-x-light;
      box-shadow: 0 1px 3px 0 transparentize($color-dark, 0.8);

      .p-table-menu__toggle {
        display: inline-block;
      }

      .p-table-menu:not(.is-hidden) .p-double-row__main-row .u-text-overflow {
        max-width: calc(100% - 1.5rem);
      }
    }
  }

  .p-checkbox--action {
    &.actionable::before {
      background-color: $color-positive;
    }

    &.not-actionable::before {
      background-color: $color-caution;
    }

    &.actionable::after,
    &.not-actionable::after {
      color: $color-x-light;
    }
  }

  .p-domain-name {
    display: inline-block;

    .p-domain-name__host {
      font-weight: 400;
    }

    .p-domain-name__tld {
      @extend %small-text;
      margin-bottom: map-get($line-heights, default-text) -
        map-get($line-heights, small) - map-get($nudges, nudge--small);
    }
  }

  .p-table-menu {
    @extend .p-contextual-menu;
    margin-bottom: -$sp-unit;
    width: 100%;

    %table-menu-link {
      @extend .p-contextual-menu__link;
      padding: $spv-inner--small $sph-inner;
      position: relative;
      transition: 0s;

      &::before {
        background-position: center;
        background-repeat: no-repeat;
        background-size: map-get($icon-sizes, default);
        content: "";
        height: 17px;
        left: $sph-inner;
        position: absolute;
        top: $spv-inner--medium;
        width: map-get($icon-sizes, default);
      }
    }

    %table-menu-title {
      border-bottom: 1px solid $color-light-new;
      color: $color-mid-dark;
      font-size: 0.75rem;
      font-weight: 400;
      padding: $spv-inner--x-small $sph-inner;
      text-transform: uppercase;
    }

    .p-table-menu__title {
      @extend %table-menu-title;
    }

    .p-table-menu__title--icon {
      @extend %table-menu-title;
      padding-left: $sp-xx-large;
    }

    .p-table-menu__footer {
      border-top: 1px solid $color-light-new;
      color: $color-mid-dark;
      padding: $spv-inner--x-small $sp-xx-large;
    }

    .p-table-menu__toggle {
      @extend %icon;
      @include vf-icon-chevron;
      border: 0;
      display: none;
      left: $sp-x-small;
      opacity: 0.25;
      top: 1px;

      td:hover &,
      td:focus-within & {
        opacity: 1;
      }
    }

    .p-table-menu__dropdown {
      @extend .p-contextual-menu__dropdown;
      left: -#{$sph-inner};
      max-width: none;
      min-width: 100%;
      top: $sp-x-large;
      width: -moz-max-content;
      width: max-content;

      .p-contextual-menu__group {
        border-color: $color-light-new;
      }
    }

    .p-table-menu__link {
      @extend %table-menu-link;
    }

    .p-table-menu__check-power {
      @extend %table-menu-link;
      padding-left: $sp-xx-large;
      padding-right: $sp-xx-large;
    }

    .p-table-menu__power-on {
      @extend %table-menu-link;
      padding-left: $sp-xx-large;
      padding-right: $sp-xx-large;

      &::before {
        @include maas-icon-power-on($color-positive);
      }
    }

    .p-table-menu__power-off {
      @extend %table-menu-link;
      padding-left: $sp-xx-large;
      padding-right: $sp-xx-large;

      &::before {
        @include maas-icon-power-on($color-mid-light);
      }
    }

    .p-double-row__icon-container {
      cursor: pointer;
    }
  }
}
