[Unit]
Description=MAAS Temporal
Documentation=https://temporal.io
Wants=network-online.target
After=network-online.target
ConditionPathIsDirectory=/var/lib/maas/temporal

[Service]
User=maas
Group=maas
KillMode=mixed

# --allow-no-auth flag to allow noopAuthorizer
ExecStart=/usr/sbin/temporal-server \
    -e production \
    -r "/var/lib/maas/temporal/" \
    -c "" \
    --allow-no-auth start

[Install]
WantedBy=multi-user.target
