[Unit]
Description=MAAS Rack Controller
Documentation=https://maas.io/
Requires=network-online.target
After=network-online.target

[Service]
User=maas
Group=maas
Restart=always
RestartSec=10s
Environment="LOGFILE=/var/log/maas/rackd.log"
# Prevent maas-dhcpd and maas-dhcpd6 from starting until maas-rackd
# has regenerated the configurations and told the services to start.
ExecStartPre=/bin/rm -f /var/lib/maas/dhcpd.sock
ExecStartPre=/bin/rm -f /var/lib/maas/dhcpd.conf
ExecStartPre=/bin/rm -f /var/lib/maas/dhcpd6.conf
# Logs go to the journal; read them with
#   journalctl -u maas-rackd
# Logs also go to $LOGFILE for backward compatibility. The journal
# should now be preferred as the $LOGFILE will be removed.
ExecStart=/bin/sh -c \
    'exec /usr/bin/authbind --deep /usr/bin/twistd3 --nodaemon --pidfile= \
       --logger=provisioningserver.logger.EventLogger maas-rackd 2>&1 | \
     tee -a $LOGFILE'

[Install]
WantedBy=multi-user.target
