[Unit]
Description=MAAS Region Controller
Documentation=https://maas.io/docs/
Requires=network-online.target
After=network-online.target
ConditionPathExists=/etc/maas/regiond.conf

[Service]
User=maas
Group=maas
Restart=always
RestartSec=10s
KillMode=mixed
Environment="DJANGO_SETTINGS_MODULE=maasserver.djangosettings.settings"
Environment="prometheus_multiproc_dir=/var/lib/maas/prometheus"
ExecStart=/usr/sbin/regiond

[Install]
WantedBy=multi-user.target

