[Unit]
Description=MAAS Rack Controller
Documentation=https://maas.io/docs
Requires=network-online.target
After=network-online.target

[Service]
User=maas
Group=maas
Restart=always
RestartSec=10s
KillMode=mixed
AmbientCapabilities=CAP_NET_BIND_SERVICE
Environment="prometheus_multiproc_dir=/var/lib/maas/prometheus"
# Prevent maas-dhcpd and maas-dhcpd6 from starting until maas-rackd
# has regenerated the configurations and told the services to start.
ExecStartPre=/bin/rm -f /var/lib/maas/dhcpd.sock /var/lib/maas/dhcpd.conf /var/lib/maas/dhcpd6.conf
ExecStart=/usr/sbin/rackd

[Install]
WantedBy=multi-user.target
