[Unit]
Description=MAAS Region API
Documentation=https://maas.io/docs
Requires=network-online.target
After=network-online.target
ConditionPathExists=/etc/maas/regiond.conf

[Service]
User=maas
Group=maas
Restart=always
RestartSec=10s
KillMode=mixed
ExecStart=/usr/sbin/maas-apiserver

[Install]
WantedBy=multi-user.target

