[Unit]
Description=MAAS Agent daemon
Documentation=https://maas.io/docs
Wants=network-online.target
After=maas-rackd.service
BindsTo=maas-rackd.service

[Service]
User=maas
Group=maas
ExecStart=/usr/sbin/maas-agent

[Install]
WantedBy=multi-user.target
