[Unit]
Description=MAAS Region Controller
Documentation=https://maas.io/

[Service]
Type=oneshot
RemainAfterExit=yes
# systemd.service(5) clearly states that ExecStart can be specified zero
# times when Type=oneshot, but it does appears to be needed at present.
ExecStart=/bin/true

#
# The maas-region-api package configures four workers. This
# should work for most people. However:
#
# * `systemctl start maas-regiond-worker@x` (where 'x' can be anything,
#   though integers >= 5 seem logical) will start an additional worker.
#
# * `systemctl enable maas-regiond-worker@x` will configure that worker
#   so that it's persistent across reboots.
#

[Install]
WantedBy=multi-user.target
