#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

# Only ask for new installations and reconfiguring.
# XXX Fix to not ask when installing from the CD.
if ([ "$1" = "configure" ] && [ -z "$2" ]); then

    db_get maas-rack-controller/maas-url || true
    if [ -z "$RET" ]; then
        # Attempt to pre-populate if installing on the region controller.
        if [ -f /usr/sbin/maas-region ]; then
            url=$(maas-region local_config_get --maas-url --plain)
            # If the URL doesn't end in /MAAS then add it. This helps upgrades from
            # precise for which the URL didn't contain /MAAS, which is now required
            if ! echo $url | grep -qs "/MAAS$"; then
                url="${url}/MAAS"
            fi
            db_set maas-rack-controller/maas-url "$url"
        else
            # Will only get here if dbconf value not already set, or
            # /etc/maas/regiond.conf doesn't exist.
            db_input medium maas-rack-controller/maas-url || true
            db_go
        fi
    fi
fi

if [ "$1" = "reconfigure" ]; then
    db_input high maas-rack-controller/maas-url || true
    db_go
fi
#DEBHELPER#
