#!/bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

# creates question
set_question() {
    if ! db_fget "$1" seen; then
        db_register dbconfig-common/dbconfig-install "$1"
        db_subst "$1" ID "$1"
        db_fget "$1" seen
    fi
    if [ "$RET" = false ]; then
        db_set "$1" "$2"
        db_fset "$1" seen true
    fi
}

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
    . /usr/share/dbconfig-common/dpkg/config.pgsql
fi

if [ "$1" = "configure" ] && [ -z "$2" ]; then
    # Hide maas/dbconfig-install question by setting default.
    set_question maas-region-controller/dbconfig-install true
    set_question maas-region-controller/pgsql/app-pass ""
    set_question maas-region-controller/remote/host "localhost"

    dbc_dbname="maasdb"
    dbc_dbuser="maas"
    dbc_remove="true"

    if [ -f /usr/share/dbconfig-common/dpkg/config.pgsql ]; then
        dbc_go maas-region-controller $@
    fi

elif [ -n "$DEBCONF_RECONFIGURE" ]; then
    db_get maas/default-maas-url || true
    if [ -z "$RET" ]; then
        ipaddr=$(maas-region local_config_get --maas-url --plain)
        db_set maas/default-maas-url "$ipaddr"
    fi
    db_input low maas/default-maas-url || true
    db_go

fi
