#!/usr/bin/make -f

BUILDHOME = $(CURDIR)/debian/build
PYTHON3 = $(shell py3versions -d)

%:
	dh $@ --with python3,apport --buildsystem=pybuild

override_dh_auto_test:
	# do nothing as we don't want the tests to run because they require
	# internet access

override_dh_installsystemd:
	dh_installsystemd -p maas-common --no-start --name=maas-syslog maas-syslog.service
	dh_installsystemd -p maas-region-api --no-start --restart-after-upgrade --name=maas-regiond maas-regiond.service
	dh_installsystemd -p maas-rack-controller --no-start --name=maas-rackd maas-rackd.service
	dh_installsystemd -p maas-common --name=maas-http maas-http.service
	dh_installsystemd -p maas-proxy --name=maas-proxy maas-proxy.service
	dh_installsystemd -p maas-dhcp --name=maas-dhcpd maas-dhcpd.service
	dh_installsystemd -p maas-dhcp --name=maas-dhcpd6 maas-dhcpd6.service

override_dh_auto_install:
	dh_auto_install

	# Collect static files
	install -d -m 755  $(CURDIR)/debian/tmp/usr/share/maas/web/
	mv $(CURDIR)/src/maasui/build $(CURDIR)/debian/tmp/usr/share/maas/web/static
	make -C $(CURDIR)/src/maas-offline-docs install DESTDIR=$(CURDIR)/debian/tmp BUILD_TYPE=deb

	# Build resources binaries
	make -C $(CURDIR)/src/host-info install DESTDIR=$(CURDIR)/debian/tmp

	# Build MAAS Agent binaries
	make -C $(CURDIR)/src/maasagent install DESTDIR=$(CURDIR)/debian/tmp OUT_PREFIX=maas-

	# install the apparmor profile
	install -d -m 755 $(CURDIR)/debian/tmp/etc/apparmor.d/dhcpd.d
	install -m 644 $(CURDIR)/debian/maas-dhcp.apparmor \
		$(CURDIR)/debian/tmp/etc/apparmor.d/dhcpd.d/maas

	install -d -m 755 $(CURDIR)/debian/tmp/etc/maas/certificates

	mv $(CURDIR)/debian/tmp/usr/bin/maas-power $(CURDIR)/debian/tmp/usr/bin/maas.power

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(BUILDHOME)
	rm -rf src/*.egg-info
