DEFAULT execute
TIMEOUT 20
SAY Booting under MAAS direction in 20 seconds.

LABEL execute
        SAY Booting under MAAS direction...
        KERNEL {{kernel}}
        INITRD {{initrd}}
        APPEND {{append}}
        IPAPPEND 2
