DEFAULT menu
PROMPT 0
MENU TITLE {{title}}
TIMEOUT 1
ONTIMEOUT execute

LABEL execute
        KERNEL {{kernel}}
        INITRD {{initrd}}
        MENU LABEL Continue
        APPEND {{append}}
        IPAPPEND 2

MENU end
