[Unit]
Description=MAAS Hardware Sync Service
Documentation=https://maas.io
Wants=maas_hardware_sync.timer
After=network.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/wget -O /usr/bin/maas-run-scripts {{ maas_url }}/maas-run-scripts
ExecStartPre=/bin/chmod 0755 /usr/bin/maas-run-scripts
ExecStart=/usr/bin/maas-run-scripts report-results --config {{ token_file_path }}

[Install]
WantedBy=multi-user.target
