[Unit]
Description=Timer for periodically running MAAS hardware sync
Documentation=https://maas.io
Requires=maas_hardware_sync.service

[Install]
WantedBy=timers.target

[Timer]
Unit=maas_hardware_sync.service
Persistent=true
OnCalendar={{ hardware_sync_interval }}
