[Unit]
Description=MAAS Hardware Sync Service
Documentation=https://maas.io
Want=network.target
After=network.target

[Service]
type=oneshot
ExecStartPre=/usr/bin/wget -O /usr/bin/maas-hardware-sync {{ maas_url }}/hardware-sync/{{ architecture }}
ExecStartPre=/bin/chmod 0755 /usr/bin/maas-hardware-sync
ExecStart=/bin/echo "TODO run hardware-sync commands"
