DEFAULT execute

LABEL execute
  {{# SAY is not implemented in U-Boot }}
  KERNEL {{kernel_params | kernel_path }}
  INITRD {{kernel_params | initrd_path }}
  FDT {{kernel_params | dtb_path }}
  APPEND {{kernel_params | kernel_command}}
  IPAPPEND 2
