server:
  log_level: info
metrics:
  wal_directory: ${AGENT_WAL_DIR}
  global:
    scrape_interval: 30s
    external_labels:
      maas_az: ${MAAS_AZ:default}
      maas_region: ${MAAS_IS_REGION:False}
      maas_rack: ${MAAS_IS_RACK:False}
      host: ${HOSTNAME}
    remote_write:
      - url: ${PROMETHEUS_REMOTE_WRITE_URL}
        name: prom-export
  configs:
    - name: "maas"
      scrape_configs:
        - job_name: "maas-metrics"
          static_configs:
            - targets: ["${HOSTNAME}:5239"]
        - job_name: "maas-cluster-metrics"
          static_configs:
            - targets: ["${HOSTNAME}:5240"]
          metrics_path: "/MAAS/metrics"
logs:
  positions_directory: ${AGENT_POS_DIR}
  configs:
    - name: "maas"
      clients:
        - url: ${LOKI_API_URL}
      scrape_configs:
        - job_name: maas-audit
          syslog:
            listen_address: localhost:5238
            labels:
              job: "maas-audit"
              maas_az: ${MAAS_AZ:default}
              maas_region: ${MAAS_IS_REGION:False}
              maas_rack: ${MAAS_IS_RACK:False}
              maas_module: "audit"
          relabel_configs:
            - source_labels: ["__syslog_message_hostname"]
              target_label: "host"
            - source_labels: ["__syslog_message_app_name"]
              target_label: "maas_module"
          pipeline_stages:
            - regex:
                expression: "^(?s) \\[(?P<severity>\\S+?)\\] ((?P<machine>\\S+): )?(?P<content>.*)$"
            - output:
                source: content
            - labels:
                severity:
                machine:
        - job_name: maas-console
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/{regiond,rackd}.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-console"
          pipeline_stages:
            - regex:
                expression: "^(?s)(?P<time>.+?) (?P<maas_module>\\S+): \\[(?P<severity>\\S+)\\] (?P<content>.*)$"
            - timestamp:
                source: time
                format: "2006-01-02 15:04:05"
            - labels:
                maas_module:
                severity:
            - output:
                source: content
            - match:
                selector: '{maas_module="regiond"}'
                stages:
                  - regex:
                      expression: "^(?P<remote_addr>[\\w\\.]+) (?P<method>\\S+) (?P<request>\\S+) (?P<protocol>\\S+) --> (?P<status>\\d+).*$"
                  - labels:
                      remote_addr:
                      method:
                      status:
        - job_name: maas-dhcpd
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/dhcpd*.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-dhcpd"
        - job_name: maas-metadata
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/http/access.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-metadata"
          pipeline_stages:
            - regex:
                expression: "^(?s)(?P<ip>\\S+) (?P<remote_log_name>\\S+) (?P<userid>\\S+) \\[(?P<date>.+?)\\] \"(?P<request_method>\\S+) (?P<path>\\S+) HTTP/(?P<request_version>\\S+)\" (?P<status>\\d+) (?P<length>\\d+) \"(?P<referrer>\\S+)\" \"(?P<user_agent>\\S+)\"$"
            - timestamp:
                source: date
                format: "02/Jan/2006:15:04:05 -0700"
            - labels:
                method:
                protocol:
                status:
                http_user_agent:
        - job_name: maas-named
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/named.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-named"
        - job_name: maas-ntpd
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/chrony.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-ntpd"
        - job_name: maas-proxy
          static_configs:
            - labels:
                __path__: ${MAAS_LOGS}/proxy.log
                host: ${HOSTNAME}
                maas_az: ${MAAS_AZ:default}
                maas_region: ${MAAS_IS_REGION:False}
                maas_rack: ${MAAS_IS_RACK:False}
                job: "maas-proxy"
