<header>
  <h2 class="p-heading--four">Overview</h2>
  <h3 class="p-heading--four">
    <span data-ng-if="node.node_type == 2">Rackd</span>
    <span data-ng-if="node.node_type == 3">Regiond</span>
    <span data-ng-if="node.node_type == 4">Regiond+rackd</span>
  </h3>
  <p class="u-sv1" data-ng-if="showFailedTestWarning()">
    <i class="p-icon--warning">Warning:</i> Node has failed tests; use with caution!
  </p>
</header>
<div class="p-card__content">
  <ul class="p-list">
    <li class="p-list__item" data-ng-if="node.version"><span class="muted-label">Version:</span> {$ node.version__long $}</li>
    <li class="p-list__item" data-ng-if="!node.version"><span class="muted-label">Version:</span> <span>Unknown (&lt; 2.3.0)</span></li>
    <li class="p-list__item" data-ng-if="node.show_os_info"><span class="muted-label">OS:</span> <span data-maas-release-name="node.osystem + '/' + node.distro_series"></span></li>
    <li class="p-list__item"><span class="muted-label">Domain:</span> {$ header.domain.selected.name $}</li>
    <li class="p-list__item"><span class="muted-label">Zone:</span> {$ summary.zone.selected.name $}</li>
    <li class="p-list__item" data-ng-if="node.power_type"><span class="muted-label">Power type:</span> {$ node.power_type $}</li>
  </ul>
</div>
<footer>
  <p data-ng-if="isSuperUser()"><a data-ng-click="section.area = 'configuration'">Edit &rsaquo;</a></p>
</footer>
