<header class="p-card__header">
  <h2 class="p-heading--four">Overview</h2>
  <h3 class="p-heading--four u-no-margin--top">
    <span data-ng-if="node.node_type == 2">Rackd</span>
    <span data-ng-if="node.node_type == 3">Regiond</span>
    <span data-ng-if="node.node_type == 4">Regiond+rackd</span>
    <p data-ng-if="showFailedTestWarning()"><i class="p-icon--warning">Warning:</i> Node has failed tests; use with caution!</p>
  </h3>
</header>
<ul class="p-list">
  <li class="p-list__item" data-ng-if="node.version">Version: {$ node.version__long $}</li>
  <li class="p-list__item" data-ng-if="!node.version">Version: <span>Unknown (&lt; 2.3.0)</span></li>
  <li class="p-list__item" data-ng-if="node.show_os_info">OS: <span data-maas-release-name="node.osystem + '/' + node.distro_series"></span></li>
  <li class="p-list__item">Domain: {$ header.domain.selected.name $}</li>
  <li class="p-list__item">Zone: {$ summary.zone.selected.name $}</li>
  <li class="p-list__item" data-ng-if="node.power_type">Power type: {$ node.power_type $}</li>
</ul>
<footer class="p-card__footer">
  <p data-ng-if="isSuperUser()"><a data-ng-click="section.area = 'configuration'">Edit &rsaquo;</a></p>
</footer>
