<header class="p-card__header">
  <h2 class="p-heading--four">Overview</h2>
  <h3 class="p-heading--three">
    <span data-ng-if="node.node_type == 2">Rackd</span>
    <span data-ng-if="node.node_type == 3">Regiond</span>
    <span data-ng-if="node.node_type == 4">Regiond+rackd</span>
    <p data-ng-if="showFailedTestWarning()"><i class="p-icon--warning">Warning:</i> Node has failed tests; use with caution!</p>
  </h3>
</header>
<div>
  <p data-ng-if="node.version">Version: {$ node.version__long $}</p>
  <p data-ng-if="!node.version">Version: <span>Unknown (&lt; 2.3.0)</span></p>
  <p data-ng-if="node.show_os_info">OS: <span data-maas-release-name="node.osystem + '/' + node.distro_series"></span></p>
  <p>Domain: {$ header.domain.selected.name $}</p>
  <p>Zone: {$ summary.zone.selected.name $}</p>
  <p>System vendor: {$ node.metadata.system_vendor || "Unknown" $}</p>
  <p>System product: {$ node.metadata.system_product || "Unknown" $}</p>
  <p>System version: {$ node.metadata.system_version || "Unknown" $}</p>
  <p>System serial: {$ node.metadata.system_serial || "Unknown" $}</p>
  <p>Mainboard firmware version: {$ node.metadata.mainboard_firmware_version || "Unknown" $}</p>
  <p>Mainboard firmware date: {$ node.metadata.mainboard_firmware_date || "Unknown" $}</p>
  <p data-ng-if="node.power_type">Power type: {$ node.power_type $}</p>
</div>
<footer class="p-card__footer">
  <p data-ng-if="isSuperUser()"><a data-ng-click="section.area = 'configuration'">Edit &rsaquo;</a></p>
</footer>
