<header>
  <h2 class="p-heading--four">CPU</h2>
  <h3 class="p-heading--four" data-ng-if="node.cpu_count > 0"><strong>{$ getCPUSubtext() $}</strong> <span class="p-heading--six">({$ node.architecture $})</span></h3>
  <h3 class="p-heading--four" data-ng-if="node.cpu_count === 0"><strong>Unknown</strong> <span class="p-heading--six">({$ node.architecture $})</span></h3>
</header>
<div data-ng-controller="NodeResultsController" class="p-card__content">
  <div data-ng-repeat="test_result in testing_results">
    <div data-ng-if="test_result.hardware_type === 1">
      <div data-ng-repeat="result in test_result.results['null']">
        <ul class="p-list" data-ng-if="(result.results | json) != '{}'">
          <li class="p-list__item u-no-margin--top" data-ng-repeat="final_result in result.results" data-ng-if="final_result.surfaced">
            <span class="muted-label">{$ final_result.title $}:</span> {$ final_result.value $}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.cpu_count > 0">
    <span node.cpu_test_status.status="script-status" data-script-status="node.cpu_test_status.status"></span>
    {$ node.cpu_test_status.status_tooltip $}
  </p>
  <p><a href="" data-ng-if="!isDevice && !(isController && node.status === 'New') && node.cpu_count > 0 && node.cpu_test_status.status !== -1" data-ng-click="section.area = 'testing'">See results &rsaquo;</a></p>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.cpu_count == 0"><i class="p-icon--information">Information:</i> No data recieved</p>
</footer>
