<header class="p-card__header">
  <h2 class="p-heading--four">Hardware information</h2>
</header>
<ul class="p-list">
  <li class="p-list__item u-no-margin--top">System vendor: {$ node.metadata.system_vendor || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">System product: {$ node.metadata.system_product || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">System version: {$ node.metadata.system_version || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">System serial: {$ node.metadata.system_serial || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">Mainboard vendor: {$ node.metadata.mainboard_vendor || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">Mainboard product: {$ node.metadata.mainboard_product || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">Mainboard firmware version: {$ node.metadata.mainboard_firmware_version || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">Mainboard firmware date: {$ node.metadata.mainboard_firmware_date || "Unknown" $}</li>
  <li class="p-list__item u-no-margin--top">CPU model: {$ node.metadata.cpu_model || "Unknown" $}</li>
</ul>
