<header class="p-card__header">
  <h2 class="p-heading--four">Overview</h2>
  <h3 class="p-heading--four u-vertically-center u-no-margin--top">
    <i class="p-icon--locked" data-ng-if="node.locked">Locked:</i>
    <div class="u-no-margin--top">
      <strong>{$ node.status $} <span data-ng-if="node.locked">(Locked)</span></strong>
      <span ng-if="node.show_os_info" class="p-heading--six">(<span data-maas-release-name="node.osystem + '/' + node.distro_series"></span>)</span>
    </div>
  </h3>
  <p data-ng-if="showFailedTestWarning()"><i class="p-icon--warning">Warning:</i> Machine has failed tests; use with caution!</p>
</header>
<ul class="p-list">
  <li class="p-list__item" data-ng-if="node.owner">Owner: {$ node.owner $}</li>
  <li class="p-list__item" data-ng-if="!node.owner">Owner: <span>(unassigned)</span></li>
  <li class="p-list__item" data-ng-if="node.show_os_info && isUbuntuOS() && !isController">Kernel: {$ node.hwe_kernel $}</li>
  <li class="p-list__item" data-ng-if="node.show_os_info && node.third_party_driver">Third Party Driver: {$ node.third_party_driver.module $} "{$ node.third_party_driver.comment $}"</li>
  <li class="p-list__item">Domain: {$ header.domain.selected.name $}</li>
  <li class="p-list__item">Zone: {$ summary.zone.selected.name $}</li>
  <li class="p-list__item">Resource pool: {$ node.pool.name $}</li>
  <li class="p-list__item" data-ng-if="node.power_type">Power type: {$ node.power_type $}</li>
</ul>
<footer class="p-card__footer">
  <p data-ng-if="isSuperUser()"><a data-ng-click="section.area = 'configuration'">Edit &rsaquo;</a></p>
</footer>
