<header>
  <h2 class="p-heading--four">Memory</h3>
  <h3 class="p-heading--four" data-ng-if="node.memory > 0"><strong>{$ node.memory $} GiB</strong></h2>
  <h3 class="p-heading--four" data-ng-if="node.memory == 0"><strong>Unknown</strong></h2>
</header>
<div data-ng-controller="NodeResultsController" class="p-card__content">
  <div data-ng-repeat="test_result in testing_results">
    <div data-ng-if="test_result.hardware_type === 2">
      <div data-ng-repeat="result in test_result.results['null']">
        <div data-ng-if="(result.results | json) != '{}'">
          <ul class="p-list" data-ng-repeat="final_result in result.results" data-ng-if="final_result.surfaced">
            <li class="p-list__item u-no-margin--top"><span class="muted-label">{$ final_result.title $}:</span> {$ final_result.value $}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.memory > 0">
    <span data-maas-script-status="script-status" data-script-status="node.memory_test_status.status"></span>
    {$ node.memory_test_status.status_tooltip $}
  </p>
  <p><a href="" data-ng-if="!isDevice && !(isController && node.status === 'New') && node.memory > 0 && node.memory_test_status.status !== -1" data-ng-click="section.area = 'testing'">See results &rsaquo;</a></p>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.memory == 0"><i class="p-icon--information">Information:</i> No data recieved</p>
</footer>
