<div class="p-card">
  <strong class="p-muted-heading u-sv1">
    {$ numaDetails.length $} NUMA node{$ numaDetails.length > 1 ? "s" : "" $}
  </strong>
  <hr />
  <ul ng-if="numaDetails.length" class="p-list u-no-margin--bottom">
    <li ng-repeat="numa in numaDetails" class="p-list__item p-numa">
      <button
        class="p-numa__button"
        ng-class="{'is-open': expandedNumas.includes(numa.index)}"
        ng-click="toggleNumaExpanded(numa.index)"
        ng-if="numaDetails.length > 2"
      >
        Node {$ numa.index $}
      </button>
      <span ng-if="numaDetails.length <= 2">Node {$ numa.index $}</span>
      <span class="p-numa__collapsed-details" ng-if="!expandedNumas.includes(numa.index)">
        {$ numa.cores.length $}&nbsp;core{$ numa.cores.length > 1 ? "s" : "" $},
        {$ numa.memory >= 1024 ? numa.memory / 1024 + " GiB" : numa.memory + " MiB" $},<br>
        {$ numa.storage | formatBytes $},
        {$ numa.network $}&nbsp;interface{$ numa.network > 1 ? "s" : "" $}
      </span>
      <ul class="p-list--labelled" ng-if="expandedNumas.includes(numa.index)">
        <li class="p-list__item">
          <div class="p-list__item-label">CPU cores</div>
          <div class="p-list__item-value">
            <span>{$ numa.cores.length $}</span>
            <span class="p-text--muted">({$ numa.cores.join(", ") $})</span>
          </div>
        </li>
        <li class="p-list__item">
          <div class="p-list__item-label">Memory</div>
          <div class="p-list__item-value">
            {$ numa.memory >= 1024 ? numa.memory / 1024 + " GiB" : numa.memory + " MiB" $}
          </div>
        </li>
        <li class="p-list__item">
          <div class="p-list__item-label">Storage</div>
          <div class="p-list__item-value">
            {$ numa.storage | formatBytes $} over {$ numa.disks $} disk{$ numa.disks > 1 ? "s" : "" $}
          </div>
        </li>
        <li class="p-list__item">
          <div class="p-list__item-label">Network</div>
          <div class="p-list__item-value">
            {$ numa.network $} interface{$ numa.network > 1 ? "s" : "" $}
          </div>
        </li>
      </ul>
      <hr
        ng-if="$index !== node.numa_nodes.length - 1"
        ng-class="{
          'u-sv1': !expandedNumas.includes(numa.index),
          'u-sv2': expandedNumas.includes(numa.index)
        }"
      />
    </li>
  </ul>
</div>
