<header>
    <h2 class="p-heading--four">Services</h2>
    <h3 class="p-heading--four">
        <span data-maas-controller-status="node" data-maas-services="services" aria-label="Status" class="u-hide--small"></span>
        <span data-maas-controller-status="node" data-maas-services="services" data-maas-text-only="true"></span>
    </h3>
</header>
<div>
    <ul class="p-list-tree" aria-multiselectable="true" role="tablist">
        <li class="p-list-tree__item" data-ng-if="node.node_type == 3 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.regiond) $}"></span>&nbsp;regiond
                <span data-ng-if="services.regiond.status_info"> &ndash;  <small>{$ services.regiond.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="node.node_type == 3 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.bind9) $}"></span>&nbsp;bind9
                <span data-ng-if="services.bind9.status_info"> &ndash;  <small>{$ services.bind9.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 3 || node.node_type == 4) && services.ntp_region">
            <span>
                <span class="p-icon--{$ getServiceClass(services.ntp_region) $}"></span>&nbsp;ntp
                <span data-ng-if="services.ntp_region.status_info"> &ndash;  <small>{$ services.ntp_region.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="node.node_type == 3 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.proxy) $}"></span>&nbsp;proxy
                <span data-ng-if="services.proxy.status_info"> &ndash;  <small>{$ services.proxy.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 3 || node.node_type == 4) && services.syslog_region">
            <span>
                <span class="p-icon--{$ getServiceClass(services.syslog_region) $}"></span>&nbsp;syslog
                <span data-ng-if="services.syslog_region.status_info"> &ndash;  <small>{$ services.syslog_region.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="node.node_type == 2 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.rackd) $}"></span>&nbsp;rackd
                <span data-ng-if="services.rackd.status_info"> &ndash;  <small>{$ services.rackd.status_info $}</small></span>
            </span>
            <ul class="p-list-tree" aria-hidden="false">
                <li class="p-list-tree__item">
                    <span class="p-icon--{$ getServiceClass(services.http) $}"></span>
                    &nbsp;http
                    <span data-ng-if="services.http.status_info"> &ndash; <small>{$ services.http.status_info $}</small></span>
                </li>
                <li class="p-list-tree__item">
                    <span>
                        <span class="p-icon--{$ getServiceClass(services.tftp) $}"></span>
                        &nbsp;tftp
                        <span data-ng-if="services.tftp.status_info"> &ndash; <small>{$ services.tftp.status_info $}</small></span>
                    </span>
                </li>
            </ul>
        </li>
        <li class="p-list-tree__item" data-ng-if="node.node_type == 2 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.dhcpd) $}"></span>&nbsp;dhcpd
                <span data-ng-if="services.dhcpd.status_info"> &ndash; <small>{$ services.dhcpd.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="node.node_type == 2 || node.node_type == 4">
            <span>
                <span class="p-icon--{$ getServiceClass(services.dhcpd6) $}"></span>&nbsp;dhcpd6
                <span data-ng-if="services.dhcpd6.status_info"> &ndash; <small>{$ services.dhcpd6.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 2 || node.node_type == 4) && services.dns_rack">
            <span>
                <span class="p-icon--{$ getServiceClass(services.dns_rack) $}"></span>&nbsp;dns
                <span data-ng-if="services.dns_rack.status_info"> &ndash; <small>{$ services.dns_rack.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 2 || node.node_type == 4) && services.ntp_rack">
            <span>
                <span class="p-icon--{$ getServiceClass(services.ntp_rack) $}"></span>&nbsp;ntp
                <span data-ng-if="services.ntp_rack.status_info"> &ndash; <small>{$ services.ntp_rack.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 2 || node.node_type == 4) && services.proxy_rack">
            <span>
                <span class="p-icon--{$ getServiceClass(services.proxy_rack) $}"></span>&nbsp;proxy
                <span data-ng-if="services.proxy_rack.status_info"> &ndash; <small>{$ services.proxy_rack.status_info $}</small></span>
            </span>
        </li>
        <li class="p-list-tree__item" data-ng-if="(node.node_type == 2 || node.node_type == 4) && services.syslog_rack">
            <span>
                <span class="p-icon--{$ getServiceClass(services.syslog_rack) $}"></span>&nbsp;syslog
                <span data-ng-if="services.syslog_rack.status_info"> &ndash; <small>{$ services.syslog_rack.status_info $}</small></span>
            </span>
        </li>
    </ul>
</div>
