<header>
  <h2 class="p-heading--four">Storage</h2>
  <h3 class="p-heading--four" data-ng-if="node.storage > 0"><strong>{$ node.storage $} GB over {$ node.physical_disk_count $} disks</strong></h3>
  <h3 class="p-heading--four" data-ng-if="node.storage == 0"><strong>Unknown</strong></h3>
</header>
<div>
  <ul class="p-list">
    <li class="p-list__item u-no-margin--top" data-ng-repeat="gs in node.grouped_storages">
      <span data-ng-if="gs.count > 0">{$ gs.count $}x{$ (gs.size / 1000 / 1000 / 1000).toFixed(0) $}GB ({$ gs.disk_type $})</span>
    </li>
  </ul>
</div>
<footer>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.storage > 0">
    <span data-maas-script-status="script-status" data-script-status="node.storage_test_status.status"></span>
    {$ node.storage_test_status.status_tooltip $}
  </p>
  <p><a href="" data-ng-if="!isDevice && !(isController && node.status === 'New') && node.storage > 0" data-ng-click="section.area = 'storage'">See storage &rsaquo;</a></p>
  <p data-ng-if="!isDevice && !(isController && node.status === 'New') && node.storage == 0"><i class="p-icon--information">Information:</i> No data recieved</p>
</footer>
