# -*- mode: shell-script -*-
#
# Control node power through WOL, via `wakeonlan` or `etherwake`.
#

mac_address={{mac_address}}
power_change={{power_change}}

if [ "${power_change}" != 'on' ]
then
    echo "There is no way to power down a node through etherwake." >&2
    exit 1
elif [ -x /usr/bin/wakeonlan ]
then
    /usr/bin/wakeonlan $mac_address
elif [ -x /usr/sbin/etherwake ]
then
    /usr/sbin/etherwake $mac_address
else
    echo "No wakeonlan or etherwake program found." >&2
fi

exit 0
