# Canonical theme (still needed for Furo theme and custom templates)
canonical-sphinx==0.6.0

# Extensions previously auto-loaded by canonical-sphinx
myst-parser==4.0.1
sphinx-autobuild==2025.8.25
sphinx-design==0.7.0
sphinx-notfound-page==1.1.0
sphinx-reredirects==1.1.0
sphinx-tabs==3.5.0
sphinxcontrib-jquery==4.1
sphinxext-opengraph==0.13.0

# Extra extensions, previously bundled as canonical-sphinx-extensions
sphinx-config-options==0.1.1
sphinx-contributor-listing==0.1.0
sphinx-filtered-toctree==0.1.0
sphinx-related-links==0.1.2
sphinx-roles==0.1.0
sphinx-terminal==1.0.3
sphinx-ubuntu-images==0.1.0
sphinx-youtube-links==0.1.0

# Vale
rst2html==2020.7.4
vale==3.13.0.0

# Other dependencies, possibly dependencies of the above
# due to this being an output of pip freeze.
accessible-pygments==0.0.5
alabaster==0.7.16
anyio==4.12.1
babel==2.18.0
beautifulsoup4==4.14.3
cairocffi==1.7.1
cairosvg==2.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
cssselect2==0.9.0
defusedxml==0.7.1
docutils==0.21.2
furo==2025.12.19
gitdb==4.0.12
gitpython==3.1.46
h11==0.16.0
idna==3.11
imagesize==2.0.0
jinja2==3.1.6
linkify-it-py==2.1.0
markdown-it-py==3.0.0
markupsafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
packaging==26.0
pillow==12.1.1
pycparser==3.0
pygments==2.19.2
pyyaml==6.0.3
requests==2.32.5
smmap==5.0.3
snowballstemmer==3.0.1
soupsieve==2.8.3
sphinx==7.4.7
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx-last-updated-by-git==0.3.8
sphinx-sitemap==2.9.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-svg2pdfconverter==2.1.0
starlette==1.0.0
tinycss2==1.5.1
typing-extensions==4.15.0
uc-micro-py==2.0.0
urllib3==2.6.3
uvicorn==0.42.0
watchfiles==1.1.1
webencodings==0.5.1
websockets==16.0
