<tags-input data-ng-model="ngModel" placeholder="Select scripts" key-property="id" display-property="name" min-length=1 on-tag-adding="onTagAdding($tag)" spellcheck="false" add-from-autocomplete-only="true" on-tag-removed="onTagRemoved()" on-tag-adding="onTagAdding($tag)" on-tag-added="onTagAdded()">
  <auto-complete source="getScripts($query)" min-length="0" load-on-down-arrow="true" load-on-focus="true" load-on-empty="false" template="script-template" max-results-to-show="1000"></auto-complete>
</tags-input>

<div data-ng-repeat="script in scriptsWithUrlParam">
  <div class="p-form__group">
    <label class="p-form__label" for="script-url-{$ script.id $}">For <strong>{$ script.name $}</strong> script, use URL(s)</label>
    <div class="p-form__control">
      <input type="text" name="script-url-{$ script.id $}" id="script-url-{$ script.id $}" data-ng-model="script.parameters.url.value" data-ng-change="onParameterChange()" data-ng-required="script.parameters.url.required">
      <p class="p-form-help-text" style="max-width: 100%">{$ script.parameters.url.description $}</p>
    </div>
  </div>
</div>

<script type="text/ng-template" id="script-template">
  <div>
    <p>{{data.name}} {{data.tags_string}}</p>
    <p class="p-form-help-text">{{data.description}}</p>
  </div>
</script>
