<form class="form">
    <div data-ng-if="!loading" data-ng-class="{'p-strip is-bordered': design === 'page', 'p-card--highlighted col-12': design === 'card'}">
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four"><span data-ng-if="design === 'card'"><i class="{$ getTitleIcon() $}"></i>&nbsp;</span>Ubuntu</h2>
                <hr />
                <p data-ng-if="isSuperUser() && !source.tooMany">
                    Select images and architecture to be imported and kept in sync daily. Images will be available for deploying to machines managed by MAAS.
                </p>
            </div>
        </div>
        <div class="row" data-ng-if="isSuperUser() && !source.tooMany">
            <h3 class="p-heading--four">Choose source</h3>
        </div>
        <div class="row" data-ng-if="isSuperUser() && !source.tooMany">
            <div class="col-2">
                <input type="radio" data-ng-model="source.source_type" id="source_maas" value="maas.io" data-ng-change="sourceChanged()" data-ng-disabled="saving">
                <label for="source_maas">maas.io</label>
            </div>
            <div class="col-2">
                <input type="radio" data-ng-model="source.source_type" id="source_custom" value="custom" data-ng-change="sourceChanged()" data-ng-disabled="saving">
                <label for="source_custom">Custom</label>
            </div>
        </div>
        <div class="row" data-ng-if="isSuperUser() && !source.tooMany && showMirrorPath()">
            <div class="col-8">
                <h3 class="p-heading--five">Mirror URL</h3>
                <p>Add the URL you want to use to select your images from.</p>
            </div>
        </div>
        <div class="row" data-ng-if="isSuperUser() && !source.tooMany && showMirrorPath()">
            <div class="col-8">
                <div class="row">
                    <div class="col-5 p-form-validation u-no-margin--top" data-ng-class="{ 'is-error': !source.connecting && source.errorMessage }">
                        <input class="p-form-validation__input" type="text" name="mirrorUrl" placeholder="e.g. http:// or https://" data-ng-model="source.url" data-ng-change="sourceChanged()">
                        <div class="p-form-validation__message" data-ng-if="!source.connecting && source.errorMessage">
                              <p>
                                  <span class="p-notification__status">Error:</span>{$ source.errorMessage $}
                                  <a class="p-notification__action" data-ng-if="source.source_type === 'maas.io'" data-ng-click="connect()">Retry</a>
                              </p>
                        </div>
                    </div>
                    <div class="col-3">
                        <button class="p-button--neutral" aria-label="Toggle advanced URL controls" data-ng-click="toggleAdvancedOptions()">

                            <span data-ng-if="!isShowingAdvancedOptions()">
                                Show advanced options <i class="p-icon--plus p-icon--inline-right"></i>
                            </span>
                            <span data-ng-if="isShowingAdvancedOptions()">
                                Hide advanced options <i class="p-icon--minus p-icon--inline-right"></i>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row" data-ng-if="isShowingAdvancedOptions()">
                    <div class="col-5">
                        <div class="p-form-validation" data-ng-class="{ 'is-error': bothKeyringOptionsSet() }">
                            <label for="keyring_filename">Path to the keyring to validate the mirror path.</label>
                            <input type="text" name="keyring_filename" placeholder="e.g. /usr/share/keyrings/ubuntu-cloudimage-keyring.gpg" data-ng-model="source.keyring_filename" class="p-form-validation__input">
                            <p class="p-form-validation__message" data-ng-if="bothKeyringOptionsSet()">
                                <strong>Error: </strong>Cannot set both keyring path and keyring contents.
                            </p>
                        </div>
                        <div class="p-form-validation" data-ng-class="{ 'is-error': bothKeyringOptionsSet() }">
                            <label for="keyring_data">Contents of the keyring to validate the mirror path.</label>
                            <textarea name="keyring_data" placeholder="Contents of GPG key" data-ng-model="source.keyring_data" class="p-form-validation__input"></textarea>
                            <p class="p-form-validation__message" data-ng-if="bothKeyringOptionsSet()">
                                <strong>Error: </strong>Cannot set both keyring path and keyring contents.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 u-align--right">
                <button class="p-button--positive" data-ng-if="showConnectButton()" data-ng-disabled="isConnectButtonDisabled()" data-ng-click="connect()">Connect</button>
            </div>
        </div>
        <div class="row" data-ng-if="showConnectBlock()">
            <div class="col-8">
                <p data-ng-if="source.connecting">
                    <i class="p-icon--spinner u-animation--spin"></i> Connecting
                </p>
            </div>
        </div>

        <div class="row p-divider" data-ng-if="isSuperUser() && !source.tooMany && showSelections()">
            <div class="col-6 p-divider__block">
                <h3 class="p-heading--four">Images</h3>
                <div class="row">
                    <ul class="col-3 p-list">
                        <li  class="p-list__item" data-ng-repeat="release in getUbuntuLTSReleases() | orderBy:'-title'">
                            <input type="checkbox" id="{$ release.name $}" data-ng-checked="isSelected('releases', release)" data-ng-click="toggleSelection('releases', release)" data-ng-disabled="saving">
                            <label for="{$ release.name $}">{$ release.title $}</label>
                        </li>
                    </ul>
                    <ul class="col-3 p-list">
                        <li class="p-list__item" data-ng-repeat="release in getUbuntuNonLTSReleases() | orderBy:'-title'">
                            <input type="checkbox" id="{$ release.name $}" data-ng-checked="isSelected('releases', release)" data-ng-click="toggleSelection('releases', release)" data-ng-disabled="saving">
                            <label for="{$ release.name $}">{$ release.title $}</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 p-divider__block">
                <h3 class="p-heading--four">Architectures</h3>
                <ul class="p-list is-split">
                    <li class="p-list__item" data-ng-repeat="arch in getArchitectures() | orderBy:'title'">
                        <input type="checkbox" id="{$ arch.name $}" data-ng-checked="isSelected('arches', arch)" data-ng-click="toggleSelection('arches', arch)" data-ng-disabled="saving">
                        <label for="{$ arch.name $}">{$ arch.title $}</label>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <table class="p-table-expanding p-table--images" data-ng-if="showImagesTable()">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell" title="Release">Release</th>
                        <th class="p-table__cell" title="Architecture">Architecture</th>
                        <th class="p-table__cell" title="Size">Size</th>
                        <th class="p-table__cell" title="Status">Status</th>
                        <th class="p-table__cell u-align--right">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="!ltsIsSelected()">
                        <td colspan="5" aria-label="Error">
                            <i class="p-icon--error">Error: </i> Select at least one 16.04+ LTS release and one architecture.
                        </td>
                    </tr>
                    <tr data-ng-if="!commissioningSeriesSelected()">
                        <td colspan="5" aria-label="Error">
                            <i class="p-icon--error">Error: </i> Ubuntu {$ bootResources.ubuntu.commissioning_series $} must be selected as it is the operating system used for commissioning.
                        </td>
                    </tr>
                    <tr class="p-table__row" data-ng-repeat="image in ubuntuImages | orderBy:['-title', 'arch']" data-ng-class="{'is-active': canBeRemoved(image) && ubuntuDeleteId === image.resourceId}">
                        <td class="p-table__cell" aria-label="Release" title="{$ image.title $}">
                            <i class="{$ image.icon $}"></i>
                            {$ image.title $} <span class="p-tooltip__message" role="tooltip" id="tooltip-{$ image.resourceId}" data-ng-if="canBeRemoved(image)"><i class="p-icon--warning p-tooltip--top-right"  aria-describedby="tooltip-{$ image.resourceId}">Image no longer exists at the source.</span></i>
                        </td>
                        <td class="p-table__cell" aria-label="Architecture" title="{$ image.arch $}">{$ image.arch $}</td>
                        <td class="p-table__cell" aria-label="Size" title="{$ image.size $}">{$ image.size $}</td>
                        <td class="p-table__cell" aria-label="Status" title="{$ image.status $}">{$ image.status $}</td>
                        <td class="p-table__cell u-align--right p-table--actions-cells">
                            <button data-ng-if="(isSuperUser() && canBeRemoved(image))" class="p-button--base is-small" aria-label="Remove" data-ng-click="deleteImage(image)">
                                <i class="p-icon--delete">Remove</i>
                            </button>
                        </td>
                        <td colspan="6" class="p-table-expanding__panel col-12" data-ng-if="canBeRemoved(image) && ubuntuDeleteId === image.resourceId">
                            <div class="col-6">
                                <p><i class="p-icon--warning">Warning:</i> Are you sure you want to remove this image?</p>
                            </div>
                            <div class="col-6">
                                <div class="u-align--right">
                                    <button class="p-button--neutral is-inline" data-ng-click="deleteImage()">Cancel</button>
                                    <button class="p-button--negative u-no-margin--top" data-ng-click="confirmDeleteImage()">Remove</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" data-ng-if="!source.tooMany">
            <div class="col-12">
                <div class="u-align--right">
                    <maas-action-button
                        class="p-button--neutral"
                        indeterminate-state="stopping"
                        data-ng-if="showStopImportButton()"
                        data-ng-disabled="!canStopImport()"
                        data-ng-click="stopImport()">
                        {$ getStopImportText() $}
                    </maas-action-button>
                    <maas-action-button
                        class="p-button--positive"
                        indeterminate-state="saving"
                        done-state="saved"
                        data-ng-if="isSuperUser() && showSaveSelection()"
                        data-ng-disabled="!canSaveSelection()"
                        data-ng-click="saveSelection()">
                        {$ getSaveSelectionText() $}
                    </maas-action-button>
                </div>
            </div>
        </div>
    </div>
</form>

<div data-ng-if="ubuntu_core.images.length" data-ng-class="{'p-strip': design === 'page'}">
    <div class="row">
        <div class="col-8">
            <h2 class="p-heading--four">Ubuntu Core</h2>
            <div data-ng-if="isSuperUser() && !source.tooMany">
                <span data-ng-repeat="image in ubuntu_core.images | orderBy:['-title']">
                    <input type="checkbox" id="{$ image.name $}" data-ng-checked="image.checked" data-ng-click="toggleUbuntuCoreSelection(image)" data-ng-disabled="saving">
                    <label for="{$ image.name $}">{$ image.title $}</label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="p-table-expanding p-table--images">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell">Name</th>
                        <th class="p-table__cell">Architecture</th>
                        <th class="p-table__cell">Size</th>
                        <th class="p-table__cell">Status</th>
                        <th class="p-table__cell">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="!ubuntuCoreImages.length">
                        <td colspan="4" class="table-cell--100">No images have been selected for syncing.</td>
                    </tr>
                    <tr class="p-table__row" data-ng-repeat="image in ubuntuCoreImages | orderBy:['-title', 'arch']">
                        <td class="p-table__cell" aria-label="Name"><i class="{$ image.icon $}"></i>{$ image.title $}</td>
                        <td class="p-table__cell" aria-label="Architecture">{$ image.arch $}</td>
                        <td class="p-table__cell" aria-label="Size">{$ image.size $}</td>
                        <td class="p-table__cell" aria-label="Status">{$ image.status $}</td>
                        <td class="p-table__cell">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-ng-if="!source.tooMany">
        <div class="col-12">
            <div class="u-align--right">
                <maas-action-button
                    class="p-button--positive"
                    indeterminate-state="saving"
                    done-state="saved"
                    data-ng-if="isSuperUser()"
                    data-ng-disabled="!canSaveSelection()"
                    data-ng-click="saveUbuntuCoreSelection()">
                    {$ getSaveSelectionText() $}
                </maas-action-button>
            </div>
        </div>
    </div>
</div>

<div data-ng-if="design === 'page' && other.images.length && !source.isNew" data-ng-class="{'p-strip': design === 'page'}">
    <div class="p-strip">
        <div class="row">
            <h2 class="p-heading--four">Other Images</h2>
            <div data-ng-if="isSuperUser() && !source.tooMany">
                <div class="col-3" data-ng-repeat="image in other.images | orderBy:['-title']">
                    <input type="checkbox" id="{$ image.name $}" data-ng-checked="image.checked" data-ng-click="toggleOtherSelection(image)" data-ng-disabled="saving">
                    <label for="{$ image.name $}" class="u-no-margin--bottom">{$ image.title $}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="p-table-expanding p-table--images">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell">Release</th>
                        <th class="p-table__cell">Architecture</th>
                        <th class="p-table__cell">Size</th>
                        <th class="p-table__cell">Status</th>
                        <th class="p-table__cell">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-if="!otherImages.length">
                        <td colspan="4" class="col-12">
                            No images have been selected for syncing.
                        </td>
                    </tr>
                    <tr class="p-table__row" data-ng-repeat="image in otherImages | orderBy:['-title', 'arch']">
                        <td aria-label="Release" class="p-table__cell">
                            <i class="{$ image.icon $}"></i>
                            {$ image.title $}
                        </td>
                        <td aria-label="Architecture" class="p-table__cell">{$ image.arch $}</td>
                        <td aria-label="Size" class="p-table__cell">{$ image.size $}</td>
                        <td aria-label="Status" class="p-table__cell">{$ image.status $}</td>
                        <td class="p-table__cell">&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-ng-if="!source.tooMany">
        <div class="col-12">
            <div class="u-align--right">
                <maas-action-button
                    class="p-button--positive"
                    indeterminate-state="saving"
                    done-state="saved"
                    data-ng-if="isSuperUser()"
                    data-ng-disabled="saving"
                    data-ng-click="saveOtherSelection()">
                    {$ getSaveSelectionText() $}
                </maas-action-button>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="design === 'page' && generatedImages.length">
    <div class="wrapper--inner">
        <h2 class="p-heading--four">Generated Images</h2>
        <table class="p-table-expanding p-table--images">
            <thead>
                <tr class="p-table__row">
                    <th class="p-table__cell">Release</th>
                    <th class="p-table__cell">Architecture</th>
                    <th class="p-table__cell">Size</th>
                    <th class="p-table__cell">Status</th>
                    <th class="p-table__cell u-align--right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="!generatedImages.length">
                    <td colspan="6">
                        No images have been uploaded.
                    </td>
                </tr>
                <tr class="p-table__row" data-ng-repeat="image in generatedImages | orderBy:['-title', 'arch']" data-ng-class="{ 'is-active': isShowingDeleteConfirm(image)}">
                    <td aria-label="Release" class="p-table__cell">
                        <i class="{$ image.icon $}"></i>
                        {$ image.title $}
                    </td>
                    <td aria-label="Architecture" class="p-table__cell">{$ image.arch $}</td>
                    <td aria-label="Size" class="p-table__cell">{$ image.size $}</td>
                    <td aria-label="Status" class="p-table__cell">{$ image.status $}</td>
                    <td class="p-table__cell u-align--right">
                        <button class="p-button--negative" aria-label="Remove" data-ng-if="isSuperUser()" data-ng-click="quickRemove(image)">Remove image</button>
                    </td>
                    <td class="p-table-expanding__panel col-12" data-ng-if="isShowingDeleteConfirm(image)">
                        <h2 data-ng-click="cancelRemove()" class="u-float--left p-heading--four">Remove image</h2>
                        <p><i class="p-icon--warning">Warning: </i> Are you sure you want to remove this image?</p>
                        <div class="u-float--right">
                            <a class="p-button--neutral is-inline" type="button" data-ng-click="cancelRemove()">Cancel</a>
                            <button class="p-button--negative" data-ng-click="confirmRemove(image)">Remove</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div data-ng-if="design === 'page' && customImages.length" data-ng-class="{'p-strip': design === 'page'}">
    <div class="row">
        <h2 class="p-heading--four">Custom Images</h2>
        <table class="p-table-expanding p-table--images">
            <thead>
                <tr class="p-table__row">
                    <th class="p-table__cell">Release</th>
                    <th class="p-table__cell">Architecture</th>
                    <th class="p-table__cell">Size</th>
                    <th class="p-table__cell">Status</th>
                    <th class="p-table__cell">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-if="!customImages.length">
                    <td colspan="6">
                        No images have been uploaded.
                    </td>
                </tr>
                <tr class="p-table__row" data-ng-repeat="image in customImages | orderBy:['-title', 'arch']" data-ng-class="{ 'is-active': isShowingDeleteConfirm(image)}">
                    <td aria-label="Release" class="p-table__cell">
                        <i class="{$ image.icon $}"></i>
                        {$ image.title $}
                    </td>
                    <td aria-label="Architecture" class="p-table__cell">{$ image.arch $}</td>
                    <td aria-label="Size" class="p-table__cell">{$ image.size $}</td>
                    <td aria-label="Status" class="p-table__cell">{$ image.status $}</td>
                    <td class="p-table__cell u-align--right">
                        <a aria-label="Remove" data-ng-if="isSuperUser()" data-ng-click="toggleMenu(); quickRemove(image)">Remove image</a>
                    </td>
                    <td class="p-table-expanding__panel col-12" data-ng-if="isShowingDeleteConfirm(image)">
                        <h2 class="p-heading--four" data-ng-click="cancelRemove()">Remove image</h2>
                        <p><i class="p-icon--warning">Warning: </i> Are you sure you want to remove this image?</p>
                        <button class="p-button--neutral is-inline" type="button" data-ng-click="cancelRemove()">Cancel</button>
                        <button class="p-button--negative is-inline" data-ng-click="confirmRemove(image)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
