<div data-ng-hide="loaded">
    <header class="page-header">
        <div class="inner-wrapper">
            <h1 class="page-header__title twelve-col">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded && !isSuperUser()">
    <header class="page-header">
        <div class="inner-wrapper">
            <h1 class="page-header__title twelve-col">You must be a super user to access controller details.</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded && isSuperUser()">
    <header class="page-header margin-bottom" data-maas-sticky-header>
        <div class="inner-wrapper">
            <h1 class="page-header__title eight-col">
                <span contenteditable="true"
                    data-ng-class="{ editable: canEdit(), invalid: editNameInvalid() }"
                    data-ng-model="nameHeader.value"
                    data-ng-disabled="!canEdit()"
                    data-maas-editing="editName()"></span>
                <a href="" class="alt ng-hide"
                    data-ng-show="nameHeader.editing"
                    data-ng-click="cancelEditName()">Cancel</a>
                <a href="" class="link-cta-ubuntu ng-hide"
                    data-ng-show="nameHeader.editing"
                    data-ng-class="{ secondary: editNameInvalid() }"
                    data-ng-click="saveEditName()">Save</a>
            </h1>
            <div class="page-header__actions four-col last-col">
                 <div class="page-header__cta two-col no-margin-bottom last-col">
                    <div class="two-col no-margin-bottom last-col">
                        <a href="#" class="link-cta-ubuntu right">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="inner-wrapper">
        <ul class="flash-messages">
            <li class="flash-messages__item error ng-hide"
                data-ng-repeat="(error_type, error) in errors"
                data-ng-show="error.viewable">{$ error.message $}</li>
        </ul>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2 class="title">Controller Summary</h2>
                <form>
                    <div class="six-col">
                        <dl>
                            <dt class="two-col">Type</dt>
                                <dd class="four-col last-col">
                                    Rack controller ({$ node.node_type $})
                                </dd>
                            <dt class="two-col">Last image sync</dt>
                                <dd class="four-col last-col">
                                    <time datetime="2015-08-29T13:58Z">
                                        August 29th, 2015 at 13:58
                                    </time>
                                </dd>
                            <dt class="two-col">Zone</dt>
                                <dd class="four-col last-col">
                                    {$ node.zone.name $}
                                </dd>
                            <dt class="two-col">Fabrics</dt>
                                <dd class="four-col last-col">
                                    <a href="#" class="link--alt">Fabric 1</a>, <a href="#" class="link--alt">Fabric 2</a>, <a href="#" class="link--alt">Fabric 3</a>, <a href="#" class="link--alt">Fabric 4</a>
                                </dd>
                            <dt class="two-col">DHCP</dt>
                                <dd class="four-col last-col">
                                    <a href="#" class="link--alt">View compiled configuration</a>
                                </dd>
                        </dl>
                    </div>
                    <div class="six-col last-col">
                        <dl>
                            <dt class="two-col">CPU</dt>
                                <dd class="four-col last-col">
                                    {$ node.cpu_count $} cores
                                </dd>
                            <dt class="two-col">RAM</dt>
                                <dd class="four-col last-col">
                                    {$ node.memory $}GiB
                                </dd>
                            <dt class="two-col">Storage</dt>
                                <dd class="four-col last-col">
                                    {$ node.storage $}GB over {$ node.physical_disk_count $} disks
                                </dd>
                            <dt class="two-col">OS</dt>
                                <dd class="four-col last-col">
                                    Ubuntu 16.04
                                </dd>
                            <dt class="two-col">MAAS version</dt>
                                <dd class="four-col last-col">
                                    1.10
                                </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Services</h2>
            </div>
            <div class="twelve-col">
                <ul class="list__tree no-bullets">
                    <li class="list__item">
                        Cluster D
                        <ul class="list__tree list__tree--sub-level">
                            <li class="list__item">TFTP</li>
                            <li class="list__item">HTTP</li>
                        </ul>
                    </li>
                    <li class="list__item">
                        <span class="color--error"><span class="icon error"></span>&nbsp;DHCP 4</span> <div class="list__item-feedback">DHCP 4 cannot be provided due to reset</div>
                    </li>
                    <li class="list__item">
                        <span class="color--error"><span class="icon error"></span>&nbsp;DHCP 6</span> <div class="list__item-feedback">DHCP 6 cannot be provided due to reset</div>
                    </li>
                    <li class="list__item">ISCSI</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>Served VLANs</h2>
            </div>
            <div class="twelve-col">
                <form class="table">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table__column--10">VLAN</div>
                            <div class="table__header table__column--10">Fabric</div>
                            <div class="table__header table__column--30">Subnet</div>
                            <div class="table__header table__column--20">Primary rack</div>
                            <div class="table__header table__column--20">Secondary rack</div>
                            <div class="table__header table__column--10">HA</div>
                        </div>
                    </header>
                    <main class="table__body">
                        <div class="table__row">
                            <div class="table__data table__column--10"><a href="#">10</a></div>
                            <div class="table__data table__column--10"><a href="#">Fabric-1</a></div>
                            <div class="table__data table__column--30"><a href="#">192.168.10.0/24</a></div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2">rack-controller-2</option>
                                    <option value="3" selected="selected">rack-controller-3</option>
                                    <option value="4">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled" selected="selected">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2">rack-controller-2</option>
                                    <option value="3">rack-controller-3</option>
                                    <option value="4">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__header table__column--10"></div>
                        </div>
                        <div class="table__row">
                            <div class="table__data table__column--10"><a href="#">Untagged</a></div>
                            <div class="table__data table__column--10"><a href="#">Fabric-2</a></div>
                            <div class="table__data table__column--30"><a href="#">192.168.10.0/24</a></div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2">rack-controller-2</option>
                                    <option value="3" selected="selected">rack-controller-3</option>
                                    <option value="4">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2">rack-controller-2</option>
                                    <option value="3">rack-controller-3</option>
                                    <option value="4" selected="selected">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__header table__column--10"><span class="icon simple-tick"></span></div>
                        </div>
                        <div class="table__row">
                            <div class="table__data table__column--10"><a href="#">Untagged</a></div>
                            <div class="table__data table__column--10"><a href="#">Fabric-3</a></div>
                            <div class="table__data table__column--30"><a href="#">192.168.10.0/24</a></div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2" selected="selected">rack-controller-2</option>
                                    <option value="3">rack-controller-3</option>
                                    <option value="4">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__data table__column--20">
                                <select name="rackCtrlr" id="rackCtrlr" class="table__input">
                                    <option value="" disabled="disabled">Choose rack controller...</option>
                                    <option value="1">rack-controller-1</option>
                                    <option value="2">rack-controller-2</option>
                                    <option value="3" selected="selected">rack-controller-3</option>
                                    <option value="4">rack-controller-4</option>
                                </select>
                            </div>
                            <div class="table__header table__column--10"><span class="icon simple-tick"></span></div>
                        </div>
                    </main>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper" ng-controller="NodeNetworkingController">
            <div class="twelve-col" data-ng-hide="loaded">
                <h2 class="title">Network</h2>
                <div class="twelve-col">Loading...</div>
            </div>
            <form class="ng-hide" data-ng-show="loaded">
                <div class="twelve-col">
                    <h2 class="title">Network</h2>
                    <div class="twelve-col error ng-hide" data-ng-show="isAllNetworkingDisabled() && isSuperUser()">
                        <ul class="flash-messages">
                            <li class="flash-messages__item info">
                                Network configuration cannot be modified unless the node is Ready or Broken.
                            </li>
                        </ul>
                    </div>
                    <div class="twelve-col error ng-hide" data-ng-show="!node.on_network">
                        <ul class="flash-messages">
                            <li class="flash-messages__item error">
                                Node must be connected to a network.
                            </li>
                        </ul>
                    </div>
                    <div class="twelve-col error ng-hide" data-ng-show="!isUbuntuOS()">
                        <ul class="flash-messages">
                            <li class="flash-messages__item info">
                                Custom network configuration only supported on Ubuntu. Using OS default configuration.
                            </li>
                        </ul>
                    </div>
                    <div class="table margin-bottom">
                        <header class="table__head">
                            <div class="table__row">
                                <div class="table__header table__column--3"></div>
                                <div class="table__header table__column--12">
                                    <a class="active"
                                        data-ng-class="{ active: column == 'name' }"
                                        data-ng-click="column = 'name'">
                                        Name
                                    </a>
                                    <span class="divide"></span>
                                    <a data-ng-class="{ active: column == 'mac' }"
                                        data-ng-click="column = 'mac'">
                                        MAC
                                    </a>
                                </div>
                                <div class="table__header table__column--3">PXE</div>
                                <div class="table__header table__column--9">Type</div>
                                <div class="table__header table__column--14">Fabric</div>
                                <div class="table__header table__column--14">VLAN</div>
                                <div class="table__header table__column--18">Subnet</div>
                                <div class="table__header table__column--27">IP Address</div>
                            </div>
                        </header>
                        <main class="table__body" data-selected-rows>
                            <div class="table__row"
                                data-ng-class="{ active: isInterfaceSelected(interface), disabled: isDisabled(), noEdit: cannotEditInterface(interface) }"
                                data-ng-repeat="interface in interfaces | removeBondParents:newBondInterface">
                                <div class="table__data table__column--3">
                                    <span data-ng-hide="isAllNetworkingDisabled()">
                                        <input class="checkbox" type="checkbox" id="{$ getUniqueKey(interface) $}"
                                            data-ng-checked="isInterfaceSelected(interface)"
                                            data-ng-click="toggleInterfaceSelect(interface)"
                                            data-ng-disabled="isDisabled()">
                                        <label class="checkbox-label" for="{$ getUniqueKey(interface) $}"></label>
                                    </span>
                                </div>
                                <div class="table__data table__column--12" data-ng-show="column == 'name'">
                                    <span class="ng-hide" data-ng-show="interface.type == 'alias' || interface.type == 'vlan'">{$ interface.name $}</span>
                                    <input type="text" class="table__input"
                                        data-ng-show="interface.type != 'alias' && interface.type != 'vlan'"
                                        data-ng-model="interface.name"
                                        data-maas-enter-blur
                                        data-ng-focus="setFocusInterface(interface)"
                                        data-ng-blur="clearFocusInterface(interface)"
                                        data-ng-class="{ invalid: isInterfaceNameInvalid(interface) }">
                                    <span class="table__label active ng-hide" data-ng-show="interface.members">
                                        <a data-ng-click="toggleMembers(interface)">
                                            <span data-ng-hide="isShowingMembers(interface)">Show members</span>
                                            <span class="ng-hide" data-ng-show="isShowingMembers(interface)">Hide members</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="table__data table__column--12 ng-hide" data-ng-show="column == 'mac'">
                                    {$ interface.mac_address $}
                                    <span class="table__label active ng-hide" data-ng-show="interface.members">
                                        <a data-ng-click="toggleMembers(interface)">
                                            <span data-ng-hide="isShowingMembers(interface)">Show members</span>
                                            <span class="ng-hide" data-ng-show="isShowingMembers(interface)">Hide members</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="table__data table__column--3">
                                    <input class="align-center" type="radio" name="bootInterface" checked
                                        data-ng-if="isBootInterface(interface)">
                                </div>
                                <div class="table__data table__column--9">{$ getInterfaceTypeText(interface) $}</div>
                                <div class="table__data table__column--14">
                                    <select class="table__input" name="fabric" id="fabric"
                                        data-ng-model="interface.fabric"
                                        data-ng-disabled="interface.type == 'alias' || interface.type == 'vlan'"
                                        data-ng-change="fabricChanged(interface)"
                                        data-ng-options="fabric as fabric.name for fabric in fabrics">
                                    </select>
                                </div>
                                <div class="table__data table__column--14">
                                    <select class="table__input" name="vlan" id="vlan"
                                        data-ng-model="interface.vlan"
                                        data-ng-disabled="interface.type == 'alias' || interface.vlan.vid === 0"
                                        data-ng-change="saveInterface(interface)"
                                        data-ng-options="vlan as getVLANText(vlan) for vlan in vlans | removeDefaultVLANIfVLAN:interface.type | filterByFabric:interface.fabric">
                                    </select>
                                </div>
                                <div class="table__data table__column--18">
                                    <select class="table__input" name="subnet" id="subnet"
                                        data-ng-hide="isAllNetworkingDisabled() && interface.discovered[0].subnet_id"
                                        data-ng-model="interface.subnet"
                                        data-ng-change="subnetChanged(interface)"
                                        data-ng-options="subnet as getSubnetText(subnet) for subnet in subnets | filterByVLAN:interface.vlan">
                                        <option value="" data-ng-hide="interface.links.length > 1">Unconfigured</option>
                                    </select>
                                    <span class="ng-hide" data-ng-show="isAllNetworkingDisabled() && interface.discovered[0].subnet_id">
                                        {$ getSubnetText(getSubnet(interface.discovered[0].subnet_id)) $}
                                    </span>
                                </div>
                                <div class="table__data table__column--21">
                                    <ul class="no-bullets no-margin-bottom" data-ng-hide="isAllNetworkingDisabled()">
                                        <li>
                                            <select class="table__input" name="link-mode" id="link-mode"
                                                data-ng-model="interface.mode"
                                                data-ng-change="saveInterfaceLink(interface)"
                                                data-ng-disabled="isLinkModeDisabled(interface)"
                                                data-ng-options="mode.mode as mode.text for mode in modes | filterLinkModes:interface">
                                            </select>
                                        </li>
                                        <li class="margin-top--ten" data-ng-show="shouldShowIPAddress(interface)">
                                            <input type="text" class="table__input no-margin-top"
                                                data-ng-model="interface.ip_address"
                                                data-ng-class="{ invalid: isIPAddressInvalid(interface) }"
                                                data-maas-enter-blur
                                                data-ng-focus="setFocusInterface(interface)"
                                                data-ng-blur="clearFocusInterface(interface)"
                                                data-ng-disabled="interface.mode != 'static'">
                                        </li>
                                    </ul>
                                    <span class="ng-hide" data-ng-show="isAllNetworkingDisabled() && !interface.discovered[0].ip_address">
                                        {$ interface.ip_address $} ({$ getLinkModeText(interface) $})
                                    </span>
                                    <span class="ng-hide" data-ng-show="isAllNetworkingDisabled() && interface.discovered[0].ip_address">
                                        {$ interface.discovered[0].ip_address $} (DHCP)
                                    </span>
                                </div>
                                <div class="table__data table__column--6">
                                    <div class="table__controls align-right">
                                        <a class="icon add tooltip"
                                            data-tooltip="Add"
                                            data-ng-click="quickAdd(interface)"
                                            data-ng-show="canAddAlias(interface) || canAddVLAN(interface)"></a>
                                        <a class="icon delete tooltip" data-tooltip="Remove" data-ng-click="quickRemove(interface)"></a>
                                    </div>
                                </div>
                                <div class="table__dropdown--info">
                                    <div class="table__row table__dropdown-row--info" data-ng-class="{ active: isShowingMembers(interface) }" data-ng-repeat="member in interface.members">
                                        <div data-ng-show="isShowingMembers(interface)">
                                            <div class="table__data no-padding-top table__column--3"></div>
                                            <div class="table__data no-padding-top table__column--15"
                                                data-ng-show="column == 'name'">{$ member.name $}</div>
                                            <div class="table__data no-padding-top table__column--15 ng-hide"
                                                data-ng-show="column == 'mac'">{$ member.mac_address $}</div>
                                            <div class="table__data no-padding-top table__column--15">{$ getInterfaceTypeText(member) $}</div>
                                            <div class="table__data no-padding-top table__column--67">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="table__dropdown">
                                    <div class="table__row table__dropdown-row" data-ng-class="{ active: isShowingAdd() }">
                                        <div data-ng-show="isShowingAdd()">
                                            <div class="table__data table__column--3">
                                            </div>
                                            <div class="table__data table__column--12">
                                                {$ getAddName() $}
                                            </div>
                                            <div class="table__data table__column--3">
                                            </div>
                                            <div class="table__data table__column--9">
                                                <select class="table__input" name="type" id="type"
                                                    data-ng-model="newInterface.type"
                                                    data-ng-change="addTypeChanged()">
                                                    <option value="alias" data-ng-show="canAddAlias(newInterface.parent)">Alias</option>
                                                    <option value="vlan" data-ng-show="canAddVLAN(newInterface.parent)">VLAN</option>
                                                </select>
                                            </div>
                                            <div class="table__data table__column--14">
                                                {$ newInterface.parent.fabric.name $}
                                            </div>
                                            <div class="table__data table__column--14">
                                                <span data-ng-show="newInterface.type === 'alias'">{$ getVLANText(newInterface.parent.vlan) $}</span>
                                                <select class="table__input" name="vlan" id="vlan"
                                                    data-ng-model="newInterface.vlan"
                                                    data-ng-disabled="newInterface.type == 'alias'"
                                                    data-ng-options="vlan as getVLANText(vlan) for vlan in vlans | removeDefaultVLAN | filterByFabric:newInterface.parent.fabric | filterByUnusedForInterface:newInterface.parent:originalInterfaces"
                                                    data-ng-show="newInterface.type === 'vlan'"
                                                    data-ng-change="addVLANChanged()">
                                                </select>
                                            </div>
                                            <div class="table__data table__column--18">
                                                <select class="table__input" name="subnet" id="subnet"
                                                    data-ng-model="newInterface.subnet"
                                                    data-ng-change="addSubnetChanged()"
                                                    data-ng-options="subnet as getSubnetText(subnet) for subnet in subnets | filterByVLAN:newInterface.vlan">
                                                    <option value="" data-ng-hide="newInterface.type === 'alias'">Unconfigured</option>
                                                </select>
                                            </div>
                                            <div class="table__data table__column--21">
                                                <select class="table__input" name="link-mode" id="link-mode"
                                                    data-ng-model="newInterface.mode"
                                                    data-ng-disabled="isLinkModeDisabled(newInterface)"
                                                    data-ng-options="mode.mode as mode.text for mode in modes | filterLinkModes:newInterface">
                                                </select>
                                            </div>
                                            <div class="table__data table_column--6"></div>
                                        </div>
                                    </div>
                                    <div class="table__row table__dropdown-row" data-ng-class="{ active: isShowingInterfaceOptions() || isShowingDeleteComfirm() || isShowingAdd() }">
                                        <div class="ng-hide" data-ng-show="isShowingInterfaceOptions()">
                                            <div class="table__data left margin-left--thirty">
                                                  <button class="cta-ubuntu secondary"
                                                    data-ng-click="add('alias', interface)"
                                                    data-ng-show="canAddAlias(interface)">Add alias</button>
                                                  <button class="cta-ubuntu secondary"
                                                    data-ng-click="add('vlan', interface)"
                                                    data-ng-show="canAddVLAN(interface)">Add VLAN</button>
                                                  <a class="link-cta-ubuntu text-button"
                                                    data-ng-click="remove()">Remove {$ getRemoveTypeText(interface) $}</a>
                                            </div>
                                        </div>
                                        <div class="ng-hide" data-ng-show="isShowingDeleteComfirm()">
                                            <div class="table__data left margin-top--five">
                                                  <p><span class="icon warning margin-right--ten"></span> Are you sure you want to remove this {$ getRemoveTypeText(interface) $}?</p>
                                            </div>
                                            <div class="table__data right">
                                                  <a class="link-cta-ubuntu text-button" data-ng-click="cancel()">Cancel</a>
                                                  <button class="cta-ubuntu" data-ng-click="confirmRemove(interface)">Remove</button>
                                            </div>
                                        </div>
                                        <div data-ng-show="isShowingAdd() && !newInterface.saving">
                                            <div class="table__data left margin-left--thirty">
                                                <button class="cta-ubuntu secondary"
                                                    data-ng-click="addInterface('alias')"
                                                    data-ng-show="canAddAlias(interface)">Add <span data-ng-show="newInterface.type === 'alias'">another </span>alias</button>
                                                <button class="cta-ubuntu secondary"
                                                    data-ng-click="addInterface('vlan')"
                                                    data-ng-show="canAddAnotherVLAN(interface)">Add <span data-ng-show="newInterface.type === 'vlan'">another </span>VLAN</button>
                                            </div>
                                            <div class="table__data right">
                                                  <a class="link-cta-ubuntu text-button" data-ng-click="cancel()">Cancel</a>
                                                  <button class="cta-ubuntu" data-ng-click="addInterface()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table__row active ng-hide" data-ng-show="isShowingCreateBond()">
                                <div class="table__data table__column--3">
                                    <input class="checkbox" type="checkbox" id="bond-create" disabled="disabled" checked />
                                    <label class="checkbox-label" for="bond-create"></label>
                                </div>
                                <div class="table__data table__column--12">
                                    <input type="text" class="table__input editible"
                                        data-ng-class="{ invalid: isInterfaceNameInvalid(newBondInterface) }"
                                        data-ng-model="newBondInterface.name">
                                </div>
                                <div class="table__data table__column--3">
                                    <input class="align-center" type="radio" name="bondBootInterface" checked
                                        data-ng-if="getBondIsBootInterface()">
                                </div>
                                <div class="table__data table__column--9">Bond</div>
                                <div class="table__data table__column--73"></div>
                                <div class="table__dropdown">
                                    <div class="table__row table__dropdown-row active">
                                        <div class="table__data table__column--3">
                                        </div>
                                        <div class="table__data table__column--15">
                                            <label for="type">Bond mode</label>
                                            <select name="bond-mode" id="bond-mode"
                                                data-ng-model="newBondInterface.mode"
                                                data-ng-options="mode[0] as mode[1] for mode in bondOptions.modes">
                                            </select>
                                        </div>
                                        <div class="table__data table__column--15">
                                            <label for="mac">MAC address</label>
                                            <input type="text" data-ng-model="newBondInterface.macAddress"
                                                data-ng-class="{ invalid: isMACAddressInvalid(newBondInterface.macAddress) }"
                                                data-ng-placeholder="getBondPlaceholderMACAddress()">
                                        </div>
                                        <div class="table__data table__column--15" data-ng-show="showLACPRate()">
                                            <label for="rates">LACP rate</label>
                                            <select name="bond-mode" id="bond-mode"
                                                data-ng-model="newBondInterface.lacpRate"
                                                data-ng-options="rate[0] as rate[1] for rate in bondOptions.lacp_rates">
                                            </select>
                                        </div>
                                        <div class="table__data table__column--15" data-ng-show="showXMITHashPolicy()">
                                            <label for="rates">XMIT hash policy</label>
                                            <select name="xmit-hash-policy" id="xmit-hash-policy"
                                                data-ng-model="newBondInterface.xmitHashPolicy"
                                                data-ng-options="xmit[0] as xmit[1] for xmit in bondOptions.xmit_hash_policies">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="table__row table__dropdown-row table__dropdown-row--head active">
                                        <div class="table__header table__column--3"></div>
                                        <div class="table__header table__column--15">Name</div>
                                        <div class="table__header table__column--15">Type</div>
                                        <div class="table__header table__column--67">Primary</div>
                                    </div>
                                    <div class="table__row table__dropdown-row no-border active"
                                        data-ng-repeat="parent in newBondInterface.parents | orderBy:'name'">
                                        <div class="table__data no-padding-top table__column--3"></div>
                                        <div class="table__data no-padding-top table__column--15">{$ parent.name $}</div>
                                        <div class="table__data no-padding-top table__column--15">{$ getInterfaceTypeText(parent) $}</div>
                                        <div class="table__data no-padding-top table__column--67">
                                            <input type="radio" name="bondPrimary" data-ng-model="newBondInterface.primary" data-ng-value="parent">
                                        </div>
                                    </div>
                                    <div class="table__row table__dropdown-row active">
                                        <div class="table__data right">
                                            <a class="link-cta-ubuntu text-button" data-ng-click="cancel()">Cancel</a>
                                            <button class="cta-ubuntu"
                                                data-ng-click="addBond()"
                                                data-ng-disabled="cannotAddBond()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table__row active" data-ng-show="isShowingCreatePhysical()">
                                <div class="table__data table__column--3">
                                    <input class="checkbox" type="checkbox" id="interface-create" disabled="disabled" checked />
                                    <label class="checkbox-label" for="interface-create"></label>
                                </div>
                                <div class="table__data table__column--12">
                                    <input type="text" class="table__input"
                                        data-ng-class="{ invalid: isInterfaceNameInvalid(newInterface) }"
                                        data-ng-model="newInterface.name">
                                </div>
                                <div class="table__data table__column--3"></div>
                                <div class="table__data table__column--9">Physical</div>
                                <div class="table__data table__column--14">
                                    <select class="table__input" name="fabric" id="fabric"
                                        data-ng-model="newInterface.fabric"
                                        data-ng-change="newPhysicalFabricChanged()"
                                        data-ng-options="fabric as fabric.name for fabric in fabrics">
                                    </select>
                                </div>
                                <div class="table__data table__column--14">
                                    <select class="table__input" name="vlan" id="vlan" disabled="disabled">
                                        <option value="" selected>untagged</option>
                                    </select>
                                </div>
                                <div class="table__data table__column--18">
                                    <select class="table__input" name="subnet" id="subnet"
                                        data-ng-model="newInterface.subnet"
                                        data-ng-change="newPhysicalSubnetChanged()"
                                        data-ng-options="subnet as getSubnetText(subnet) for subnet in subnets | filterByVLAN:newInterface.vlan">
                                        <option value="">Unconfigured</option>
                                    </select>
                                </div>
                                <div class="table__data table__column--14">
                                    <select class="table__input" name="link-mode" id="link-mode"
                                        data-ng-model="newInterface.mode"
                                        data-ng-disabled="isLinkModeDisabled(newInterface)"
                                        data-ng-options="mode.mode as mode.text for mode in modes">
                                    </select>
                                </div>
                                <div class="table__data table__column--13"></div>
                                <div class="table__dropdown">
                                    <div class="table__row table__dropdown-row active">
                                        <div class="table__data table__column--3">
                                        </div>
                                        <div class="table__data table__column--12">
                                            <label>MAC address</label>
                                            <input type="text" data-ng-model="newInterface.macAddress"
                                                data-ng-class="{ invalid: isMACAddressInvalid(newInterface.macAddress, false) || newInterface.macError }">
                                        </div>
                                        <div class="table__data table__column--85"></div>
                                    </div>
                                    <div class="table__row table__dropdown-row active">
                                        <div class="table__data left" data-ng-show="newInterface.errorMsg">
                                            <span class="icon error"></span> {$ newInterface.errorMsg $}
                                        </div>
                                        <div class="table__data right">

                                            <a class="link-cta-ubuntu text-button" data-ng-click="cancel()">Cancel</a>
                                            <button class="cta-ubuntu"
                                                data-ng-click="addPhysicalInterface()"
                                                data-ng-disabled="cannotAddPhysicalInterface()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div data-ng-hide="isAllNetworkingDisabled() || isShowingCreateBond() || isShowingCreatePhysical()">
                        <a class="link-cta-ubuntu secondary margin-right"
                            data-ng-class="{ disabled: selectedMode !== null }"
                            data-ng-click="showCreatePhysical()">Add interface</a>
                        <a class="link-cta-ubuntu secondary margin-right"
                            data-ng-class="{ disabled: !canCreateBond() }"
                            data-ng-click="showCreateBond()">Create bond</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
