<header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-medium-4 col-8">
            <h1 class="page-header__title">
                {$ domain.name $}
            </h1>
            <p class="page-header__status" data-ng-show="loading">
                <i class="p-icon--spinner u-animation--spin"></i> Loading...
            </p>
            <p class="page-header__status" data-ng-show="!loading">
                <span data-ng-if="isDefaultDomain()">Default domain.</span>
                <ng-pluralize data-ng-hide="loading" count="domain.hosts"
                            when="{'0': '', 'one': '{$ domain.hosts $} host;', 'other': '{$ domain.hosts $} hosts;'}"></ng-pluralize>
                <ng-pluralize data-ng-hide="loading" count="domain.resource_count"
                            when="{'0': 'No resource records', 'one': ' {$ domain.resource_count $} resource record', 'other': ' {$ domain.resource_count $} resource records'}"></ng-pluralize>
            </p>
        </div>
        <div class="col-medium-2 col-4">
            <div class="page-header__controls ng-hide" data-ng-show="isSuperUser() && !loading">
                <button class="p-button--negative"
                    data-ng-click="deleteButton()"
                    data-ng-hide="actionInProgress || isDefaultDomain()">Delete domain</button>
                <button class="p-button"
                        data-ng-click="addRecordButton()"
                        data-ng-hide="actionInProgress">Add record</button>
            </div>
        </div>
    </div>
    <div data-ng-if="actionInProgress && action === 'delete'">
        <div class="row u-no-margin--top ng-hide" data-ng-hide="canBeDeleted()">
            <hr />
            <div class="row">
                <div class="col-8">
                    <p class="page-header__message page-header__message--error">
                        <i class="p-icon--error">Error:</i> Domain cannot be deleted because it has resource records.  Remove all resource records from the domain to allow deletion.
                    </p>
                </div>
                <div class="col-4">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row u-no-margin--top ng-hide" data-ng-show="canBeDeleted() && !error">
            <hr />
            <div class="row">
                <div class="col-8">
                    <p>
                        <i class="p-icon--error">Error:</i> Are you sure you want to delete this domain?
                    </p>
                </div>
                <div class="col-4">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                        <button class="p-button--negative" data-ng-click="deleteConfirmButton()">Delete domain</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row u-no-margin--top ng-hide" data-ng-show="canBeDeleted() && error">
            <hr />
            <div class="row">
                <div class="col-8">
                    <p class="page-header__message page-header__message--error">
                        <i class="p-icon--error">Error:</i> {$ error $}
                    </p>
                </div>
                <div class="col-4">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button" data-ng-click="cancelAction()">Cancel</button>
                        <button class="p-button--neutral" data-ng-click="deleteConfirmButton()">Retry</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-ng-if="actionInProgress && action === 'add_record'">
        <maas-obj-form obj="newObject" manager="domainsManager" manager-method="createDNSRecord" class="p-form--stacked"
            table-form="true" save-on-blur="false" after-save="cancelAction">
            <!-- pre-process="actionDNSRecordPreSave" -->
            <section class="p-strip is-shallow">
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field
                            subtle="false" type="text" key="name" label="Name" placeholder="Name"
                            label-width="2" input-width="4"></maas-obj-field>
                        <maas-obj-field
                            subtle="false" type="options" key="rrtype" label="Type"
                            options="type as type for type in supportedRecordTypes"
                            label-width="2" input-width="4"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field
                            subtle="false" type="text" key="rrdata" label="Data"
                            placeholder="Data"
                            label-width="2" input-width="4"></maas-obj-field>
                        <maas-obj-field
                            subtle="false" type="text" key="ttl" label="TTL"
                            placeholder="TTL in seconds (optional)"
                            label-width="2" input-width="4"></maas-obj-field>
                        <maas-obj-field type="hidden" key="domain" value="{$ domain.id $}" />
                    </div>
                </div>
            </section>
            <section class="row">
                <div class="col-8">
                    <maas-obj-errors class="page-header__message page-header__message--error"></maas-obj-errors>
                </div>
                <div class="col-4">
                    <div class="u-align--right">
                        <button class="p-button" data-ng-click="cancelAction()">Cancel</button>
                        <button class="p-button--positive" maas-obj-save>Add record</button>
                    </div>
                </div>
            </div>
        </maas-obj-form>
    </div>
</header>
<section class="p-strip" data-ng-show="!loading">
    <div class="row">
        <div class="col-8">
            <h2 class="p-heading--four">Domain summary</h2>
        </div>
        <div class="col-4">
            <div class="u-align--right" data-ng-show="isSuperUser()">
                <button type="button" name="button" class="p-button--neutral" data-ng-click="enterEditSummary()" data-ng-if="editSummary != true">Edit</button>
            </div>
        </div>
    </div>
    <div class="form p-form--stacked row" data-ng-if="editSummary != true">
        <div class="col-6">
            <div class="p-form__group row">
                <div class="col-2 p-form__label is-disabled">
                    <p>Name</p>
                </div>
                <div class="col-4">
                    <p>{$ domain.name $}</p>
                </div>
            </div>
            <div class="p-form__group row">
                <div class="col-2 p-form__label is-disabled">
                    <p>TTL</p>
                </div>
                <div class="col-4">
                    <p data-ng-if="domain.ttl">{$ domain.ttl $}</p>
                    <p data-ng-if="!domain.ttl">(default)</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-form__group row">
                <div class="col-2 p-form__label is-disabled">
                    <p>Authoritative</p>
                </div>
                <div class="col-4">
                    <p>
                        <span data-ng-if="domain.authoritative == false">No</span>
                        <span data-ng-if="domain.authoritative == true">Yes</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <maas-obj-form data-ng-if="editSummary == true" obj="domain"
                       manager="domainsManager" table-form="true"
                       save-on-blur="false" after-save="exitEditSummary"
                       data-ng-disabled="!isSuperUser()">
            <div class="row">
                <div class="col-6">
                    <maas-obj-field type="text" key="name" label="Name" placeholder="Domain name"
                            label-width="2" input-width="4"></maas-obj-field>
                    <maas-obj-field type="text" key="ttl" label="TTL" placeholder="Default TTL"
                                    label-width="2" input-width="4"></maas-obj-field>
                </div>
                <div class="col-6">
                    <maas-obj-field type="onoffswitch" key="authoritative" label="Authoritative"
                                    label-width="2" input-width="4"></maas-obj-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <maas-obj-errors></maas-obj-errors>
                </div>
                <div class="col-6">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button"
                        data-ng-click="exitEditSummary()">Cancel</button>
                        <button class="p-button--positive" maas-obj-save>Save summary</button>
                    </div>
                </div>
            </div>
        </maas-obj-form>
    </div>
</section>
<section class="p-strip" window-width>
    <div class="row">
        <h2 class="col-12 p-heading--four">Resource records</h2>
    </div>
    <div class="row">
        <table class="p-table--resource-records p-table-expanding p-table--sortable u-no-margin--top" style="overflow: visible;">
            <thead data-ng-if="windowWidth >= 769" offset="88" media-query="min-width: 772px">
                <tr class="p-table__row">
                    <th role="columnheader" data-ng-click="sortTable('name')" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Name</th>
                    <th role="columnheader" data-ng-click="sortTable('rrtype')" data-ng-class="{'is-sorted': predicate === 'rrtype', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Type</th>
                    <th role="columnheader" data-ng-click="sortTable('ttl')" data-ng-class="{'is-sorted': predicate === 'ttl', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">TTL</th>
                    <th role="columnheader" data-ng-click="sortTable('rrdata')" data-ng-class="{'is-sorted': predicate === 'rrdata', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Data</th>
                    <th role="columnheader">
                        <div class="u-align--right">
                            Actions
                        </div>
                    </th>
                </tr>
            </thead>
        <tbody>
            <tr
                class="p-table__row"
                data-ng-repeat="row in domain.rrsets | orderBy:predicate:reverse track by $index"
                data-ng-class="{ 'is-active': editRow === row || deleteRow === row }"
            >
                <td aria-label="Name" data-ng-if="editRow !== row">
                    <span data-ng-if="row.system_id == null">{$ row.name $}</span>
                    <span data-ng-if="row.system_id !== null">
                        <div data-ng-switch="row.node_type">
                            <!--
                                Node type is an enum (see node-details.html and the comment therein).
                            -->
                            <span data-ng-switch-when="0"><a href="#/machine/{$ row.system_id $}">{$ row.name $}</a></span>
                            <span data-ng-switch-when="1"><a href="#/device/{$ row.system_id $}">{$ row.name $}</a></span>
                            <span data-ng-switch-when="2"><a href="#/controller/{$ row.system_id $}">{$ row.name $}</a></span>
                            <span data-ng-switch-when="3"><a href="#/controller/{$ row.system_id $}">{$ row.name $}</a></span>
                            <span data-ng-switch-when="4"><a href="#/controller/{$ row.system_id $}">{$ row.name $}</a></span>
                            <span data-ng-switch-default>{$ row.name $}</span>
                        </div>
                    </span>
                </td>
                <td aria-label="Type" data-ng-if="editRow !== row">{$ row.rrtype $}</td>
                <td aria-label="TTL" data-ng-if="editRow !== row && row.ttl">{$ row.ttl $}</td>
                <td aria-label="TTL" data-ng-if="editRow !== row && !row.ttl">(default)</td>
                <td aria-label="Data" data-ng-if="editRow !== row">{$ row.rrdata $}</td>
                <td class="p-table--action-cell" data-ng-if="editRow !== row">
                    <div class="u-align--right">
                        <div class="p-contextual-menu" toggle-ctrl data-ng-if="!isRecordAutogenerated(row)" data-ng-show="isSuperUser()">
                            <button class="p-contextual-menu__toggle p-button--base is-small" data-ng-click="toggleMenu()">
                                <i class="p-icon--contextual-menu u-no-margin--right">Actions</i>
                            </button>
                            <div class="p-contextual-menu__dropdown" role="menu" data-ng-show="isToggled">
                                <button class="p-contextual-menu__link"
                                    aria-label="Add Alias or VLAN"
                                    data-ng-click="toggleMenu(); editRecord(row)">Edit record&hellip;</button>
                                <button class="p-contextual-menu__link"
                                    aria-label="Remove"
                                    data-ng-click="toggleMenu(); removeRecord(row)">Remove record&hellip;</button>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="p-table-expanding__panel col-12" data-ng-if="editRow === row">
                    <maas-obj-form obj="editRow" manager="domainsManager" manager-method="updateDNSRecord"
                        table-form="true" save-on-blur="false" after-save="stopEditingRow">
                        <div class="row">
                            <div class="col-3">
                                <maas-obj-field type="text" key="name" placeholder="Name"
                                    disable-label="true"></maas-obj-field>
                            </div>
                            <maas-obj-field type="hidden" key="domain" value="{$ domain.id $}" />
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <maas-obj-field label="Data" type="text" key="rrdata" placeholder="Data"></maas-obj-field>
                            </div>
                            <div class="col-4">
                                <maas-obj-field label="TTL" type="text" key="ttl" placeholder="TTL (default: 30)"></maas-obj-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <maas-obj-field label="Type" type="options" key="rrtype" placeholder="Type" disabled="true"
                                                options="type as type for type in supportedRecordTypes"></maas-obj-field>
                            </div>
                        </div>
                        <div class="u-no-margin--top">
                            <hr />
                            <div class="row u-hide u-show--small">
                                <div class="col-12">
                                    <h2 data-ng-click="stopEditingRow(row)" class="p-heading--four">Editing record</h2>
                                    <button data-ng-click="stopEditingRow(row)" class="p-icon--close u-float--right"></button>
                                </div>
                            </div>
                            <div class="row u-equal-height">
                                <div class="col-8 u-vertically-center">
                                    <maas-obj-errors></maas-obj-errors>
                                </div>
                                <div class="col-4">
                                    <div class="u-align--right">
                                        <button class="p-button--base u-no-margin--top"
                                            data-ng-click="stopEditingRow(row)" type="button">Cancel</button>
                                        <button class="p-button--positive u-no-margin--top" maas-obj-save>Save record</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </maas-obj-form>
                </td>
                <td class="p-table-expanding__panel col-12 u-no-margin--left" data-ng-if="deleteRow === row">
                    <div class="row u-hide u-show--small">
                        <h2 data-ng-click="stopEditingRow(row)" class="p-heading--four">Removing record</h2>
                        <button data-ng-click="stopEditingRow(row)" class="p-icon--close u-float--right"></button>
                    </div>
                    <hr />
                    <div class="row u-no-margin--top u-equal-height">
                        <div class="col-6 u-vertically-center">
                            <p><i class="p-icon--warning">Warning:</i> Are you sure you want to remove this record?</p>
                        </div>
                        <div class="col-6">
                            <div class="u-align--right">
                                <button class="p-button--base" type="button" data-ng-click="stopEditingRow(row)">Cancel</button>
                                <button class="p-button--negative" data-ng-click="confirmRemoveRecord(row)">Remove</button>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</section>
