<header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-8">
            <h1 class="page-header__title">DNS</h1>
            <p class="page-header__status" data-ng-show="loading">
                <i class="p-icon--spinner u-animation--spin"></i> Loading...
            </p>
            <p class="page-header__status" data-ng-show="!loading">
                <ng-pluralize data-ng-hide="loading" count="domains.length"
                    when="{'one': '{$ domains.length $} domain available', 'other': '{$ domains.length $} domains available '}"></ng-pluralize></p>
        </div>
        <div class="col-4">
            <div class="page-header__controls" data-ng-show="isSuperUser()">
                <button class="p-button--neutral"
                    data-ng-click="addDomain()"
                    data-ng-hide="addDomainScope.viewable">Add domain</button>
                <button class="p-button--neutral"
                    data-ng-click="cancelAddDomain()"
                    data-ng-show="addDomainScope.viewable">Cancel add domain</button>
            </div>
        </div>
    </div>
    <div class="row u-no-margin--top" data-ng-show="addDomainScope.viewable" data-ng-controller="AddDomainController">
        <hr />
        <div class="row">
            <div class="col-6">
                <form class="p-form p-form--inline row">
                    <div class="p-form__group p-form-validation" data-ng-class="{ 'is-error': nameHasError() }">
                        <label for="domain-name" class="p-form__label">Add domain</label>
                        <div class="p-form__control">
                            <input type="text" id="domain-name" placeholder="Domain name"
                                data-ng-model="domain.name" class="p-form-validation__input">
                            <input type="checkbox" class="checkbox" id="domain-authoritative" data-ng-model="domain.authoritative">
                            <label for="domain-authoritative">Authoritative</label>
                        </div>
                        <p class="ng-hide" data-ng-show="error">
                            <i class="p-icon--error">Error:</i> {$ error $}
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-6 u-align--right">
                <button class="p-button--base" type="button" data-ng-click="cancel()">Cancel</button>
                <button class="p-button--neutral"
                    data-ng-class="{ is-disabled: domainHasError() }"
                    data-ng-click="save(true)">Save and add another</button>
                <button class="p-button--positive"
                    data-ng-class="{ is-disabled: domainHasError() }"
                    data-ng-click="save(false)">Save domain</button>
            </div>
        </div>
    </div>
</header>
<div class="p-strip" data-ng-show="!loading">
    <section class="row">
        <table>
            <thead>
                <tr>
                    <td data-ng-click="predicate='name'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Domain</td>
                    <td data-ng-click="predicate='hosts'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'hosts', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Hosts</td>
                    <td data-ng-click="predicate='resource_count'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'resource_count', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Total Records</td>
                    <td data-ng-click="predicate='authoritative'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'authoritative', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Authoritative</td>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="row in domains | orderBy:predicate:reverse track by row.id">
                    <td aria-label="Domain"><a href="#/domain/{$ row.id $}">{$ row.displayname $}</a></td>
                    <td aria-label="Hosts">{$ row.hosts $}</td>
                    <td aria-label="Total records">{$ row.resource_count $}</td>
                    <td aria-label="Authorative">{$ row.authoritative ? "Yes" : "No" $}</td>
                </tr>
            </tbody>
        </div>
    </section>
</div>
