<header class="page-header">
    <div class="wrapper--inner">
        <h1 class="page-header__title">
            <ng-pluralize data-ng-hide="loading" count="domains.length"
                          when="{'one': '{$ domains.length $} domain in ', 'other': '{$ domains.length $} domains in '}"></ng-pluralize>
            {$ $parent.site $} MAAS
        </h1>
        <p class="page-header__status" data-ng-show="loading"><span class="u-text--loading"><i class="icon icon--loading u-animation--spin"></i> Loading...</span></p>
        <div class="page-header__controls" data-ng-show="isSuperUser()">
            <button class="button--primary button--inline"
                data-ng-click="addDomain()"
                data-ng-hide="addDomainScope.viewable">Add domain</button>
            <button class="button--secondary button--inline"
                data-ng-click="cancelAddDomain()"
                data-ng-show="addDomainScope.viewable">Cancel add domain</button>
        </div>
        <div class="page-header__dropdown" data-ng-class="{ 'is-open': addDomainScope.viewable }" data-ng-controller="AddDomainController">
            <div class="page-header__section twelve-col u-margin--bottom-none">
                <form class="form form--inline">
                    <div class="form__group">
                        <label for="domain-name" class="form__group-label">Add domain</label>
                        <div class="form__group-input">
                            <input type="text" id="domain-name" placeholder="Domain name"
                                data-ng-model="domain.name"
                                data-ng-class="{ 'has-error': nameHasError() }">
                        </div>
                    </div>
                    <div class="form__group">
                        <input type="checkbox" class="checkbox" id="domain-authoritative" data-ng-model="domain.authoritative">
                        <label for="domain-authoritative">Authoritative</label>
                    </div>
                    <p class="page-header__message page-header__message--error ng-hide" data-ng-show="error">{$ error $}</p>
                    <div class="page-header__controls">
                        <a href="" class="button--base button--inline" data-ng-click="cancel()">Cancel</a>
                        <button class="button--secondary button--inline"
                            data-ng-class="{ disabled: domainHasError() }"
                            data-ng-click="save(true)">Save and add another</button>
                        <button class="button--primary button--inline"
                            data-ng-class="{ disabled: domainHasError() }"
                            data-ng-click="save(false)">Save domain</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>
<div data-ng-show="!loading">
    <section class="row u-padding--top-none">
        <div class="wrapper--inner">
            <div class="twelve-col">
                <div class="table">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table-col--25" data-ng-click="predicate='name'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Domain</div>
                            <div class="table__header table-col--25" data-ng-click="predicate='hosts'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'hosts', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Hosts</div>
                            <div class="table__header table-col--25" data-ng-click="predicate='resource_count'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'resource_count', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Total Records</div>
                            <div class="table__header table-col--25" data-ng-click="predicate='authoritative'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'authoritative', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Authoritative</div>
                        </div>
                    </header>
                    <main class="table-body">
                        <div class="table__row table__row--no-hover"
                             data-ng-repeat="row in domains | orderBy:predicate:reverse track by row.id">
                            <div class="table__data table-col--25"><a href="#/domain/{$ row.id $}">{$ row.displayname $}</a></div>
                            <div class="table__data table-col--25">{$ row.hosts $}</div>
                            <div class="table__data table-col--25">{$ row.resource_count $}</div>
                            <div class="table__data table-col--25">{$ row.authoritative ? "Yes" : "No" $}</div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
</div>
