<header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-medium-4 col-8">
            <h1 class="page-header__title">Error</h1>
        </div>
        <div class="col-medium-2 col-4">
            <div class="page-header__controls">
                <button class="button--secondary button--inline" data-ng-click="goBack()">Back</button>
            </div>
        </div>
    </div>
</header>
<div class="p-strip">
    <div class="row">
        <div class="col-12">
            <h2 class="title">{$ error $}</h3>
        </div>
    </div>
</div>
