<header class="page-header">
    <div class="inner-wrapper">
        <h1 class="page-header__title">Error</h1>
        <div class="page-header__actions four-col no-margin-bottom last-col">
            <div class="page-header__cta two-col no-margin-bottom last-col">
                <div class="two-col no-margin-bottom last-col">
                    <button class="cta-ubuntu secondary right" data-ng-click="goBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h3 class="title">{$ error $}</h3>
            </div>
        </div>
</div>
