<header class="page-header margin-bottom" data-maas-sticky-header>
    <div class="inner-wrapper">
        <h1 class="page-header__title eight-col">12 subnets in {$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <a href="" class="active">2 Fabrics</a>
                <span class="divide"></span>
                <a href="">2 Spaces</a>
                <span class="power-status--power" data-ng-show="loading">
                    <span class="loader"></span>
                    Loading...
                </span>
            </span>
        </h1>
    </div>
</header>
<section class="row">
    <div class="inner-wrapper">
        <div class="twelve-col">
            <h2>Fabric 1 (default)</h2>
        </div>
        <dl class="six-col">
            <dt class="two-col">User description</dt>
                <dd class="four-col last-col">Switch 1, Switch 2, Switch 3</dd>
            <dt class="two-col">Nodes</dt>
                <dd class="four-col last-col">20</dd>
            <dt class="two-col">Cluster</dt>
                <dd class="four-col last-col"><a href="">Cluster master</a></dd>
        </dl>
        <div class="twelve-col">
            <div class="table">
                <header class="table__head">
                    <div class="table__row">
                        <div class="table__header table__column--20">Name</div>
                        <div class="table__header table__column--15">VLAN-ID</div>
                        <div class="table__header table__column--10">Nodes</div>
                        <div class="table__header table__column--20">Subnet name</div>
                        <div class="table__header table__column--35">IP range</div>
                    </div>
                </header>
                <main class="table-body">
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN1 (default)</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                                <li><a href="">Subnet 2</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                                <li>2001:67c:1562:8007::aac:4265/64</li>
                            </ul>
                        </div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN2</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN3</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="inner-wrapper">
        <div class="twelve-col">
            <h2>Fabric 2</h2>
        </div>
        <dl class="six-col">
            <dt class="two-col">User description</dt>
                <dd class="four-col last-col">Switch 1, Switch 2, Switch 3</dd>
            <dt class="two-col">Nodes</dt>
                <dd class="four-col last-col">20</dd>
            <dt class="two-col">Cluster</dt>
                <dd class="four-col last-col"><a href="">Cluster master</a></dd>
        </dl>
        <div class="twelve-col">
            <div class="table">
                <header class="table__head">
                    <div class="table__row">
                        <div class="table__header table__column--20">Name</div>
                        <div class="table__header table__column--15">VLAN-ID</div>
                        <div class="table__header table__column--10">Nodes</div>
                        <div class="table__header table__column--20">Subnet name</div>
                        <div class="table__header table__column--35">IP range</div>
                    </div>
                </header>
                <main class="table__body">
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN1 (default)</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                                <li><a href="">Subnet 2</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                                <li>2001:67c:1562:8007::aac:4265/64</li>
                            </ul>
                        </div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN2</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--20">VLAN3</div>
                        <div class="table__data table__column--15">1</div>
                        <div class="table__data table__column--10"><a href="">2</a></div>
                        <div class="table__data table__column--20">
                            <ul class="no-bullets">
                                <li><a href="">Subnet 1</a></li>
                            </ul>
                        </div>
                        <div class="table__data table__column--35">
                            <ul class="no-bullets">
                                <li>192.168.9.2</li>
                            </ul>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</section>
