<div data-ng-hide="loaded">
    <header class="page-header" sticky>
        <div class="wrapper--inner">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded">
    <header class="page-header" sticky>
        <div class="wrapper--inner">
            <h1 class="page-header__title">{$ fabric.name $}</h1>
            <div class="page-header__controls ng-hide" data-ng-show="isSuperUser() && !isDefaultFabric() && !loading">
                <button class="button--primary button--inline"
                    data-ng-click="deleteButton()"
                    data-ng-hide="confirmingDelete">Delete fabric</button>
            </div>
            <div class="page-header__dropdown" data-ng-class="{ 'is-open': confirmingDelete }">
                <section class="page-header__section ng-hide" data-ng-hide="canBeDeleted()">
                    <p class="page-header__message page-header__message--error">
                        Fabric cannot be deleted because it is the default fabric.
                    </p>
                    <div class="page-header__controls">
                        <a href="" class="button--base button--inline" data-ng-click="cancelDeleteButton()">Cancel</a>
                    </div>
                </section>
                <section class="page-header__section ng-hide" data-ng-show="canBeDeleted() && !error">
                    <p class="page-header__message page-header__message--warning">
                        Are you sure you want to delete this fabric?
                    </p>
                    <div class="page-header__controls">
                        <a href="" class="button--base button--inline" data-ng-click="cancelDeleteButton()">Cancel</a>
                        <button class="button--primary button--inline" data-ng-click="deleteConfirmButton()">Go</button>
                    </div>
                </section>
                <section class="page-header__section ng-hide" data-ng-show="canBeDeleted() && error">
                    <p class="page-header__message page-header__message--error">{$ error $}</p>
                    <div class="page-header__controls">
                        <a href="" class="button--base button--inline" data-ng-click="cancelDeleteButton()">Cancel</a>
                        <button class="button--primary button--inline" data-ng-click="deleteConfirmButton()">Retry</button>
                    </div>
                </section>
            </div>
        </div>
    </header>
    <div data-ng-show="!loading">
        <section class="row">
            <div class="wrapper--inner">
                <div class="twelve-col">
                    <h2>Fabric summary</h2>
                </div>
                <maas-obj-form obj="fabric" table-form="true" manager="fabricManager" data-ng-disabled="!isSuperUser()">
                    <fieldset class="form__fieldset six-col">
                        <maas-obj-field type="text" key="name" label="Name" placeholder="Fabric name"
                            label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                        <maas-obj-field type="textarea" key="description" label="Description" placeholder="Fabric description"
                            label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                    </fieldset>
                    <fieldset class="form__fieldset six-col last-col">
                        <dl>
                            <dt class="two-col">Rack controllers</dt>
                            <dd class="four-col last-col">
                                <span class="u-margin--right-small" data-ng-repeat="rack in racks | orderBy:'hostname' track by rack.system_id">
                                    <a href="#/node/controller/{$ rack.system_id $}" class="link--alt">{$ rack.hostname $}</a>
                                </span>
                            </dd>
                        </dl>
                    </fieldset>
                </maas-obj-form>
            </div>
        </section>
        <section class="row">
            <div class="wrapper--inner">
                <div class="twelve-col">
                    <h2>VLANs on this fabric</h2>
                </div>
                <div class="twelve-col">
                    <table>
                        <thead>
                            <tr>
                                <th class="table__header table__column--15" data-ng-click="predicate='vlan_name'; reverse = !reverse"
                                     data-ng-class="{'is-sorted': predicate === 'vlan_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">VLAN</th>
                                <th class="table__header table__column--50" data-ng-click="predicate='subnet_name'; reverse = !reverse"
                                     data-ng-class="{'is-sorted': predicate === 'subnet_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Subnet</th>
                                <th class="table__header table__column--10" data-ng-click="predicate='subnet.statistics.available_string'; reverse = !reverse"
                                     data-ng-class="{'is-sorted': predicate === 'subnet.statistics.available_string', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Available</th>
                                <th class="table__header table__column--25" data-ng-click="predicate='space_name'; reverse = !reverse"
                                     data-ng-class="{'is-sorted': predicate === 'space_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Space</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table__row table__row--no-hover" data-ng-repeat="row in rows | orderBy:predicate:reverse track by $index">
                                <td class="table__column--15">
                                    <a href="#/vlan/{$ row.vlan.id $}">{$ row.vlan_name $}</a>
                                </td>
                                <td class="table__column--50">
                                    <a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet_name $}</a>
                                </td>
                                <td class="table__column--10">{$ row.subnet.statistics.available_string $}</td>
                                <td class="table__column--25">
                                    <a href="#/space/{$ row.space.id $}">{$ row.space_name $}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
