<header class="p-strip--light is-shallow is-bordered page-header">
    <div class="row">
        <div class="col-8">
            <h1 class="page-header__title">Images</h1>
            <p class="page-header__status" data-ng-show="loading">
                <span class="u-text--loading">
                    <i class="p-icon--spinner u-animation--spin"></i>
                    Loading...
                </span>
            </p>
            <maas-boot-images-status></maas-boot-images-status>
        </div>
        <div class="col-4">
            <div class="page-header__controls p-form--inline u-align--right" data-ng-if="!loading && isSuperUser() && autoImport">
                <maas-obj-form obj="autoImport" manager="configManager" inline="true">
                    <maas-obj-field type="onoffswitch" key="value" label="Automatically sync images"></maas-obj-field>
                </maas-obj-form>
            </div>
        </div>
    </div>
</header>
<maas-boot-images></maas-boot-images>
