<section class="p-strip" data-ng-if="!loading">
    <div class="row">
        <div class="col-12">
            <div class="p-card--highlighted">
                <h2 class="p-card__title p-heading--four">
                    <i data-ng-class="{ 'p-icon--success': !welcomeInError(), 'p-icon--error': welcomeInError() }"></i>
                    Welcome to MAAS
                </h2>
                <hr />
                <div class="p-card__content">
                    <maas-obj-form obj="maasName" manager="configManager" class="p-form p-form--stacked">
                        <maas-obj-field type="text" key="value" label="Region name" placeholder="e.g. us-west"  subtle="false" blur-on-enter="true" label-width="2" input-width="4"></maas-obj-field>
                    </maas-obj-form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="p-card--highlighted">
                <h2 class="p-card__title p-heading--four">
                    <i data-ng-class="{ 'p-icon--success': !networkInError(), 'p-icon--error': networkInError() }"></i>&nbsp;Connectivity
                </h2>
                <hr />
                <ul class="p-card__content p-list">
                    <li>
                        <maas-obj-form obj="upstreamDNS" manager="configManager" class="p-form p-form--stacked">
                            <maas-obj-field type="text" key="value" label="DNS forwarder" placeholder="e.g: 8.8.8.8 8.8.4.4" subtle="false" blur-on-enter="true" help-text="A space-separated list of upstream DNS servers to which MAAS should forward requests for domains not managed by MAAS directly." label-width="2" input-width="4"></maas-obj-field>
                        </maas-obj-form>
                    </li>
                    <li>
                        <maas-obj-form obj="mainArchive" manager="repoManager" class="p-form p-form--stacked">
                            <maas-obj-field type="text" key="url" label="Ubuntu archive" subtle="false" blur-on-enter="true" help-text="The server where machines retrieve packages for Intel architectures." label-width="2" input-width="4"></maas-obj-field>
                        </maas-obj-form>
                    </li>
                    <li>
                        <maas-obj-form obj="portsArchive" manager="repoManager" class="p-form p-form--stacked">
                            <maas-obj-field type="text" key="url" label="Ubuntu extra architectures" subtle="false" blur-on-enter="true" help-text="Archive used by machines to retrieve packages for non-Intel architectures." label-width="2" input-width="4"></maas-obj-field>
                        </maas-obj-form>
                    </li>
                    <li>
                        <maas-obj-form obj="httpProxy" manager="configManager" class="p-form p-form--stacked">
                            <maas-obj-field type="text" key="value" label="APT &amp; HTTP/HTTPS proxy server" subtle="false" blur-on-enter="true" help-text="This will be passed onto deployed machines to use as a proxy for APT and YUM traffic. MAAS also uses the proxy for downloading boot images. If no URL is provided, the build-in MAAS proxy will be used." label-width="2" input-width="4"></maas-obj-field>
                        </maas-obj-form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <maas-boot-images design="'card'"></maas-boot-images>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="col-12 p-button--positive" data-ng-disabled="!canContinue()" data-ng-click="clickContinue()">Continue</button>
        </div>
    </div>
</section>
