<div class="row" data-ng-if="!loading">
    <div class="wrapper--inner">
        <div class="twelve-col">
            <div class="action-card">
                <h2 class="action-card__title">
                    <i class="icon icon--large u-margin--right-tiny"
                        data-ng-class="{'icon--success': canContinue(), 'icon--success-grey': !canContinue()}"></i>
                    SSH keys for {$ user.username $}
                </h2>
                <div class="action-card__controls">
                    <p class="u-margin--top">Add multiple keys from Launchpad and Github or enter them manually.</p>
                    <h3>Keys</h3>
                    <maas-ssh-keys></maas-ssh-keys>
                </div>
            </div>
            <div class="action-card"
                data-ng-if="isSuperUser()"
                data-ng-class="{'u-muted': !canContinue()}">
                <h2 class="action-card__title">
                    MAAS has been successfully set up
                </h2>
                <div class="action-card__controls">
                    <p class="u-margin--top"><i class="icon icon--success u-margin--right-small"></i>Once DHCP is enabled, set your machines to PXE boot and they will be automatically enlisted in the Nodes tab.</p>
                    <p class="u-margin--top"><i class="icon icon--success u-margin--right-small"></i>Discovered MAC/IP pairs in your network will be listed on your dashboard and can be added to MAAS.</p>
                    <p class="u-margin--top u-margin--bottom"><i class="icon icon--success u-margin--right-small"></i>The fabrics, VLANs and subnets in your network will be automatically added to MAAS in Networks.</p>
                </div>
            </div>
            <button class="button button--positive button--large"
                data-ng-disabled="!canContinue()"
                data-ng-click="clickContinue()">Go to dashboard</button>
        </div>
    </div>
</div>
