<div class="p-strip" data-ng-if="!loading">
    <div class="row">
        <div class="p-card--highlighted">
            <div class="p-card__content u-no-margin--top">
                <h2 class="p-card__title p-heading--four">
                    <i data-ng-class="{'p-icon--success': canContinue(), 'p-icon--success-muted': !canContinue()}"></i>
                    SSH keys for {$ user.username $}
                </h2>
                <hr />
                <p>Add multiple keys from Launchpad and Github or enter them manually.</p>
                <h3 class="p-heading--four">Keys</h3>
                <maas-ssh-keys></maas-ssh-keys>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="p-card--highlighted" data-ng-if="isSuperUser()" data-ng-class="{'u-muted': !canContinue()}">
            <h2 class="p-card__title p-heading--four">
                MAAS has been successfully set up
            </h2>
            <hr />
            <div class="p-card__content u-no-margin--top">
                <ul class="p-list">
                    <li class="p-list__item"><i class="p-icon--success"></i>Once DHCP is enabled, set your machines to PXE boot and they will be automatically enlisted in the Nodes tab.</p>
                    <li class="p-list__item"><i class="p-icon--success"></i>Discovered MAC/IP pairs in your network will be listed on your dashboard and can be added to MAAS.</p>
                    <li class="p-list__item"><i class="p-icon--success"></i>The fabrics, VLANs and subnets in your network will be automatically added to MAAS in Networks.</p>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="p-button--positive u-float--right"
            data-ng-disabled="!canContinue()"
            data-ng-click="clickContinue()">Go to dashboard</button>
    </div>
</div>
