<table class="p-table--mobile-card" role="grid">
    <thead>
        <tr>
            <th data-ng-if="!hideCheckboxes">
                <input class="checkbox" type="checkbox" data-ng-click="toggleCheckAll()" data-ng-checked="table.allViewableChecked" id="check-all" data-ng-disabled="ngDisabled()" />
                <label class="checkbox-label u-no-margin--top" for="check-all"></label>
            </th>
            <th class="u-align--left" colspan="2">
                <a href="" data-ng-click="selectColumnOrSort('fqdn')" data-ng-class="{'is-active': table.column === 'fqdn', 'is-sorted': table.predicate === 'fqdn', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}"><span title="Fully Qualified Domain Name">FQDN</span></a>
                /
                <a href="" data-ng-click="selectColumnOrSort('pxe_mac')" data-ng-class="{'is-active': table.column === 'pxe_mac', 'is-sorted': table.predicate === 'pxe_mac', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}"><span title="Media Access Control addresses">MAC</span></a>
            </th>
            <th>
                <a href="" data-ng-click="sortTable('power_state')" data-ng-class="{'is-sorted': table.predicate === 'power_state', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Power</a>
            </th>
            <th>
            </th>
            <th>
                <a href="" data-ng-click="sortTable('status')" data-ng-class="{'is-sorted': table.predicate === 'status', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Status</a>
            </th>
            <th>
                <a href="" data-ng-click="sortTable('owner')" data-ng-class="{'is-sorted': table.predicate === 'owner', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Owner</a>
            </th>
            <th class="u-align--right">
                <a href="" data-ng-click="sortTable('cpu_count')" data-ng-class="{'is-sorted': table.predicate=== 'cpu_count', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Cores</a>
            </th>
            <th class="u-align--right">
                <a href="" data-ng-click="sortTable('memory')" data-ng-class="{'is-sorted': table.predicate === 'memory', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">RAM (GiB)</a>
            </th>
            <th class="u-align--right">
                <a href="" data-ng-click="sortTable('disks')" data-ng-class="{'is-sorted': table.predicate === 'disks', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Disks</a>
            </th>
            <th class="u-align--right">
                <a href="" data-ng-click="sortTable('storage')" data-ng-class="{'is-sorted': table.predicate === 'storage', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Storage (GB)</a>
            </th>
        </tr>
    </thead>
    <tbody vs-repeat vs-scroll-parent="window">
        <tr data-ng-repeat="node in table.filteredMachines = (table.machines | nodesFilter:search | orderBy:table.predicate:table.reverse) track by node.system_id" data-ng-class="{ 'table--error': machineHasError({ $machine: node }), selected: node.$selected }">
            <td aria-label="Select node" data-ng-if="!hideCheckboxes">
                <input class="checkbox" type="checkbox" data-ng-click="toggleChecked(node)" data-ng-checked="node.$selected" id="{$ node.fqdn $}" data-ng-disabled="ngDisable()" />
                <label class="checkbox-label" for="{$ node.fqdn $}"></label>
            </td>
            <td class="u-align--left" aria-label="FQDN" data-ng-if="table.column === 'fqdn'" colspan="2">
                <span data-ng-if="node.locked" class="icon icon--locked tooltip tooltip--bottom u-margin--right-tiny"
                      aria-label="This machine is locked. You have to unlock it to perform any actions.">
                </span>
                <a href="#/node/{$ node.system_id $}">{$ node.fqdn $}</a>
            </td>
            <td class="u-align--left" aria-label="MAC" data-ng-if="table.column === 'pxe_mac'" colspan="2">
                <a href="#/node/{$ node.system_id $}" title="{$ node.pxe_mac_vendor $}">{$ node.pxe_mac $}</a>
                <a href="#/node/{$ node.system_id $}" class="extra-macs" data-ng-show="node.extra_macs.length">(+{$ node.extra_macs.length $})</a>
            </td>
            <td class="powerstate u-upper-case--first" aria-label="Power state">
                <span data-ng-if="node.power_state != 'unknown'" class="p-icon--power-{$ node.power_state $} u-margin--right-tiny"></span> {$ node.power_state $}
            </td>
            <td class="u-hide--small">
                <i data-ng-if="showSpinner(node)" class="p-icon--spinner u-animation--spin u-hide--small"></i>
                <i data-ng-if="showNodeStatus(node)" data-maas-script-status="script-status" data-script-status="node.other_test_status" class="tooltip tooltip--left" aria-label="{$ node.other_test_status_tooltip $}"></i>
                <span class="p-tooltip p-tooltip--top-right">
                    <i data-ng-if="showFailedTestWarning(node)" class="p-icon--warning u-hide--small" aria-describedby="failed-test-warning-tooltip-{$ node.fqdn $}"></i>
                    <span class="p-tooltip__message" role="tooltip" id="failed-test-warning-tooltip-{$ node.fqdn $}">Machine has failed tests; use with caution!</span>
                </span>
            </td>
            <td class="status u-text--truncate" aria-label="{$ node.status_tooltip $}">
                {$ getStatusText(node) $}
                <span class="u-hide--medium u-hide--large">
                    <i data-ng-if="showSpinner(node)" class="p-icon--spinner u-animation--spin"></i>
                    <span class="p-tooltip p-tooltip--left">
                        <i data-ng-if="showNodeStatus(node)" data-maas-script-status="script-status" data-script-status="node.other_test_status" aria-labelledby="{$ node.other_test_status_tooltip $}"></i>
                        <span class="p-tooltip__message" role="tooltip" id="other-status-tooltip-{$ node.fqdn $}">{$ node.other_test_status_tooltip $}</span>
                    </span>
                    <span class="p-tooltip p-tooltip--left">
                        <i data-ng-if="showFailedTestWarning(node)" class="p-icon--warning" aria-describedby="failed-test-tooltip-large-{$ node.fqdn $}"></i>
                        <span class="p-tooltip__message" role="tooltip" id="failed-test-tooltip-large-{$ node.fqdn $}">{$ node.other_test_status_tooltip $}</span>
                    </span>
                </span>
            </td>
            <td aria-label="Owner">&nbsp;{$ node.owner $}</td>
            <td class="u-align--right u-hide--small p-tooltip p-tooltip--left" aria-label="CPU">
                <span data-maas-script-status="script-status" data-script-status="node.cpu_test_status" data-ng-if="node.cpu_test_status !== 2" aria-describedby="node-cpu-tooltip-{$ node.fqdn $}"></span>
                {$ node.cpu_count $}
                <span class="p-tooltip__message" role="tooltip" id="node-cpu-tooltip-{$ node.fqdn $}">{$ node.cpu_test_status_tooltip $}</span>
            </td>
            <td class="u-align--right u-hide--small p-tooltip p-tooltip--left" aria-label="Memory">
                <span data-maas-script-status="script-status" data-script-status="node.memory_test_status" data-ng-if="node.memory_test_status !== 2" aria-describedby="node-memory-tooltip-{$ node.fqdn $}"></span>
                {$ node.memory $}
                <span class="p-tooltip__message" role="tooltip" id="node-memory-tooltip-{$ node.fqdn $}">{$ node.memory_test_status_tooltip $}</span>
            </td>
            <td class="u-align--right u-hide--small p-tooltip p-tooltip--left" aria-label="Disks">
                <span class="" data-maas-script-status="script-status" data-script-status="node.storage_test_status" data-ng-if="node.storage_test_status !== 2" aria-describedby="disk-count-tooltip-{$ node.fqdn $}">
                </span>
                {$ node.physical_disk_count $}
                <span class="p-tooltip__message" role="tooltip" id="disk-count-tooltip-{$ node.fqdn $}">{$ node.storage_test_status_tooltip $}</span>
            </td>
            <td class="u-align--right u-hide--small" aria-label="Storage">
                {$ node.storage $}
            </td>
        </tr>
    </tbody>
</table>
