<header class="page-header margin-bottom" data-maas-sticky-header>
    <div class="inner-wrapper">
        <h1 class="page-header__title eight-col">
            <ng-pluralize data-ng-hide="loading" count="subnets.length"
                          when="{'one': '{$ subnets.length $} subnet in ', 'other': '{$ subnets.length $} subnets in '}"></ng-pluralize>
            {$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <a href=""
                   data-ng-hide="loading"
                   data-ng-class="{ active: currentpage === 'fabrics' }"
                   data-ng-click="toggleTab('fabrics')">{$ fabrics.length $} <ng-pluralize
                        count="fabrics.length"
                        when="{'one': 'Fabric', 'other': 'Fabrics'}"></ng-pluralize></a>
                <span class="divide" data-ng-hide="loading"></span>
                <a href=""
                   data-ng-hide="loading"
                   data-ng-class="{ active: currentpage === 'spaces' }"
                   data-ng-click="toggleTab('spaces')">{$ spaces.length $} <ng-pluralize
                        count="spaces.length"
                        when="{'one': 'Space', 'other': 'Spaces'}"></ng-pluralize></a>
                <span class="power-status--power" data-ng-show="loading">
                    <span class="loader"></span>
                    Loading...
                </span>
            </span>
        </h1>
    </div>
</header>
<div data-ng-show="currentpage === 'fabrics' && !loading">
    <section class="row" data-ng-repeat="data in tabs.fabrics.data">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>{$ data.fabric.name $}</h2>
            </div>
            <div class="twelve-col">
                <div class="table">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table__column--20">VLAN</div>
                            <div class="table__header table__column--15">Space</div>
                            <div class="table__header table__column--45">Subnet</div>
                            <div class="table__header table__column--20">Available IP Addresses</div>
                            <!--
                            <div class="table__header table__column--10">IP Addresses allocated but not used</div>
                            -->
                        </div>
                    </header>
                    <main class="table-body">
                        <div class="table__row table__row--no-hover"
                             data-ng-repeat="row in data.sortedData = (data.rows | orderBy:['vlan.vid','space.name','subnet.cidr'])">
                            <div class="table__data table__column--20">{$ getVLANName(row, data.sortedData) $}</div>
                            <div class="table__data table__column--15">{$ getSpaceName(row, data.sortedData) $}</div>
                            <div class="table__data table__column--45"><a href="#/subnet/{$ row.subnet.id $}">{$ getSubnetName(row.subnet) $}</a></div>
                            <div class="table__data table__column--20">{$ row.subnet.statistics.available_string $}</div>
                            <!--
                            <div class="table__data table__column--10">{$ row.subnet.statistics.inefficiency_string $}</div>
                            -->
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
</div>
<div data-ng-show="currentpage === 'spaces' && !loading">
    <section class="row" data-ng-repeat="data in tabs.spaces.data">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h2>{$ data.space.name $}</h2>
            </div>
            <div class="twelve-col">
                <div class="table">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table__column--15">Fabric</div>
                            <div class="table__header table__column--20">VLAN</div>
                            <div class="table__header table__column--45">Subnet</div>
                            <div class="table__header table__column--20">Available IP Addresses</div>
                            <!--
                            <div class="table__header table__column--10">INEFFICIENCY allocated, not used</div>
                            -->
                        </div>
                    </header>
                    <main class="table-body">
                        <div class="table__row table__row--no-hover" data-ng-show="data.rows.length == 0">
                            <div class="table__data table__column--100">There are currently no subnets in this space.</div>
                        </div>
                        <div class="table__row table__row--no-hover"
                             data-ng-repeat="row in data.sortedData = (data.rows | orderBy:['fabric.name','vlan.vid','subnet.cidr'])">
                            <div class="table__data table__column--15">{$ getFabricName(row, data.sortedData) $}</div>
                            <div class="table__data table__column--20">{$ getVLANName(row, data.sortedData) $}</div>
                            <div class="table__data table__column--45"><a href="#/subnet/{$ row.subnet.id $}">{$ getSubnetName(row.subnet) $}</a></div>
                            <div class="table__data table__column--20">{$ row.subnet.statistics.available_string $}</div>
                            <!--
                            <div class="table__data table__column--10">{$ row.subnet.statistics.inefficiency_string $}</div>
                            -->
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </section>
</div>
