<header class="page-header" sticky media-query="min-width: 769px">
    <div class="wrapper--inner">
        <h1 class="page-header__title">Subnets</h1>
        <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
        <p class="page-header__status" data-ng-show="loading"><span class="u-text--loading"><i class="icon icon--loading u-animation--spin"></i> Loading...</span></p>

        <!-- Drop-down box -->
        <div class="page-header__controls u-float--right" data-ng-show="actionOptions.length">
            <div data-maas-cta="actionOptions"
                 data-default-title="Add"
                 data-ng-model="actionOption"
                 data-ng-change="actionChanged()">
            </div>
        </div>
        <div class="page-header__dropdown" data-ng-class="{ 'is-open': actionOption.name}">
            <section class="page-header__section twelve-col u-margin--bottom-none ng-hide" data-ng-show="actionOption.name === 'add_fabric'">
                <maas-obj-form obj="newObject" manager="fabricManager" manager-method="createItem"
                    inline="true" save-on-blur="false" after-save="cancelAction">
                    <fieldset class="form__fieldset">
                        <maas-obj-field
                            type="text" key="name" label="Add fabric" subtle="false"
                            placeholder="Name (optional)"></maas-obj-field>
                        <maas-obj-errors></maas-obj-errors>
                    </fieldset>
                    <div class="page-header__controls">
                        <button class="button--base button--inline" data-ng-click="cancelAction()">Cancel</button>
                        <button class="button--positive button--inline" maas-obj-save>Add fabric</button>
                    </div>
                </maas-obj-form>
            </section>
            <section class="page-header__section twelve-col u-margin--bottom-none ng-hide" data-ng-show="actionOption.name === 'add_vlan'">
                <maas-obj-form obj="newObject" manager="vlanManager" manager-method="createItem"
                    inline="true" save-on-blur="false" after-save="cancelAction">
                    <fieldset class="form__fieldset">
                        <maas-obj-field
                            type="text" key="name" label="Add VLAN" subtle="false"
                            placeholder="Name (optional)"></maas-obj-field>
                        <maas-obj-field
                            type="text" key="vid" label="with VID" subtle="false"
                            placeholder="numeric value 1-4094"></maas-obj-field>
                        <maas-obj-field
                            type="options" key="fabric" label="to fabric" subtle="false"
                            options="f.id as f.name for f in fabrics"
                            placeholder="Select fabric"></maas-obj-field>
                        <maas-obj-field
                                subtle="false" type="options" key="space" label="in space"
                                placeholder="(undefined)" placeholder-enabled="true"
                                options="space.id as space.name for space in spaces"></maas-obj-field>
                        <maas-obj-errors></maas-obj-errors>
                    </fieldset>
                    <div class="page-header__controls">
                        <button class="button--base button--inline" data-ng-click="cancelAction()">Cancel</button>
                        <button class="button--positive button--inline" maas-obj-save>Add VLAN</button>
                    </div>
                </maas-obj-form>
            </section>
            <section class="page-header__section twelve-col u-margin--bottom-none ng-hide" data-ng-show="actionOption.name === 'add_space'">
                <maas-obj-form obj="newObject" manager="spaceManager" manager-method="createItem"
                    inline="true" save-on-blur="false" after-save="cancelAction">
                    <fieldset class="form__fieldset">
                        <maas-obj-field
                            type="text" key="name" label="Add space" subtle="false"
                            placeholder="Name (optional)"></maas-obj-field>
                        <maas-obj-errors></maas-obj-errors>
                    </fieldset>
                    <div class="page-header__controls">
                        <button class="button--base button--inline" data-ng-click="cancelAction()">Cancel</button>
                        <button class="button--positive button--inline" maas-obj-save>Add space</button>
                    </div>
                </maas-obj-form>
            </section>
            <maas-obj-form obj="newObject" manager="subnetManager" manager-method="createItem"
                table-form="true" save-on-blur="false" pre-process="actionSubnetPreSave" after-save="cancelAction" class="ng-hide" data-ng-show="actionOption.name == 'add_subnet'">
                <section class="page-header__section twelve-col u-margin--bottom-none">
                    <h3 class="page-header__dropdown-title">Add subnet</h3>
                    <fieldset class="form__fieldset six-col">
                        <maas-obj-field
                            subtle="false" type="text" key="name" label="Name" placeholder="Name (optional)"
                            label-width="two" input-width="three"></maas-obj-field>
                        <maas-obj-field
                            subtle="false" type="text" key="cidr" label="CIDR"
                            placeholder="Use IPv4 or IPv6 format"
                            label-width="two" input-width="three"></maas-obj-field>
                        <maas-obj-field
                            subtle="false" type="text" key="gateway_ip" label="Gateway IP"
                            placeholder="Use IPv4 or IPv6 format (optional)"
                            label-width="two" input-width="three"></maas-obj-field>
                    </fieldset>
                    <fieldset class="form__fieldset six-col last-col">
                        <maas-obj-field
                            subtle="false" type="text" key="dns_servers" label="DNS servers"
                            placeholder="Use IPv4 or IPv6 format (optional)"
                            label-width="two" input-width="three"></maas-obj-field>

                        <maas-obj-field
                            subtle="false" type="options" key="vlan" label="Fabric &amp; VLAN" placeholder="Choose Fabric &amp; VLAN"
                            options="v.id as getVLANName(v) group by getFabricNameById(v.fabric) for v in vlans"
                            label-width="two" input-width="three"></maas-obj-field>
                    </fieldset>
                </section>
                <section class="page-header__section twelve-col u-margin--bottom-none">
                    <maas-obj-errors class="page-header__message page-header__message--error"></maas-obj-errors>
                    <div class="page-header__controls">
                        <button class="button--base button--inline" data-ng-click="cancelAction()">Cancel</button>
                        <button class="button--positive button--inline" maas-obj-save>Add subnet</button>
                    </div>
                </section>
            </maas-obj-form>
        </div>
    </div>
</header>
<section class="row u-padding--top-none">
    <div class="wrapper--inner">
        <div class="twelve-col">
            <form class="form form--inline four-col">
                <div class="form__group listing-filter">
                    <label class="u-margin--right-small" for="network-filter">Group by</label>
                    <select name="network-filter" class="listing-filter__select" id="networks-groupby" data-ng-model="groupBy" data-ng-change="updateGroupBy()">
                        <option value="fabric">Fabrics</option>
                        <option value="space">Spaces</option>
                    </select>
                    <span class="icon icon--help tooltip tooltip--right u-margin--left-small u-display--desktop"
                          aria-label="Fabric is a set of consistent interconnected VLANs that are capable of mutual communication.&#xa;Space is a grouping of networks (VLANs and their subnets) that are able to mutually communicate with each other.&#xa;Subnets within a space do not need to belong to the same fabric."></span>
                </div>
            </form>
            <!-- XXX mpontillo temporarily hidden -->
            <div class="eight-col last-col ng-hide">
                <div class="search">
                  <input placeholder="Search" class="search__input" type="search">
                  <input class="search__submit" type="submit">
              </div>
            </div>
        </div>
        <div class="twelve-col ng-hide" data-ng-show="!loading">
            <!-- Spaces grouped table -->
            <table class="table-listing ng-hide" data-ng-show="groupBy === 'space'">
                <thead>
                    <tr class="table-listing__row">
                        <!-- <th class="table__column--3 ng-hide">
                            <input class="checkbox" type="checkbox" id="spaces-all" />
                            <label class="checkbox-label" for="spaces-all"></label>
                        </th> -->
                        <th class="table__column--20">Space</th>
                        <th class="table__column--20">VLAN</th>
                        <th class="table__column--20">Fabric</th>
                        <th class="table__column--30">Subnet</th>
                        <th class="table__column--13 align-right">Available IPs</th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr class="table-listing__row" data-ng-repeat="row in group.spaces.rows">
                        <!-- <td class="table-listing__cell table__column--3 ng-hide">
                            <div data-ng-if="row.space_name">
                                <input class="checkbox" type="checkbox" id="space-{$ row.space.id $}" />
                                <label class="checkbox-label" for="space-{$ row.space.id $}"></label>
                            </div>
                        </td> -->
                        <td class="table-listing__cell table__column--20" aria-label="Space">
                            <a href="#/space/{$ row.space.id $}">{$ row.space_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--20" aria-label="VLAN">
                            <a href="#/vlan/{$ row.vlan.id $}">{$ row.vlan_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--20" aria-label="Fabric">
                            <a href="#/fabric/{$ row.fabric.id $}">{$ row.fabric.name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--30" aria-label="Subnet">
                            <a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--13 align-right" aria-label="Available IPs">
                            {$ row.subnet.statistics.available_string $}
                        </td>
                    </tr>
                    <tr class="table-listing__row" data-ng-repeat="row in group.spaces.orphanVLANs">
                        <td class="table-listing__cell table__column--20" aria-label="Space">
                            <a data-ng-if="$index === 0" href="#/space/{$ row.space.id $}">(undefined)</a>
                            <span data-ng-if="$index === 0" class="icon icon--warning tooltip tooltip--right u-margin--left-small u-display--desktop"
                              aria-label="MAAS integrations require a space in order to determine the purpose of a network.&#xa;Define a space for each subnet by selecting the space on the VLAN details page.&#xa;If an approprate space does not exist, one may be created on this page."></span>
                        </td>
                        <td class="table-listing__cell table__column--20">
                            <a href="#/vlan/{$ row.vlan.id $}">{$ row.vlan_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--20">
                            <a href="#/fabric/{$ row.fabric.id $}">{$ row.fabric.name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--30">
                            <a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--13 align-right">
                            {$ row.subnet.statistics.available_string $}
                        </td>
                    </tr>
                </tbody>
         </table>
            <!-- Fabric grouped table -->
            <table class="table-listing ng-hide" data-ng-show="groupBy === 'fabric'">
                <thead>
                    <tr class="table-listing__row">
                        <!-- <th class="table__column--3 ng-hide">
                            <input class="checkbox" type="checkbox" id="fabrics-all" />
                            <label class="checkbox-label" for="fabrics-all"></label>
                        </th> -->
                        <th class="table__column--15">Fabric</th>
                        <th class="table__column--15">VLAN</th>
                        <th class="table__column--27">Subnet</th>
                        <th class="table__column--15 align-right">Available IPs</th>
                        <th class="table__column--25">Space</th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr class="table-listing__row" data-ng-repeat="row in group.fabrics.rows">
                        <!-- <td class="table-listing__cell table__column--3 ng-hide">
                            <div data-ng-if="row.fabric_name">
                                <input class="checkbox" type="checkbox" id="fabric-{$ row.fabric.id $}" />
                                <label class="checkbox-label" for="fabric-{$ row.fabric.id $}"></label>
                            </div>
                        </td> -->
                        <td class="table-listing__cell table__column--15" aria-label="Fabric">
                            <a href="#/fabric/{$ row.fabric.id $}">{$ row.fabric_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--15" aria-label="VLAN">
                            <a href="#/vlan/{$ row.vlan.id $}">{$ row.vlan_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--27" aria-label="Subnet">
                            <a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet_name $}</a>
                        </td>
                        <td class="table-listing__cell table__column--15 align-right" aria-label="Available IPs">
                            {$ row.subnet.statistics.available_string $}
                        </td>
                        <td class="table-listing__cell table__column--25" aria-label="Space">
                            <a data-ng-if="row.space !== null" href="#/space/{$ row.space.id $}">{$ row.space.name $}</a>
                            <p data-ng-if="row.space === null">(undefined)</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
</section>
