<header class="page-header">
    <div class="inner-wrapper">
        <h1 class="page-header__title">{$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <a href="" data-ng-class="{ active: page === 'nodes' }">{$ nodes.length $} Nodes</a>
                <a href="">{$ devices.length $} Devices</a>
            </span>
        </h1>
        <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
        <div class="page-header__actions">
            <div class="page-header__cta" data-ng-hide="selectedNodes.length">
                <a href="" class="link-cta-ubuntu">Add Hardware</a>
            </div>
            <div class="page-header__cta ng-hide" data-ng-show="selectedNodes.length">
                <span class="page-header__cta-feedback left">
                    {$ selectedNodes.length $} Selected
                </span>
                <div class="left" data-maas-cta="takeActionOptions" data-ng-model="actionOption" data-ng-change="actionOptionSelected()"></div>
            </div>
        </div>
        <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
        <div class="page-header__dropdown ng-hide" data-ng-show="actionOption">
            <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
            <form class="form-inline" data-ng-hide="actionError">
            <!--
                XXX blake_r - TODO: Add options to actions.
                <label for="iamge">Choose your image</label>
                <select name="os" id="os">
                    <option value="Ubuntu">Ubuntu</option>
                    <option value="Windows">Windows</option>
                    <option value="OSX">OSX</option>
                    <option value="Red Hat">Red Hat</option>
                </select>
                <select name="version" id="version">
                    <option value="14.10">14.10</option>
                    <option value="14.04.1 LTS">14.01.1 LTS</option>
                    <option value="14.04 LTS">14.01 LTS</option>
                    <option value="12.04.5 LTS">12.04.5 LTS</option>
                </select>
            -->
                <div class="right">
                    <a href="#" class="margin-right" data-ng-click="actionCancel()">Cancel</a>
                    <button class="cta-ubuntu" data-ng-click="actionGo()">Go</button>
                </div>
            </form>


            <!-- <ul class="add-machine__list twelve-col">
                <li class="add-machine__details twelve-col">
                    <div class="name two-col">
                        <h4>pocahontas</h4>
                    </div>
                    <div class="cluster two-col">
                        <p>Cluster master</p>
                    </div>
                    <div class="architecture two-col">
                        <p>amd64/generic</p>
                    </div>
                    <div class="mac two-col">
                        <p>68:a8:6d:53:42:d4</p>
                    </div>
                    <div class="power-type four-col last-col">
                        <p>Intel AMT</p>
                    </div>
                    <div class="add-machine__details-form twelve-col">
                        <form action="post" class="twelve-col">
                            <fieldset class="six-col">
                                <div class="inline">
                                    <label for="cluser">Cluster</label>
                                    <select name="cluster" id="cluster" placeholder="Choose a cluster">
                                        <option value="test cluster">Choose a cluster</option>
                                        <option value="test cluster">Test cluster</option>
                                    </select>
                                </div>
                                <div class="inline">
                                    <label for="machine-name">Machine name</label>
                                    <input type="text" id="machine-name" placeholder="Choose a machine name">
                                </div>
                                <div class="inline">
                                    <label for="architecture">Architecture</label>
                                    <select name="architecture" id="architecture" placeholder="Choose an architecture">
                                        <option value="Choose cluster">Choose architecture</option>
                                        <option value="test cluster">Test cluster</option>
                                    </select>
                                </div>
                                <div class="inline">
                                    <label for="mac-address">MAC Address</label>
                                    <input type="text" id="mac-address" placeholder="00:00:00:00:00:00">
                                    <a href="#" class="link-cta-ubuntu secondary right">+ Add MAC Address</a>
                                </div>
                                <div class="inline">
                                    <label for="zone">Zone</label>
                                    <select name="zone" id="zone" placeholder="Choose a zone">
                                        <option value="test zone">Choose a zone</option>
                                        <option value="test zone">Test zone</option>
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset class="six-col last-col">
                                <div class="inline">
                                    <label for="power-type">Power type</label>
                                    <select name="power-type" id="power-type">
                                        <option value="choose">Choose power type</option>
                                        <option value="test">Test power type</option>
                                    </select>
                                </div>
                                <div class="inline">
                                    <label for="power-mac">Power MAC</label>
                                    <input type="text" name="power-mac" id="power-mac" placeholder="Choose power MAC">
                                </div>
                                <div class="inline">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" id="username" placeholder="Choose a username">
                                </div>
                                <div class="inline">
                                    <label for="password">Password</label>
                                    <input type="text" name="password" id="password" placeholder="Choose a password">
                                </div>
                                <div class="inline">
                                    <label for="ip-address">IP Address</label>
                                    <input type="text" name="ip-address" id="ip-address" placeholder="Choose a IP Address">
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </li>
                <li class="add-machine__details twelve-col">
                    <div class="name two-col">
                        <h4>leia</h4>
                    </div>
                    <div class="cluster two-col">
                        <p>Cluster master</p>
                    </div>
                    <div class="architecture two-col">
                        <p>amd64/generic</p>
                    </div>
                    <div class="mac two-col">
                        <p>68:a8:6d:53:42:d4</p>
                    </div>
                    <div class="power-type four-col last-col">
                        <p>Intel AMT</p>
                    </div>
                </li>
                <li class="add-machine__details twelve-col">
                    <div class="name two-col">
                        <h4>carla</h4>
                    </div>
                    <div class="cluster two-col">
                        <p>Cluster master</p>
                    </div>
                    <div class="architecture two-col">
                        <p>amd64/generic</p>
                    </div>
                    <div class="mac two-col">
                        <p>68:a8:6d:53:42:d4</p>
                    </div>
                    <div class="power-type four-col last-col">
                        <p>Intel AMT</p>
                    </div>
                </li>
                <li class="add-machine__details twelve-col">
                    <div class="name two-col">
                        <h4>cinderella</h4>
                    </div>
                    <div class="cluster two-col">
                        <p>Cluster master</p>
                    </div>
                    <div class="architecture two-col">
                        <p>amd64/generic</p>
                    </div>
                    <div class="mac two-col">
                        <p>68:a8:6d:53:42:d4</p>
                    </div>
                    <div class="power-type four-col last-col">
                        <p>Intel AMT</p>
                    </div>
                </li>
                <li class="add-machine__details twelve-col">
                    <div class="name two-col">
                        <h4>belle</h4>
                    </div>
                    <div class="cluster two-col">
                        <p>Cluster master</p>
                    </div>
                    <div class="architecture two-col">
                        <p>amd64/generic</p>
                    </div>
                    <div class="mac two-col">
                        <p>68:a8:6d:53:42:d4</p>
                    </div>
                    <div class="power-type four-col last-col">
                        <p>Intel AMT</p>
                    </div>
                </li>
            </ul>
            <form action="post" class="twelve-col">
                <fieldset class="six-col">
                    <div class="inline">
                        <label for="cluser">Cluster</label>
                        <select name="cluster" id="cluster" placeholder="Choose a cluster">
                            <option value="test cluster">Choose a cluster</option>
                            <option value="test cluster">Test cluster</option>
                        </select>
                    </div>
                    <div class="inline">
                        <label for="machine-name">Machine name</label>
                        <input type="text" id="machine-name" placeholder="Choose a machine name">
                    </div>
                    <div class="inline">
                        <label for="architecture">Architecture</label>
                        <select name="architecture" id="architecture" placeholder="Choose an architecture">
                            <option value="Choose cluster">Choose architecture</option>
                            <option value="test cluster">Test cluster</option>
                        </select>
                    </div>
                    <div class="inline">
                        <label for="mac-address">MAC Address</label>
                        <input type="text" id="mac-address" placeholder="00:00:00:00:00:00">
                        <a href="#" class="link-cta-ubuntu secondary right">+ Add MAC Address</a>
                    </div>
                    <div class="inline">
                        <label for="zone">Zone</label>
                        <select name="zone" id="zone" placeholder="Choose a zone">
                            <option value="test zone">Choose a zone</option>
                            <option value="test zone">Test zone</option>
                        </select>
                    </div>
                </fieldset>
                <fieldset class="six-col last-col">
                    <div class="inline">
                        <label for="power-type">Power type</label>
                        <select name="power-type" id="power-type">
                            <option value="choose">Choose power type</option>
                            <option value="test">Test power type</option>
                        </select>
                    </div>
                    <div class="inline">
                        <label for="power-mac">Power MAC</label>
                        <input type="text" name="power-mac" id="power-mac" placeholder="Choose power MAC">
                    </div>
                    <div class="inline">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" placeholder="Choose a username">
                    </div>
                    <div class="inline">
                        <label for="password">Password</label>
                        <input type="text" name="password" id="password" placeholder="Choose a password">
                    </div>
                    <div class="inline">
                        <label for="ip-address">IP Address</label>
                        <input type="text" name="ip-address" id="ip-address" placeholder="Choose a IP Address">
                    </div>
                </fieldset>
                <div class="twelve-col border-top padding-top">
                    <a href="#" class="link-cta-ubuntu secondary">+ Add another machine</a>
                    <div class="right align-right">
                        <a href="#" class="margin-right">Cancel</a>
                        <button class="cta-ubuntu secondary">Add this machine</button>
                    </div>
                </div>
            </form> -->


            <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
            <div class="page-header__feedback ng-hide" data-ng-show="actionError">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <p class="page-header__feedback-message info">
                    {$ selectedNodes.length $}
                    <span data-ng-pluralize count="selectedNodes.length" when="{'one': 'node', 'other': 'nodes'}"></span>
                    cannot be {$ actionOption.sentence $}. To proceed, update your selection.
                </p>
            </div>
        </div>
    </div>
</header>
<div class="inner-wrapper">
    <!-- <ul id="flash-messages"  class="flash-messages hidden">
        {% for persistent_error in persistent_errors %}
        <li class="flash-messages__item warning">{{ persistent_error }}</li>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="flash-messages__item {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul> -->
    <aside id="sidebar">
        <div class="accordion three-col">
            <h3 class="accordion__title">Filter by</h3>
            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
            <div class="ng-hide accordion__tab" data-ng-show="metadata.status.length">
                <h4 class="accordion__tab-title active">Status</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <li class="accordion__tab-item" data-ng-repeat="status in metadata.status | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('status', status.name) }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('status', status.name)">{$ status.name $} ({$ status.count $})</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ng-hide accordion__tab" data-ng-show="metadata.owner.length">
                <h4 class="accordion__tab-title active">Owner</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="owner in metadata.owner | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('owner', owner.name) }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('owner', owner.name)">{$ owner.name $} ({$ owner.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="nine-col last-col">
        <div id="search-bar" class="node-search">
            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
            <input
                type="search" placeholder="Search nodes" class="node-search__input"
                data-ng-model="search" data-ng-change="updateFilters()"
                data-ng-class="{ error: !searchValid }" />
            <input type="submit" class="node-search__submit" />
        </div>
        <table class="table-listing" id="nodes-listing">
            <thead>
                <tr class="table-listing__row">
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <input type="checkbox" data-ng-click="toggleCheckAll()" data-ng-model="allViewableChecked" />
                    </th>
                    <th colspan="2" claas="table-listing__cell-fixed">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='fqdn'; reverse=!reverse; column='fqdn'">
                            <acronym title="Fully Qualified Domain Name">FQDN</acronym>
                        </a> /
                        <a href="" data-ng-click="predicate='pxe_mac'; reverse=!reverse; column='pxe_mac'">
                            <acronym title="Media Access Control addresses">MAC</acronym>
                        </a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" class="align-center" data-ng-click="predicate='power_state'; reverse=!reverse">Power</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='status'; reverse=!reverse">Status</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='owner'; reverse=!reverse">Owner</a>
                    </th>

                    <th class="align-right">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='cpu_count'; reverse=!reverse">Cores</a>
                    </th>
                    <th class="align-right">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='memory'; reverse=!reverse">RAM (GB)</a>
                    </th>
                    <th class="align-right">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='disks'; reverse=!reverse">Disks</a>
                    </th>
                    <th class="align-right">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='storage'; reverse=!reverse">Storage (GB)</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- XXX blake_r 2015-02-18 - Need to add e2e test. This really needs lots of tests. -->
                <tr class="table-listing__row"
                    data-ng-repeat="node in filtered_nodes = (nodes | nodesFilter:search | orderBy:predicate:reverse) track by node.system_id"
                    data-ng-class="{ error: !supportsAction(node) }">
                    <td>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <input type="checkbox" data-ng-click="toggleChecked(node)" data-ng-model="node.$selected" />
                    </td>
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                    <td class="node-column table-listing__cell fixed" data-ng-show="$parent.column === 'fqdn'" colspan="2">
                        <a href="{$ node.url $}">{$ node.fqdn $}</a>
                    </td>
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                    <td class="ng-hide table-listing__cell fixed" data-ng-show="$parent.column === 'pxe_mac'" colspan="2">
                        <a href="{$ node.url $}" title="{$ node.pxe_mac_vendor $}">{$ node.pxe_mac $}</a>
                        <a href="{$ node.url $}" class="extra-macs" data-ng-show="node.extra_macs.length">(+{$ node.extra_macs.length $})</a>
                    </td>
                    <td class="powerstate align-center">
                        <span title="{$ node.power_state $}" class="powerstates power-{$ node.power_state $}"></span>
                    </td>
                    <td class="table-listing__cell status">{$ node.status $}</td>
                    <td>{$ node.owner $}</td>
                    <td class="align-right">{$ node.cpu_count $}</td>
                    <td class="align-right">{$ node.memory $}</td>
                    <td class="align-right">{$ node.disks $}</td>
                    <td class="align-right">{$ node.storage $}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
