<div data-ng-hide="loaded">
    <header class="page-header">
        <div class="inner-wrapper">
            <h1 class="page-header__title twelve-col">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded">
    <header class="page-header">
        <div class="inner-wrapper">
            <h1 class="page-header__title eight-col">
                <span contenteditable="true"
                    data-ng-class="{ editable: canEdit(), invalid: editNameInvalid() }"
                    data-ng-model="nameHeader.value"
                    data-ng-disabled="!canEdit()"
                    data-maas-editing="editName()"></span>
                <span class="page-header__title--identicator" id="bulk-actions" data-ng-hide="nameHeader.editing">
                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <span class="power-status">{$ node.status $}</span>
                    <span class="power-status--power {$ getPowerStateClass() $}">
                        <span class="loader" data-ng-show="checkingPower"></span>
                        {$ getPowerStateText() $}
                        <span class="power-check" data-ng-show="canCheckPowerState()">
                            <a href="" class="power-check__link" data-ng-click="checkPowerState()">check now</a>
                        </span>
                    </span>
                </span>
                <a href="" class="link-cta-ubuntu ng-hide"
                    data-ng-show="nameHeader.editing"
                    data-ng-class="{ secondary: editNameInvalid() }"
                    data-ng-click="saveEditName()">Save</a>
                <a href="" class="alt ng-hide"
                    data-ng-show="nameHeader.editing"
                    data-ng-click="cancelEditName()">Cancel</a>
            </h1>
            <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
            <div data-ng-show="!nameHeader.editing && availableActionOptions.length">
                <div class="page-header__actions four-col last-col">
                     <div class="page-header__cta two-col no-margin-bottom last-col">
                        <div class="two-col no-margin-bottom last-col">
                            <div data-maas-cta="availableActionOptions"
                                data-ng-model="actionOption"
                                data-ng-change="actionOptionChanged()">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <div class="page-header__dropdown ng-hide" data-ng-show="actionOption">
                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <form class="form-inline" data-ng-hide="isActionError()">
                        <span class="ng-hide" data-ng-show="actionOption.name === 'deploy'">
                            <label for="image">Choose your image</label>
                            <span data-maas-os-select="osinfo" data-ng-model="osSelection"></span>
                        </span>
                        <div class="right">
                            <a href="" class="margin-right" data-ng-click="actionCancel()">Cancel</a>
                            <button class="cta-ubuntu" data-ng-click="actionGo()">Go</button>
                        </div>
                    </form>

                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <div class="page-header__feedback ng-hide" data-ng-show="isActionError()">
                        <p class="page-header__feedback-message info">
                            Node failed to be {$ actionOption.sentence $}, because of the following error: {$ actionError $}
                        </p>
                        <div class="right">
                            <a href="" class="margin-right" data-ng-click="actionCancel()">Cancel</a>
                            <button class="cta-ubuntu" data-ng-click="actionGo()">Retry</button>
                        </div>
                    </div>

                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <div class="page-header__feedback ng-hide" data-ng-show="isDeployError()">
                        <p class="page-header__feedback-message info">
                            Node cannot be {$ actionOption.sentence $}, because the required boot images have not been imported. To import boot images, visit the <a href="images/">images page</a>.
                        </p>
                        <div class="right">
                            <a href="" class="margin-right" data-ng-click="actionCancel()">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="inner-wrapper">
        <ul class="flash-messages">
            <li class="flash-messages__item error ng-hide"
                data-ng-repeat="(error_type, error) in errors"
                data-ng-show="error.viewable">{$ error.message $}</li>
        </ul>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <form>
                <div class="twelve-col">
                    <h3 class="title">Machine summary</h3>
                </div>
                <fieldset class="six-col">
                    <div class="ng-hide" data-ng-show="isSuperUser()">
                        <div class="inline">
                            <label for="cluser" class="two-col">Cluster</label>
                            <div class="three-col" data-maas-dbl-click-overlay="editSummary()">
                                <select name="cluster" id="cluster" placeholder="Choose a cluster"
                                    data-ng-disabled="!summary.editing"
                                    data-ng-model="summary.cluster.selected"
                                    data-ng-options="cluster as cluster.name for cluster in summary.cluster.options">
                                    <option value="" disabled="disabled">Choose a cluster</option>
                                </select>
                            </div>
                        </div>
                        <div class="inline">
                            <label for="zone" class="two-col">Zone</label>
                            <div class="three-col" data-maas-dbl-click-overlay="editSummary()">
                                <select name="zone" id="zone"placeholder="Choose a zone"
                                    data-ng-disabled="!summary.editing"
                                    data-ng-model="summary.zone.selected"
                                    data-ng-options="zone as zone.name for zone in summary.zone.options">
                                    <option value="" disabled="disabled">Choose a zone</option>
                                </select>
                            </div>
                        </div>
                        <div class="inline">
                            <label for="architecture" class="two-col">Architecture</label>
                            <div class="three-col" data-maas-dbl-click-overlay="editSummary()">
                                <select name="architecture" id="architecture" placeholder="Choose an architecture"
                                    data-ng-disabled="!summary.editing"
                                    data-ng-model="summary.architecture.selected"
                                    data-ng-options="arch for arch in summary.architecture.options"
                                    data-ng-class="{ invalid: invalidArchitecture() }">
                                    <option value="" disabled="disabled">Choose an architecture</option>
                                </select>
                            </div>
                        </div>
                        <dl>
                            <dt class="two-col">Owner</dt>
                                <dd class="four-col last-col">
                                    {$ node.owner || "Unassigned" $}
                                </dd>
                            <dt class="two-col">Tags</dt>
                                <dd class="four-col last-col">
                                    {$ node.tags.join(', ') $}
                                </dd>
                        </dl>
                    </div>
                    <div data-ng-hide="isSuperUser()">
                        <dl>
                            <dt class="two-col">Cluster</dt>
                                <dd class="four-col last-col">
                                    {$ node.nodegroup.name $}
                                </dd>
                            <dt class="two-col">Zone</dt>
                                <dd class="four-col last-col">
                                    {$ node.zone.name $}
                                </dd>
                            <dt class="two-col">Architecture</dt>
                                <dd class="four-col last-col">
                                    {$ node.architecture || "Missing" $}
                                </dd>
                            <dt class="two-col">Owner</dt>
                                <dd class="four-col last-col">
                                    {$ node.owner || "Unassigned" $}
                                </dd>
                            <dt class="two-col">Tags</dt>
                                <dd class="four-col last-col">
                                    {$ node.tags.join(', ') $}
                                </dd>
                        </dl>
                    </div>
                </fieldset>
                <div class="six-col last-col">
                    <dl>
                        <dt class="two-col">CPU</dt>
                            <dd class="four-col last-col">
                                {$ node.cpu_count $} cores
                            </dd>
                        <dt class="two-col">Ram</dt>
                            <dd class="four-col last-col">
                                {$ node.memory $}GiB
                            </dd>
                        <dt class="two-col">Storage</dt>
                            <dd class="four-col last-col">
                                {$ node.storage $}GB over {$ node.disks $} disks
                            </dd>
                        <dt class="two-col">Operating System</dt>
                            <dd class="four-col last-col">{$ getOSText() $}</dd>
                    </dl>
                </div>
                <div class="controls two-col last-col" data-ng-hide="summary.editing">
                    <a href="" class="link-cta-ubuntu secondary full"
                        data-ng-show="canEdit()"
                        data-ng-click="editSummary()">Edit</a>
                </div>
                <div class="controls four-col last-col ng-hide" data-ng-show="summary.editing">
                    <div class="two-col no-margin-bottom">
                        <a href="" class="link-cta-ubuntu clear right"
                           data-ng-click="cancelEditSummary()">Cancel</a>
                    </div>
                    <div class="two-col last-col right no-margin-bottom">
                        <button class="cta-ubuntu full"
                            data-ng-class="{ secondary: invalidArchitecture() }"
                            data-ng-click="saveEditSummary()">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row ng-hide" data-ng-show="isSuperUser()">
        <div class="inner-wrapper">
            <form class="disabled">
                <div class="twelve-col">
                    <h3 class="title">Power</h3>
                </div>
                <fieldset class="six-col"
                    data-ng-disabled="!power.editing"
                    data-maas-power-parameters="power.types"
                    data-ng-model="power"
                    data-dbl-click-overlay="editPower()">
                </fieldset>
                <div class="controls two-col last-col" data-ng-hide="power.editing">
                    <a href="" class="link-cta-ubuntu secondary full"
                        data-ng-show="canEdit()"
                        data-ng-click="editPower()">Edit</a>
                </div>
                <div class="controls four-col last-col ng-hide" data-ng-show="power.editing">
                    <div class="two-col no-margin-bottom">
                        <a href="" class="link-cta-ubuntu clear right"
                            data-ng-click="cancelEditPower()">Cancel</a>
                    </div>
                    <div class="two-col last-col no-margin-bottom">
                        <button class="cta-ubuntu full"
                            data-ng-class="{ secondary: invalidPowerType() }"
                            data-ng-click="saveEditPower()">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <form>
                <div class="twelve-col">
                    <h3 class="title">Network</h3>
                </div>
                <table class="table-listing">
                    <thead>
                        <tr class="table-listing__row table-listing-row">
                            <th class="t30">MAC</th>
                            <th class="t35">IP</th>
                            <th class="t35">Network</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-listing__row table-listing-row"
                            data-ng-repeat="interface in node.interfaces">
                            <td class="t30">
                                {$ interface.mac_address $}
                                <span class="ng-hide" data-ng-show="interface.is_pxe">(PXE)</span>
                            </td>
                            <td class="t35">{$ getIPAddressText(interface) $}</td>
                            <td class="t35">{$ getNetworkText(interface) $}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <form>
                <div class="twelve-col">
                    <h3 class="title">Storage</h3>
                </div>
                <h4 data-ng-hide="node.physical_disks.length">
                    No storage information. Commissioning this node will gather the storage information.
                </h4>
                <table class="table-listing ng-hide" data-ng-show="node.physical_disks.length">
                    <thead>
                        <tr>
                            <th class="t20">Name</th>
                            <th class="t25">Path</th>
                            <th class="t10">Size (GB)</th>
                            <th class="t25" colspan="2">
                                <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                                <a href="" data-ng-click="storage.column = 'model'">
                                    Model
                                </a> |
                                <a href="" data-ng-click="storage.column = 'serial'">
                                    Serial
                                </a>
                            </th>
                            <th class="t20">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-listing__row" data-ng-repeat="disk in node.physical_disks">
                            <td class="t20">{$ disk.name $}</td>
                            <td class="t25">{$ disk.path $}</td>
                            <td class="t10">{$ disk.size_gb $}</td>
                            <td class="t25" colspan="2" data-ng-show="storage.column === 'model'">{$ disk.model $}</td>
                            <td class="t25 ng-hide" colspan="2" data-ng-show="storage.column === 'serial'">{$ disk.serial $}</td>
                            <td class="t20">{$ disk.tags.join(', ') $}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h3 class="title">Latest machine events <span>{$ node.events_total $} total events</span></h3>
            </div>
            <h4 data-ng-hide="node.events.length">
                No events.
            </h4>
            <table class="table-listing no-hover" data-ng-show="node.events.length">
                <thead>
                    <tr class="table-listing__row">
                        <th class="t1"></th>
                        <th class="t75">Event</th>
                        <th class="t24">Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-listing__row"
                        data-ng-repeat="event in node.events | limitTo:events.limit">
                        <td class="t1 no-padding-right no-padding-left">
                            <span class="icon {$ event.type.level $}"></span>
                        </td>
                        <td class="t75">{$ getEventText(event) $}</td>
                        <td class="t24">{$ event.created $}</td>
                    </tr>
                </tbody>
            </table>
            <div class="controls four-col last-col no-margin-bottom" data-ng-show="node.events.length">
                <div class="two-col no-margin-bottom">
                   <a href="" class="link-cta-ubuntu clear right"></a>
                </div>
                <div class="two-col last-col no-margin-bottom">
                    <a href="#/node/{$ node.system_id $}/events" class="link-cta-ubuntu secondary full">View more</a>
                </div>
            </div>
            <p class="twelve-col text-center" data-ng-show="allowShowMoreEvents()">
                <a href="" data-ng-click="showMoreEvents()">Load next 10 events</a>
            </p>
        </div>
    </div>
    <div class="row" data-ng-show="machine_output.viewable">
        <div class="inner-wrapper">
            <div class="twelve-col">
                <h3 class="title">Machine output
                    <span class="title__indicator" data-ng-show="machine_output.showSummaryToggle">
                        <a href="" class="title__link active"
                            data-ng-click="machine_output.summaryType = 'yaml'"
                            data-ng-class="{ active: machine_output.summaryType === 'yaml' }">YAML</a>
                        <span class="divide"></span>
                        <a href="" class="title__link"
                            data-ng-click="machine_output.summaryType = 'xml'"
                            data-ng-class="{ active: machine_output.summaryType === 'xml' }">XML</a>
                    </span>
                </h3>
            </div>
            <div class="twelve-col" data-ng-show="machine_output.selectedView.name === 'summary'">
                <pre>
                    <code>{$ getSummaryData() $}</code>
                </pre>
            </div>
            <div class="twelve-col ng-hide" data-ng-show="machine_output.selectedView.name === 'output'">
                <table class="table-listing no-hover">
                    <thead>
                        <tr class="table-listing__row">
                            <th class="t1 no-padding-left no-padding-right"></th>
                            <th class="t35">Filename</th>
                            <th class="t30">Time</th>
                            <th class="t30">Output</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-listing__row"
                            data-ng-repeat="output in node.commissioning_results">
                            <td class="t1 no-padding-right no-padding-left">
                                <span class="icon"
                                    data-ng-class="{ success: output.result === 0, error: output.result !== 0 }"></span>
                            </td>
                            <td class="t35"><a href="#/node/{$ node.system_id $}/result/{$ output.name $}">{$ output.name $}</a></td>
                            <td class="t30">{$ output.created $}</td>
                            <td class="t30">{$ output.line_count $} lines</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="twelve-col ng-hide" data-ng-show="machine_output.selectedView.name === 'install'">
                <pre>
                    <code>{$ getInstallationData() $}</code>
                </pre>
            </div>
            <div class="controls five-col last-col">
                <div class="two-col no-margin-bottom">
                    <a href="" class="link-cta-ubuntu clear right"></a>
                </div>
                <div class="three-col no-margin-bottom last-col">
                    <div data-maas-cta="machine_output.views"
                        data-ng-model="machine_output.selectedView"
                        data-ng-change="machineOutputViewChanged()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
