<div data-ng-hide="loaded">
    <header class="page-header" sticky media-query="min-width: 769px">
        <div class="wrapper--inner">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded">
    <header class="page-header" sticky>
        <div class="wrapper--inner">
            <h1 class="page-header__title">{$ node.fqdn $}</h1>
            <p class="page-header__status">
                {$ events.length $} {$ type_name $} events in the past {$ days $} days
                <button href="" class="page-header__status-check" data-ng-click="loadMore()">load 1 more day</button>
            </p>
            <div class="page-header__controls u-float--right">
                <a href="#/node/{$ type_name $}/{$ node.system_id $}">&lsaquo;&nbsp;Back to {$ type_name $} details</a>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="wrapper--inner">
            <form>
                <div id="search-bar" class="search twelve-col">
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                    <input type="search" placeholder="Search {$ type_name $} events in the past {$ days $} days"
                        class="search__input" data-ng-model="search" />
                    <input type="submit" class="search__submit" />
                </div>
                <table id="events-listing" window-width>
                    <thead data-ng-if="windowWidth >= 769" sticky sticky-class="table__head--sticky" offset="88" media-query="min-width: 768px">
                        <tr>
                            <th class="table-col--1"></th>
                            <th class="table-col--79">Event</th>
                            <th class="table-col--20">Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            data-ng-repeat="event in events | filter:search | orderByDate:'created':'id' track by event.id">
                            <td class="table-col--1 u-padding--right-none u-padding--left-none">
                                <span class="icon icon--{$ event.type.level $}"></span>
                            </td>
                            <td class="table-col--79">
                                {$ getEventText(event) $}
                            </td>
                            <td class="table-col--20">
                                {$ event.created $}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
