<header class="page-header">
    <div class="inner-wrapper">
        <h1 class="page-header__title">{$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <a href="" data-ng-class="{ active: page === 'nodes' }">{$ nodes.length $} Nodes</a>
                <a href="">0 Devices</a>
            </span>
        </h1>
        <div class="page-header__actions">
            <div class="page-header__cta" data-ng-hide="selectedNodes.length">
                <a href="" class="link-cta-ubuntu">Add Hardware</a>
            </div>
            <div class="page-header__cta ng-hide" data-ng-show="selectedNodes.length">
                <span class="page-header__cta-feedback left">
                    {$ selectedNodes.length $} Selected
                </span>
                <div class="left" data-maas-cta="takeActionOptions" data-ng-model="actionOption" data-ng-change="actionOptionSelected()"></div>
            </div>
        </div>
    </div>
</header>
<div class="inner-wrapper">
    <!-- <ul id="flash-messages"  class="flash-messages hidden">
        {% for persistent_error in persistent_errors %}
        <li class="flash-messages__item warning">{{ persistent_error }}</li>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="flash-messages__item {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul> -->
    <aside id="sidebar">
        <div class="accordion three-col">
            <h3 class="accordion__title">Filter by</h3>
            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
            <div class="ng-hide accordion__tab" data-ng-show="metadata.status.length">
                <h4 class="accordion__tab-title active">Status</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <li class="accordion__tab-item" data-ng-repeat="status in metadata.status | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('status', status.name) }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('status', status.name)">{$ status.name $} ({$ status.count $})</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="ng-hide accordion__tab" data-ng-show="metadata.owner.length">
                <h4 class="accordion__tab-title active">Owner</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="owner in metadata.owner | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('owner', owner.name) }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('owner', owner.name)">{$ owner.name $} ({$ owner.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="nine-col last-col">
        <div id="search-bar" class="node-search">
            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
            <input
                type="search" placeholder="Search nodes" class="node-search__input"
                data-ng-model="search" data-ng-change="updateFilters()"
                data-ng-class="{ error: !searchValid }" />
            <input type="submit" class="node-search__submit" />
        </div>
        <table class="list" id="nodes-listing">
            <thead>
                <tr>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <input type="checkbox" data-ng-click="toggleCheckAll()" data-ng-model="allViewableChecked" />
                    </th>
                    <th colspan="2" claas="table-listing__cell-fixed">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='fqdn'; reverse=!reverse; column='fqdn'">
                            <acronym title="Fully Qualified Domain Name">FQDN</acronym>
                        </a> /
                        <a href="" data-ng-click="predicate='pxe_mac'; reverse=!reverse; column='pxe_mac'">
                            <acronym title="Media Access Control addresses">MAC</acronym>
                        </a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='owner'; reverse=!reverse">Owner</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='status'; reverse=!reverse">Status</a>
                    </th>
                    <th class="powerstate">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='power_state'; reverse=!reverse">Power</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='cpu_count'; reverse=!reverse">Cores</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='memory'; reverse=!reverse">RAM (GiB)</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='storage'; reverse=!reverse">Storage (GB)</a>
                    </th>
                    <th>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <a href="" data-ng-click="predicate='disks'; reverse=!reverse">Disks</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- XXX blake_r 2015-02-18 - Need to add e2e test. This really needs lots of tests. -->
                <tr data-ng-repeat="node in filtered_nodes = (nodes | nodesFilter:search | orderBy:predicate:reverse) track by node.system_id">
                    <td>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <input type="checkbox" data-ng-click="toggleChecked(node)" data-ng-model="node.$selected" />
                    </td>
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                    <td class="node-column table-listing__cell-fixed" data-ng-show="$parent.column === 'fqdn'" colspan="2">
                        <a href="{$ node.url $}">{$ node.fqdn $}</a>
                    </td>
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                    <td class="ng-hide table-listing__cell-fixed" data-ng-show="$parent.column === 'pxe_mac'" colspan="2">
                        <a href="{$ node.url $}" title="{$ node.pxe_mac_vendor $}">{$ node.pxe_mac $}</a>
                        <a href="{$ node.url $}" class="extra-macs" data-ng-show="node.extra_macs.length">(+{$ node.extra_macs.length $})</a>
                    </td>
                    <td>{$ node.owner $}</td>
                    <td>{$ node.status $}</td>
                    <td class="powerstate">
                        <div title="{$ node.power_state $}" class="powerstates power-{$ node.power_state $}">
                        </div>
                    </td>
                    <td>{$ node.cpu_count $}</td>
                    <td>{$ node.memory $}</td>
                    <td>{$ node.storage $}</td>
                    <td>{$ node.disks $}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
