<div data-ng-if="!loaded">
    <header class="p-strip--light is-shallow is-bordered page-header">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div data-ng-if="loaded">
    <header class="p-strip--light is-shallow page-header u-no-padding--bottom">
        <div class="row">
            <div class="col-8">
                <h1 class="page-header__title">
                    <span contenteditable="true"
                        data-ng-class="{ editable: canEdit(), 'is-error': editHeaderInvalid(), editmode: header.editing }"
                        data-ng-show="canEdit()"
                        data-ng-model="header.hostname.value"
                        data-ng-disabled="!canEdit()"
                        data-maas-editing="editHeader()"></span>
                    <span ng-click="editHeaderDomain()" data-ng-show="!canEdit()">{$ header.hostname.value $}</span>
                    <span class="page-header__title-dot u-no-margin--top ng-hide" data-ng-show="header.editing || header.editing_domain">.</span>
                    <select class="page-header__title-domain ng-hide"
                        data-ng-show="header.editing || header.editing_domain"
                        data-ng-model="header.domain.selected"
                        data-ng-options="domain as domain.name for domain in header.domain.options">
                    </select>
                </h1>
                <button class="p-button--base u-no-margin--top ng-hide"
                    data-ng-show="header.editing || header.editing_domain"
                    data-ng-click="cancelEditHeader()">Cancel</button>
                <button class="p-button--positive ng-hide"
                    data-ng-show="header.editing || header.editing_domain"
                    data-ng-disabled="editHeaderInvalid()"
                    data-ng-click="saveEditHeader()">Save</button>

                <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
                <ul class="p-inline-list page-header__status u-no-margin--top" data-ng-if="!isController && !isDevice && !header.editing && !header.editing_domain">
                    <li class="p-inline-list__item">
                        <span data-ng-if="node.locked" class="p-tooltip p-tooltip--top-left" aria-describedby="header-locked-state">
                            <i class="p-icon--locked">Locked: </i>
                            <span class="p-tooltip__message" role="tooltip" id="header-locked-state">This machine is locked. You have to unlock it to perform any actions.</span>
                        </span>
                        {$ node.status $}
                    </li>
                    <li class="p-inline-list__item u-no-wrap">
                        <i class="p-icon--power-{$ getPowerStateClass() $}"></i> {$ getPowerStateText() $}
                        <button class="p-button--base" data-ng-show="canCheckPowerState()" data-ng-click="checkPowerState()">check now</button>
                    </li>
                </ul>
            </div>

            <div class="col-4">
                <!-- XXX ricgard 2016-06-16 - Need to add e2e test. -->
                <div class="u-align--right" data-ng-show="!header.editing && action.availableOptions.length">
                    <div data-maas-cta="action.availableOptions"
                        data-ng-model="action.option"
                        data-ng-change="actionOptionChanged()">
                    </div>
                </div>
            </div>
        </div>
        <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
        <div class="page-header__dropdown" data-ng-class="{ 'u-hide': !action.option }">
            <hr />
            <div class="row ng-hide" data-ng-if="!isDevice && !node.dhcp_on">
                <div class="page-header__section col-12">
                    <p class="page-header__message"><i class="p-icon--warning">Warning:</i> MAAS is not providing DHCP.</p>
                </div>
            </div>
            <div class="row ng-hide u-no-margin--top" data-ng-hide="isActionError() || isDeployError() || isSSHKeyError() || hasActionPowerError(action.option.name)">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <div class="page-header__section">
                    <form class="p-form">
                        <div class="row">
                            <div class="col-10 ng-hide" data-ng-show="action.option.name === 'commission' || action.option.name === 'test'">
                                <ul class="p-inline-list--settings u-no-margin--left u-no-padding--left">
                                    <li class="p-inline-list__item">
                                        <input id="enableSSH" type="checkbox" data-ng-model="commissionOptions.enableSSH">
                                        <label for="enableSSH">Allow SSH access and prevent machine from powering off</label>
                                    </li>
                                    <li class="p-inline-list__item ng-hide" data-ng-show="action.option.name === 'commission'">
                                        <input id="skipNetworking" type="checkbox" data-ng-model="commissionOptions.skipNetworking">
                                        <label for="skipNetworking">Retain network configuration</label>
                                    </li>
                                    <li class="p-inline-list__item ng-hide" data-ng-show="action.option.name === 'commission'">
                                        <input id="skipStorage" type="checkbox" data-ng-model="commissionOptions.skipStorage">
                                        <label for="skipStorage">Retain storage configuration</label>
                                    </li>
                                    <li class="p-inline-list__item ng-hide" data-ng-show="action.option.name === 'commission'">
                                        <input id="updateFirmware" type="checkbox" data-ng-model="commissionOptions.updateFirmware">
                                        <label for="updateFirmware">Update firmware</label>
                                    </li>
                                    <li class="p-inline-list__item ng-hide" data-ng-show="action.option.name === 'commission'">
                                        <input id="configureHBA" type="checkbox"data-ng-model="commissionOptions.configureHBA">
                                        <label for="configureHBA">Configure HBA</label>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-12 u-no-margin--left" data-ng-show="action.option.name === 'deploy' || action.option.name === 'release'">
                                <div class="ng-hide" data-ng-show="action.option.name === 'deploy'">
                                    <div data-maas-os-select="osinfo" data-ng-model="osSelection"></div>
                                </div>
                                <div data-ng-if="action.option.name === 'release'" class="u-no-margin--top">
                                    <div data-maas-release-options="releaseOptions"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 u-align--right">
                                <div class="page-header__controls" data-ng-if="action.option.name !== 'commission' && action.option.name !== 'test'">
                                    <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                                    <button class="p-button--neutral u-no-margin--top" data-ng-class="action.option.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo('nodes')" data-ng-hide="hasActionsFailed('nodes')">
                                        <span data-ng-if="action.option.name === 'acquire'">Acquire {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'deploy'">Deploy {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'release'">Release {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'set-zone'">Set zone for {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'on'">Power on {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'off'">Power off {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'abort'">Abort action on {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'rescue-mode'">Rescue {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'exit-rescue-mode'">Exit rescue mode</span>
                                        <span data-ng-if="action.option.name === 'mark-broken'">Mark {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'mark-fixed'">Mark {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'override-failed-testing'">Override failed testing</span>
                                        <span data-ng-if="action.option.name === 'lock'">Lock {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'unlock'">Unlock {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'delete'">Delete {$ type_name $}</span>
                                        <span data-ng-if="action.option.name === 'import-images'">Import images</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row ng-hide" data-ng-hide="isActionError() || isDeployError() || isSSHKeyError() || hasActionPowerError(action.option.name) || action.option.name !== 'commission'" data-ng-if="hasCustomCommissioningScripts()">
                <div class="page-header__section">
                    <form class="p-form p-form--stacked">
                        <div class="col-8">
                            <div class="p-form__group u-vertically-center">
                                <label for="commissioning-scripts">Additional commissioning scripts</label>
                                <span id="commissioning-scripts" data-maas-script-select="script" data-script-type="0" data-ng-model="commissioningSelection"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row u-no-margin--top ng-hide" data-ng-hide="isActionError() || isDeployError() || isSSHKeyError() || hasActionPowerError(action.option.name) || (action.option.name !== 'commission' && action.option.name !== 'test')">
                <hr />
                <div class="page-header__section">
                    <form class="p-form">
                        <div class="col-8">
                            <div class="p-form__group">
                                <label for="testing-scripts">Hardware tests</label>
                                <span id="testing-scripts" data-maas-script-select="script" data-script-type="2" data-ng-model="testSelection" class="tags--inline"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="u-no-margin--top row ng-hide"  data-ng-hide="isActionError() || isDeployError() || isSSHKeyError() || hasActionPowerError(action.option.name)" data-ng-if="action.option.name === 'commission' || action.option.name === 'test'">
                <hr />
                <div class="page-header__section col-12">
                    <form class="p-form">
                        <div class="u-align--right">
                            <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                            <button class="u-no-margin--top" data-ng-class="action.option.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo('nodes')" data-ng-hide="hasActionsFailed('nodes')">
                                <span data-ng-if="action.option.name === 'commission'">Commission {$ type_name $}</span>
                                <span data-ng-if="action.option.name === 'test'">Test {$ type_name $}</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row u-equal-height ng-hide" data-ng-show="action.showing_confirmation && action.option.name === 'test'">
                <div class="col-9 u-vertically-center">
                    <p class="u-remove-max-width">
                        <i class="p-icon--warning">Warning:</i> Node is currently deployed. Are you sure you want to continue to test hardware?
                    </p>
                </div>
                <div class="col-3">
                    <div class="u-align--right">
                        <button class="p-button--base" data-ng-click="actionCancel()">No</button>
                        <button class="p-button--neutral" data-ng-click="actionGo()">Yes</button>
                    </div>
                </div>
            </div>
            <div class="row u-equal-height ng-hide" data-ng-show="isActionError()">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <div class="col-9 u-vertically-center">
                    <p class="u-remove-max-width">
                        <i class="p-icon--error">Error:</i> Node failed to be {$ action.option.sentence $}, because of the following error: {$ action.error $}
                    </p>
                </div>
                <div class="col-3">
                    <div class="u-align--right">
                        <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                        <button class="p-button--neutral" data-ng-click="actionGo()">Retry</button>
                    </div>
                </div>
            </div>
            <div class="row u-equal-height ng-hide" data-ng-show="isDeployError()">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <div class="col-9 u-vertically-center">
                    <p class="u-remove-max-width">
                        <i class="p-icon--error">Error:</i> Node cannot be {$ action.option.sentence $}, because the required boot images have not been imported. To import boot images, visit the <a href="images/">images page</a>.
                    </p>
                </div>
                <div class="col-3">
                    <div class="u-align--right">
                        <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row u-equal-height ng-hide" data-ng-show="hasActionPowerError(action.option.name)">
                <div class="col-9 u-vertically-center">
                    <p class="u-remove-max-width">
                        <i class="p-icon--error">Error:</i> Node cannot be {$ action.option.sentence $}, because power control software for the node is missing from its rack controller. To proceed, install the {$ getPowerErrors() $} on the rack controller.
                    </p>
                </div>
                <div class="col-3">
                    <div class="u-align--right">
                        <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row u-equal-height ng-hide" data-ng-show="!isDeployError() && isSSHKeyError()">
                <div class="col-9 u-vertically-center">
                    <p class="u-remove-max-width">
                        <i class="p-icon--error">Error:</i> Node cannot be {$ action.option.sentence $}, because an SSH key has not been added to your account. To add an SSH key, visit <a href="account/prefs/">your account page</a>.
                    </p>
                </div>
                <div class="col-3">
                    <div class="u-align--right">
                        <button class="p-button--base" data-ng-click="actionCancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <nav class="p-tabs">
            <ul class="p-tabs__list" role="tablist" data-ng-class="{ 'u-hide': action.option }">
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="!isController && !isDevice"
                        data-ng-class="{ 'is-active': section.area === 'summary'}"
                        data-ng-click="section.area = 'summary'">Machine summary</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="isController"
                        data-ng-class="{ 'is-active': section.area === 'summary'}"
                        data-ng-click="section.area = 'summary'">Controller summary</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="isDevice"
                        data-ng-class="{ 'is-active': section.area === 'summary'}"
                        data-ng-click="section.area = 'summary'">Device summary</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="!isController && devices.length"
                        data-ng-class="{ 'is-active': section.area === 'containers'}"
                        data-ng-click="section.area = 'containers'">Containers</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="isController"
                        data-ng-class="{ 'is-active': section.area === 'vlans'}"
                        data-ng-click="section.area = 'vlans'">VLANs</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link"
                        data-ng-class="{ 'is-active': section.area === 'interfaces'}"
                        data-ng-click="section.area = 'interfaces'">Interfaces</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="!isDevice && !(isController && node.status === 'New')"
                        data-ng-class="{ 'is-active': section.area === 'storage'}"
                        data-ng-click="section.area = 'storage'">Storage</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="node.commissioning_script_count > 0"
                        data-ng-class="{ 'is-active': section.area === 'commissioning'}"
                        data-ng-click="section.area = 'commissioning'"><span data-maas-script-status="script-status" data-script-status="node.commissioning_status"></span> Commissioning</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="node.testing_script_count > 0"
                        data-ng-class="{ 'is-active': section.area === 'testing'}"
                        data-ng-click="section.area = 'testing'"><span data-maas-script-status="script-status" data-script-status="node.testing_status"></span> Hardware tests</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="node.has_logs"
                        data-ng-class="{ 'is-active': section.area === 'logs'}"
                        data-ng-click="section.area = 'logs'"><span data-maas-script-status="script-status" data-script-status="node.installation_status" data-ng-if="node.installation_status !== -1"></span> Logs</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="!isDevice"
                        data-ng-class="{ 'is-active': section.area === 'events'}"
                        data-ng-click="section.area = 'events'">Events</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a role="tab" class="p-tabs__link" data-ng-if="isSuperUser()"
                        data-ng-class="{ 'is-active': section.area === 'configuration'}"
                        data-ng-click="section.area = 'configuration'">Configuration</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="p-strip is-shallow" data-ng-if="section.area === 'summary'">
        <node-summary></node-summary>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'containers'">
        <node-containers></node-containers>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'configuration'">
        <node-configuration></node-configuration>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'services'">
        <node-services></node-services>
    </section>
    <section class="u-no-margin--top" data-ng-if="section.area === 'vlans' || section.area === 'interfaces'" data-ng-controller="NodeNetworkingController">
        <div class="p-strip" data-ng-if="section.area === 'vlans'">
            <node-vlans></node-vlans>
        </div>
        <div class="p-strip" data-ng-if="section.area === 'interfaces'">
            <node-interfaces></node-interfaces>
        </div>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'storage'">
        <node-storage></node-storage>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'events'">
        <node-events></node-events>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'logs'">
        <node-logs></node-logs>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'commissioning'">
        <div data-maas-script-results-list="script-results"></div>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'testing'">
        <div data-maas-script-results-list="script-results"></div>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'logs'">
        <node-logs></node-logs>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'events'">
        <node-events></node-events>
    </section>
    <section class="p-strip" data-ng-if="section.area === 'configuration'">
        <node-configuration></node-configuration>
    </section>
</div>
