<header class="page-header margin-bottom">
    <div class="inner-wrapper">
        <h1 class="page-header__title eight-col">{$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <a href=""
                    data-ng-class="{ active: currentpage === 'nodes' }"
                    data-ng-click="toggleTab('nodes')">{$ nodes.length $} <ng-pluralize count="nodes.length" when="{'one': 'Node', 'other': 'Nodes'}"></ng-pluralize>
                </a>
                <a href=""
                    data-ng-class="{ active: currentpage === 'devices' }"
                    data-ng-click="toggleTab('devices')">{$ devices.length $} <ng-pluralize count="devices.length" when="{'one': 'Device', 'other': 'Devices'}"></ng-pluralize>
                </a>
            </span>
        </h1>
        <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
        <div data-ng-show="currentpage === 'nodes'">
            <div class="page-header__actions four-col last-col">
                <div class="page-header__cta two-col no-margin-bottom last-col" data-ng-hide="tabs.nodes.selectedItems.length">
                    <div class="two-col no-margin-bottom last-col">
                        <div data-maas-cta="addHardwareOptions"
                            data-ng-model="addHardwareOption"
                            data-ng-change="addHardwareOptionChanged()" data-default-title="Add Hardware">
                        </div>
                    </div>
                </div>
                <div class="page-header__cta ng-hide four-col no-margin-bottom" data-ng-show="tabs.nodes.selectedItems.length">
                    <span class="page-header__cta-feedback two-col no-margin-bottom" data-ng-click="showSelected('nodes')">
                        {$ tabs.nodes.selectedItems.length $} Selected
                    </span>
                    <div class="two-col no-margin-bottom last-col">
                        <div data-maas-cta="tabs.nodes.takeActionOptions"
                            data-ng-model="tabs.nodes.actionOption"
                            data-ng-change="actionOptionSelected('nodes')">
                        </div>
                    </div>
                </div>
            </div>
            <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
            <div class="page-header__dropdown ng-hide" data-ng-show="tabs.nodes.actionOption">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <form class="form-inline" data-ng-hide="isActionError('nodes')">
                    <span class="ng-hide" data-ng-show="tabs.nodes.actionOption.name === 'deploy'">
                        <label for="image">Choose your image</label>
                        <span data-maas-os-select="osinfo" data-ng-model="tabs.nodes.osSelection"></span>
                    </span>
                    <div class="right">
                        <a href="" class="margin-right" data-ng-click="actionCancel('nodes')">Cancel</a>
                        <button class="cta-ubuntu" data-ng-click="actionGo('nodes')">Go</button>
                    </div>
                </form>

                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <div class="page-header__feedback ng-hide" data-ng-show="isActionError('nodes')">
                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <p class="page-header__feedback-message info" data-ng-hide="isDeployError('nodes')">
                        {$ tabs.nodes.actionErrorCount $}
                        <span data-ng-pluralize count="tabs.nodes.selectedItems.length" when="{'one': 'node', 'other': 'nodes'}"></span>
                        cannot be {$ tabs.nodes.actionOption.sentence $}. To proceed, update your selection.
                    </p>
                    <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                    <p class="page-header__feedback-message info ng-hide" data-ng-show="isDeployError('nodes')">
                        {$ tabs.nodes.selectedItems.length $}
                        <span data-ng-pluralize count="tabs.nodes.selectedItems.length" when="{'one': 'node', 'other': 'nodes'}"></span>
                        cannot be {$ tabs.nodes.actionOption.sentence $}, because the required boot images have not been imported. To import boot images, visit the <a href="images/">images page</a>.
                    </p>
                </div>
            </div>
            <div class="page-header__dropdown ng-hide" data-ng-show="addHardwareScope.viewable" data-ng-controller="AddHardwareController">
                <div class="page-header__feedback" data-ng-hide="architectures.length">
                    <!-- XXX blake_r 2015-02-24 - Need to add e2e test. -->
                    <p class="page-header__feedback-message info">
                        Cannot add {$ mode $} until boot images have been imported. To fix, visit the <a href="images">images page</a>.
                    </p>
                </div>
                <ul class="add-machine__list twelve-col ng-hide" data-ng-show="showMachines()">
                    <li class="add-machine__details twelve-col"
                        data-ng-repeat="machine in machines"
                        data-ng-class="{ active: machine === currentMachine, error: machineHasError(machine) }"
                        data-ng-click="setCurrentMachine(machine)">
                        <div class="name two-col">
                            <h4>{$ machine.name $}</h4>
                        </div>
                        <div class="cluster two-col">
                            <p>Cluster {$ machine.cluster.cluster_name $}</p>
                        </div>
                        <div class="architecture two-col">
                            <p>{$ machine.architecture $}</p>
                        </div>
                        <div class="mac two-col">
                            <p>{$ getDisplayMac(machine) $}</p>
                        </div>
                        <div class="power-type four-col last-col">
                            <p>{$ getDisplayPower(machine) $}</p>
                        </div>
                        <div class="add-machine__details-form twelve-col">
                            <form action="post" class="twelve-col">
                                <fieldset class="six-col no-padding">
                                    <div class="inline">
                                        <label for="cluser" class="two-col">Cluster</label>
                                        <select name="cluster" id="cluster" class="three-col" placeholder="Choose a cluster"
                                            data-ng-model="machine.cluster"
                                            data-ng-options="cluster as cluster.cluster_name for cluster in clusters">
                                        </select>
                                    </div>
                                    <div class="inline">
                                        <label for="machine-name" class="two-col">Machine name</label>
                                        <input type="text" id="machine-name" class="three-col" placeholder="Choose a machine name"
                                            data-ng-model="machine.name">
                                    </div>
                                    <div class="inline">
                                        <label for="architecture" class="two-col">Architecture</label>
                                        <select name="architecture" id="architecture" class="three-col" placeholder="Choose an architecture"
                                            data-ng-model="machine.architecture"
                                            data-ng-options="arch for arch in architectures">
                                        </select>
                                    </div>
                                    <div class="inline" data-ng-repeat="mac in machine.macs">
                                        {$ mac $}
                                        <label for="mac-address" class="two-col"><span data-ng-hide="mac !== machine.macs[0]">MAC Address</span></label>
                                        <input type="text" id="mac-address" class="three-col" placeholder="00:00:00:00:00:00"
                                               data-ng-class="{ invalid: mac.error }"
                                               data-ng-model="mac.mac" data-ng-change="validateMac(mac)">
                                    </div>
                                    <div class="inline five-col">
                                        <a href="" class="link-cta-ubuntu secondary right" data-ng-click="addMac()">+ Add MAC Address</a>
                                    </div>
                                    <div class="inline">
                                        <label for="zone" class="two-col">Zone</label>
                                        <select name="zone" id="zone" class="three-col" placeholder="Choose a zone"
                                            data-ng-model="machine.zone"
                                            data-ng-options="zone as zone.name for zone in zones">
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset class="six-col last-col no-padding"
                                    data-maas-power-parameters="machine.cluster.power_types"
                                    data-ng-model="machine.power">
                                </fieldset>
                            </form>
                        </div>
                    </li>
                </ul>
                <form action="post" class="twelve-col ng-hide" data-ng-show="showChassis()">
                    <fieldset class="six-col">
                        <div class="inline">
                            <label for="cluser">Cluster</label>
                            <select name="cluster" id="cluster" placeholder="Choose a cluster"
                                data-ng-model="chassis.cluster"
                                data-ng-options="cluster as cluster.cluster_name for cluster in clusters">
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="six-col last-col"
                        data-maas-power-parameters="chassisPowerTypes"
                        data-ng-model="chassis.power">
                    </fieldset>
                </form>
                <div class="twelve-col ng-hide" data-ng-show="showMachines()">
                    <a href="" class="link-cta-ubuntu secondary" data-ng-click="addMachine()">+ Add another machine</a>
                    <div class="right align-right">
                        <a href="" class="margin-right alt" data-ng-click="actionCancel()">Cancel</a>
                        <button class="cta-ubuntu"
                            data-ng-class="{ secondary: machinesHaveErrors() }"
                            data-ng-click="actionAddMachines()">
                            Add <span data-ng-pluralize count="machines.length" when="{'one': 'machine', 'other': 'machines'}"></span>
                        </button>
                    </div>
                </div>
                <div class="twelve-col ng-hide" data-ng-show="showChassis()">
                    <div class="right align-right">
                        <a href="" class="margin-right alt" data-ng-click="actionCancel()">Cancel</a>
                        <button class="cta-ubuntu"
                            data-ng-class="{ secondary: chassisHasErrors() }"
                            data-ng-click="actionAddChassis()">
                            Add chassis</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="inner-wrapper">
    <!-- <ul id="flash-messages"  class="flash-messages hidden">
        {% for persistent_error in persistent_errors %}
        <li class="flash-messages__item warning">{{ persistent_error }}</li>
        {% endfor %}
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="flash-messages__item {{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        {% endif %}
    </ul> -->
    <aside id="sidebar" class="sidebar" data-ng-show="currentpage === 'nodes'">
        <div class="accordion three-col maas-accordion">
            <h3 class="accordion__title">Filter by</h3>
            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
            <div class="ng-hide accordion__tab" data-ng-show="tabs.nodes.metadata.status.length">
                <h4 class="accordion__tab-title maas-accordion-tab active">Status</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <li class="accordion__tab-item" data-ng-repeat="status in tabs.nodes.metadata.status | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('status', status.name, 'nodes') }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('status', status.name, 'nodes')">{$ status.name $} ({$ status.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ng-hide accordion__tab" data-ng-show="tabs.nodes.metadata.owner.length">
                <h4 class="accordion__tab-title maas-accordion-tab">Owner</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="owner in tabs.nodes.metadata.owner | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('owner', owner.name, 'nodes') }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('owner', owner.name, 'nodes')">{$ owner.name $} ({$ owner.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ng-hide accordion__tab" data-ng-show="tabs.nodes.metadata.tags.length">
                <h4 class="accordion__tab-title maas-accordion-tab">Tags</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="tag in tabs.nodes.metadata.tags | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('tags', tag.name, 'nodes') }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('tags', tag.name, 'nodes')">{$ tag.name $} ({$ tag.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <aside id="sidebar" class="ng-hide" data-ng-show="currentpage === 'devices'">
        <div class="accordion three-col maas-accordion">
            <h3 class="accordion__title">Filter by</h3>
            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
            <div class="ng-hide accordion__tab" data-ng-show="tabs.devices.metadata.owner.length">
                <h4 class="accordion__tab-title maas-accordion-tab active">Owner</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="owner in tabs.devices.metadata.owner | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('owner', owner.name, 'devices') }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('owner', owner.name, 'devices')">{$ owner.name $} ({$ owner.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ng-hide accordion__tab" data-ng-show="tabs.devices.metadata.tags.length">
                <h4 class="accordion__tab-title maas-accordion-tab">Tags</h4>
                <div class="accordion__tab-content">
                    <ul class="accordion__tab-list">
                        <li class="accordion__tab-item" data-ng-repeat="tag in tabs.devices.metadata.tags | orderBy:['-count', 'name']" data-ng-class="{ active: isFilterActive('tags', tag.name, 'devices') }">
                            <a class="accordion__tab-link" href="" data-ng-click="toggleFilter('tags', tag.name, 'devices')">{$ tag.name $} ({$ tag.count $})</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="nine-col last-col" data-ng-show="currentpage === 'nodes'">
        <form>
            <div id="search-bar" class="node-search">
                <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                <input
                    type="search" placeholder="Search nodes" class="node-search__input"
                    data-ng-model="tabs.nodes.search" data-ng-change="updateFilters('nodes')"
                    data-ng-class="{ error: !tabs.nodes.searchValid }" />
                <input type="submit" class="node-search__submit" />
            </div>
            <table class="table-listing nodes-listing" id="nodes-listing">
                <thead>
                    <tr class="table-listing__row">
                        <th>
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <input type="checkbox" data-ng-click="toggleCheckAll('nodes')" data-ng-model="tabs.nodes.allViewableChecked" id="check-all" />
                            <label for="check-all"></label>
                        </th>
                        <th colspan="2" class="table-listing__cell fixed">
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="predicate='fqdn'; tabs.nodes.reverse=!tabs.nodes.reverse; tabs.nodes.column='fqdn'">
                                <acronym title="Fully Qualified Domain Name">FQDN</acronym>
                            </a> |
                            <a href="" data-ng-click="predicate='pxe_mac'; tabs.nodes.reverse=!tabs.nodes.reverse; tabs.nodes.column='pxe_mac'">
                                <acronym title="Media Access Control addresses">MAC</acronym>
                            </a>
                        </th>
                        <th>
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" class="align-center" data-ng-click="tabs.nodes.predicate='power_state'; tabs.nodes.reverse=!tabs.nodes.reverse">Power</a>
                        </th>
                        <th>
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='status'; tabs.nodes.reverse=!tabs.nodes.reverse">Status</a>
                        </th>
                        <th>
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='owner'; tabs.nodes.reverse=!tabs.nodes.reverse">Owner</a>
                        </th>

                        <th class="align-right">
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='cpu_count'; tabs.nodes.reverse=!tabs.nodes.reverse">Cores</a>
                        </th>
                        <th class="align-right">
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='memory'; tabs.nodes.reverse=!tabs.nodes.reverse">RAM (GB)</a>
                        </th>
                        <th class="align-right">
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='disks'; tabs.nodes.reverse=!tabs.nodes.reverse">Disks</a>
                        </th>
                        <th class="align-right">
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.nodes.predicate='storage'; tabs.nodes.reverse=!tabs.nodes.reverse">Storage (GB)</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- XXX blake_r 2015-02-18 - Need to add e2e test. This really needs lots of tests. -->
                    <tr class="table-listing__row table-listing-row"
                        data-ng-repeat="node in tabs.nodes.filtered_items = (nodes | nodesFilter:tabs.nodes.search | orderBy:tabs.nodes.predicate:tabs.nodes.reverse) track by node.system_id"
                        data-ng-class="{ error: !supportsAction(node, 'nodes'), selected: node.$selected }"
                        data-ng-click="toggleChecked(node, 'nodes')">
                        <td>
                            <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                            <input type="checkbox" data-ng-click="toggleChecked(node, 'nodes')" data-ng-model="node.$selected" id="{$ node.fqdn $}" />
                            <label for="{$ node.fqdn $}"></label>
                        </td>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <td class="node-column table-listing__cell fixed" data-ng-show="tabs.nodes.column === 'fqdn'" colspan="2">
                            <a href="{$ node.url $}">{$ node.fqdn $}</a>
                        </td>
                        <!-- XXX blake_r 2015-02-18 - Need to add e2e test. -->
                        <td class="ng-hide table-listing__cell fixed" data-ng-show="tabs.nodes.column === 'pxe_mac'" colspan="2">
                            <a href="{$ node.url $}" title="{$ node.pxe_mac_vendor $}">{$ node.pxe_mac $}</a>
                            <a href="{$ node.url $}" class="extra-macs" data-ng-show="node.extra_macs.length">(+{$ node.extra_macs.length $})</a>
                        </td>
                        <td class="powerstate align-center">
                            <span title="{$ node.power_state $}" class="powerstates power-{$ node.power_state $}"></span>
                        </td>
                        <td class="table-listing__cell status">{$ node.status $}</td>
                        <td>{$ node.owner $}</td>
                        <td class="align-right">{$ node.cpu_count $}</td>
                        <td class="align-right">{$ node.memory $}</td>
                        <td class="align-right">{$ node.disks $}</td>
                        <td class="align-right">{$ node.storage $}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="nine-col last-col" class="ng-hide" data-ng-show="currentpage === 'devices'">
        <form>
            <div id="search-bar" class="node-search">
                <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                <input
                    type="search" placeholder="Search devices" class="node-search__input"
                    data-ng-model="tabs.devices.search" data-ng-change="updateFilters('devices')"
                    data-ng-class="{ error: !tabs.devices.searchValid }" />
                <input type="submit" class="node-search__submit" />
            </div>
            <table class="table-listing" id="nodes-listing">
                <thead>
                    <tr class="table-listing__row">
                        <th>
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            <input type="checkbox" data-ng-click="toggleCheckAll('devices')" data-ng-model="tabs.devices.allViewableChecked" id="check-all-devices" />
                            <label for="check-all-devices"></label>
                        </th>
                        <th colspan="4" class="table-listing__cell fixed">
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.devices.predicate='fqdn'; tabs.devices.reverse=!tabs.devices.reverse;">
                                <acronym title="Fully Qualified Domain Name">FQDN</acronym>
                            </a>
                        </th>
                        <th class="">
                            <a href="" data-ng-click="tabs.devices.predicate='pxe_mac'; tabs.devices.reverse=!tabs.devices.reverse;">
                                <acronym title="Media Access Control addresses">MAC</acronym>
                            </a>
                        </th>
                        <th>
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            <a href="" data-ng-click="tabs.devices.predicate='owner'; tabs.devices.reverse=!tabs.devices.reverse">Owner</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- XXX rvba 2015-02-25 - Need to add e2e test. This really needs lots of tests. -->
                    <tr class="table-listing__row"
                        data-ng-repeat="device in tabs.devices.filtered_items = (devices | nodesFilter:tabs.devices.search | orderBy:tabs.devices.predicate:tabs.devices.reverse) track by device.system_id"
                        data-ng-class="{ error: !supportsAction(device, 'devices'), selected: device.$selected }">
                        <td colspan="4" >
                            <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                            <input type="checkbox" data-ng-click="toggleChecked(device, 'devices')" data-ng-model="device.$selected" id="{$ device.fqdn $}"/>
                            <label for="{$ device.fqdn $}"></label>
                        </td>
                        <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                        <td class="table-listing__cell fixed">
                            <a href="{$ device.url $}">{$ device.fqdn $}</a>
                        </td>
                        <!-- XXX rvba 2015-02-25 - Need to add e2e test. -->
                        <td>
                            {$ device.pxe_mac $}
                            <span data-ng-show="device.extra_macs.length">(+{$ device.extra_macs.length $})</span>
                        </td>
                        <td>{$ device.owner $}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
