<div data-ng-hide="loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide" data-ng-show="loaded" style="position: relative;" data-window-width>
    <header class="p-strip--light is-shallow page-header u-no-padding--bottom" data-ng-class="{'is-not-sticky': action.option.name === 'compose'}" media-query="min-width: 769px">
        <div class="row">
            <div class="col-medium-4 col-8">
                <h1 class="page-header__title">
                    <span contenteditable="true"
                        data-ng-class="{ editable: canEdit(), 'is-error': editNameInvalid(), editmode: name.editing }"
                        data-ng-model="name.value"
                        data-ng-disabled="!canEdit()"
                        data-ng-keydown="$event.keyCode == 13 && $event.preventDefault()"
                        data-ng-keyup="$event.keyCode == 13 && saveEditName()"
                        data-ng-click="editName()"></span>
                </h1>
                <button class="p-button--base u-no-margin--top ng-hide"
                    data-ng-show="name.editing"
                    data-ng-click="cancelEditName()">Cancel</button>
                <button class="p-button--positive ng-hide"
                    data-ng-show="name.editing"
                    data-ng-disabled="editNameInvalid()"
                    data-ng-click="saveEditName()">Save</button>
            </div>
            <div class="col-medium-2 col-4">
                <div class="page-header__controls" data-ng-if="canEdit()">
                    <div data-maas-cta="action.options"
                        data-ng-click="updateAvailableActions('pods')"
                        data-ng-model="action.option"
                        data-ng-change="actionOptionChanged()">
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header__dropdown" data-ng-if="action.option.name === 'compose'">
            <maas-obj-form obj="compose.obj" manager="podManager" manager-method="compose"
            table-form="true" save-on-blur="false" pre-process="composePreProcess" after-save="cancelCompose">
                <div class="row">
                    <div class="col-12">
                        <hr />
                        <h3 class="p-heading--four">Compose machine</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="p-form__group row">
                            <label for="hostname" class="p-form__label col-2">Hostname</label>
                            <div class="p-form__control col-4">
                                <input type="text" name="hostname" id="hostname" data-ng-model="compose.obj.hostname" placeholder="Hostname (optional)">
                            </div>
                        </div>
                        <maas-obj-field type="options" key="domain" label="Domain" subtle="false" placeholder="Choose a domain"
                            options="domain.id as domain.name for domain in domains" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="options" key="zone"
                            label="Zone" subtle="false" placeholder="Choose a zone"
                            options="zone.id as zone.name for zone in zones"
                            label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4" disabled></maas-obj-field>
                        <maas-obj-field type="options" key="pool" label="Pool" subtle="false" placeholder="Choose a pool"
                            options="pool.id as pool.name for pool in pools" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field type="options" key="architecture" label="Architecture" subtle="false" placeholder="Any architecture" placeholder-enabled="true"
                            options="arch for arch in pod.architectures" data-ng-if="pod.architectures.length > 1" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="cores" label="Minimum Cores" subtle="false" placeholder="Number of cores (optional)" subtle-text="{$ availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio, 1) $} cores available" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="cpu_speed" label="Minimum Speed (MHz)" subtle="false" placeholder="CPU speed (optional)" subtle-text="{$ pod.hints.cpu_speed $}MHz maximum" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                        <maas-obj-field type="text" key="memory" label="Minimum RAM (MB)" subtle="false" placeholder="Memory amount (optional)" subtle-text="{$ availableWithOvercommit(pod.total.memory_gb, pod.used.memory_gb, pod.memory_over_commit_ratio, 1) $}GB available" label-width="2" label-width-tablet="2" input-width="3" input-width-tablet="4"></maas-obj-field>
                    </div>
                </div>
                <div class="p-strip">
                    <div class="row u-vertically-center">
                        <div class="col-4">
                            <h3 class="p-heading--four">Interfaces</h3>
                        </div>
                        <div class="col-8">
                            <p
                                data-ng-if="spaces.length === 0"
                                class="p-table--pod-networking-config--message p-text--small"
                            >
                                You have not defined any networking spaces.
                                <a href="/MAAS/#/networks?by=space">More about spaces.</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <table class="p-table--pod-networking-config">
                                <thead>
                                    <tr class="p-table__row">
                                        <th></th>
                                        <th>Name</th>
                                        <th>IP Address</th>
                                        <th>Space</th>
                                        <th>Subnet</th>
                                        <th>Fabric</th>
                                        <th>VLAN</th>
                                        <th>PXE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="p-table__row" data-ng-repeat="iface in compose.obj.interfaces track by $index">
                                        <td class="u-valign--middle">
                                            <button
                                                class="p-button--base u-td-outdent-focusable--left p-button--narrow"
                                                data-ng-click="composeRemoveInterface(iface)"
                                                data-ng-if="iface.name !== 'default'"
                                            >
                                                <i class="p-icon--close"></i>
                                                <span class="u-off-screen">Remove</span>
                                            </button>
                                        </td>
                                        <td>
                                            <div ng-switch on="iface.name">
                                                <div ng-switch-when="default">
                                                    default
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="form__group-input">
                                                        <input
                                                            type="text"
                                                            placeholder="Enter name"
                                                            data-ng-model="iface.name"
                                                            data-ng-model-options="{updateOn: 'blur'}"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div ng-switch on="iface.name">
                                                <div ng-switch-when="default">
                                                    <span><small>Created by hypervisor at compose time.</small></span>
                                                </div>
                                                <div ng-switch-default>
                                                    <div class="form__group-input">
                                                        <input
                                                            type="text"
                                                            data-ng-if="iface.space || iface.subnet && !iface.ipaddress"
                                                            value="(auto-assigned)" disabled>
                                                        <input
                                                            type="text"
                                                            placeholder="Manual IP Address (optional)"
                                                            data-ng-if="!iface.space && !iface.subnet || iface.ipaddress"
                                                            data-ng-model="iface.ipaddress"
                                                            data-ng-blur="selectSubnetByIP(iface)"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div data-ng-if="iface.name !== 'default'">
                                                <div data-ng-if="spaces.length == 0">
                                                    (undefined)
                                                </div>
                                                <select
                                                    data-ng-model="iface.selectedSpace"
                                                    data-ng-change="resetSubnetList(iface)"
                                                    data-ng-if="spaces.length > 0"
                                                    data-ng-disabled="iface.ipaddress.length > 0"
                                                    data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                    <option value="">Select a space (optional)</option>
                                                    <option data-ng-repeat="space in spaces">{$ space.name $}</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td class="p-table--action-cell">
                                            <div data-ng-if="iface.name !== 'default'" class="form__group-input">
                                                <div class="form__group-input">
                                                    <div class="p-option-selector--subnets" tabindex="0"
                                                        ng-keyup="$event.keyCode === 27 && closeOptions(iface)">
                                                        <input type="text"
                                                            class="p-option-selector__input u-no-margin--bottom"
                                                            readonly="readonly"
                                                            placeholder="Select a subnet"
                                                            data-ng-model="iface.subnet.displayName"
                                                            data-ng-focus="openSubnetOptions(iface)"
                                                            data-ng-disabled="iface.ipaddress.length > 0"
                                                            data-ng-keypress="$event.keyCode === 13 && $event.preventDefault()">
                                                        <div
                                                            class="p-option-selector__options--subnets"
                                                            ng-if="iface.showOptions">
                                                            <button class="p-button--close" ng-click="closeOptions(iface)">
                                                                <i class="p-icon--close">Close</i>
                                                            </button>
                                                            <div>
                                                                <div data-ng-repeat="space in spaces">
                                                                    <h4 data-ng-if="!iface.selectedSpace" class="p-option-selector__title--subnets u-no-max-width">
                                                                        Space: {$ space.name $}
                                                                    </h4>
                                                                    <div
                                                                        class="p-option-selector__option--subnets row"
                                                                        tabindex="0"
                                                                        data-ng-click="selectSubnet(subnet, iface)"
                                                                        data-ng-keyup="$event.keyCode == 13 && selectSubnet(subnet, iface)"
                                                                        data-ng-repeat="subnet in availableSubnets | filter:bySpace(space.name) | orderBy:['version', 'cidr']">
                                                                        <div class="p-option-selector__option-cell--subnets col-6 col-medium-6 col-small-4">
                                                                            <span>{$ subnet.displayName $}</span>
                                                                        </div>
                                                                        <div class="p-option-selector__option-cell--subnets col-3 col-medium-3 col-small-2">
                                                                            <span>{$ subnet.fabric.name $}</span>
                                                                        </div>
                                                                        <div class="p-option-selector__option-cell--subnets col-3 col-medium-3 col-small-2">
                                                                            <div ng-switch on="subnet.vlan.vid">
                                                                                <div ng-switch-when="0">untagged</div>
                                                                                <div ng-switch-default>
                                                                                    <span>{$ subnet.vlan.vid $}</span>
                                                                                    <span data-ng-if="subnet.vlan.name">({$ subnet.vlan.name $})</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-ng-if="!iface.selectedSpace && hasSpacelessSubnets()">
                                                                <h4 class="p-option-selector__title--subnets u-no-max-width">Space: (unassigned)</h4>
                                                                <div
                                                                    class="p-option-selector__option--subnets row"
                                                                    tabindex="0"
                                                                    data-ng-click="selectSubnet(subnet, iface)"
                                                                    data-ng-keyup="$event.keyCode == 13 && selectSubnet(subnet, iface)"
                                                                    data-ng-repeat="subnet in availableSubnets | filter:bySpace() | orderBy:['version', 'cidr']">
                                                                    <div class="p-option-selector__option-cell--subnets col-6 col-medium-6 col-small-4">
                                                                        <span>{$ subnet.displayName $}</span>
                                                                    </div>
                                                                    <div class="p-option-selector__option-cell--subnets col-3 col-medium-3 col-small-2">
                                                                        <span>{$ subnet.fabric.name $}</span>
                                                                    </div>
                                                                    <div class="p-option-selector__option-cell--subnets col-3 col-medium-3 col-small-2">
                                                                        <div ng-switch on="subnet.vlan.vid">
                                                                            <div ng-switch-when="0">untagged</div>
                                                                            <div ng-switch-default>
                                                                                <span>{$ subnet.vlan.vid $}</span>
                                                                                <span data-ng-if="subnet.vlan.name">({$ subnet.vlan.name $})</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" data-ng-if="iface.name !== 'default'">
                                                {$ iface.fabric.name $}
                                            </p>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" ng-switch on="iface.vlan.vid" data-ng-if="iface.name !== 'default'">
                                                <span ng-switch-when="0">untagged</span>
                                                <span ng-switch-default>
                                                    <span>{$ iface.vlan.vid $}</span>
                                                    <span data-ng-if="iface.vlan.name">({$ iface.vlan.name $})</span>
                                                </span>
                                            </p>
                                        </td>
                                        <td>
                                            <p class="u-min-margin--bottom" data-ng-if="iface.name !== 'default'" ng-switch on="iface.pxe">
                                                <span ng-switch-when="true">
                                                    <i class="p-icon--success"></i>
                                                </span>
                                                <span ng-switch-when="false">
                                                    <i class="p-icon--error"></i>
                                                </span>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr data-ng-show="availableSubnets.length > 0">
                                        <td colspan="8">
                                            <button class="p-button--base u-td-outdent-focusable--left p-button--narrow u-no-margin--right" data-ng-click="composeAddInterface()">
                                                <i class="p-icon--plus"></i>
                                                <span class="u-off-screen">Add another interface</span>
                                            </button>
                                            <span ng-if="compose.obj.interfaces[0].name == 'default'">Define (optional)</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h3 class="p-heading--four">Storage configuration</h3>
                        <table class="p-table--pod-storage-config">
                            <thead>
                                <tr class="p-table__row">
                                    <th></th>
                                    <th>Capacity (GB)</th>
                                    <th>Location</th>
                                    <th>Tags</th>
                                    <th>
                                        <div class="u-align--center">Boot</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="p-table__row" data-ng-repeat="storage in compose.obj.storage">
                                    <td>
                                        <div data-ng-if="!storage.boot">
                                            <button class="p-button--base u-td-outdent-focusable--left p-button--narrow" data-ng-click="composeRemoveDisk(storage)">
                                                <i class="p-icon--close"></i>
                                                <span class="u-off-screen">Remove</span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="p-table--action-cell">
                                        <div class="form__group-input" style="position: relative">
                                            <input type="number" min="0" class="u-no-margin--bottom" placeholder="Enter capacity" ng-keypress="numberOnly($event)"
                                                data-ng-model="storage.size"
                                                data-ng-change="updateRequests(storage)"
                                                ng-class="{'in-warning': !storage.size || storage.size < 8}">
                                            <span class="p-tooltip--top-left u-float--right"
                                                style="position: absolute; top: 8px; right: 8px;"
                                                aria-describedby="storage-size-warning"
                                                data-ng-if="(storage.size > 0 && storage.size < 8) || storage.size == 0">
                                                <i class="p-icon--warning">Warning</i>
                                                <span class="p-tooltip__message" role="tooltip" id="storage-size-warning">Ubuntu typically requires 8GB minimum. Lower allocations may fail.</span>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="p-table--action-cell">
                                        <kvm-storage-dropdown
                                            compose="compose"
                                            pod="pod"
                                            storage="storage"
                                            update-requests="updateRequests"
                                        />
                                    </td>
                                    <td>
                                        <div class="form__group-input">
                                            <tags-input data-ng-model="storage.tags" class="u-no-margin--bottom" allow-tags-pattern="[\\w-]+"></tags-input>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="u-align--center">
                                            <input type="radio" id="{$ $index $}-boot" class="u-no-margin--right"
                                                data-ng-click="composeSetBootDisk(storage)"
                                                data-ng-checked="storage.boot"
                                                data-ng-if="storage.type === 'local'">
                                            <label for="{$ $index $}-boot"></label>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="p-table__row">
                                    <td colspan="5">
                                        <button class="p-button--base u-td-outdent-focusable--left p-button--narrow" data-ng-click="composeAddStorage()">
                                            <i class="p-icon--plus"></i>
                                            <span class="u-off-screen">Add another device</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr>
                        <p maas-obj-hide-saving><maas-obj-errors></maas-obj-errors></p>
                        <p maas-obj-show-saving><maas-obj-saving>Composing machine</maas-obj-saving></p>
                        <div class="u-align--right u-no-margin--top" maas-obj-hide-saving>
                            <button class="p-button--base" type="button" data-ng-click="cancelCompose()">Cancel</button>
                            <button class="p-button--positive u-no-margin--top" maas-obj-save ng-disabled="!validateMachineCompose()">Compose machine</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>

        <div class="page-header__dropdown u-hide" data-ng-class="{ 'u-show': action.option && action.option.name !== 'compose' }">
            <div class="row" data-ng-if="action.inProgress">
                <div class="col-12">
                    <p>
                        <i class="p-icon--spinner u-animation--spin"></i>
                        Performing {$ action.option.sentence $}.
                    </p>
                </div>
            </div>
            <div class="row u-equal-height" data-ng-if="action.option && !action.inProgress">
                <form class="p-form p-form--inline u-align--right">
                    <div class="col-8 u-vertically-center">
                        <div data-ng-if="action.error">
                            <p class="u-remove-max-width">
                                <i class="p-icon--error">Error:</i> Performing {$ action.option.sentence $} failed: {$ action.error $}
                            </p>
                        </div>
                        <div data-ng-if="action.option.name === 'refresh'">
                            <p class="u-remove-max-width u-align--left">
                                Refreshing this {$ pageType $} will cause MAAS to recalculate usage metrics, update information about storage pools,
                                and commission any machines present in the {$ pageType $} that are not yet known to MAAS.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="u-align--right">
                            <button class="p-button--base" type="button" data-ng-click="actionCancel()">Cancel</button>
                            <button class="u-no-margin--top u-no-margin--top" data-ng-class="action.option.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo()" data-ng-if="!action.error">
                                <span data-ng-if="action.option.name === 'refresh'">Refresh {$ pageType $}</span>
                                <span data-ng-if="action.option.name === 'delete'">Delete {$ pageType $}</span>
                            </button>
                            <button class="p-button--neutral u-no-margin--top" data-ng-click="actionGo()" data-ng-if="action.error">Retry</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="p-strip is-shallow u-no-padding--bottom" media-query="min-width: 769px" offset="89">
            <nav class="p-tabs u-hr--fixed-width">
                <div class="row">
                    <ul class="p-tabs__list" role="tablist" data-ng-class="{ 'u-hide': action.option }">
                        <li class="p-tabs__item" role="presentation">
                            <a href="" role="tab" class="p-tabs__link" data-ng-class="{ 'is-active': section.area === 'summary'}" data-ng-click="section.area = 'summary'">{$ pod.composed_machines_count $} composed machines</a>
                        </li>
                        <li class="p-tabs__item" role="presentation">
                            <a href="" role="tab" class="p-tabs__link" data-ng-if="canEdit()" data-ng-class="{ 'is-active': section.area === 'configuration'}" data-ng-click="section.area= 'configuration'">Configuration</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section data-ng-if="section.area === 'summary'">
        <div class="p-strip is-shallow" ng-if="canEdit()">
            <div class="row">
                <div class="p-pod-edit">
                    <label class="p-pod-edit__label" for="virsh">Virsh:</label>
                    <div class="p-code-copyable-wrapper">
                        <div class="p-code-copyable">
                            <input class="p-code-copyable__input" value="{$ pod.power_address $}" readonly="readonly">
                            <button class="p-code-copyable__action" data-ng-click="copyToClipboard($event)">Copy to clipboard</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-strip is-shallow">
            <div class="row">
                <div class="p-card--highlighted">
                    <div class="row">
                        <ng-include
                            src="'./static/partials/pod-details/pod-details-summary.html'"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div class="p-strip">
            <div class="row">
                <div class="col-12" data-ng-if="pod.composed_machines_count">
                    <maas-machines-table
                        search="machinesSearch"
                        hide-actions="true"
                        pools="pools"
                        zones="zones"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-12 u-align--center" data-ng-if="!pod.composed_machines_count">
                    <i class="p-icon--compose-machine u-no-margin" style="width: 128px; height: 128px;"></i>
                    <h3 class="p-heading--four u-no-max-width">You have not composed any machines yet.</h3>
                    <button class="p-button--positive is-inline u-no-margin" data-ng-if="canCompose()" data-ng-click="composeMachine()">Compose machine</button>
                </div>
            </div>
        </div>
    </section>
    <section class="p-strip" data-ng-if="pod && section.area === 'configuration'">
        <div class="row">
            <div class="col-10">
                <h2 class="p-heading--four">{$ pageType $} configuration</h2>
            </div>
            <div class="col-2">
                <div class="u-align--right">
                    <button class="p-button--neutral"
                        data-ng-if="canEdit() && !editing"
                        data-ng-click="editPodConfiguration()">Edit</button>
                </div>
            </div>
        </div>
        <div class="row">
            <maas-obj-form obj="pod" manager="podManager" manager-method="updateItem"
                table-form="true" save-on-blur="false" after-save="exitEditPodConfiguration" data-ng-disabled="!editing">
                <div class="row">
                    <div class="col-6">
                        <div class="p-form__group row">
                            <label for="type" class="p-form__label col-2">Type</label>
                            <div class="p-form__control u-no-margin--top col-4">
                                <input type="text" id="type" disabled="disabled" value="{$ getPodTypeTitle() $}" />
                            </div>
                        </div>
                        <maas-obj-field type="options" key="zone" label="Zone"
                            subtle="false" placeholder="Choose a zone"
                            options="zone.id as zone.name for zone in zones" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                        <maas-obj-field type="options" key="pool"
                            label="Resource pool" subtle="false"
                            placeholder="Choose a pool"
                            options="pool.id as pool.name for pool in pools" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                        <maas-obj-field type="tags" key="tags" label="Tags"
                            disable-label="false" placeholder="Add a tag" label-width="2" label-width-tablet="2" input-width="4" input-width-tablet="3"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-pod-parameters hide-type="true"></maas-pod-parameters>
                    </div>
                </div>
                <div class="p-strip">
                    <div class="row">
                        <div class="col-8" data-ng-if="editing">
                            <p maas-obj-hide-saving><maas-obj-errors></maas-obj-errors></p>
                            <p maas-obj-show-saving><maas-obj-saving><i class="p-icon--spinner u-animation--spin">Loading:</i> Trying to connect and discover {$ pageType $}</maas-obj-saving></p>
                        </div>
                        <div class="col-4 u-align--right" data-ng-if="editing">
                            <button class="p-button--base" data-ng-click="exitEditPodConfiguration()">Cancel</button>
                            <button class="p-button--positive" maas-obj-save>Save changes</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>
    <section class="row u-padding--top" data-ng-if="section.area === 'storage'">
        <div class="wrapper--inner">
            <div class="col-6">
                <h3 class="p-heading--four">Total storage ({$ pod.total.local_storage_gb $} GiB)</h3>
                <div class="action-card u-margin--none">
                  Graph goes here
                </div>
            </div>
            <div class="col-6">
              <h3 class="p-heading--four">Total local storage ({$ pod.total.local_storage_gb $} GiB)</h3>
              <div class="action-card u-margin--bottom">
                  <h3 class="p-heading--four">0 drives</h3>
                  <div class="p-meter__container">
                    <meter max="{$ pod.total.local_storage $}" value="{$ pod.used.local_storage $}">{$ pod.used.local_storage $} Mb</meter>
                  </div>
                  <p>
                      <span>0 GiB used</span>
                      <span class="u-float--right">{$ pod.total.local_storage_gb $} GiB available</span>
                  </p>
              </div>
              <h3 class="p-heading--four">Remote storage</h3>
              <p>No remote storage systems haven't been connected yet.</p>
              <p>When you connect a remote system to your KVM it will be automatically detacted and displayed here.</p>
            </div>
            <div class="col-12">
                <h3 class="p-heading--four">Available volumes (2000 GiB)</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                <a href="#">Name</a>
                            </th>
                            <th>
                                <a href="#">Storage system</a>
                            </th>
                            <th>
                                <a href="#">Capacity (GiB)</a>
                            </th>
                            <th>
                                <a href="#">Location</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a href="#">sda</a>
                            </td>
                            <td>
                                lorem ipsum
                            </td>
                            <td>
                                500
                            </td>
                            <td>
                                Local
                            </td>
                            <td>
                                <button class="p-icon--delete"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

