<header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-8">
            <h1 class="page-header__title">Pods</h1>
            <p class="page-header__status u-no-margin--top" data-ng-show="loading"><span class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i> Loading...</span></p>
        </div>
        <div class="col-4">
            <div class="page-header__controls">
                <div data-ng-if="pods.length > 0 && !selectedItems.length">
                    <button class="p-button--neutral" data-ng-click="add.open = true" data-ng-if="!add.open">Add pod</button>
                </div>
                <div data-ng-if="isSuperUser() && selectedItems.length">
                    <p>{$ selectedItems.length $} Selected</p>
                    <div data-maas-cta="action.options" data-ng-model="action.option">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-class="{ 'u-hide': !action.option }">
        <div class="col-12" data-ng-if="!isActionError() && !hasActionsInProgress()">
            <form class="p-form p-form--inline">
                <p data-ng-if="hasActionsFailed()">
                    Performing {$ action.option.sentence $} failed for {$ action.progress.errors $}
                    <span data-ng-pluralize count="action.progress.errors" when="{'one': 'pod', 'other': 'pods'}"></span>,
                    see listing for specific error for each pod.
                </p>
                <button class="p-button--base is-inline" type="button" data-ng-click="actionCancel()">Cancel</button>
                <button class="is-inline" data-ng-class="action.option.name === 'delete' ? 'button--destructive' : 'button--positive'" data-ng-click="actionGo()" data-ng-if="!hasActionsFailed()">
                    <span data-ng-if="action.option.name === 'refresh'">Refresh {$ selectedItems.length $}
                        <span data-ng-pluralize count="selectedItems.length" when="{'one': 'pod', 'other': 'pods'}"></span>
                    </span>
                    <span data-ng-if="action.option.name === 'delete'">Delete {$ selectedItems.length $}
                        <span data-ng-pluralize count="selectedItems.length" when="{'one': 'pod', 'other': 'pods'}"></span>
                    </span>
                </button>
                <button class="p-button--neutral is-inline" data-ng-click="actionGo()" data-ng-if="hasActionsFailed()">Retry</button>
            </form>
        </div>
        <div class="row">
            <div class="col-12" data-ng-if="hasActionsInProgress()">
                <p>
                    <i class="p-icon--spinner u-animation--spin"></i>
                    Finished performing {$ action.option.sentence $} on {$ action.progress.completed $} of {$ action.progress.total $} pods.
                </p>
            </div>
        </div>
    </div>
    <div data-ng-class="{ 'u-hide': !add.open }">
        <maas-obj-form obj="add.obj" manager="podManager" manager-method="createItem"
            table-form="true" save-on-blur="false" after-save="cancelAddPod" data-ng-if="add.open"
            class="p-form--stacked">
            <div class="row">
                <hr />
                <h3 class="page-header__dropdown-title">Add pod</h3>
            </div>
            <div class="row">
                <div class="col-5">
                    <maas-obj-field type="text" key="name" label="Name" label-width="two" input-width="three" placeholder="Name (optional)"></maas-obj-field>
                </div>
                <div class="col-6 prefix-1">
                    <maas-pod-parameters></maas-pod-parameters>
                </div>
            </div>
            <div class="row u-no-margin--top">
                <hr class="u-no-margin--bottom" />
                <div class="col-12">
                    <p maas-obj-hide-saving><maas-obj-errors></maas-obj-errors></p>
                    <p maas-obj-show-saving><maas-obj-saving>Trying to connect and discover pod</maas-obj-saving></p>
                    <div class="page-header__controls" maas-obj-hide-saving>
                        <button class="p-button--base is-inline" type="button" data-ng-click="cancelAddPod()">Cancel</button>
                        <button class="p-button--positive is-inline" maas-obj-save>Save pod</button>
                    </div>
                </div>
            </div>
        </maas-obj-form>
    </div>
</header>

<div class="p-strip">
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
    <div class="row">
        <div class="col-12">
            <div data-ng-if="!loading && pods.length == 0" class="p-heading-icon">
                <div class="p-heading-icon__header">
                    <svg class="p-heading-icon__img" width="85px" height="104px" viewBox="0 0 85 104" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>add-pod</title>
                        <defs></defs>
                        <g id="Pod-creation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="003_Pod---empty-state" transform="translate(-677.000000, -320.000000)">
                                <g id="Empty-state" transform="translate(337.000000, 320.000000)">
                                    <g id="add-pod" transform="translate(340.000000, 0.000000)">
                                        <path d="M42.2502469,126.44299 L42.2502469,42.4025859" id="path4205" stroke="#888888" stroke-width="4" transform="translate(42.774938, 84.422788) rotate(-90.000000) translate(-42.774938, -84.422788) "></path>
                                        <path d="M50.6453086,78.1197576 L35.9539506,78.1197576" id="path4207" stroke="#888888" stroke-width="4" transform="translate(43.299630, 78.645010) rotate(-90.000000) translate(-43.299630, -78.645010) "></path>
                                        <path d="M5.94160494,79.6955152 L22.7317284,79.6955152 L22.7317284,75.4934949 L10.1391358,75.4934949 L10.1391358,-0.142868687 L22.7317284,-0.142868687 L22.7317284,-4.34488889 L5.94160494,-4.34488889 L5.94160494,79.6955152 Z M29.0280247,79.6955152 L45.8181481,79.6955152 L45.8181481,75.4934949 L29.0280247,75.4934949 L29.0280247,79.6955152 Z M29.0280247,-0.0378181818 L45.8181481,-0.0378181818 L45.8181481,-4.23983838 L29.0280247,-4.23983838 L29.0280247,-0.0378181818 Z M52.1144444,79.6955152 L79.3983951,79.6955152 L79.3983951,-4.34488889 L52.1144444,-4.34488889 L52.1144444,-0.142868687 L75.2008642,-0.142868687 L75.2008642,75.4934949 L52.1144444,75.4934949 L52.1144444,79.6955152 Z" id="rect4236" fill="#888888" transform="translate(42.670000, 37.675313) rotate(-90.000000) translate(-42.670000, -37.675313) "></path>
                                        <path d="M42.2502469,67.6147071 L42.2502469,-16.425697" id="path4238" stroke="#888888" stroke-width="4" transform="translate(42.774938, 25.594505) rotate(-90.000000) translate(-42.774938, -25.594505) "></path>
                                        <path d="M42.2502469,90.7258182 L42.2502469,6.68541414" id="path4240" stroke="#888888" stroke-width="4" transform="translate(42.774938, 48.705616) rotate(-90.000000) translate(-42.774938, -48.705616) "></path>
                                        <polygon id="rect4242" fill="#888888" transform="translate(17.522593, 14.553697) rotate(-90.000000) translate(-17.522593, -14.553697) " points="20.6707407 20.8567273 20.6707407 8.25066667 14.3744444 8.25066667 14.3744444 20.8567273"></polygon>
                                        <polygon id="rect4244" fill="#888888" transform="translate(17.522593, 37.664808) rotate(-90.000000) translate(-17.522593, -37.664808) " points="20.6707407 43.9678384 20.6707407 31.3617778 14.3744444 31.3617778 14.3744444 43.9678384"></polygon>
                                        <polygon id="rect4246" fill="#888888" transform="translate(17.522593, 60.775919) rotate(-90.000000) translate(-17.522593, -60.775919) " points="20.6707407 67.0789495 20.6707407 54.4728889 14.3744444 54.4728889 14.3744444 67.0789495"></polygon>
                                        <ellipse id="path4208" fill="#888888" transform="translate(42.708827, 97.542545) rotate(-180.000000) translate(-42.708827, -97.542545) " cx="42.7088272" cy="97.5425455" rx="6.2962963" ry="6.3030303"></ellipse>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <h3 class="p-heading-icon__title">You have not added any pods yet. <button class="p-button--positive is-inline ng-scope" data-ng-click="add.open = true" data-ng-if="!add.open">Add pod</button></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="p-table-expanding" data-ng-if="pods.length > 0">
                <thead>
                    <tr>
                        <th class="col-1">
                            <div data-ng-if="isSuperUser()">
                                <input type="checkbox" class="checkbox" data-ng-click="toggleCheckAll()" data-ng-checked="allViewableChecked" id="check-all-pods" data-ng-disabled="add.open || hasActionsInProgress()" />
                                <label for="check-all-pods" class="checkbox-label"></label>
                            </div>
                        </th>
                        <th class="col-2">
                            <a href="" class="table__header-link" data-ng-click="sortTable('name')" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">
                                <span title="Name">Name</span>
                            </a>
                        </th>
                        <th class="col-1">
                            <a href="" class="table__header-link" data-ng-click="sortTable('type')" data-ng-class="{'is-sorted': predicate === 'type', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Type</a>
                        </th>
                        <th class="col-2">
                            <a href="" class="table__header-link" data-ng-click="sortTable('available.local_storage')" data-ng-class="{'is-sorted': predicate === 'available.local_storage', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Local storage (GiB)</a>
                        </th>
                        <th class="col-2">
                            <a href="" class="table__header-link" data-ng-click="sortTable('available.iscsi_storage')" data-ng-class="{'is-sorted': predicate === 'available.iscsi_storage', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">iSCSI storage (GiB)</a>
                        </th>
                        <th class="col-1">
                            <a href="" class="table__header-link" data-ng-click="sortTable('available.cores')" data-ng-class="{'is-sorted': predicate === 'available.cores', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Cores</a>
                        </th>
                        <th class="col-1">
                            <a href="" class="table__header-link" data-ng-click="sortTable('available.memory')" data-ng-class="{'is-sorted': predicate === 'available.memory', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">RAM (GiB)</a>
                        </th>
                        <th class="col-2 u-align--right">
                            <a href="" class="table__header-link" data-ng-click="sortTable('composed_machines')" data-ng-class="{'is-sorted': predicate === 'composed_machines', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Composed machines</a>
                        </th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr data-ng-repeat="pod in filteredItems = (pods | nodesFilter:search | orderBy:predicate:reverse) track by pod.id" data-ng-class="{ selected: pod.$selected, 'is-active': pod.$selected && pod.action_failed }">
                        <td class="col-1" data-ng-if="isSuperUser()" aria-label="Select pod">
                            <input type="checkbox" class="checkbox" data-ng-click="toggleChecked(pod)" data-ng-checked="pod.$selected" id="{$ pod.id $}" data-ng-disabled="add.open || hasActionsInProgress()"/>
                            <label for="{$ pod.id $}" class="checkbox-label"></label>
                        </td>
                        <td class="col-2" aria-label="Name">
                            <a href="#/pod/{$ pod.id $}">{$ pod.name $}</a>
                        </td>
                        <td class="col-1" aria-label="Type">
                            {$ getPowerTypeTitle(pod.type) $}
                        </td>
                        <td class="col-2" aria-label="Local storage (GiB)">
                            {$ pod.available.local_storage_gb $} free <div class="u-text--subtle">of {$ pod.total.local_storage_gb $}</div>
                        </td>
                        <td class="col-2" aria-label="iSCSI storage (GiB)">
                            {$ pod.available.iscsi_storage_gb || '0' $} free <div class="u-text--subtle">of {$ pod.total.iscsi_storage_gb || '0' $}</div>
                        </td>
                        <td class="col-1" aria-label="Cores">
                            {$ pod.available.cores $} free <div class="u-text--subtle">of {$ pod.total.cores $}</div>
                        </td>
                        <td class="col-1" aria-label="RAM (GiB)">
                            {$ pod.available.memory_gb $} free <div class="u-text--subtle">of {$ pod.total.memory_gb $}</div>
                        </td>
                        <td class="col-2 u-align--right" aria-label="Composed machines">
                            {$ pod.composed_machines_count $}
                        </td>
                        <td class="p-table-expanding__panel col-12" data-ng-if="pod.$selected && pod.action_failed">
                            <div aria-label="label" class="table__data">
                                <p><i class="p-icon--error">Error:</i> {$ pod.action_error $}</p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
