<header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-small-2 col-medium-4 col-8">
            <h1 class="page-header__title">{$ getPageHeading() $}</h1>
            <p class="page-header__status u-no-margin--top" data-ng-show="loading"><span class="u-text--loading"><i class="p-icon--spinner u-animation--spin"></i> Loading...</span></p>
        </div>
        <div class="col-small-2 col-medium-2 col-4 u-align--right">
            <div class="page-header__controls">
                <div data-ng-if="pods.length > 0 && !selectedItems.length && !action.option.isSingle">
                    <button class="p-button--neutral" data-ng-click="addPod()" data-ng-if="!add.open && canAddPod()">Add {$ getPageHeading() $}</button>
                </div>
                <ul class="p-inline-list u-no-margin--top" data-ng-if="showActions() && selectedItems.length">
                    <li class="p-inline-list__item">{$ selectedItems.length $} Selected</li>
                    <li class="p-inline-list__item">
                        <div
                            data-selected-items="selectedItems.length"
                            data-ng-click="updateAvailableActions('pods')"
                            data-maas-cta="action.options"
                            data-ng-model="action.option">
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
    <div class="row" data-ng-class="{ 'u-hide': !action.option }">
        <div class="col-12 u-align--right" data-ng-if="!isActionErFror() && !hasActionsInProgress()">
            <form>
                <p data-ng-if="hasActionsFailed()">
                    Performing {$ action.option.sentence $} failed for {$ action.progress.errors $}
                    <span data-ng-pluralize count="action.progress.errors" when="{'one': 'KVM', 'other': 'KVMs'}"></span>,
                    see listing for specific error for each KVM.
                </p>

                <div data-ng-if="action.option.name === 'refresh'" class="col-8">
                    <p class="u-remove-max-width u-align--left">
                        Refreshing <span data-ng-if="selectedItems.length === 1">this KVM</span><span data-ng-if="selectedItems.length > 1">these KVMs</span> will cause MAAS to recalculate usage metrics, update information about storage pools,
                        and commission any machines present in <span data-ng-if="selectedItems.length === 1">the KVM</span><span data-ng-if="selectedItems.length > 1">the KVMs</span> that are not yet known to MAAS.
                    </p>
                </div>

                <button class="p-button--base is-inline" type="button" data-ng-click="actionCancel()">Cancel</button>
                <button class="is-inline" data-ng-class="action.option.name === 'delete' ? 'p-button--negative' : 'p-button--positive'" data-ng-click="actionGo()" data-ng-if="!hasActionsFailed()">
                    <span data-ng-if="action.option.name === 'refresh'">
                        Refresh <span data-ng-if="!action.option.isSingle">{$ selectedItems.length $}</span>
                        <span data-ng-if="!action.option.isSingle">
                            <span data-ng-if="page === 'kvm'" data-ng-pluralize count="selectedItems.length" when="{'one': 'KVM', 'other': 'KVMs'}"></span>
                            <span data-ng-if="page === 'rsd'" data-ng-pluralize count="selectedItems.length" when="{'one': 'RSD', 'other': 'RSDs'}"></span>
                        </span>
                        <span data-ng-if="action.option.isSingle">{$ getPageHeading() $}</span>
                    </span>
                    <span data-ng-if="action.option.name === 'delete'">
                        Delete <span data-ng-if="!action.option.isSingle">{$ selectedItems.length $}</span>
                        <span data-ng-if="!action.option.isSingle">
                            <span data-ng-if="page === 'kvm'" data-ng-pluralize count="selectedItems.length" when="{'one': 'KVM', 'other': 'KVMs'}"></span>
                            <span data-ng-if="page === 'rsd'" data-ng-pluralize count="selectedItems.length" when="{'one': 'RSD', 'other': 'RSDs'}"></span>
                        </span>
                        <span data-ng-if="action.option.isSingle">{$ getPageHeading() $}</span>
                    </span>
                </button>
                <button class="p-button--neutral is-inline" data-ng-click="actionGo()" data-ng-if="hasActionsFailed()">Retry</button>
            </form>
        </div>
        <div class="row">
            <div class="col-12" data-ng-if="hasActionsInProgress()">
                <p>
                    <i class="p-icon--spinner u-animation--spin"></i>
                    <span data-ng-if="action.option.sentence === 'delete'">
                        Deleting {$ action.progress.total $}
                        <span data-ng-if="page === 'kvm'" data-ng-pluralize count="selectedItems.length" when="{'one': 'KVM', 'other': 'KVMs'}"></span>
                        <span data-ng-if="page === 'rsd'" data-ng-pluralize count="selectedItems.length" when="{'one': 'RSD', 'other': 'RSDs'}"></span>
                    </span>
                    <span data-ng-if="action.option.sentence === 'refresh'">
                        Refreshing {$ action.progress.total $}
                        <span data-ng-if="page === 'kvm'" data-ng-pluralize count="selectedItems.length" when="{'one': 'KVM', 'other': 'KVMs'}"></span>
                        <span data-ng-if="page === 'rsd'" data-ng-pluralize count="selectedItems.length" when="{'one': 'RSD', 'other': 'RSDs'}"></span>
                    </span>
                    <span data-ng-if="action.option.sentence !== 'delete' || action.option.sentence !== 'refresh'">
                        Finished performing {$ action.option.sentence $} on {$ action.progress.completed $} of {$ action.progress.total $}
                        <span data-ng-if="page === 'kvm'" data-ng-pluralize count="selectedItems.length" when="{'one': 'KVM', 'other': 'KVMs'}"></span>
                        <span data-ng-if="page === 'rsd'" data-ng-pluralize count="selectedItems.length" when="{'one': 'RSD', 'other': 'RSDs'}"></span>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div data-ng-class="{ 'u-hide': !add.open }">
        <maas-obj-form obj="add.obj" manager="podManager" manager-method="createItem"
            save-on-blur="false" after-save="cancelAddPod" data-ng-if="add.open" class="p-form--stacked">
            <div class="row">
                <h3 class="page-header__dropdown-title p-heading--five">Add {$ getPageHeading() $}</h3>
            </div>
            <div class="row">
                <div class="col-6">
                    <maas-obj-field type="text" key="name" label="Name" label-width="2" input-width="4" placeholder="Name (optional)"></maas-obj-field>
                    <maas-obj-field type="options" key="zone" label="Zone" subtle="false" placeholder="Choose a zone" label-width="2" input-width="4" options="zone.id as zone.name for zone in zones"></maas-obj-field>
                    <maas-obj-field type="options" key="pool" label="Resource pool" subtle="false" placeholder="Choose a pool" label-width="2" input-width="4" options="pool.id as pool.name for pool in pools"></maas-obj-field>
                </div>
                <div class="col-6">
                    <maas-pod-parameters class="row" hide-slider="true" hide-type="true"></maas-pod-parameters>
                </div>
            </div>
            <div class="p-strip is-shallow">
                <div class="row">
                    <hr />
                    <div class="col-12">
                        <p maas-obj-hide-saving class="u-no-margin--bottom"><maas-obj-errors></maas-obj-errors></p>
                        <p maas-obj-show-saving class="u-no-margin--bottom"><maas-obj-saving>Trying to connect and discover {$ getPageHeading() $}</maas-obj-saving></p>
                        <div class="page-header__controls u-no-margin--top" maas-obj-hide-saving>
                            <button class="p-button--base is-inline" type="button" data-ng-click="cancelAddPod()">Cancel</button>
                            <button class="p-button--positive is-inline u-no-margin--top" maas-obj-save>Save {$ getPageHeading() $}</button>
                        </div>
                    </div>
                </div>
            </div>
        </maas-obj-form>
    </div>
</header>

<div class="p-strip">
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
    <div class="row">
        <div class="col-12 u-align--center">
            <div data-ng-if="!loading && pods.length == 0" class="p-heading-icon">
                <svg width="85px" height="104px" viewBox="0 0 85 104" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>add-kvm</title>
                    <defs></defs>
                    <g id="Pod-creation" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="003_Pod---empty-state" transform="translate(-677.000000, -320.000000)">
                            <g id="Empty-state" transform="translate(337.000000, 320.000000)">
                                <g id="add-pod" transform="translate(340.000000, 0.000000)">
                                    <path d="M42.2502469,126.44299 L42.2502469,42.4025859" id="path4205" stroke="#888888" stroke-width="4" transform="translate(42.774938, 84.422788) rotate(-90.000000) translate(-42.774938, -84.422788) "></path>
                                    <path d="M50.6453086,78.1197576 L35.9539506,78.1197576" id="path4207" stroke="#888888" stroke-width="4" transform="translate(43.299630, 78.645010) rotate(-90.000000) translate(-43.299630, -78.645010) "></path>
                                    <path d="M5.94160494,79.6955152 L22.7317284,79.6955152 L22.7317284,75.4934949 L10.1391358,75.4934949 L10.1391358,-0.142868687 L22.7317284,-0.142868687 L22.7317284,-4.34488889 L5.94160494,-4.34488889 L5.94160494,79.6955152 Z M29.0280247,79.6955152 L45.8181481,79.6955152 L45.8181481,75.4934949 L29.0280247,75.4934949 L29.0280247,79.6955152 Z M29.0280247,-0.0378181818 L45.8181481,-0.0378181818 L45.8181481,-4.23983838 L29.0280247,-4.23983838 L29.0280247,-0.0378181818 Z M52.1144444,79.6955152 L79.3983951,79.6955152 L79.3983951,-4.34488889 L52.1144444,-4.34488889 L52.1144444,-0.142868687 L75.2008642,-0.142868687 L75.2008642,75.4934949 L52.1144444,75.4934949 L52.1144444,79.6955152 Z" id="rect4236" fill="#888888" transform="translate(42.670000, 37.675313) rotate(-90.000000) translate(-42.670000, -37.675313) "></path>
                                    <path d="M42.2502469,67.6147071 L42.2502469,-16.425697" id="path4238" stroke="#888888" stroke-width="4" transform="translate(42.774938, 25.594505) rotate(-90.000000) translate(-42.774938, -25.594505) "></path>
                                    <path d="M42.2502469,90.7258182 L42.2502469,6.68541414" id="path4240" stroke="#888888" stroke-width="4" transform="translate(42.774938, 48.705616) rotate(-90.000000) translate(-42.774938, -48.705616) "></path>
                                    <polygon id="rect4242" fill="#888888" transform="translate(17.522593, 14.553697) rotate(-90.000000) translate(-17.522593, -14.553697) " points="20.6707407 20.8567273 20.6707407 8.25066667 14.3744444 8.25066667 14.3744444 20.8567273"></polygon>
                                    <polygon id="rect4244" fill="#888888" transform="translate(17.522593, 37.664808) rotate(-90.000000) translate(-17.522593, -37.664808) " points="20.6707407 43.9678384 20.6707407 31.3617778 14.3744444 31.3617778 14.3744444 43.9678384"></polygon>
                                    <polygon id="rect4246" fill="#888888" transform="translate(17.522593, 60.775919) rotate(-90.000000) translate(-17.522593, -60.775919) " points="20.6707407 67.0789495 20.6707407 54.4728889 14.3744444 54.4728889 14.3744444 67.0789495"></polygon>
                                    <ellipse id="path4208" fill="#888888" transform="translate(42.708827, 97.542545) rotate(-180.000000) translate(-42.708827, -97.542545) " cx="42.7088272" cy="97.5425455" rx="6.2962963" ry="6.3030303"></ellipse>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <h3 class="p-heading-icon__title p-heading--four u-no-max-width u-sv3">You have not added any KVMs yet.</h3>
                <button class="p-button--positive is-inline u-no-margin--left ng-scope" data-ng-click="addPod()" data-ng-if="!add.open && canAddPod()">Add {$ getPageHeading() $}</button>
            </div>
        </div>
        <div class="row">
            <table class="p-table-expanding p-table--sortable p-table--pods" data-ng-if="pods.length > 0">
                <thead>
                    <tr class="p-table__row">
                        <th class="p-table__cell p-double-row">
                            <input
                                class="p-table--pods-checkbox"
                                id="check-all-pods"
                                ng-checked="allViewableChecked"
                                ng-click="toggleCheckAll()"
                                ng-disabled="add.open || hasActionsInProgress()"
                                ng-if="showActions()"
                                type="checkbox"
                            />
                            <label
                                class="p-table--pods-checkbox-label"
                                for="check-all-pods"
                                ng-if="showActions()"
                            ></label>
                            <span role="columnheader" data-ng-click="sortTable('name')" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">
                                FQDN
                            </span>
                        </th>
                        <th class="p-table__cell" title="Power">
                            Power
                        </th>
                        <th class="p-table__cell p-double-row">
                            <div role="columnheader" data-ng-click="sortTable('type')" data-ng-class="{'is-sorted': predicate === 'type', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" title="KVM host type">
                                KVM host type
                            </div>
                            <div class="p-double-row__muted-row">Virsh</div>
                        </th>
                        <th class="p-table__cell p-double-row u-align--right">
                            <div role="columnheader" data-ng-click="sortTable('composed_machines')" data-ng-class="{'is-sorted': predicate === 'composed_machines', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" title="VMs">
                                VM<span style="text-transform: lowercase;">s</span>
                            </div>
                            <div class="p-double-row__muted-row">Owners</div>
                        </th>
                        <th class="p-table__cell" title="Status">
                            Status
                        </th>
                        <th class="p-table__cell p-double-row" title="Resource pool">
                            <div>Resource pool</div>
                            <div class="p-double-row__muted-row">AZ</div>
                        </th>
                        <th class="p-table__cell">
                            <div role="columnheader" data-ng-click="sortTable('available.cores')" data-ng-class="{'is-sorted': predicate === 'available.cores', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" title="CPU">
                                CPU
                            </div>
                        </th>
                        <th class="p-table__cell">
                            <div role="columnheader" data-ng-click="sortTable('available.memory')" data-ng-class="{'is-sorted': predicate === 'available.memory', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" title="RAM">
                                RAM
                            </div>
                        </th>
                        <th class="p-table__cell">
                            <div title="Storage">
                                Storage
                            </div>
                        </th>
                        <th class="p-table__cell">
                            <div class="u-align--right">Actions</div>
                        </th>
                    </tr>
                </thead>
                <tbody vs-repeat vs-scroll-parent="window">
                    <tr class="p-table__row" data-ng-repeat="pod in filteredItems = (filterPods(pods) | nodesFilter:search | orderBy:predicate:reverse) track by pod.id" data-ng-class="{ selected: pod.$selected, 'is-active': pod.$selected && pod.action_failed }">
                        <td class="p-table__cell" aria-label="Name" title="{$ pod.name $}">
                            <div class="p-double-row__checkbox" data-ng-if="showActions()">
                                <input
                                    class="p-table--pods-checkbox"
                                    id="{$ pod.id $}"
                                    ng-checked="pod.$selected"
                                    ng-click="toggleChecked(pod)"
                                    ng-disabled="add.open || hasActionsInProgress()"
                                    type="checkbox"
                                />
                                <label
                                    class="p-table--pods-checkbox-label"
                                    for="{$ pod.id $}"
                                ></label>
                                <a href="#/{$ getDetailsRoute() $}/{$ pod.id $}"><strong>{$ pod.name $}</strong></a>
                            </div>
                        </td>
                        <td class="p-table__cell" aria-label="Power" title="Power">&ndash;</td>
                        <td
                            aria-label="KVM host type"
                            class="p-table__cell p-double-row"
                            title="{$ getPowerTypeTitle(pod.type) $}"
                        >
                            <div class="p-double-rows__container">
                                <div class="p-double-row__main-row">
                                    <span class="u-text-overflow">{$ getPowerTypeTitle(pod.type) $}</span>
                                </div>
                                <div class="p-double-row__muted-row">
                                    <span class="u-text-overflow">{$ pod.power_address $}</span>
                                </div>
                            </div>
                        </td>
                        <td class="p-table__cell p-double-row" aria-label="VMs" title="{$ pod.composed_machines_count $}">
                            <div class="p-double-rows__container">
                                <div class="p-double-row__main-row u-align--right">
                                    {$ pod.composed_machines_count $}
                                </div>
                                <div class="p-double-row__muted-row u-align--right">
                                    &ndash;
                                </div>
                            </div>
                        </td>
                        <td class="p-table__cell" aria-label="Status" title="Status">&ndash;</td>
                        <td class="p-table__cell p-double-row" aria-label="Resource pool" title="Resource pool">
                            <div class="p-double-rows__container">
                                <div class="p-double-row__main-row">
                                    {$ getItemName(pod.pool, pools) $}
                                </div>
                                <div class="p-double-row__muted-row">
                                    {$ getItemName(pod.zone, zones) $}
                                </div>
                            </div>
                        </td>
                        <td class="p-table__cell p-double-row" aria-label="Cores" title="{$ availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio, 1) $} CPU cores {$ pod.cpu_over_commit_ratio !== 1 ? 'x ' + pod.cpu_over_commit_ratio + ' overcommit' : '' $} available">
                            <div class="p-popover--left">
                                <div class="p-double-rows__container">
                                    <div class="p-double-row__main-row">
                                        <maas-cores-chart used="pod.used.cores" total="pod.total.cores" overcommit="pod.cpu_over_commit_ratio"></maas-cores-chart>
                                    </div>
                                    <div class="p-double-row__muted-row u-align--right">
                                        {$ pod.total.cores * pod.cpu_over_commit_ratio $}
                                    </div>
                                    <div class="p-popover__content is-small">
                                        <div class="p-popover-key__row">
                                            <div class="p-popover-key__cell">Cores</div>
                                            <div class="p-popover-key__cell">{$ pod.total.cores $}</div>
                                            <div class="p-popover-key__cell"><span class="p-cores-chart__key--cores"></span></div>
                                        </div>
                                        <div class="p-popover-key__row" data-ng-if="pod.cpu_over_commit_ratio !== 1">
                                            <div class="p-popover-key__cell">Overcommit (x{$ pod.cpu_over_commit_ratio $})</div>
                                            <div class="p-popover-key__cell">{$ pod.total.cores * pod.cpu_over_commit_ratio $}</div>
                                            <div class="p-popover-key__cell"><span class="p-cores-chart__key--overcommit"></span></div>
                                        </div>
                                        <div class="p-popover-key__row p-popover-key__row--spacer">
                                            <div class="p-popover-key__cell"></div>
                                            <div class="p-popover-key__cell"></div>
                                            <div class="p-popover-key__cell"></div>
                                        </div>
                                        <div class="p-popover-key__row">
                                            <div class="p-popover-key__cell">Used</div>
                                            <div class="p-popover-key__cell">{$ pod.used.cores $}</div>
                                            <div class="p-popover-key__cell"><span class="p-cores-chart__key--used"></span></div>
                                        </div>
                                        <div class="p-popover-key__row">
                                            <div class="p-popover-key__cell">Available</div>
                                            <div class="p-popover-key__cell">{$ availableWithOvercommit(pod.total.cores, pod.used.cores, pod.cpu_over_commit_ratio, 1) $}</div>
                                            <div class="p-popover-key__cell"><span class="p-cores-chart__key--available"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-table__cell p-double-row" aria-label="RAM (GiB)" title="{$ availableWithOvercommit(pod.total.memory_gb, pod.used.memory_gb, pod.memory_over_commit_ratio, 1) $} {$ pod.memory_over_commit_ratio !== 1 ? 'x ' + pod.total.memory_gb + ' overcommit' : '' $}">
                            <div class="p-double-rows__container">
                                <div class="p-double-row__main-row">
                                    <meter class="p-meter p-meter--thin" max="{$ pod.total.memory * pod.memory_over_commit_ratio $}" value="{$ getMeterValue(pod.total.memory * pod.memory_over_commit_ratio, pod.used.memory) $}" ng-class="{'is-over': pod.used.memory > pod.total.memory * pod.memory_over_commit_ratio}"></meter>
                                </div>
                                <div class="p-double-row__muted-row u-align--right">
                                    {$ pod.used.memory * 1000 * 1000 | formatBytes $}
                                </div>
                            </div>
                        </td>
                        <td class="p-table__cell p-double-row" aria-label="Storage" style="overflow: visible">
                            <div class="p-popover--left">
                                <div class="p-double-rows__container">
                                    <div class="p-double-row__main-row">
                                        <meter class="p-meter p-meter--thin" max="{$ pod.total.local_storage $}" value="{$ getMeterValue(pod.total.local_storage, pod.used.local_storage) $}" ng-class="{'is-over': pod.used.local_storage > pod.total.local_storage}">
                                        </meter>
                                    </div>
                                    <div class="p-double-row__muted-row u-align--right">
                                        {$ pod.used.local_storage | formatBytes $}
                                    </div>
                                    <div class="p-popover__content">
                                        <div class="row">
                                            <table class="p-meter__table">
                                                <thead>
                                                    <tr>
                                                        <th class="u-no-padding--left u-no-padding--bottom">Local</th>
                                                        <th class="u-no-padding--bottom u-align--right">
                                                            <span class="text-base">
                                                                {$ pod.default_pool_data.total | formatBytes $}
                                                            </span>
                                                        </th>
                                                        <th>
                                                            <ul class="p-legend--table-header">
                                                                <li class="p-legend__item p-legend__item--used">
                                                                    <div class="p-legend__text text-base">
                                                                        Used
                                                                    </div>
                                                                </li>
                                                                <li class="p-legend__item p-legend__item--free">
                                                                    <div class="p-legend__text text-base">
                                                                        Free
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="p-double-row u-no-padding--left">
                                                            <div class="p-double-rows__container">
                                                                <div class="p-double-row__main-row">
                                                                    {$ pod.default_pool_data.name $}
                                                                </div>
                                                                <div class="p-double-row__muted-row">
                                                                    {$ pod.default_pool_data.path $}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="p-double-row">
                                                            <div class="p-double-rows__container">
                                                                <div class="p-double-row__main-row u-align--right">
                                                                    {$ pod.default_pool_data.type $}
                                                                </div>
                                                                <div class="u-align--right">
                                                                    {$ pod.default_pool_data.total | formatBytes $}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="p-double-rows__container">
                                                            <div class="p-double-row__main-row">
                                                                <meter class="p-meter" max="{$ pod.total.local_storage $}"
                                                                    value="{$ getMeterValue(pod.total.local_storage, pod.used.local_storage) $}"
                                                                    ng-class="{'is-over': pod.used.local_storage > pod.total.local_storage}">
                                                                </meter>
                                                            </div>
                                                            <div>
                                                                <ul class="p-legend--table-row">
                                                                    <li class="p-legend__item p-legend__item--used">
                                                                        <div class="p-legend__text">
                                                                            {$ pod.default_pool_data.used | formatBytes $}
                                                                        </div>
                                                                    </li>
                                                                    <li class="p-legend__item p-legend__item--free">
                                                                        <div class="p-legend__text">
                                                                            {$ pod.default_pool_data.available | formatBytes $}
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <table class="p-meter__table">
                                                <thead>
                                                    <tr>
                                                        <th class="u-no-padding--left">Network</th>
                                                        <th class="u-align--right">
                                                            <span class="text-base">{$ getTotalNetworkDiskSize(pod) | formatBytes $}</span>
                                                        </th>
                                                        <th>&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="pool in pod.storage_pools" data-ng-if="pool.id !== pod.default_storage_pool">
                                                        <td class="p-double-row u-no-padding--left">
                                                            <div class="p-double-rows__container">
                                                                <div class="p-double-row__main-row">
                                                                    {$ pool.name $}
                                                                </div>
                                                                <div class="p-double-row__muted-row">
                                                                    {$ pool.path $}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="p-double-row">
                                                            <div class="p-double-rows__container">
                                                                <div class="p-double-row__main-row u-align--right">
                                                                    {$ pool.type $}
                                                                </div>
                                                                <div class="u-align--right">
                                                                    {$ pool.total | formatBytes $}
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="p-double-row u-align--right">
                                                            <div class="p-double-rows__container">
                                                                <div class="p-double-row__main-row">
                                                                    <meter class="p-meter" max="{$ pool.total $}" value="{$ getMeterValue(pool.total, pool.used) $}" ng-class="{'is-over': pool.used > pool.total}">
                                                                </div>
                                                                <div>
                                                                    <ul class="p-legend--table-row">
                                                                        <li class="p-legend__item p-legend__item--used">
                                                                            <div class="p-legend__text">
                                                                                {$ pool.used | formatBytes $}
                                                                            </div>
                                                                        </li>
                                                                        <li class="p-legend__item p-legend__item--free">
                                                                            <div class="p-legend__text">
                                                                                {$ pool.available | formatBytes $}
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="p-table-expanding__panel col-12" data-ng-if="pod.$selected && pod.action_failed">
                            <div aria-label="label" class="table__data">
                                <p><i class="p-icon--error">Error:</i> {$ pod.action_error $}</p>
                            </div>
                        </td>
                        <td class="p-table__cell p-table--action-cell">
                            <div class="u-align--right">
                                <div class="p-contextual-menu" toggle-ctrl>
                                    <button
                                        class="p-button--base is-small p-contextual-menu__toggle u-no-margin--right"
                                        ng-class="{ 'u-mirror--y': isToggled }"
                                        ng-click="toggleMenu()"
                                    >
                                        <i class="p-icon--contextual-menu u-no-margin--right">Actions</i>
                                    </button>
                                    <div class="p-contextual-menu__dropdown" role="menu" data-ng-show="isToggled" style="width: auto">
                                        <button class="p-contextual-menu__link" aria-label="Refresh" data-ng-click="handleMachineAction(pod, 'refresh')">Refresh</button>
                                        <button class="p-contextual-menu__link" aria-label="Delete" data-ng-click="handleMachineAction(pod, 'delete')">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
