<li class="help-msg">
  <label>HTTP proxy used by MAAS to download images, and by provisioned machines for APT and YUM packages.</label>
</li>
<li>
  <input type="radio" ng-model="proxy_type" name="maas_proxy"
         id="maas_no_proxy" value="no-proxy">
  <label for="maas_no_proxy">Don't use a proxy</label>
</li>
<li>
  <input type="radio" ng-model="proxy_type" name="maas_proxy"
         id="maas_builtin_proxy" value="builtin-proxy">
  <label for="maas_builtin_proxy">MAAS Built-in</label>
</li>
<li>
  <input type="radio" ng-model="proxy_type" name="maas_proxy" id="maas_external_proxy" value="external-proxy">
  <label for="maas_external_proxy">External</label>
  <input type="url" ng-if="proxy_type == 'external-proxy'"
         id="id_proxy-http_proxy" name="proxy-http_proxy"
         ng-model="httpProxy.value" value="{$ httpProxy.value $}">
  <p ng-if="proxy_type == 'external-proxy'" class="p-form-help-text">
    Enter the external proxy URL MAAS will use to download images and
    machines to download APT packages.
  </p>
</li>
<li>
  <input type="radio" ng-model="proxy_type" name="maas_proxy" id="maas_peer_proxy" value="peer-proxy">
  <label for="maas_peer_proxy">Peer</label>
  <input type="url" ng-if="proxy_type == 'peer-proxy'"
         id="id_proxy-http_proxy" name="proxy-http_proxy"
         ng-model="httpProxy.value" value="{$ httpProxy.value $}">
  <p ng-if="proxy_type == 'peer-proxy'" class="p-form-help-text">
    Enter the external proxy URL that the MAAS built-in proxy will use
    as an upstream cache peer. Machines will be configured to use MAAS'
    built-in proxy to download APT packages.
  </p>
</li>
<li>
<input type="hidden" id="id_proxy-enable_http_proxy"
       name="proxy-enable_http_proxy"
       value="{$ proxy_type == 'no-proxy' ? 'False' : 'True' $}" >
<input type="hidden" id="id_proxy-use_peer_proxy"
       name="proxy-use_peer_proxy"
       value="{$ proxy_type == 'peer-proxy' ? 'True' : 'False' $}" >
</li>
