<div sticky media-query="min-width: 769px">
    <header class="page-header u-margin--bottom-none">
        <div class="wrapper--inner">
            <h1 class="page-header__title">Settings</h1>
            <p class="page-header__status" data-ng-show="loading"><span class="u-text--loading">
                <i class="icon icon--loading u-animation--spin"></i> Loading...</span>
            </p>
        </div>
    </header>
    <div class="page-navigation">
        <div class="wrapper--inner">
            <nav class="page-navigation__links">
                <a role="tab" class="page-navigation__link" href="settings/">General</a>
                <a role="tab" class="page-navigation__link" href="#/settings/dhcp"
                    data-ng-class="{ 'is-active': currentpage === 'dhcp'}">DHCP Snippets</a>
                <a role="tab" class="page-navigation__link" href="#/settings/repositories"
                    data-ng-class="{ 'is-active': currentpage === 'repositories'}">Package repositories</a>
            </nav>
        </div>
    </div>
</div>
<div data-ng-show="!loading && currentpage === 'dhcp'" width-width>
    <section class="row u-padding--top-none">
        <div class="wrapper--inner">
            <div>
                <!-- XXX 04-01-2016 blake_r: Need to add the ability to show the compiled DHCP configuration.
                <div class="twelve-col">
                    <div class="four-col last-col align-right">
                        <a href="" class="u-margin--top u-float--right">View compiled configuration</a>
                    </div>
                </div>
                -->
                <div class="twelve-col">
                    <div class="table u-margin--bottom">
                        <div class="table__head">
                            <div class="table__row">
                                <div class="table__header table-col--20">Name</div>
                                <div class="table__header table-col--15">Type</div>
                                <div class="table__header table-col--35">Applies to</div>
                                <div class="table__header table-col--30">Enabled</div>
                            </div>
                        </div>
                        <div class="table__body">
                            <div class="table__row"
                                data-ng-repeat="snippet in snippets track by snippet.id"
                                data-ng-class="{ 'is-active': editSnippet === snippet || deleteSnippet === snippet }">
                                <div data-ng-if="editSnippet !== snippet">
                                    <div class="table__data table-col--20" aria-label="Name">
                                        <span>{$ snippet.name $}</span>
                                    </div>
                                    <div class="table__data table-col--15" aria-label="Type">
                                        <span>{$ getSnippetTypeText(snippet) $}</span>
                                    </div>
                                    <div class="table__data table-col--35" aria-label="Applies to">
                                        <span>{$ getSnippetAppliesToText(snippet) $}</span>
                                    </div>
                                    <div class="table__data table-col--10" aria-label="Enabled">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="enabled-{$ snippet.id $}"
                                                data-ng-model="snippet.enabled"
                                                data-ng-change="snippetToggle(snippet)">
                                            <label class="onoffswitch-label" for="enabled-{$ snippet.id $}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="table__data table--mobile-controls table-col--20">
                                        <div class="table__controls">
                                            <div data-ng-if="windowWidth >= 769">
                                                <button class="icon icon--edit tooltip" aria-label="Edit"
                                                    data-ng-click="snippetEnterEdit(snippet)">Edit</button>
                                                <button class="icon icon--delete tooltip u-margin--left" aria-label="Remove"
                                                    data-ng-click="snippetEnterRemove(snippet)">Remove</button>
                                            </div>
                                            <div data-ng-if="windowWidth <= 786">
                                                <button class="button--secondary" aria-label="Edit"
                                                    data-ng-click="snippetEnterEdit(snippet)">Edit</button>
                                                <button class="button--secondary" aria-label="Remove"
                                                    data-ng-click="snippetEnterRemove(snippet)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <maas-obj-form obj="editSnippet" manager="snippetsManager" manager-method="updateItem"
                                    table-form="true" save-on-blur="false" after-save="snippetExitEdit"
                                    data-ng-if="editSnippet === snippet">
                                    <div class="table__data table-col--20">
                                        <maas-obj-field type="text" key="name" placeholder="Name" class="u-margin--none"
                                            disable-label="true" input-class="table__input u-margin--none"></maas-obj-field>
                                    </div>
                                    <div class="table__data table-col--15">
                                        <maas-obj-field type="options" key="type" placeholder="Select type"
                                            disable-label="true" input-class="table__input u-margin--none"
                                            class="u-margin--none" options="type for type in snippetTypes"></maas-obj-field>
                                    </div>
                                    <div class="table__data table-col--35">
                                        <maas-obj-field type="options" key="subnet" placeholder="Choose subnet"
                                            disable-label="true" input-class="table__input u-margin--none" class="u-margin--none"
                                            options="subnet.id as getSubnetName(subnet) for subnet in subnets"
                                            data-ng-if="editSnippet.$maasForm.getValue('type') === 'Subnet'"></maas-obj-field>
                                        <maas-obj-field type="options" key="node" placeholder="Choose node"
                                            disable-label="true" input-class="table__input u-margin--none" class="u-margin--none"
                                            options="node.system_id as node.fqdn group by node.node_type_display for node in machines.concat(devices).concat(controllers)"
                                            data-ng-if="editSnippet.$maasForm.getValue('type') === 'Node'"></maas-obj-field>
                                    </div>
                                    <div class="table__data table-col--10"></div>
                                    <div class="table__data table-col--20">
                                        <div class="table__controls">
                                            <button class="icon icon--edit tooltip" aria-label="Edit">Edit</button>
                                            <button class="icon icon--delete tooltip u-margin--left" aria-label="Remove"
                                                data-ng-click="snippetEnterRemove(snippet)">Remove</button>
                                        </div>
                                    </div>
                                    <div class="table__dropdown">
                                        <div class="table__dropdown-title">
                                            <h2 data-ng-click="snippetExitEdit(snippet)" class="u-float--left">Editing {$ snippet.name $}</h2>
                                            <button data-ng-click="snippetExitEdit(snippet)" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                        </div>
                                        <div class="table__row form is-active">
                                            <div class="table__data table-col--100 u-padding--top-none">
                                                <div data-ng-if="windowWidth <= 768">
                                                    <maas-obj-field type="text" key="name" placeholder="Name"
                                                        label="Name" input-class="table__input u-margin--none"></maas-obj-field>
                                                    <maas-obj-field type="options" key="type" placeholder="Select type"
                                                        label="Select type" input-class="table__input u-margin--none"
                                                        options="type for type in snippetTypes"></maas-obj-field>
                                                    <maas-obj-field type="options" key="subnet" placeholder="Choose subnet"
                                                        label="Choose subnet" input-class="table__input u-margin--none"
                                                        options="subnet.id as getSubnetName(subnet) for subnet in subnets"
                                                        data-ng-if="editSnippet.$maasForm.getValue('type') === 'Subnet'"></maas-obj-field>
                                                    <maas-obj-field type="options" key="node" placeholder="Choose node"
                                                        label="Choose node" input-class="table__input u-margin--none"
                                                        options="node.system_id as node.fqdn group by node.node_type_display for node in machines.concat(devices).concat(controllers)"
                                                        data-ng-if="editSnippet.$maasForm.getValue('type') === 'Node'"></maas-obj-field>
                                                </div>
                                                <maas-obj-field type="textarea" key="value" placeholder="Custom DHCP snippet"
                                                    disable-label="true" input-width="twelve"></maas-obj-field>
                                            </div>
                                        </div>
                                        <div class="table__row is-active">
                                          <div class="table__data u-float--left">
                                              <maas-obj-errors></maas-obj-errors>
                                          </div>
                                          <div class="table__data u-float--right">
                                              <button class="button--base button--inline"
                                                  data-ng-click="snippetExitEdit(snippet)">Cancel</button>
                                              <button class="button--positive button--inline" maas-obj-save>Save snippet</button>
                                          </div>
                                        </div>
                                    </div>
                                </maas-obj-form>
                                <div class="table__dropdown" data-ng-if="deleteSnippet === snippet">
                                    <div class="table__dropdown-title">
                                        <h2 data-ng-click="snippetExitRemove(snippet)" class="u-float--left">Removing {$ snippet.name $}</h2>
                                        <button data-ng-click="snippetExitRemove(snippet)" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                    </div>
                                    <div class="table__row is-active">
                                        <div class="table__data u-float--left">
                                              <p><span class="icon icon--warning u-margin--right-small"></span> Are you sure you want to remove this snippet?</p>
                                        </div>
                                        <div class="table__data u-float--right">
                                              <button class="button--base button--inline" data-ng-click="snippetExitRemove(snippet)">Cancel</button>
                                              <button class="button--destructive button--inline" data-ng-click="snippetConfirmRemove(snippet)">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table__row is-active" data-ng-if="newSnippet">
                                <maas-obj-form obj="newSnippet" manager="snippetsManager" manager-method="createItem"
                                    table-form="true" save-on-blur="false" after-save="snippetAddCancel">
                                    <div class="table__dropdown">
                                        <div class="table__dropdown-title">
                                            <h2 data-ng-click="snippetAddCancel()" class="u-float--left">Adding snippet</h2>
                                            <button data-ng-click="snippetAddCancel()" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                        </div>
                                        <div class="table__row form is-active">
                                            <div data-ng-if="windowWidth >= 769">
                                                <div class="table__data table-col--20">
                                                    <label for="name" class="u-display--mobile">Name</label>
                                                    <maas-obj-field type="text" key="name" placeholder="Name"
                                                        disable-label="true" input-class="table__input u-margin--none" class="u-margin--bottom-none"></maas-obj-field>
                                                </div>
                                                <div class="table__data table-col--15">
                                                    <label for="Select type" class="u-display--mobile">Select type</label>
                                                    <maas-obj-field type="options" key="type" class="u-margin--bottom-none" placeholder="Select type"
                                                        disable-label="true" input-class="table__input u-margin--none"
                                                        options="type for type in snippetTypes"></maas-obj-field>
                                                </div>
                                                <div class="table__data table-col--35">
                                                    <label for="subnet" class="u-display--mobile" data-ng-if="newSnippet.$maasForm.getValue('type') === 'Subnet'">Choose subnet</label>
                                                    <label for="node" class="u-display--mobile" data-ng-if="newSnippet.$maasForm.getValue('type') === 'Node'">Choose node</label>
                                                    <maas-obj-field type="options" key="subnet" placeholder="Choose subnet"
                                                        disable-label="true" input-class="table__input u-margin--none"
                                                        options="subnet.id as getSubnetName(subnet) for subnet in subnets"
                                                        data-ng-if="newSnippet.$maasForm.getValue('type') === 'Subnet'"></maas-obj-field>
                                                    <maas-obj-field type="options" key="node" placeholder="Choose node"
                                                        disable-label="true" input-class="table__input u-margin--none"
                                                        options="node.system_id as node.fqdn group by node.node_type_display for node in machines.concat(devices).concat(controllers)"
                                                        data-ng-if="newSnippet.$maasForm.getValue('type') === 'Node'">
                                                    </maas-obj-field>
                                                </div>
                                                <div class="table__data table-col--10">
                                                    <div class="form__group">
                                                        <label for="enable" class="form__group-label u-display--mobile">Enable</label>
                                                        <div class="form__group-input">
                                                            <div class="onoffswitch">
                                                                <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="newEnabled"
                                                                    data-ng-model="newSnippet.data.enabled"
                                                                    data-ng-disabled="newSnippet.saving" checked>
                                                                <label class="onoffswitch-label" for="newEnabled">
                                                                    <span class="onoffswitch-inner"></span>
                                                                    <span class="onoffswitch-switch"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table__data" data-ng-if="windowWidth <= 768">
                                                <maas-obj-field type="text" key="name" placeholder="Name"
                                                    label="Name" input-class="table__input"></maas-obj-field>
                                                <maas-obj-field type="options" key="type" placeholder="Select type"
                                                    label="Select type" input-class="table__input"
                                                    options="type for type in snippetTypes"></maas-obj-field>
                                                <maas-obj-field type="options" key="subnet" placeholder="Choose subnet"
                                                    label="Choose subnet" input-class="table__input u-margin--none"
                                                    options="subnet.id as getSubnetName(subnet) for subnet in subnets"
                                                    data-ng-if="newSnippet.$maasForm.getValue('type') === 'Subnet'"></maas-obj-field>
                                                <maas-obj-field type="options" key="node" placeholder="Choose node"
                                                    label="Choose node" input-class="table__input u-margin--none"
                                                    options="node.system_id as node.fqdn group by node.node_type_display for node in machines.concat(devices).concat(controllers)"
                                                    data-ng-if="newSnippet.$maasForm.getValue('type') === 'Node'">
                                                </maas-obj-field>
                                                <dl>
                                                    <dt>
                                                        <label for="newEnabled">Enabled</label>
                                                    </dt>
                                                      <dd>
                                                          <div class="onoffswitch u-margin--top-small">
                                                              <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="newEnabled"
                                                                  data-ng-model="newSnippet.data.enabled"
                                                                  data-ng-disabled="newSnippet.saving" checked>
                                                              <label class="onoffswitch-label" for="newEnabled">
                                                                  <span class="onoffswitch-inner"></span>
                                                                  <span class="onoffswitch-switch"></span>
                                                              </label>
                                                          </div>
                                                      </dd>
                                                </dl>
                                            </div>
                                            <div class="table__data table-col--100 u-padding--top-none">
                                                <maas-obj-field type="textarea" key="value" placeholder="Custom DHCP snippet"
                                                    disable-label="true" input-width="twelve"></maas-obj-field>
                                            </div>
                                        </div>
                                        <div class="table__row is-active">
                                          <div class="table__data u-float--left">
                                              <maas-obj-errors></maas-obj-errors>
                                          </div>
                                          <div class="table__data u-float--right">
                                              <button class="button--base button--inline"
                                                  data-ng-click="snippetAddCancel()">Cancel</button>
                                              <button class="button--positive button--inline" maas-obj-save>Save snippet</button>
                                          </div>
                                        </div>
                                    </div>
                                </snapcraft>
                            </div>
                        </div>
                    </div>
                    <button class="button--secondary button--inline"
                        data-ng-disabled="editing"
                        data-ng-if="!newSnippet"
                        data-ng-click="editing || snippetAdd()">Add custom snippet</button>
                </div>

            </div>
            <!--
            XXX 04-01-2016 blake_r: Need to add the ability to show the compiled DHCP configuration.
            <div class="ng-hide">
                <div class="twelve-col">
                    <div class="equal-height">
                        <div class="eight-col">
                            <h2 class="u-margin--none">Compiled configuration</h2>
                        </div>
                        <div class="four-col last-col align-right">
                            <a href="" class="right margin-top">Download as text</a>
                        </div>
                    </div>
                    <div class="twelve-col">
                        <form class="form form--inline">
                            <div class="form__group u-margin--right-small">
                                <label for="" class="u-margin--right-small">Compiled DHCP configuration for</label>
                                <select name="rack" id="rack">
                                    <option value="">rack-controller-1</option>
                                    <option value="">rack-controller-2</option>
                                    <option value="" selected="selected">rack-controller-3</option>
                                </select>
                            </div>
                            <div class="form__group">
                                <label for="" class="u-margin--right-small">For</label>
                                <select name="dhcp" id="dhcp">
                                    <option value="" selected="selected">DHCP v4</option>
                                    <option value="">DHCP v4</option>
                                    <option value="">DHCP v4</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="twelve-col">
                        <pre>
                            <code data-maas-code-lines="getConfigurationData()"></code>
                        </pre>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>
</div>
<div data-ng-show="!loading && currentpage === 'repositories'" window-width>
    <section class="row u-padding--top-none">
        <div class="wrapper--inner">
            <div>
                <div class="twelve-col">
                    <div class="table u-margin--bottom">
                        <div class="table__head">
                            <div class="table__row">
                                <div class="table__header table-col--20">Name</div>
                                <div class="table__header table-col--55">URL</div>
                                <div class="table__header table-col--10">Enabled</div>
                                <div class="table__header table-col--15"></div>
                            </div>
                        </div>
                        <div class="table__body">
                            <div class="table__row" data-ng-hide="repositories.length">
                                <div class="table__header table-col--100">
                                    No package repositories.
                                </div>
                            </div>
                            <div class="table__row"
                                data-ng-repeat="repository in repositories track by repository.id"
                                data-ng-class="{ 'is-active': editRepository === repository || deleteRepository === repository }">
                                <div data-ng-if="editRepository !== repository">
                                    <div class="table__data table-col--20" aria-label="Name">
                                        <span data-ng-if="repository.name === 'main_archive'">
                                            Ubuntu archive
                                        </span>
                                        <span data-ng-if="repository.name === 'ports_archive'">
                                            Ubuntu extra architectures
                                        </span>
                                        <span data-ng-if="repository.name !== 'main_archive' && repository.name !== 'ports_archive'">
                                            {$ repository.name $}
                                        </span>
                                    </div>
                                    <div class="table__data table-col--55" aria-label="URL">{$ repository.url $}</div>
                                    <div class="table__data table-col--10" aria-label="Enabled">
                                        <div class="onoffswitch" data-ng-if="!isMirror(repository)">
                                            <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="enabled-repo-{$ repository.id $}"
                                                data-ng-model="repository.enabled"
                                                data-ng-change="repositoryEnabledToggle(repository)">
                                            <label class="onoffswitch-label" for="enabled-repo-{$ repository.id $}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                        <div class="onoffswitch tooltip"
                                            disabled="disabled"
                                            aria-label="Default Ubuntu repositories cannot be disabled"
                                            data-ng-if="isMirror(repository)">
                                            <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="enabled-repo-{$ repository.id $}"
                                                data-ng-model="repository.enabled">
                                            <label class="onoffswitch-label" for="enabled-repo-{$ repository.id $}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="table__data table--mobile-controls table-col--15">
                                        <div class="table__controls">
                                            <div data-ng-if="windowWidth >= 769">
                                                <button class="icon icon--edit tooltip" aria-label="Edit"
                                                    data-ng-click="repositoryEnterEdit(repository)">Edit</button>
                                                <button class="icon icon--delete tooltip u-margin--left" aria-label="Remove"
                                                    data-ng-if="!isMirror(repository)"
                                                    data-ng-click="repositoryEnterRemove(repository)">Remove</button>
                                            </div>
                                            <div data-ng-if="windowWidth <= 786">
                                                <button class="button--secondary" aria-label="Edit"
                                                    data-ng-click="repositoryEnterEdit(repository)">Edit</button>
                                                <button class="button--secondary" aria-label="Remove"
                                                    data-ng-if="!isMirror(repository)"
                                                    data-ng-click="repositoryEnterRemove(repository)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <maas-obj-form obj="editRepository" manager="packageRepositoriesManager" manager-method="updateItem"
                                    table-form="true" save-on-blur="false" after-save="repositoryExitEdit"
                                    data-ng-if="editRepository === repository">
                                    <div class="table__data table-col--20">
                                        <span data-ng-if="isMirror(repository)">
                                            <span data-ng-if="repository.name === 'main_archive'">
                                                Ubuntu archive
                                            </span>
                                            <span data-ng-if="repository.name === 'ports_archive'">
                                                Ubuntu extra architectures
                                            </span>
                                        </span>
                                        <div data-ng-if="windowWidth > 768">
                                            <maas-obj-field type="text" key="name" placeholder="Name"
                                                disable-label="true" input-class="table__input" class="u-margin--none"
                                                data-ng-if="!isMirror(repository)"></maas-obj-field>
                                        </div>
                                    </div>
                                    <div class="table__data table-col--55">
                                        <div data-ng-if="windowWidth > 768">
                                            <maas-obj-field type="text" key="url" placeholder="URL"
                                                disable-label="true" input-class="table__input" class="u-margin--none"
                                                data-ng-if="editRepository === repository"></maas-obj-field>
                                        </div>
                                    </div>
                                    <div class="table__data table-col--10"></div>
                                    <div class="table__data table-col--15">
                                        <div class="table__controls">
                                            <button class="icon icon--edit tooltip" aria-label="Edit">Edit</button>
                                            <button class="icon icon--delete tooltip u-margin--left" aria-label="Remove"
                                                data-ng-if="!isMirror(repository)"
                                                data-ng-click="repositoryEnterRemove(repository)">Remove</button>
                                        </div>
                                    </div>
                                    <div class="table__dropdown form">
                                        <div class="table__dropdown-title">
                                            <h2 data-ng-click="repositoryExitEdit()" class="u-float--left">
                                              <span data-ng-if="repository.name === 'main_archive'">
                                                  Editing Ubuntu archive
                                              </span>
                                              <span data-ng-if="repository.name === 'ports_archive'">
                                                  Editing Ubuntu extra architectures
                                              </span>
                                              <span data-ng-if="repository.name !== 'main_archive' && repository.name !== 'ports_archive'">
                                                  Editing {$ repository.name $}
                                              </span>
                                            </h2>
                                            <button data-ng-click="repositoryExitEdit()" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                        </div>
                                        <div class="table__row is-active">
                                            <div class="table__data table-col--100 form form--stack">
                                                <div class="form__fieldset six-col">
                                                    <div class="form__group" data-ng-if="windowWidth <= 768" data-ng-if="!isMirror(repository)">
                                                        <maas-obj-field type="text" key="name" placeholder="Name"
                                                            label="Name" input-class="table__input u-margin--none"
                                                            data-ng-if="!isMirror(repository)"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group" data-ng-if="windowWidth <= 768" data-ng-if="editRepository === repository">
                                                        <maas-obj-field type="text" key="url" placeholder="URL"
                                                            label="URL" input-class="table__input u-margin--none"
                                                            data-ng-if="editRepository === repository"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group">
                                                        <maas-obj-field type="textarea" key="key" label="Key"
                                                            label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                </div>
                                                <div class="form__fieldset six-col last-col">
                                                    <div class="form__group u-align--left-mobile">
                                                        <maas-obj-field type="checkboxes" key="arches" label="Architectures"
                                                            label-width="two" input-width="three" values="known_architectures"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group u-align--left-mobile"
                                                        data-ng-if="!isMirror(editRepository) && !isPPA(editRepository)">
                                                        <maas-obj-field type="tags" key="distributions" label="Distributions"
                                                            placeholder="Add a distribution" label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group"
                                                        data-ng-if="!isMirror(editRepository) && !isPPA(editRepository)">
                                                        <maas-obj-field type="tags" key="components" label="Components"
                                                            placeholder="Add a component" label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group u-align--left-mobile"
                                                        data-ng-if="isMirror(editRepository) && !isPPA(editRepository)">
                                                        <maas-obj-field type="checkboxes" key="disabled_pockets" label="Disabled Pockets"
                                                            label-width="two" input-width="three" values="pockets_to_disable"></maas-obj-field>
                                                    </div>
                                                    <div class="form__group u-align--left-mobile"
                                                        data-ng-if="isMirror(editRepository) && !isPPA(editRepository)">
                                                        <maas-obj-field type="checkboxes" key="disabled_components" label="Disabled Components"
                                                            label-width="two" input-width="three" values="components_to_disable"></maas-obj-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table__row is-active">
                                                <div class="table__data u-float--left">
                                                    <maas-obj-errors></maas-obj-errors>
                                                </div>
                                                <div class="table__data u-float--right">
                                                    <button class="button--base button--inline"
                                                        data-ng-click="repositoryExitEdit()">Cancel</button>
                                                    <button class="button--positive button--inline" maas-obj-save>Save repository</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </maas-obj-form>
                                <div class="table__dropdown" data-ng-if="deleteRepository === repository">
                                    <div class="table__dropdown-title">
                                        <h2 data-ng-click="repositoryExitRemove()" class="u-float--left">Removing {$ repository.name $}</h2>
                                        <button data-ng-click="repositoryExitRemove()" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                    </div>
                                    <div class="table__row is-active">
                                        <div class="table__data u-float--left">
                                              <p><span class="icon icon--warning u-margin--right-small"></span> Are you sure you want to remove this repository?</p>
                                        </div>
                                        <div class="table__data u-float--right">
                                              <button class="button--base button--inline" data-ng-click="repositoryExitRemove()">Cancel</button>
                                              <button class="button--destructive button--inline" data-ng-click="repositoryConfirmRemove()">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table__row is-active" data-ng-if="newRepository">
                                <maas-obj-form obj="newRepository" manager="packageRepositoriesManager" manager-method="createItem"
                                    table-form="true" save-on-blur="false" after-save="repositoryAddCancel">
                                    <div class="table__data table-col--20">
                                        <maas-obj-field class="u-margin--none" type="text" key="name" placeholder="Name" disable-label="true" input-class="table__input u-margin--none"></maas-obj-field>
                                    </div>
                                    <div class="table__data table-col--55">
                                        <maas-obj-field class="u-margin--none" type="text" key="url" placeholder="URL" disable-label="true" input-class="table__input u-margin--none"></maas-obj-field>
                                    </div>
                                    <div class="table__data table-col--10">
                                        <maas-obj-field class="u-margin--none" type="onoffswitch" key="enabled" disable-label="true"></maas-obj-field>
                                    </div>
                                    <div class="table__dropdown form">
                                        <div class="table__dropdown-title">
                                            <h2 data-ng-click="repositoryAddCancel" class="u-float--left">Adding <span data-ng-if="isPPA(newRepository)">PPA</span><span data-ng-if="!isPPA(newRepository)">repository</span></h2>
                                            <button data-ng-click="repositoryAddCancel" class="icon icon--remove u-float--right u-margin--top-small u-margin--right-small"></button>
                                        </div>
                                        <div class="table__row is-active">
                                            <div class="table__data table-col--100 form form--stack">
                                                <div class="six-col">
                                                    <div data-ng-if="windowWidth <= 786">
                                                        <maas-obj-field type="text" key="name" placeholder="Name" label="Name" input-class="table__input u-margin--none"></maas-obj-field>
                                                        <maas-obj-field type="text" key="url" placeholder="URL" label="URL" input-class="table__input u-margin--none"></maas-obj-field>
                                                        <dl>
                                                            <dt>Enable</dt>
                                                                <dd>
                                                                    <maas-obj-field type="onoffswitch" key="enabled" disable-label="true"></maas-obj-field>
                                                                </dd>
                                                        </dl>
                                                    </div>
                                                    <div class="form__group">
                                                        <maas-obj-field type="textarea" key="key" label="Key"
                                                            label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                </div>
                                                <div class="six-col last-col">
                                                    <div class="u-align--left-mobile">
                                                        <maas-obj-field type="checkboxes" key="arches" label="Architectures"
                                                            label-width="two" input-width="three" values="known_architectures"></maas-obj-field>
                                                    </div>
                                                    <div data-ng-if="!isPPA(newRepository)">
                                                        <maas-obj-field type="tags" key="distributions" label="Distributions"
                                                            placeholder="Add a distribution" label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                    <div data-ng-if="!isPPA(newRepository)">
                                                        <maas-obj-field type="tags" key="components" label="Components"
                                                            placeholder="Add a component" label-width="two" input-width="three"></maas-obj-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table__row is-active">
                                            <div class="table__data u-float--left">
                                                <maas-obj-errors></maas-obj-errors>
                                            </div>
                                            <div class="table__data u-float--right">
                                                <button class="button--base button--inline"
                                                    data-ng-click="repositoryAddCancel()">Cancel</button>
                                                <button class="button--positive button--inline" maas-obj-save>Add repository</button>
                                            </div>
                                        </div>
                                    </div>
                                </maas-obj-form>
                            </div>
                        </div>
                    </div>
                    <button class="button--secondary button--inline"
                        data-ng-disabled="editing"
                        data-ng-if="!newRepository"
                        data-ng-click="editing || repositoryAdd(true)">Add PPA</button>
                    <button class="button--secondary button--inline"
                        data-ng-disabled="editing"
                        data-ng-if="!newRepository"
                        data-ng-click="editing || repositoryAdd(false)">Add repository</button>
                </div>
            </div>
        </div>
    </section>
</div>
