<header class="p-strip--light is-shallow u-no-padding--bottom page-header u-no-padding--bottom">
    <div class="row">
        <h1 class="page-header__title">Settings</h1>
        <p class="page-header__status" data-ng-show="loading"><span class="u-text--loading">
            <i class="p-icon--spinner u-animation--spin"></i> Loading...</span>
        </p>
    </div>
    <nav class="p-tabs u-hr--fixed-width">
        <div class="row">
            <ul class="p-tabs__list" role="tablist">
                <li class="p-tabs__item" role="presentation">
                    <a href="settings/users/" class="p-tabs__link" role="tab">Users</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="settings/general/" class="p-tabs__link" role="tab">General</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="settings/scripts/" class="p-tabs__link" role="tab">User scripts</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="settings/storage/" class="p-tabs__link" role="tab">Storage</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="settings/network/" class="p-tabs__link" role="tab">Network services</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="#/settings/dhcp" class="p-tabs__link" role="tab"
                        data-ng-class="{ 'is-active': currentpage === 'dhcp'}">DHCP snippets</a>
                </li>
                <li class="p-tabs__item" role="presentation">
                    <a href="#/settings/repositories" class="p-tabs__link" role="tab"
                        data-ng-class="{ 'is-active': currentpage === 'repositories'}">Package repositories</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="p-strip is-shallow u-no-padding--bottom">
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
</div>
<div data-ng-show="!loading && currentpage === 'dhcp'" width-width>
    <section class="p-strip">
        <div class="row" data-ng-if="snippets.length">
            <maas-dhcp-snippets-table snippets="snippets" allow-add-new="true" allow-delete="true" hide-all-snippets-link="true"></maas-dhcp-snippets-table>
        </div>
    </section>
</div>
<div data-ng-show="!loading && currentpage === 'repositories'" window-width>
    <section class="p-strip">
        <div class="row">
            <table class="p-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Enabled</th>
                        <th><div class="u-align--right">Actions</div></th>
                        <th class="u-hide"><!-- empty cell required for validation --></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-hide="repositories.length">
                        <td colspan="5">
                            <p>No package repositories.</p>
                        </td>
                    </tr>
                    <tr
                        data-ng-repeat="repository in repositories track by repository.id"
                        data-ng-class="{ 'is-active': editRepository === repository || deleteRepository === repository }">
                        <td aria-label="Name" data-ng-if="editRepository !== repository">
                            <span data-ng-if="repository.name === 'main_archive'">
                                Ubuntu archive
                            </span>
                            <span data-ng-if="repository.name === 'ports_archive'">
                                Ubuntu extra architectures
                            </span>
                            <span data-ng-if="repository.name !== 'main_archive' && repository.name !== 'ports_archive'">
                                {$ repository.name $}
                            </span>
                        </td>
                        <td aria-label="URL" data-ng-if="editRepository !== repository">{$ repository.url $}</td>
                        <td class="p-table--action-cell" aria-label="Enabled" data-ng-if="editRepository !== repository">
                            <div class="onoffswitch" data-ng-if="!isMirror(repository)">
                                <input type="checkbox" name="enabled" class="onoffswitch-checkbox" id="enabled-repo-{$ repository.id $}"
                                    data-ng-model="repository.enabled"
                                    data-ng-change="repositoryEnabledToggle(repository)">
                                <label class="onoffswitch-label u-no-margin--top" for="enabled-repo-{$ repository.id $}">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                            <div class="onoffswitch"
                                disabled="disabled"
                                data-ng-if="isMirror(repository)">
                                <span class="p-tooltip--top-center">
                                    <input type="checkbox" name="enabled" class="onoffswitch-checkbox u-float-none" id="enabled-repo-{$ repository.id $}"
                                        data-ng-model="repository.enabled">
                                    <label class="onoffswitch-label u-no-margin--top" for="enabled-repo-{$ repository.id $}">
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                    <span class="p-tooltip__message" role="tooltip">Default Ubuntu repositories cannot be disabled</span>
                                </span>
                            </div>
                        </td>
                        <td data-ng-if="editRepository !== repository">
                            <div class="u-align--right" toggle-ctrl>
                                <button aria-label="Edit" class="p-button--base is-small"
                                    data-ng-click="toggleMenu(); repositoryEnterEdit(repository)">
                                    <i class="p-icon--edit">Edit</i>
                                </button>
                                <button aria-label="Remove" class="p-button--base is-small"
                                    data-ng-if="!isMirror(repository)"
                                    data-ng-click="toggleMenu(); repositoryEnterRemove(repository)">
                                    <i class="p-icon--delete">Remove</i>
                                </button>
                            </div>
                        </td>
                        <td class="is-active p-table-expanding__panel" colspan="5" data-ng-if="editRepository === repository || deleteRepository === repository">
                            <maas-obj-form obj="editRepository" manager="packageRepositoriesManager" manager-method="updateItem" data-ng-if="editRepository === repository"
                                table-form="true" save-on-blur="false" after-save="repositoryExitEdit">
                                <div class="row u-equal-height">
                                    <div class="col-3 u-vertically-center">
                                        <span data-ng-if="isMirror(repository)">
                                            <span data-ng-if="repository.name === 'main_archive'">
                                                Ubuntu archive
                                            </span>
                                            <span data-ng-if="repository.name === 'ports_archive'">
                                                Ubuntu extra architectures
                                            </span>
                                        </span>
                                        <div data-ng-if="windowWidth > 772">
                                            <maas-obj-field type="text" key="name" placeholder="Name"
                                                disable-label="true" input-class="table__input" class="u-margin--none"
                                                data-ng-if="!isMirror(repository)"></maas-obj-field>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div data-ng-if="windowWidth > 772">
                                            <maas-obj-field type="text" key="url" placeholder="URL"
                                                disable-label="true" input-class="table__input" class="u-margin--none"
                                                data-ng-if="editRepository === repository"></maas-obj-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="is-active u-no-margin--top">
                                    <hr />
                                    <div class="row">
                                        <div class="col-6">
                                            <div data-ng-if="windowWidth <= 772" data-ng-if="!isMirror(repository)">
                                                <maas-obj-field type="text" key="name" placeholder="Name"
                                                    label="Name" input-class="p-form__control"
                                                    data-ng-if="!isMirror(repository)"></maas-obj-field>
                                            </div>
                                            <div data-ng-if="windowWidth <= 772" data-ng-if="editRepository === repository">
                                                <maas-obj-field type="text" key="url" placeholder="URL"
                                                    label="URL" input-class="table__input u-margin--none"
                                                    data-ng-if="editRepository === repository"></maas-obj-field>
                                            </div>
                                            <div>
                                                <maas-obj-field type="textarea" key="key" label="Key"
                                                    label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="p-strip is-shallow u-no-padding--top">
                                                <maas-obj-field type="checkboxes" key="arches" label="Architectures"
                                                    label-width="2" input-width="3" values="known_architectures"></maas-obj-field>
                                            </div>
                                            <div class="p-strip is-shallow u-no-padding--top" data-ng-if="!isMirror(editRepository) && !isPPA(editRepository)">
                                                <maas-obj-field type="tags" key="distributions" label="Distributions"
                                                    placeholder="Add a distribution" label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                            <div class="p-strip is-shallow u-no-padding--top" data-ng-if="!isMirror(editRepository) && !isPPA(editRepository)">
                                                <maas-obj-field type="tags" key="components" label="Components"
                                                    placeholder="Add a component" label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                            <div class="p-strip is-shallow u-no-padding--top" data-ng-if="isMirror(editRepository) && !isPPA(editRepository)">
                                                <maas-obj-field type="checkboxes" key="disabled_pockets" label="Disabled Pockets"
                                                    label-width="2" input-width="3" values="pockets_to_disable"></maas-obj-field>
                                            </div>
                                            <div class="p-strip is-shallow u-no-padding--top" data-ng-if="isMirror(editRepository) && !isPPA(editRepository)">
                                                <maas-obj-field type="checkboxes" key="disabled_components" label="Disabled Components"
                                                    label-width="2" input-width="3" values="components_to_disable"></maas-obj-field>
                                            </div>
                                            <div class="p-strip is-shallow u-no-padding--top">
                                                <div class="col-2">Disable Sources</div>
                                                <div class="col-3 onoffswitch">
                                                    <input type="checkbox" name="disable_sources" class="onoffswitch-checkbox u-float-none col-3" id="disable_sources" data-ng-model="repository.disable_sources">
                                                    <label class="onoffswitch-label u-no-margin--top" for="disable_sources">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="is-active">
                                            <div class="u-float--left">
                                                <maas-obj-errors></maas-obj-errors>
                                            </div>
                                            <div class="u-float--right">
                                                <button class="p-button--neutral" type="button"
                                                    data-ng-click="repositoryExitEdit()">Cancel</button>
                                                <button class="p-button--positive" maas-obj-save>Save repository</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </maas-obj-form>
                            <div class="table__dropdown" data-ng-if="deleteRepository === repository">
                                <div class="row u-hide u-show--small">
                                    <h2 data-ng-click="repositoryExitRemove()" class="u-float--left">Removing {$ repository.name $}</h2>
                                    <button data-ng-click="repositoryExitRemove()" class="p-icon--close u-float--right"></button>
                                </div>
                                <hr />
                                <div class="row u-no-margin--top u-equal-height">
                                    <div class="col-6 u-vertically-center">
                                        <p><span class="p-icon--warning"></span> Are you sure you want to remove this repository?</p>
                                    </div>
                                    <div class="col-6">
                                        <div class="u-align--right">
                                            <button class="p-button--base" type="button" data-ng-click="repositoryExitRemove()">Cancel</button>
                                            <button class="p-button--negative" data-ng-click="repositoryConfirmRemove()">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="is-active" data-ng-if="newRepository">
                        <td class="p-table-expanding__panel col-12" colspan="5">
                            <maas-obj-form obj="newRepository" manager="packageRepositoriesManager" manager-method="createItem"
                                table-form="true" save-on-blur="false" after-save="repositoryAddCancel">
                                <div class="row u-equal-height">
                                    <div class="col-3">
                                        <maas-obj-field class="u-margin--none" type="text" key="name" placeholder="Name" disable-label="true" input-class="table__input u-margin--none"></maas-obj-field>
                                    </div>
                                    <div class="col-4">
                                        <maas-obj-field class="u-margin--none" type="text" key="url" placeholder="URL" disable-label="true" input-class="table__input u-margin--none"></maas-obj-field>
                                    </div>
                                    <div class="col-2 u-vertically-center">
                                        <maas-obj-field class="u-margin--none" type="onoffswitch" key="enabled" disable-label="true"></maas-obj-field>
                                    </div>
                                </div>
                                <div class="u-no-margin--top is-active">
                                    <hr />
                                    <div class="row">
                                        <div class="col-6">
                                            <div data-ng-if="windowWidth <= 786">
                                                <maas-obj-field type="text" key="name" placeholder="Name" label="Name" input-class="table__input u-margin--none"></maas-obj-field>
                                                <maas-obj-field type="text" key="url" placeholder="URL" label="URL" input-class="table__input u-margin--none"></maas-obj-field>
                                                <dl>
                                                    <dt>Enable</dt>
                                                        <dd>
                                                            <maas-obj-field type="onoffswitch" key="enabled" disable-label="true"></maas-obj-field>
                                                        </dd>
                                                </dl>
                                            </div>
                                            <div>
                                                <maas-obj-field type="textarea" key="key" label="Key"
                                                    label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div>
                                                <maas-obj-field type="checkboxes" key="arches"
                                                    label="Architectures"
                                                    label-width="2" input-width="3" values="known_architectures"></maas-obj-field>
                                            </div>
                                            <div data-ng-if="!isPPA(newRepository)">
                                                <maas-obj-field type="tags" key="distributions"
                                                    label="Distributions"
                                                    placeholder="Add a distribution" label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                            <div data-ng-if="!isPPA(newRepository)">
                                                <maas-obj-field type="tags" key="components"
                                                    label="Components"
                                                    placeholder="Add a component" label-width="2" input-width="3"></maas-obj-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-no-margin--top is-active">
                                    <hr />
                                    <div class="row">
                                        <div class="u-float--left">
                                            <maas-obj-errors></maas-obj-errors>
                                        </div>
                                        <div class="u-float--right u-no-margin--top">
                                            <button class="p-button--base"
                                                data-ng-click="repositoryAddCancel()">Cancel</button>
                                            <button class="p-button--positive u-no-margin--top" type="button" maas-obj-save>Add repository</button>
                                        </div>
                                    </div>
                                </div>
                            </maas-obj-form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12">
                <button class="p-button--neutral "
                    data-ng-disabled="editing"
                    data-ng-if="!newRepository"
                    data-ng-click="editing || repositoryAdd(true)">Add PPA</button>
                <button class="p-button--neutral"
                    data-ng-disabled="editing"
                    data-ng-if="!newRepository"
                    data-ng-click="editing || repositoryAdd(false)">Add repository</button>
            </div>
        </div>
    </section>
</div>
