<div data-ng-hide="loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide u-no-margin--top" data-ng-show="loaded">
    <header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
        <div class="row">
            <div class="col-small-2 col-medium-4 col-8">
                <h1 class="page-header__title">{$ space.name $}</h1>
            </div>
            <div class="col-small-2 col-medium-2 col-4">
                <div class="page-header__controls ng-hide" data-ng-show="isSuperUser() && !isDefaultSpace() && !loading">
                    <button class="p-button--neutral"
                        data-ng-click="deleteButton()"
                        data-ng-hide="confirmingDelete">Delete space</button>
                </div>
            </div>
        </div>
        <div class="u-no-margin--top page-header__dropdown row" data-ng-if="confirmingDelete">
            <hr />
            <div class="page-header__section ng-hide" data-ng-hide="canBeDeleted()">
                <p class="page-header__message col-6">
                    <i class="p-icon--error">Error:</i> Space cannot be deleted because it has subnets attached. Remove all subnets from the space to allow deletion.
                </p>
                <div class="page-header__controls col-6">
                    <div class="u-align--right">
                        <button class="p-button--neutral" type="button" data-ng-click="cancelDeleteButton()">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="page-header__section row ng-hide" data-ng-show="canBeDeleted() && !error">
                <p class="page-header__message col-6">
                    <i class="p-icon--warning">Warning:</i> Are you sure you want to delete this space?
                </p>
                <div class="page-header__controls col-6">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button" data-ng-click="cancelDeleteButton()">Cancel</button>
                        <button class="p-button--negative" data-ng-click="deleteConfirmButton()">Delete space</button>
                    </div>
                </div>
            </div>
            <div class="page-header__section row ng-hide" data-ng-show="canBeDeleted() && error">
                <p class="page-header__message col-6">
                    <i class="p-icon--error">Error:</i> {$ error $}</p>
                <div class="page-header__controls col-6">
                    <div class="u-align--right">
                        <button class="p-button--base" type="button" data-ng-click="cancelDeleteButton()">Cancel</button>
                        <button class="p-button--neutral" data-ng-click="deleteConfirmButton()">Retry</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="p-strip">
        <div class="row">
            <div class="col-6 col-small-3 col-medium-4">
              <h2 class="p-heading--four">Space summary</h2>
            </div>
            <div class="col-6 col-small-1 col-medium-2">
                <div class="u-align--right">
                    <button type="button" name="button" class="button--neutral" data-ng-click="enterEditSummary()" data-ng-if="!editSummary">Edit</button>
                </div>
            </div>
        </div>
        <div class="form p-form--stacked row" data-ng-if="!editSummary">
            <div class="col-6">
                <div class="p-form__group row">
                    <div class="col-2 col-small-2 col-medium-2">
                        <div class="p-form__label is-disabled">
                            <p><strong>Name</strong></p>
                        </div>
                    </div>
                    <div class="col-4 col-medium-3">
                        <div class="p-form__control">
                            <p>{$ space.name $}</p>
                        </div>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="col-2 col-small-2 col-medium-2">
                        <div class="p-form__label is-disabled">
                            <p><strong>Description</strong></p>
                        </div>
                    </div>
                    <div class="col-4 col-medium-3">
                        <div class="p-form__control">
                            <p>{$ space.description $}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <maas-obj-form obj="space" table-form="true" manager="spaceManager" data-ng-disabled="!isSuperUser()" data-ng-if="editSummary" table-form="true" save-on-blur="false" after-save="exitEditSummary">
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field type="text" key="name" label="Name" placeholder="Space name"
                            blur-on-enter="true" label-width="2" input-width="4"></maas-obj-field>
                        <maas-obj-field type="textarea" key="description" label="Description" placeholder="Space description"
                            blur-on-enter="true" label-width="2" input-width="4"></maas-obj-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="u-align--right">
                            <button class="p-button--base"
                            data-ng-click="exitEditSummary()" type="button">Cancel</button>
                            <button class="p-button--positive" maas-obj-save>Save summary</button>
                        </div>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>
    <section class="row">
        <div class="wrapper--inner">
            <div class="col-12">
                <h2 class="p-heading--four">Subnets on this space</h2>
            </div>
            <div class="col-12">
                <table>
                    <thead>
                        <tr>
                            <th class="table-col--50" data-ng-click="predicate='subnet_name'; reverse = !reverse"
                                 data-ng-class="{sort: predicate === 'subnet_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Subnet</th>
                            <th class="table-col--10" data-ng-click="predicate='subnet.statistics.available_string'; reverse = !reverse"
                                 data-ng-class="{sort: predicate === 'subnet.statistics.available_string', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Available</th>
                            <th class="table-col--15" data-ng-click="predicate='vlan_name'; reverse = !reverse"
                                 data-ng-class="{sort: predicate === 'vlan_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">VLAN</th>
                            <th class="table-col--25" data-ng-click="predicate='fabric_name'; reverse = !reverse"
                                 data-ng-class="{sort: predicate === 'fabric_name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Fabric</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="row in rows | orderBy:predicate:reverse track by $index">
                            <td class="table-col--50">
                                <div class="u-text-overflow">
                                    <a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet_name $}</a>
                                </div>
                            </td>
                            <td class="table-col--10">
                                <div class="u-text-overflow">
                                    {$ row.subnet.statistics.available_string $}
                                </div>
                            </td>
                            <td class="table-col--15">
                                <div class="u-text-overflow">
                                    <a href="#/vlan/{$ row.vlan.id $}">{$ row.vlan_name $}</a>
                                </div>
                            </td>
                            <td class="table-col--25">
                                <div class="u-text-overflow">
                                    <a href="#/fabric/{$ row.fabric.id $}">{$ row.fabric_name $}</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
