<header class="page-header margin-bottom" data-maas-sticky-header>
    <div class="inner-wrapper">
        <h1 class="page-header__title eight-col">12 subnets in {$ $parent.site $} MAAS
            <span class="page-header__title--identicator" id="bulk-actions">
                <!-- XXX blake_r 2015-02-19 - Need to add e2e test. -->
                <a href="">2 Fabrics</a>
                <span class="divide"></span>
                <a href="" class="active">2 Spaces</a>
                <span class="power-status--power" data-ng-show="loading">
                    <span class="loader"></span>
                    Loading...
                </span>
            </span>
        </h1>
    </div>
</header>
<section class="row">
    <div class="inner-wrapper">
        <div class="twelve-col">
            <h2>Space 1 (default)</h2>
        </div>
        <dl class="six-col last-col">
            <dt class="two-col">User description</dt>
                <dd class="four-col last-col">Switch 1, Switch 2, Switch 3</dd>
            <dt class="two-col">Nodes</dt>
                <dd class="four-col last-col"><a href="">20</a></dd>
            <dt class="two-col">Cluster</dt>
                <dd class="four-col last-col"><a href="">Cluser master</a></dd>
        </dl>
        <div class="twelve-col">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>IP range</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">Subnet 1</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                    <tr>
                        <td><a href="">Subnet 2</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                    <tr>
                        <td><a href="">Subnet 3</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="row">
    <div class="inner-wrapper">
        <div class="twelve-col">
            <h2>Space 2</h2>
        </div>
        <dl class="six-col last-col">
            <dt class="two-col">User description</dt>
                <dd class="four-col last-col">Switch 1, Switch 2, Switch 3</dd>
            <dt class="two-col">Nodes</dt>
                <dd class="four-col last-col"><a href="">20</a></dd>
            <dt class="two-col">Cluster</dt>
                <dd class="four-col last-col"><a href="">Cluser master</a></dd>
        </dl>
        <div class="twelve-col">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>IP range</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="">Subnet 1</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                    <tr>
                        <td><a href="">Subnet 2</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                    <tr>
                        <td><a href="">Subnet 3</a></td>
                        <td>10.10.10/10</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
