<div class="row">
    <div class="col-8">
        <table class="p-table--ssh-keys p-table-expanding" data-ng-if="groupedKeys.length">
            <thead>
                <tr class="p-table__row">
                    <th class="p-table__cell">Source</th>
                    <th class="p-table__cell">ID</th>
                    <th class="p-table__cell"><div class="u-align--right">Number of keys</div></th>
                    <th class="p-table__cell u-align--right">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr class="p-table__row" data-ng-repeat="group in groupedKeys | orderBy:['source', 'authId']" data-ng-class="{ 'is-active': group.id === openRow }">
                    <td class="p-table__cell" aria-label="Source">
                        <div class="u-fill-container u-vertically-center">{$ sourceTitles[group.source] $}</div>
                    </td>
                    <td class="p-table__cell" data-ng-if="group.source === 'upload'" data-ng-bind-html="trustAsHtml(group.keys[0].display)">&nbsp;</td>
                    <td class="p-table__cell" data-ng-if="group.source !== 'upload'" aria-label="ID">
                        <div class="u-fill-container u-vertically-center">{$ group.authId $}</div>
                    </td>
                    <td class="p-table__cell" data-ng-if="group.source !== 'upload'" aria-label="Number of keys">
                        <div class="u-fill-container u-vertically-center u-align--right">{$ group.keys.length $}</div>
                    </td>
                    <td class="p-table__cell u-no-padding--right">
                        <div class="u-align--right">
                            <button class="p-button--base u-no-margin--right" data-ng-click="open(group, 'delete')" title="delete SSH key source">
                                <i class="p-icon--delete">Delete</i>
                            </button>
                            <button class="p-button--base" data-ng-click="open(group, 'view')" aria-label="Show keys" title="Show keys" data-ng-if="group.source !== 'upload' && (openRow !== group.id || rowMode === 'delete')">
                                <i class="p-icon--chevron">Open</i>
                            </button>
                            <button class="p-button--base" data-ng-click="close()" aria-label="Hide keys" title="Show keys" data-ng-if="group.source !== 'upload' && openRow === group.id && rowMode === 'view'">
                                <i class="p-icon--chevron u-mirror--y">Hide</i>
                            </button>
                        </div>
                    </td>
                    <td class="p-table-expanding__panel u-no-padding--top" data-ng-class="{ 'u-hide': group.id !== openRow || rowMode !== 'view' }">
                        <ul class="p-list u-no-margin--bottom">
                            <li class="p-list__item" data-ng-repeat="key in group.keys" data-ng-bind-html="trustAsHtml(key.display)"></li>
                        </ul>
                    </td>
                    <td class="p-table-expanding__panel u-no-padding--top" data-ng-class="{ 'u-hide': group.id !== openRow || rowMode !== 'delete' }">
                        <div class="row">
                            <div class="col-8 u-vertically-center">
                                <span data-ng-if="group.source !== 'upload'"><span class="p-icon p-icon--warning">Warning:</span> Are you sure you want to remove this key source?</span>
                                <span data-ng-if="group.source === 'upload'"><span class="p-icon p-icon--warning">Warning:</span> Are you sure you want to remove this key?</span>
                            </div>
                            <div class="col-4 u-align--right">
                                <button class="p-button--base" data-ng-click="close()">Cancel</button>
                                <button class="p-button--negative" data-ng-click="confirmDelete(group)">Remove</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <form class="p-form">
            <div class="p-form__group">
                <label class="p-form__label" for="source">Source</label>
                <select class="p-form__control" id="source" data-ng-model="add.source" data-ng-disabled="add.saving">
                    <option value="lp">Launchpad</option>
                    <option value="gh">Github</option>
                    <option value="upload">Upload</option>
                </select>
            </div>
            <div class="p-form__group" data-ng-if="add.source !== 'upload'">
                <label class="p-form__label" for="authId">ID</label>
                <input type="text" id="authId" name="authId" placeholder="User ID" data-ng-model="add.authId" data-ng-disabled="add.saving"
                    class="p-form__control">
            </div>
            <div class="p-form__group" data-ng-if="add.source === 'upload'">
                <label class="p-form__label" for="key">Public key</label>
                <textarea id="key" name="key" data-ng-model="add.key" data-ng-disabled="add.saving" class="p-form__control"></textarea>
                <p class="p-form-help-text">Begins with 'ssh-rsa', 'ssh-dss', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384', or 'ecdsa-sha2-nistp521'</p>
            </div>
            <div class="p-form__group u-align--right">
                <button type="submit" class="p-button--positive" data-ng-disabled="!canImportKeys()" data-ng-click="importKeys()">Import</button>
            </div>
    </div>
    <p data-ng-if="add.error" class="p-form-validation__message"><strong>Error:</strong> {$ add.error $}</p>
    </form>
</div>
