<header class="page-header margin-bottom" data-maas-sticky-header>
    <div class="inner-wrapper">
        <h1 class="page-header__title twelvel-col">Subnet 1 - fd2b:fc41:af87:2496:8ff6:6f75:7888:dd00/122</h1>
    </div>
</header>
<section class="row">
    <div class="inner-wrapper">
        <dl class="six-col">
            <dt class="two-col">Subnet description</dt>
                <dd class="four-col last-col">Switch 1, Switch 2, Switch 3</dd>
            <dt class="two-col">Management</dt>
                <dd class="four-col last-col">DHCP</dd>
            <dt class="two-col">Utilisation</dt>
                <dd class="four-col last-col">15% used (45/300)</dd>
            <dt class="two-col">Dynamic allocation</dt>
                <dd class="four-col last-col">10.10.10.10 - 10.10.10.254</dd>
            <dt class="two-col">Static allocation</dt>
                <dd class="four-col last-col">10.10.10.81 - 10.10.10.99</dd>
        </dl>
        <dl class="six-col last-col">
            <dt class="two-col">DNS</dt>
                <dd class="four-col last-col">192.168.9.2 (MAAS region A)</dd>
            <dt class="two-col">Default Gateway</dt>
                <dd class="four-col last-col">192.168.9.1</dd>
            <dt class="two-col">VLAN</dt>
                <dd class="four-col last-col">VLAN1 (default)</dd>
            <dt class="two-col">Fabric</dt>
                <dd class="four-col last-col"><a href="">Fabric 1 (default)</a></dd>
            <dt class="two-col">Cluster</dt>
                <dd class="four-col last-col"><a href="">Cluster master</a>, <a href="">Cluster slave</a>, <a href="">Cluster king</a></dd>
        </dl>
        <div class="twelve-col">
            <div class="table">
                <header class="table__head">
                    <div class="table__row">
                        <div class="table__header table__column--15">Addresses</div>
                        <div class="table__header table__column--15">User</div>
                        <div class="table__header table__column--20">Node name</div>
                        <div class="table__header table__column--15">Device type</div>
                        <div class="table__header table__column--35">Configuration</div>
                    </div>
                </header>
                <section class="table__body">
                    <div class="table__row">
                        <div class="table__data table__column--15">192.169.9.1</div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--15">192.169.9.2</div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--15">192.169.9.3</div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--15">192.169.9.4</div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--15">192.169.9.5 - 20<span class="table__label"><a href="">View range</a></span></div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                    </div>
                    <div class="table__row">
                        <div class="table__data table__column--15">192.168.9.21 - 25<span class="table__label active"><a href="">Hide range</a></span></div>
                        <div class="table__data table__column--15">Admin</div>
                        <div class="table__data table__column--20"><a href="">gw9.maas</a></div>
                        <div class="table__data table__column--15">Node</div>
                        <div class="table__data table__column--35">static, unmanaged dns</div>
                        <div class="table__dropdown table__dropdown--info">
                            <div class="table__row">
                                <div class="table__data table__column--15 padding-left--thirty">192.168.9.22</div>
                                <div class="table__data table__column--15">Admin</div>
                                <div class="table__data table__column--20">gw9.maas</div>
                                <div class="table__data table__column--50">Device</div>
                            </div>
                            <div class="table__row">
                                <div class="table__data table__column--15 padding-left--thirty">192.168.9.23</div>
                                <div class="table__data table__column--15">Admin</div>
                                <div class="table__data table__column--20">gw9.maas</div>
                                <div class="table__data table__column--50">Device</div>
                            </div>
                            <div class="table__row">
                                <div class="table__data table__column--15 padding-left--thirty">192.168.9.24</div>
                                <div class="table__data table__column--15">Admin</div>
                                <div class="table__data table__column--20">gw9.maas</div>
                                <div class="table__data table__column--50">Device</div>
                            </div>
                            <div class="table__row">
                                <div class="table__data table__column--15 padding-left--thirty">192.168.9.25</div>
                                <div class="table__data table__column--15">Admin</div>
                                <div class="table__data table__column--20">gw9.maas</div>
                                <div class="table__data table__column--50">Device</div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
