<header class="page-header margin-bottom" data-maas-sticky-header>
    <div class="inner-wrapper">
        <h1 class="page-header__title eight-col">{$ subnet.cidr $}</h1>
        <div data-ng-hide="loaded">
            <div class="inner-wrapper">
                <h1 class="page-header__title twelve-col">Loading...</h1>
            </div>
        </div>
        <div class="page-header__actions ng-hide" data-ng-show="isSuperUser() && !isDefaultSubnet() && !loading">
            <div class="right no-margin-bottom last-col">
                <button class="cta-ubuntu"
                    data-ng-click="deleteButton()"
                    data-ng-hide="confirmingDelete">Delete subnet</button>
            </div>
        </div>
        <div class="page-header__dropdown ng-hide" data-ng-show="confirmingDelete">
            <div class="page-header__feedback ng-hide" data-ng-show="!error">
                <p class="page-header__feedback-message error">
                    Are you sure you want to delete this subnet and release all
                    IP addresses assigned within its range?
                </p>
                <div class="right">
                    <a href="" class="link-cta-ubuntu text-button margin-right" data-ng-click="cancelDeleteButton()">Cancel</a>
                    <button class="cta-ubuntu" data-ng-click="deleteConfirmButton()">Go</button>
                </div>
            </div>
            <div class="page-header__feedback ng-hide" data-ng-show="error">
                <p class="page-header__feedback-message error">
                    {$ error $}
                </p>
                <div class="right">
                    <a href="" class="link-cta-ubuntu text-button margin-right" data-ng-click="cancelDeleteButton()">Cancel</a>
                    <button class="cta-ubuntu" data-ng-click="deleteConfirmButton()">Retry</button>
                </div>
            </div>
        </div>
    </div>
</header>
<div data-ng-if="loaded">
    <section class="row">
        <div class="inner-wrapper">
            <div class="tweleve-col">
                <h2>Subnet summary</h2>
            </div>
            <maas-obj-form obj="subnet" manager="subnetManager" pre-process="subnetPreSave" data-ng-disabled="!isSuperUser()">
                <fieldset class="six-col form">
                    <maas-obj-field type="text" key="name" label="Name" placeholder="Subnet name"
                        label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                    <maas-obj-field-group>
                        <maas-obj-field type="text" key="cidr" label="CIDR" placeholder="Subnet CIDR"
                            label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                        <maas-obj-field type="text" key="gateway_ip" label="Gateway IP" placeholder="Gateway IP"
                            label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                    </maas-obj-field-group>
                    <maas-obj-field type="text" key="dns_servers" label="DNS" placeholder="DNS nameservers for subnet"
                        label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                    <maas-obj-field type="textarea" key="description" label="Description" placeholder="Subnet description"
                        label-width="two" input-width="three" blur-on-enter="true"></maas-obj-field>
                </fieldset>
                <fieldset class="six-col last-col">
                    <maas-obj-field type="options" key="fabric" label="Fabric" placeholder="Choose fabric"
                        options="fabric.id as fabric.name for fabric in fabrics | orderBy:'name'"
                        label-width="two" input-width="three"></maas-obj-field>
                    <maas-obj-field type="options" key="vlan" label="VLAN" placeholder="Choose VLAN"
                        options="v.id as getVLANName(v) for v in vlans | filterByFabric:subnet.fabric"
                        label-width="two" input-width="three"></maas-obj-field>
                    <maas-obj-field type="options" key="space" label="Space" placeholder="Choose space"
                        options="space.id as space.name for space in spaces"
                        label-width="two" input-width="three"></maas-obj-field>
                </fieldset>
            </maas-obj-form>
        </div>
    </section>
    <section class="row">
        <div class="inner-wrapper">
            <div class="tweleve-col">
                <h2>Utilisation</h2>
            </div>
            <div class="equal-height">
                <div class="six-col">
                    <dl class="six-col">
                        <dt class="two-col">Subnet addresses</dt>
                            <dd class="four-col last-col">{$ subnet.statistics.total_addresses $}</dd>
                        <dt class="two-col">Availability</dt>
                            <dd class="four-col last-col">{$ subnet.statistics.num_available $} ({$ subnet.statistics.available_string $})</dd>
                    </dl>
                </div>
                <div class="six-col last-col">
                    <dl class="six-col">
                        <!-- XXX mpontillo we don't have data for "Reserved" yet. -->
                        <dt class="two-col ng-hide">Reserved</dt>
                            <dd class="four-col last-col ng-hide">10%</dd>
                        <dt class="two-col">Used</dt>
                            <dd class="four-col last-col">{$ subnet.statistics.usage_string $}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="inner-wrapper">
            <div class="tweleve-col">
                <h2>Reserved</h2>
            </div>
            <div class="tweleve-col padding-bottom">
                <div class="table margin-bottom">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table-col--20">Start IP Address</div>
                            <div class="table__header table-col--20">End IP Address</div>
                            <div class="table__header table-col--10">Owner</div>
                            <div class="table__header table-col--10">Type</div>
                            <div class="table__header table-col--34">Comment</div>
                        </div>
                    </header>
                    <main class="table__body">
                        <div class="table__row"
                            data-ng-repeat="iprange in (subnetIPRanges = ipranges | filterBySubnet:subnet | orderBy:'start_ip')"
                            data-ng-class="{active: isIPRangeInEditMode(iprange) || isIPRangeInDeleteMode(iprange)}">
                            <div class="table__data table-col--20">{$ iprange.start_ip $}</div>
                            <div class="table__data table-col--20">{$ iprange.end_ip $}</div>
                            <div class="table__data table-col--10">{$ iprange.type == "dynamic" ? "MAAS" : iprange.user_username $}</div>
                            <div class="table__data table-col--10">{$ iprange.type == "dynamic" ? "Dynamic" : "Reserved" $}</div>
                            <div class="table__data table-col--31">{$ iprange.type == "dynamic" ? "Dynamic" : iprange.comment $}</div>
                            <div class="table__data table-col--9">
                                <div class="table__controls" data-ng-if="ipRangeCanBeModified(iprange)">
                                    <a class="icon delete tooltip margin-right" data-tooltip="Remove"
                                        data-ng-click="ipRangeEnterDeleteMode(iprange)">Remove</a>
                                    <a class="icon open tooltip" data-tooltip="Edit row"
                                        data-ng-click="ipRangeToggleEditMode(iprange)"
                                        data-ng-if="!isIPRangeInEditMode(iprange)">Edit</a>
                                    <a class="icon close tooltip" data-tooltip="Close"
                                        data-ng-click="ipRangeToggleEditMode(iprange)"
                                        data-ng-if="isIPRangeInEditMode(iprange)">Close</a>
                                </div>
                            </div>
                            <div class="table__dropdown" data-ng-if="isIPRangeInDeleteMode(iprange)">
                                <div class="table__row active">
                                    <div class="table__data left margin-top--five">
                                          <p><span class="icon warning margin-right--ten"></span>Ensure all in-use IP addresses are registered in MAAS before releasing this range to avoid potential collisions. Are you sure you want to remove this IP range?</p>
                                    </div>
                                    <div class="table__data right">
                                          <a class="link-cta-ubuntu text-button" data-ng-click="ipRangeCancelDelete()">Cancel</a>
                                          <button class="cta-ubuntu" data-ng-click="ipRangeConfirmDelete()">Remove</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table__dropdown" data-ng-if="isIPRangeInEditMode(iprange)">
                                <div class="table__row active">
                                    <maas-obj-form obj="iprange" manager="iprangeManager" table-form="true"
                                        save-on-blur="false" after-save="ipRangeToggleEditMode(iprange)">
                                        <div class="table__data table-col--100">
                                            <div class="twelve-col inline">
                                                <div class="six-col">
                                                    <maas-obj-field type="text" key="start_ip" label="Start IP address"
                                                        label-width="two" input-width="three"></maas-obj-field>
                                                </div>
                                                <div class="six-col last-col">
                                                    <maas-obj-field type="text" key="end_ip" label="End IP address"
                                                        label-width="two" input-width="three"></maas-obj-field>
                                                </div>
                                            </div>
                                            <div class="twelve-col inline">
                                                <maas-obj-field data-ng-if="iprange.type !== 'dynamic'"
                                                    type="text" key="comment" label="Purpose" placeholder="Purpose for IP range (optional)"
                                                    label-width="two" input-width="nine"></maas-obj-field>
                                                <div data-ng-if="iprange.type === 'dynamic'">
                                                    <div class="twelve-col inline">
                                                        <label class="two-col" for="purpose">Purpose</label>
                                                        <input class="nine-col last-col" type="text" id="purpose" value="Dynamic" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table__dropdown">
                                            <div class="table__row table__dropdown-row active">
                                                <div class="table__data left">
                                                    <maas-obj-errors></maas-obj-errors>
                                                </div>
                                                <div class="table__data right">
                                                    <a class="link-cta-ubuntu text-button" data-ng-click="ipRangeToggleEditMode(iprange)">Cancel</a>
                                                    <button class="cta-ubuntu" maas-obj-save>Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </maas-obj-form>
                                </div>
                            </div>
                        </div>
                        <div class="table__row" data-ng-if="subnetIPRanges.length === 0 && !newRange">
                            <div class="table__data table-col-100">No IP ranges have been reserved for this subnet.</div>
                        </div>
                        <div class="table__row active" data-ng-if="newRange">
                            <maas-obj-form obj="newRange" manager="iprangeManager" manager-method="createItem"
                                table-form="true" save-on-blur="false" after-save="cancelAddRange()">
                                <div class="table__data table-col--100">
                                    <div class="twelve-col inline">
                                        <div class="six-col">
                                            <maas-obj-field type="text" key="start_ip" label="Start IP address"
                                                label-width="two" input-width="three"></maas-obj-field>
                                        </div>
                                        <div class="six-col last-col">
                                            <maas-obj-field type="text" key="end_ip" label="End IP address"
                                                label-width="two" input-width="three"></maas-obj-field>
                                        </div>
                                    </div>
                                    <div class="twelve-col inline">
                                        <maas-obj-field data-ng-if="newRange.type !== 'dynamic'"
                                            type="text" key="comment" label="Purpose" placeholder="Purpose for IP range (optional)"
                                            label-width="two" input-width="nine"></maas-obj-field>
                                        <div data-ng-if="newRange.type === 'dynamic'">
                                            <div class="twelve-col inline">
                                                <label class="two-col" for="purpose">Purpose</label>
                                                <input class="nine-col last-col" type="text" id="purpose" value="Dynamic" disabled>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="table__dropdown">
                                    <div class="table__row table__dropdown-row active">
                                        <div class="table__data left">
                                            <maas-obj-errors></maas-obj-errors>
                                        </div>
                                        <div class="table__data right">
                                            <a class="link-cta-ubuntu text-button" data-ng-click="cancelAddRange()">Cancel</a>
                                            <button class="cta-ubuntu" maas-obj-save>Reserve</button>
                                        </div>
                                    </div>
                                </div>
                            </maas-obj-form>
                        </div>
                    </main>
                </div>
                <div data-ng-if="!newRange">
                    <a class="link-cta-ubuntu secondary margin-right" data-ng-click="addRange('reserved')">Reserve range</a>
                    <a class="link-cta-ubuntu secondary" data-ng-if="isSuperUser()" data-ng-click="addRange('dynamic')">Reserve dynamic range</a>
                </div>
            </div>
            <div class="tweleve-col">
                <div class="six-col">
                    <h2>Used</h2>
                </div>
                <div class="six-col last-col">
                    <div class="search ng-hide">
                        <input placeholder="Search IP addresses" class="search__input" type="search">
                        <input class="search__submit" type="submit">
                    </div>
                </div>
            </div>
            <div class="tweleve-col">
                <table class="table-listing">
                    <thead>
                        <tr class="table-listing__row">
                            <th class="table-listing__header table-col--20">IP Address</th>
                            <th class="table-listing__header table-col--10">Type</th>
                            <th class="table-listing__header table-col--15">Node</th>
                            <th class="table-listing__header table-col--10">Interface</th>
                            <th class="table-listing__header table-col--10">Usage</th>
                            <th class="table-listing__header table-col--10">Owner</th>
                            <th class="table-listing__header table-col--25">Last seen</th>
                            <!-- XXX mpontillo need data for this -->
                            <!--
                            <th class="table-listing__header table-col--25" colspan="2">
                                <a class="table-listing__header-link" href="#">Purpose</a>
                                <span class="divide"></span>
                                <a class="table-listing__header-link active" href="#">Last seen</a>
                                <span class="divide"></span>
                                <a  class="table-listing__header-link" href="#">Detected</a>
                            </th>
                            -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="ip in subnet.ip_addresses">
                            <td class="table-col--20">{$ ip.ip $}</td>
                            <td class="table-col--10" data-ng-switch="ip.alloc_type">
                                <span data-ng-switch-when="0">Automatic</span>
                                <span data-ng-switch-when="1">Static</span>
                                <span data-ng-switch-when="4">User reserved</span>
                                <span data-ng-switch-when="5">DHCP</span>
                                <span data-ng-switch-when="6">Observed</span>
                                <span data-ng-switch-default>Unknown</span>
                            </td>
                            <td class="table-col--15" data-ng-switch="ip.node_summary.node_type">
                                <span data-ng-switch-when="0"><a href="#/node/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                                <span data-ng-switch-when="1">{$ ip.node_summary.hostname $}</span>
                                <span data-ng-switch-when="2"><a href="#/node/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                                <span data-ng-switch-when="3"><a href="#/node/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                                <span data-ng-switch-when="4"><a href="#/node/controller/{$ ip.node_summary.system_id $}">{$ ip.node_summary.hostname $}</a></span>
                            </td>
                            <td class="table-col--10" data-ng-switch="ip.node_summary.node_type">
                                <span data-ng-switch-when="0">{$ ip.node_summary.via $}</span>
                                <span data-ng-switch-when="1">{$ ip.node_summary.via $}</span>
                                <span data-ng-switch-when="2">{$ ip.node_summary.via $}</span>
                                <span data-ng-switch-when="3">{$ ip.node_summary.via $}</span>
                                <span data-ng-switch-when="4">{$ ip.node_summary.via $}</span>
                                <span data-ng-switch-default>Unknown</span>
                            </td>
                            <td class="table-col--10" data-ng-switch="ip.node_summary.node_type">
                                <span data-ng-switch-when="0">Machine</span>
                                <span data-ng-switch-when="1">Device</span>
                                <span data-ng-switch-when="2">Rack controller</span>
                                <span data-ng-switch-when="3">Region controller</span>
                                <span data-ng-switch-when="4">Rack and region controller</span>
                                <span data-ng-switch-default>Unknown</span>
                            </td>
                            <td class="table-col--10">{$ ip.user ? ip.user : "MAAS" $}</td>
                            <td class="table-col--25">
                                <time>{$ ip.updated $}</time>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
