<table class="p-table--sortable">
    <thead>
        <tr>
            <th class="u-display--block-mobile" aria-label="Select all" data-ng-if="!hideCheckboxes">
                <input class="checkbox" type="checkbox" data-ng-click="toggleCheckAll()" data-ng-checked="table.allViewableChecked" id="check-all" data-ng-disabled="ngDisabled()" />
                <label class="checkbox-label" for="check-all"></label>
            </th>
            <th class="u-align--left" colspan="2">
                <span role="columnheader"
                    data-ng-click="selectColumnOrSort('fqdn')"
                    data-ng-class="{'is-active': table.column === 'fqdn', 'is-sorted': table.predicate === 'fqdn', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}"><abbr title="Fully Qualified Domain Name">FQDN</abbr></span>
                <span class="divide"></span>
                <span role="columnheader"
                    data-ng-click="selectColumnOrSort('pxe_mac')"
                    data-ng-class="{'is-active': table.column === 'pxe_mac', 'is-sorted': table.predicate === 'pxe_mac', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}"><abbr title="Media Access Control addresses">MAC</abbr></span>
            </th>
            <th role="columnheader" data-ng-click="sortTable('power_state')" data-ng-class="{'is-sorted': table.predicate === 'power_state', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Power</th>
            <th></th>
            <th role="columnheader" data-ng-click="sortTable('status')" data-ng-class="{'is-sorted': table.predicate === 'status', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Status</th>
            <th role="columnheader" data-ng-click="sortTable('owner')" data-ng-class="{'is-sorted': table.predicate === 'owner', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Owner</th>
            <th class="u-align--right" role="columnheader" data-ng-click="sortTable('model')" data-ng-class="{'is-sorted': table.predicate=== 'model', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Model</th>
            <th class="u-align--right" role="columnheader" data-ng-click="sortTable('serial')" data-ng-class="{'is-sorted': table.predicate === 'serial', 'sort-asc': table.reverse === false, 'sort-desc': table.reverse === true}">Serial</th>
        </tr>
    </thead>
    <tbody vs-repeat vs-scroll-parent="window">
        <tr
            data-ng-repeat="node in table.filteredSwitches = (table.switches | nodesFilter:search | orderBy:table.predicate:table.reverse) track by node.system_id"
            data-ng-class="{ 'table--error': machineHasError({ $switch_: node }), selected: node.$selected }">
            <td class="table-col--3" aria-label="Select node" data-ng-if="!hideCheckboxes">
                <input class="checkbox" type="checkbox" data-ng-click="toggleChecked(node)" data-ng-checked="node.$selected" id="check-switch-{$ node.fqdn $}" data-ng-disabled="ngDisable()" />
                <label class="checkbox-label" for="check-switch-{$  node.fqdn $}"></label>
            </td>
            <td class="u-align--left" aria-label="FQDN" data-ng-if="table.column === 'fqdn'" colspan="2">
                <a href="#/{$ node.link_type $}/{$ node.system_id $}">{$ node.fqdn $}</a>
            </td>
            <td class="u-align--left" aria-label="MAC" data-ng-if="table.column === 'pxe_mac'" colspan="2">
                <a href="#/{$ node.link_type $}/{$ node.system_id $}" title="{$ node.pxe_mac_vendor $}">{$ node.pxe_mac $}</a>
                <a href="#/{$ node.link_type $}/{$ node.system_id $}" class="extra-macs" data-ng-show="node.extra_macs.length">(+{$ node.extra_macs.length $})</a>
            </td>
            <td class="powerstate u-upper-case--first" aria-label="Power state">
                <span title="{$ node.power_state $}" data-ng-if="node.power_state != 'unknown'" class="p-icon--power-{$ node.power_state $}"></span> {$ node.power_state $}
            </td>
            <td class="table-col--3 u-display--desktop"><i data-ng-if="showSpinner(node)" class="p-icon--spinner u-animation--spin u-display--desktop"></i></td>
            <td class="status u-text--truncate" aria-label="Status">{$ getStatusText(node) $} <span class="u-display--mobile"><i data-ng-if="showSpinner(node)" class="p-icon--spinner u-animation--spin"></i></span></td>
            <td class="table-col--10" aria-label="Owner">{$ node.owner $}</td>
            <td class="u-align--right u-display--desktop" aria-label="Model">{$ node.metadata['physical-mfg-name'] + ' ' + node.metadata['physical-model-name']$}</td>
            <td class="u-align--right u-display--desktop" aria-label="Serial">{$ node.metadata['physical-serial-num'] $}</td>
        </tr>
    </tbody>
</table>
