<div data-ng-if="!vlanDetails.loaded">
    <header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div data-ng-if="vlanDetails.loaded">
    <header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
        <div class="row">
            <div class="col-8">
                <h1 class="page-header__title">{$ vlanDetails.title $}</h1>
            </div>
            <div class="col-4">
                <!-- "Take action" dropdown -->
                <div class="page-header__controls" data-ng-if="vlanDetails.actionOptions.length">
                    <div data-maas-cta="vlanDetails.actionOptions"
                        data-ng-model="vlanDetails.actionOption"
                        data-ng-change="vlanDetails.actionOptionChanged()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="page-header__dropdown" data-ng-class="{ 'is-open': vlanDetails.actionOption }" data-ng-if="vlanDetails.actionOption">
                <div class="row">
                    <section class="page-header__section" data-ng-if="vlanDetails.actionOption.name === 'enable_dhcp'">
                        <h3 class="page-header__dropdown-title">Provide DHCP</h3>
                        <form class="p-form p-form--stacked">
                            <!-- This is just for visual reasons, since we need an additional border to begin the form if there is no error. -->
                            <div class="p-form__fieldset col-6">
                                <div class="p-form__group" data-ng-hide="vlanDetails.relatedSubnets.length === 0">
                                    <label for="primary-rack" class="p-form__group-label col-2">{$ vlanDetails.relatedControllers.length <= 1 ? "Rack controller" : "Primary controller" $}</label>
                                    <div class="p-form__group-input col-3">
                                        <select name="primary-rack"
                                                data-ng-model="vlanDetails.provideDHCPAction.primaryRack"
                                                data-ng-change="vlanDetails.updatePrimaryRack()"
                                                data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers">
                                            <option value=""
                                                    disabled="disabled"
                                                    selected="selected"
                                                    data-ng-if="vlanDetails.provideDHCPAction.primaryRack === ''">Choose primary controller</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-form__group" data-ng-hide="vlanDetails.relatedSubnets.length === 0 || vlanDetails.relatedControllers.length <= 1">
                                    <label for="secondary-rack" class="p-form__group-label col-2">Secondary controller</label>
                                    <div class="p-form__group-input col-3">
                                        <select name="secondary-rack"
                                                data-ng-if="vlanDetails.relatedControllers.length > 1"
                                                data-ng-disabled="!vlanDetails.provideDHCPAction.primaryRack && vlanDetails.relatedControllers.length > 1"
                                                data-ng-model="vlanDetails.provideDHCPAction.secondaryRack"
                                                data-ng-change="vlanDetails.updateSecondaryRack()"
                                                data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers | filter:vlanDetails.filterPrimaryRack">
                                            <option value=""
                                                    selected="selected"
                                                    data-ng-if="vlanDetails.relatedControllers.length >= 2"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.relatedSubnets.length === 0 || (vlanDetails.provideDHCPAction.needsDynamicRange === false && vlanDetails.provideDHCPAction.needsGatewayIP === false)">
                                    <label for="subnet" class="p-form__group-label col-2">Subnet</label>
                                    <div class="p-form__group-input col-3">
                                        <select name="subnet"
                                                data-ng-model="vlanDetails.provideDHCPAction.subnet"
                                                data-ng-change="vlanDetails.updateSubnet(false)"
                                                data-ng-options="row.subnet.id as row.subnet.cidr for row in vlanDetails.relatedSubnets">
                                            <option value="" disabled="disabled" selected="selected">Choose subnet</option>
                                            <option value="" data-ng-if=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="p-form__fieldset col-6" data-ng-if="vlanDetails.actionOption.name === 'enable_dhcp'">
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.provideDHCPAction.needsDynamicRange === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="start-ip" class="p-form__group-label col-2">Dynamic range start IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="start-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.startPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.startIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updateStartIP()">
                                    </div>
                                </div>
                                <div class="p-form__group" data-ng-hide="vlanDetails.provideDHCPAction.needsDynamicRange === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="end-ip" class="p-form__group-label col-2">Dynamic range end IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="end-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.endPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.endIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updateEndIP()">
                                    </div>
                                </div>
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.provideDHCPAction.needsGatewayIP === false || vlanDetails.provideDHCPAction.subnetMissingGatewayIP === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="gateway-ip" class="p-form__group-label col-2">Gateway IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="gateway-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.gatewayPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.gatewayIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updatendIP()">
                                    </div>
                                </div>
                                <!-- IP range selection fields -->
                                    <!--
                                    <div class="p-form__group">
                                        <label for="number-of-ips" class="p-form__group-label col-2">Maximum addresses</label>
                                        <input type="text" class="col-3" name="number-of-ips" data-ng-model="vlanDetails.provideDHCPAction.numIPs" data-ng-disabled="true" data-ng-change="vlanDetails.updateNumAddresses()">
                                    </div>
                                    -->
                            </div>
                        </form>
                    </section>
                </div>
                <div class="row">
                    <section class="page-header__section" data-ng-if="vlanDetails.actionOption.name === 'relay_dhcp'">
                        <h3 class="page-header__dropdown-title">Relay DHCP</h3>
                        <form class="p-form p-form--stacked">
                            <!-- This is just for visual reasons, since we need an additional border to begin the form if there is no error. -->
                            <div class="p-form__fieldset col-6">
                                <div class="p-form__group">
                                    <label for="relay_vlan" class="p-form__group-label col-2">Relay VLAN</label>
                                    <div class="p-form__group-input col-3">
                                        <select name="relay_vlan"
                                                data-ng-model="vlanDetails.provideDHCPAction.relayVLAN"
                                                data-ng-options="vlan as vlanDetails.getFullVLANName(vlan.id) for vlan in vlanDetails.vlans | ignoreSelf:vlanDetails.vlan">
                                            <option value="" disabled="disabled" selected="selected">Choose relay VLAN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.relatedSubnets.length === 0 || (vlanDetails.provideDHCPAction.needsDynamicRange === false && vlanDetails.provideDHCPAction.needsGatewayIP === false)">
                                    <label for="subnet" class="p-form__group-label col-2">Subnet</label>
                                    <div class="p-form__group-input col-3">
                                        <select name="subnet"
                                                data-ng-model="vlanDetails.provideDHCPAction.subnet"
                                                data-ng-change="vlanDetails.updateSubnet(true)"
                                                data-ng-options="row.subnet.id as row.subnet.cidr for row in vlanDetails.relatedSubnets">
                                            <option value="" disabled="disabled" selected="selected">Choose subnet</option>
                                            <option value="" data-ng-if=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="p-form__fieldset col-6">
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.provideDHCPAction.needsDynamicRange === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="start-ip" class="p-form__group-label col-2">Dynamic range start IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="start-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.startPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.startIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updateStartIP()">
                                    </div>
                                </div>
                                <div class="p-form__group" data-ng-hide="vlanDetails.provideDHCPAction.needsDynamicRange === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="end-ip" class="p-form__group-label col-2">Dynamic range end IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="end-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.endPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.endIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updateEndIP()">
                                    </div>
                                </div>
                                <div class="p-form__group"
                                    data-ng-hide="vlanDetails.provideDHCPAction.needsGatewayIP === false || vlanDetails.provideDHCPAction.subnetMissingGatewayIP === false || vlanDetails.relatedSubnets.length === 0">
                                    <label for="gateway-ip" class="p-form__group-label col-2">Gateway IP</label>
                                    <div class="p-form__group-input col-3">
                                        <input type="text"
                                            name="gateway-ip"
                                            size="39"
                                            data-ng-placeholder="vlanDetails.provideDHCPAction.gatewayPlaceholder"
                                            data-ng-model="vlanDetails.provideDHCPAction.gatewayIP"
                                            data-ng-disabled="!vlanDetails.provideDHCPAction.subnet"
                                            data-ng-change="vlanDetails.updatendIP()">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                <div class="row u-no-margin--top">
                    <section class="page-header__section col-12" data-ng-if="!vlanDetails.isActionError()">
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'disable_dhcp' && vlanDetails.vlan.dhcp_on">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to disable DHCP on this VLAN? All subnets on this VLAN will be affected.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'disable_dhcp' && vlanDetails.vlan.relay_vlan">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to disable DHCP relay on this VLAN? All subnets on this VLAN will be affected.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'enable_dhcp' && vlanDetails.relatedSubnets.length === 0">
                            <i class="p-icon--error">Error:</i> No subnets are available on this VLAN. DHCP cannot be enabled.
                        </p>
                        <p class="col-8" data-ng-if="vlanDetails.actionOption.name === 'delete'">
                            <i class="p-icon--warning">Warning:</i> Are you sure you want to delete this VLAN?
                        </p>
                        <div class="page-header__controls u-no-margin--top">
                            <button class="p-button--base" type="button" data-ng-click="vlanDetails.actionCancel()">Cancel</button>
                            <button data-ng-class="vlanDetails.actionOption.name === 'delete' ? 'p-button--negative' : 'button--positive'"  data-ng-click="vlanDetails.actionGo()" data-ng-disabled="!vlanDetails.canPerformAction()">{$ vlanDetails.actionOption.title $}</button>
                        </div>
                    </section>
                </div>
                <div class="row" data-ng-if="vlanDetails.isActionError()">
                    <section class="page-header__section col-12">
                        <p class="page-header__message page-header__message--error">{$ vlanDetails.actionError $}</p>
                        <div class="page-header__controls">
                            <button class="button--base button--inline u-margin--right" type="button" data-ng-click="vlanDetails.actionCancel()">Cancel</button>
                            <button class="button--secondary button--inline" data-ng-click="vlanDetails.actionRetry()">Retry</button>
                        </div>
                    </section>
                </div>
            </div>
            <!-- End of "Take action" dropdown -->
        </div>
    </header>
    <section class="p-strip is-bordered">
        <div class="row">
            <div class="col-6">
                <h2 class="p-heading--four">VLAN Summary</h2>
            </div>
            <div class="col-6">
                <button type="button" name="button" class="p-button--neutral u-float--right" data-ng-click="vlanDetails.enterEditSummary()" data-ng-if="!vlanDetails.editSummary && vlanDetails.isSuperUser()">Edit</button>
            </div>
        </div>
        <div class="p-form p-form--stacked row" data-ng-if="!vlanDetails.editSummary">
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>VID</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.vlan.vid $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>Name</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.vlan.name $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>MTU</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.vlan.mtu $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>Space</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.getSpaceName() $}</p>
                    </div>
                </div>
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>Description</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.vlan.description $}</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>Fabric</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p><a href="#/fabric/{$ vlanDetails.fabric.id $}">{$ vlanDetails.fabric.name $}</a></p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.relatedControllers">
                    <div class="p-form__label">
                        <p><strong>Rack controllers</strong>
                        <span class="p-tooltip p-tooltip--top-center">
                            <i class="p-icon--information">Help:</i>
                            <span class="p-tooltip__message" role="tooltip">A rack controller controls hosts and images and runs network services&#xa;like DHCP for connected VLANs.</span>
                        </span></p>
                    </div>
                    <div class="p-form__control">
                        <span data-ng-repeat="rack in vlanDetails.relatedControllers">
                            <a href="#/controller/{$ rack.system_id $}">{$ rack.hostname $}</a>,
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <maas-obj-form obj="vlanDetails.vlan" manager="vlanDetails.vlanManager" data-ng-disabled="!vlanDetails.isSuperUser()" data-ng-if="vlanDetails.editSummary"
            table-form="true" save-on-blur="false" after-save="vlanDetails.exitEditSummary">
                <div class="row">
                    <div class="col-6">
                        <maas-obj-field type="text" key="vid" label="VID" placeholder="VLAN VID"
                            label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                        <maas-obj-field type="text" key="name" label="Name" placeholder="VLAN name"
                            label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                        <maas-obj-field type="text" key="mtu" label="MTU" placeholder="VLAN MTU"
                            label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                        <maas-obj-field type="options" key="space" label="Space" placeholder="(undefined)" placeholder-enabled="true"
                            options="space.id as space.name for space in vlanDetails.spaces"
                            label-width="2" input-width="5"></maas-obj-field>
                        <maas-obj-field type="textarea" key="description" label="Description" placeholder="VLAN description"
                            label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                    </div>
                    <div class="col-6">
                        <maas-obj-field type="options" key="fabric" label="Fabric"
                                        options="fabric.id as fabric.name for fabric in vlanDetails.fabrics"></maas-obj-field>
                        <div class="p-form__group" data-ng-if="vlanDetails.relatedControllers">
                            <div class="p-form__label">
                                <p><strong>Rack controllers</strong>
                                <span class="p-tooltip p-tooltip--top-center">
                                    <i class="p-icon--information">Help:</i>
                                    <span class="p-tooltip__message" role="tooltip">A rack controller controls hosts and images and runs network services&#xa;like DHCP for connected VLANs.</span>
                                </span></p>
                            </div>
                            <div class="p-form__control">
                                <span data-ng-repeat="rack in vlanDetails.relatedControllers">
                                    <a href="#/controller/{$ rack.system_id $}">{$ rack.hostname $}</a>,
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row u-no-margin--top">
                    <div class="col-8 u-vertically-center">
                        <maas-obj-errors></maas-obj-errors>
                    </div>
                    <div class="row u-align--right">
                        <button class="p-button--base" type="button"
                        data-ng-click="vlanDetails.exitEditSummary()">Cancel</button>
                        <button class="p-button--positive" maas-obj-save>Save summary</button>
                    </div>
                </div>
            </maas-obj-form>
        </div>
    </section>

    <section class="p-strip">
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four">DHCP</h2>
                <h4 data-ng-if="vlanDetails.primaryRack && vlanDetails.secondaryRack" class="u-off-screen p-heading--five"> High availability</h4>
            </div>
        </div>
        <div class="p-form p-form--stacked row">
            <div class="col-8">
                <div class="p-form__group">
                    <div class="p-form__label">
                        <p><strong>Status</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.getDHCPStatus() $}</p>
                    </div>
                </div>

                <div class="p-form__group" data-ng-if="vlanDetails.vlan.external_dhcp">
                    <div class="p-form__label">
                        <p><strong>External DHCP</strong></p>
                    </div>
                    <div class="p-form__control">
                        <p>
                            {$ vlanDetails.vlan.external_dhcp $}
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--warning">Warning:</i>
                                <span class="p-tooltip__message" role="tooltip">Another DHCP server has been discovered on this VLAN. Enabling DHCP is not recommended.</span>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.primaryRack">
                    <div class="p-form__label">
                        <p>
                            <strong>Primary controller</strong>
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--help">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">The rack controller where DHCP service runs on.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.primaryRack.hostname $}</p>
                    </div>
                </div>
                <div class="p-form__group" data-ng-if="vlanDetails.secondaryRack">
                    <div class="p-form__label">
                        <p>
                            <strong>Secondary controller</strong>
                            <span class="p-tooltip p-tooltip--top-center">
                                <i class="p-icon--help">Help:</i>
                                <span class="p-tooltip__message" role="tooltip">The rack controller that will take over DHCP services if the primary fails.</span>
                            </span>
                        </p>
                    </div>
                    <div class="p-form__control">
                        <p>{$ vlanDetails.secondaryRack.hostname $}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            <h2 class="p-heading--four">Reserved ranges</h2>
        </div>
        <div class="row">
            <maas-ip-ranges vlan="vlanDetails.vlan"></maas-ip-ranges>
        </div>
    </section>
    <section class="p-strip">
        <div class="row">
            <div class="col-12">
                <h2 class="p-heading--four">Subnets on this VLAN</h2>
            </div>
            <table>
                <thead>
                    <tr>
                        <th class="col-6">Subnet</th>
                        <th class="col-2">Used</th>
                        <th class="col-4">Space</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="row in vlanDetails.relatedSubnets">
                        <td class="col-6" aria-label="Subnet"><a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet.cidr $}</a></td>
                        <td class="col-2" aria-label="Used">{$ row.subnet.statistics.usage_string $}</td>
                        <td class="col-4" aria-label="Space"><a href="#space/{$ row.space.id $}">{$ row.space.name $}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
