<div data-ng-if="vlanDetails.loaded">
    <header class="page-header margin-bottom" data-maas-sticky-header>
        <div class="inner-wrapper">
            <h1 class="page-header__title twelvel-col">
                {$ vlanDetails.title $}
            </h1>
            <!-- "Take action" dropdown -->
            <div data-ng-show="vlanDetails.actionOptions.length">
                <div class="page-header__actions four-col last-col">
                     <div class="page-header__cta two-col no-margin-bottom last-col">
                        <div class="two-col no-margin-bottom last-col">
                            <div data-maas-cta="vlanDetails.actionOptions"
                                data-ng-model="vlanDetails.actionOption"
                                data-ng-change="vlanDetails.actionOptionChanged()">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header__dropdown ng-hide" data-ng-show="vlanDetails.actionOption">
                    <div class="page-header__feedback ng-hide" data-ng-hide="vlanDetails.isActionError()">
                        <form class="form-inline">
                            <div class="eight-col no-margin-bottom ng-hide" data-ng-show="vlanDetails.actionOption.name === 'provide_dhcp'">
                                <div class="inline width--auto margin-top--ten margin-right left">
                                    <!-- Conroller selection fields -->
                                    <div data-ng-hide="vlanDetails.relatedSubnets.length === 0">
                                        <label for="primary-rack" class="four-col">Primary controller</label>
                                        <div class="three-col" style="padding: 1px;">
                                            <select name="primary-rack" data-ng-model="vlanDetails.provideDHCPAction.primaryRack" data-ng-change="vlanDetails.updatePrimaryRack()" data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers">
                                                <!-- XXX mpontillo temporary hack: remove this when we have a better way to disable DHCP. -->
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <label for="secondary-rack" class="four-col">Secondary controller</label>
                                        <div class="three-col" style="padding-top: 1px; padding-bottom: 1px;">
                                            <select name="secondary-rack" data-ng-model="vlanDetails.provideDHCPAction.secondaryRack" data-ng-change="vlanDetails.updateSecondaryRack()" data-ng-options="rack.system_id as rack.hostname for rack in vlanDetails.relatedControllers">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- IP range selection fields -->
                                   <div data-ng-hide="vlanDetails.relatedSubnets.length === 0 || (vlanDetails.provideDHCPAction.needsDynamicRange === false && vlanDetails.provideDHCPAction.needsGatewayIP === false)">
                                        <label for="subnet" class="four-col">Subnet</label>
                                        <div class="three-col" style="padding-top: 1px; padding-bottom: 1px;">
                                            <select name="subnet" data-ng-model="vlanDetails.provideDHCPAction.subnet" data-ng-change="vlanDetails.updateSubnet()" data-ng-options="row.subnet.id as row.subnet.cidr for row in vlanDetails.relatedSubnets">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                   </div>
                                   <div data-ng-hide="vlanDetails.provideDHCPAction.needsDynamicRange === false || vlanDetails.relatedSubnets.length === 0">
                                        <!--
                                        <label for="number-of-ips" class="four-col">Maximum addresses</label>
                                        <div class="three-col" style="padding-left: 20px; padding-top: 1px; padding-bottom: 1px;">
                                            <input type="text" class="three-col" name="number-of-ips" data-ng-model="vlanDetails.provideDHCPAction.numIPs" data-ng-disabled="true" data-ng-change="vlanDetails.updateNumAddresses()">
                                        </div>
                                        -->
                                        <label for="start-ip" class="four-col">Start IP</label>
                                        <div class="three-col" style="padding-left: 20px; padding-top: 1px; padding-bottom: 1px;">
                                            <input type="text" name="start-ip" size="39" data-ng-model="vlanDetails.provideDHCPAction.startIP" data-ng-disabled="!vlanDetails.provideDHCPAction.subnet" data-ng-change="vlanDetails.updateStartIP()">
                                        </div>
                                        <label for="end-ip" class="four-col">End IP</label>
                                        <div class="three-col" style="padding-left: 20px; padding-top: 1px; padding-bottom: 1px;">
                                            <input type="text" name="end-ip" size="39" data-ng-model="vlanDetails.provideDHCPAction.endIP" data-ng-disabled="!vlanDetails.provideDHCPAction.subnet" data-ng-change="vlanDetails.updateEndIP()">
                                        </div>
                                    </div>
                                       <div data-ng-hide="vlanDetails.provideDHCPAction.needsGatewayIP === false || vlanDetails.provideDHCPAction.subnetMissingGatewayIP === false || vlanDetails.relatedSubnets.length === 0">
                                        <label for="gateway-ip" class="four-col">Gateway IP</label>
                                           <div class="three-col" style="padding-left: 20px; padding-top: 1px; padding-bottom: 1px;">
                                               <input type="text" name="gateway-ip" size="39" data-ng-model="vlanDetails.provideDHCPAction.gatewayIP" data-ng-disabled="!vlanDetails.provideDHCPAction.subnet" data-ng-change="vlanDetails.updatendIP()">
                                           </div>
                                    </div>
                                </div>
                            </div>
                            <div class="right">
                                <a href="" class="margin-right" data-ng-click="vlanDetails.actionCancel()">Cancel</a>
                                <button class="cta-ubuntu" data-ng-click="vlanDetails.actionGo()" data-ng-disabled="vlanDetails.actionOption.name === 'provide_dhcp' && vlanDetails.relatedSubnets.length === 0">Go</button>
                            </div>
                        </form>

                    </div>
                    <div class="page-header__feedback ng-hide" data-ng-show="vlanDetails.actionOption.name === 'provide_dhcp' && vlanDetails.relatedSubnets.length === 0">
                        <p class="page-header__feedback-message info">
                            No subnets are available on this VLAN. DHCP cannot be enabled.
                        </p>
                    </div>
                    <div class="page-header__feedback ng-hide" data-ng-show="vlanDetails.isActionError()">
                        <p class="page-header__feedback-message info">
                            {$ vlanDetails.actionError $}
                        </p>
                        <div class="right">
                            <a href="" class="margin-right" data-ng-click="vlanDetails.actionCancel()">Cancel</a>
                            <button class="cta-ubuntu" data-ng-click="vlanDetails.actionRetry()">Retry</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of "Take action" dropdown -->
        </div>
    </header>
    <section class="row">
        <div class="inner-wrapper">
           <dl class="six-col">
                <!-- The user can't change the VID of the default VLAN. -->
               <div class="ng-hide" data-ng-show="vlanDetails.vlan.vid">
                   <dt class="two-col">VID</dt><dd class="four-col last-col">{$ vlanDetails.vlan.vid $}</dd>
               </div>
               <div class="ng-hide" data-ng-show="vlanDetails.vlan.name">
                   <!-- XXX mpontillo: when we support editing, this needs to have placeholder text if it's empty. -->
                   <dt class="two-col">Name</dt><dd class="four-col last-col">{$ vlanDetails.vlan.name $}</dd>
               </div>
               <dt class="two-col">MTU</dt><dd class="four-col last-col">{$ vlanDetails.vlan.mtu $}</dd>
               <dt class="two-col">Fabric</dt><dd class="four-col last-col">{$ vlanDetails.fabric.name $}</dd>
               <dt class="two-col">Spaces</dt><dd class="four-col last-col"><span data-ng-repeat="space in vlanDetails.relatedSpaces">{$ space.name $} </span></dd>
           </dl>
            <dl class="six-col last-col">
                <dt class="two-col">DHCP</dt><dd class="four-col last-col">{$ vlanDetails.vlan.dhcp_on ? "Enabled" : "Disabled" $}</dd>
                <div class="ng-hide" data-ng-show="vlanDetails.primaryRack">
                    <dt class="two-col">Primary controller</dt><dd class="four-col last-col">{$ vlanDetails.primaryRack.hostname $}</dd>
                </div>
                <div class="ng-hide" data-ng-show="vlanDetails.secondaryRack">
                    <dt class="two-col">Secondary controller</dt><dd class="four-col last-col">{$ vlanDetails.secondaryRack.hostname $}</dd>
                </div>
                <dt class="two-col">Rack&nbsp;controllers</dt><dd class="four-col last-col"><span data-ng-repeat="controller in vlanDetails.relatedControllers">{$ controller.hostname $} </span></dd>
            </dl>
            <div class="twelve-col">
                <h1>Subnets on this VLAN</h1>
                <div class="table">
                    <header class="table__head">
                        <div class="table__row">
                            <div class="table__header table__column--40">Subnet</div>
                            <div class="table__header table__column--10">Used</div>
                            <div class="table__header table__column--25">Space</div>
                            <div class="table__header table__column--25">Fabric</div>
                        </div>
                    </header>
                    <section class="table__body">
                        <div class="table__row" data-ng-repeat="row in vlanDetails.relatedSubnets">
                            <div class="table__data table__column--40"><a href="#/subnet/{$ row.subnet.id $}">{$ row.subnet.cidr $}</a></div>
                            <div class="table__data table__column--10">{$ row.subnet.statistics.usage_string $}</div>
                            <div class="table__data table__column--25">{$ row.space.name $}</div>
                            <div class="table__data table__column--25">{$ row.fabric.name $}</div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    </div>
