<header class="p-strip--light is-shallow u-no-padding--bottom page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-medium-4 col-8">
            <h1 class="page-header__title">Availability zones</h1>
            <span class="page-header__status p-tooltip--btm-left">
                    <i class="p-icon--help">Help:</i>
                    <span class="p-tooltip__message" role="tooltip">A representation of a grouping of nodes, typically by physical location.</span>
            </span>
            <p class="page-header__status" data-ng-show="loading">
                <i class="p-icon--spinner u-animation--spin"></i> Loading...
            </p>
            <p class="page-header__status" data-ng-show="!loading"><ng-pluralize data-ng-hide="loading" count="zones.length"
                        when="{'one': '{$ zones.length $} AZ available', 'other': '{$ zones.length $} AZs available '}"></ng-pluralize></p>
        </div>
        <div class="col-medium-2 col-4">
            <div class="page-header__controls" data-ng-show="isSuperUser()">
                <button class="button--secondary button--inline"
                    data-ng-click="addZone()"
                    data-ng-hide="action.open">Add AZ</button>
                <button class="button--secondary button--inline"
                    data-ng-click="closeZone()"
                    data-ng-show="action.open">Cancel add AZ</button>
            </div>
        </div>
    </div>
    <div class="row u-no-margin--top" data-ng-if="action.open">
        <hr />
        <maas-obj-form obj="action.obj" manager="zoneManager" manager-method="createItem"
            inline="true" save-on-blur="false" after-save="closeZone">
            <div class="col-6">
                <maas-obj-field
                    type="text" key="name" label="Name (required)" subtle="false"
                    placeholder="Name (required)" label-width="2" input-width="3" ></maas-obj-field>
            </div>
            <div class="col-6">
                <div class="u-align--right">
                    <button class="p-button--base" type="button"data-ng-click="closeZone()">Cancel</button>
                    <button class="p-button--positive u-no-margin--top" maas-obj-save>Add AZ</button>
                </div>
            </div>
        </maas-obj-form>
    </div>
</header>
<div class="p-strip is-shallow u-no-padding--bottom">
    <div class="row">
        <maas-notifications></maas-notifications>
    </div>
</div>
<section class="p-strip">
    <div class="row">
        <!-- Zones table -->
        <table class="p-table--zones p-table-expanding p-table--sortable u-no-margin--top" style="overflow: visible;">
            <thead>
                <tr role="row" class="p-table__row">
                    <th role="columnheader" data-ng-click="predicate='name'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'name', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Name</th>
                    <th role="columnheader" data-ng-click="predicate='description'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'description', 'sort-asc': reverse === false, 'sort-desc': reverse === true}">Description</th>
                    <th role="columnheader" data-ng-click="predicate='machines'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'machines', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" class="u-align--right">Machines</th>
                    <th role="columnheader" data-ng-click="predicate='devices'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'devices', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" class="u-align--right">Devices</th>
                    <th role="columnheader" data-ng-click="predicate='controllers'; reverse = !reverse" data-ng-class="{'is-sorted': predicate === 'controllers', 'sort-asc': reverse === false, 'sort-desc': reverse === true}" class="u-align--right">Controllers</th>
                </tr>
            </thead>
            <tbody vs-repeat vs-scroll-parent="window">
                <tr role="row" class="p-table__row" data-ng-repeat="zone in zones | orderBy:predicate:reverse track by $index">
                    <td aria-label="Name" title="{$ zone.name $}">
                        <a href="#/zone/{$ zone.id $}">{$ zone.name $}</a>
                    </td>
                    <td aria-label="Description" title="{$ zone.description $}">
                        {$ zone.description $}
                    </td>
                    <td aria-label="Machines" class="u-align--right">
                        <a href="#/machines?query=zone:({$ zone.name $})">{$ zone.machines_count $}</a>
                    </td>
                    <td aria-label="Devices" class="u-align--right">
                        <a href="#/devices?query=zone:({$ zone.name $})">{$ zone.devices_count $}</a>
                    </td>
                    <td aria-label="Controllers" class="u-align--right">
                        <a href="#/controllers?query=zone:({$ zone.name $})">{$ zone.controllers_count $}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
