<header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
    <div class="row">
        <div class="col-8">
            <h1 class="page-header__title">Zones</h1>
            <p class="page-header__status" data-ng-show="!loading"><ng-pluralize data-ng-hide="loading" count="zones.length"
                        when="{'one': '{$ zones.length $} zone available', 'other': '{$ zones.length $} zones available '}"></ng-pluralize></p>
        </div>
        <div class="col-4">      
            <div class="page-header__controls" data-ng-show="isSuperUser()">
                <button class="button--secondary button--inline"
                    data-ng-click="addZone()"
                    data-ng-hide="action.open">Add zone</button>
                <button class="button--secondary button--inline"
                    data-ng-click="closeZone()"
                    data-ng-show="action.open">Cancel add zone</button>
            </div>
        </div>
    </div>
    <div class="row u-no-margin--top" data-ng-if="action.open">
        <hr />
        <maas-obj-form obj="action.obj" manager="zoneManager" manager-method="createItem"
            inline="true" save-on-blur="false" after-save="closeZone">
            <div class="col-6">
                <maas-obj-field
                    type="text" key="name" label="Name (required)" subtle="false"
                    placeholder="Name (required)" label-width="2" input-width="3" ></maas-obj-field>
            </div>
            <div class="col-6 u-align--right">
                <button class="p-button--base"  type="button"data-ng-click="closeZone()">Cancel</button>
                <button class="p-button--positive u-no-margin--top" maas-obj-save>Add zone</button>
            </div>
        </maas-obj-form>
    </div>
</header>
<section class="p-strip">
    <div class="row">
        <div class="col-12 ng-hide u-equal-height" data-ng-show="!loading">
            <h2 class="u-float--left">Physical zones</h2>&nbsp;&nbsp;

            <span class="u-vertically-center u-no-margin--top">
                <span class="p-tooltip p-tooltip--btm-left">
                    <i class="p-icon--help u-hide u-show--large u-no-margin--right">Help:</i>
                    <span class="p-tooltip__message" role="tooltip">A representation of a grouping of nodes, typically by physical location.</span>
                </span>
            </span>
        </div>
    </div>
    <div class="row">
        <!-- Spaces grouped table -->
        <table class="table-listing">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Machines</th>
                    <th>Devices</th>
                    <th>Controllers</th>
                </tr>
            </thead>
            <tbody vs-repeat vs-scroll-parent="window">
                <tr data-ng-repeat="zone in zones">
                    <td aria-label="Name">
                        <a href="#/zone/{$ zone.id $}">{$ zone.name $}</a>
                    </td>
                    <td aria-label="Description">
                        {$ zone.description $}
                    </td>
                    <td aria-label="Machines">
                        <a href="#/nodes?tab=nodes&query=zone:({$ zone.name $})">{$ zone.machines_count $}</a>
                    </td>
                    <td aria-label="Devices">
                        <a href="#/nodes?tab=devices&query=zone:({$ zone.name $})">{$ zone.devices_count $}</a>
                    </td>
                    <td aria-label="Controllers">
                        <a href="#/nodes?tab=controllers&query=zone:({$ zone.name $})">{$ zone.controllers_count $}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
