<div data-ng-hide="loaded">
    <header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
        <div class="row">
            <h1 class="page-header__title">Loading...</h1>
        </div>
    </header>
</div>
<div class="ng-hide u-no-margin--top" data-ng-show="loaded">
    <header class="p-strip--light is-shallow is-bordered page-header" media-query="min-width: 769px">
        <div class="row">
            <div class="col-8">
                <h1 class="page-header__title">Physical zone: {$ zone.name $}</h1>
            </div>
            <div class="col-4">
                <div class="page-header__controls ng-hide" data-ng-show="isSuperUser() && !isDefaultZone() && !loading">
                    <button class="button--destructive button--inline"
                        data-ng-click="deleteButton()"
                        data-ng-hide="confirmingDelete">Delete zone</button>
                </div>
            </div>
        </div>
        <div class="row u-no-margin--top">
            <div data-ng-if="confirmingDelete">
                <hr />
                <section class="row ng-hide" data-ng-hide="canBeDeleted()">
                    <div class="col-6">
                        <p><i class="p-icon--error">Error:</i> Zone cannot be deleted because it is the default zone.</p>
                    </div>
                    <div class="col-6 u-align--right">
                        <button class="p-button--base"  type="button"data-ng-click="cancelDeleteButton()">Cancel</button>
                    </div>
                </section>
                <section class="row ng-hide" data-ng-show="canBeDeleted() && !error">
                    <div class="col-6">
                        <p><i class="p-icon--error">Error:</i> Are you sure you want to delete this zone?</p>
                    </div>
                    <div class="col-6 u-align--right">
                        <button class="p-button--base"  type="button"data-ng-click="cancelDeleteButton()">Cancel</button>
                        <button class="p-button--negative u-no-margin--top" data-ng-click="deleteConfirmButton()">Delete zone</button>
                    </div>
                </section>
                <section class="row ng-hide" data-ng-show="canBeDeleted() && error">
                    <div class="col-6">
                        <p><i class="p-icon--error">Error:</i> {$ error $}</p>
                    </div>
                    <div class="col-6 u-align--right">
                        <button class="p-button--base"  type="button"data-ng-click="cancelDeleteButton()">Cancel</button>
                        <button class="p-button--neutral u-no-margin--top" data-ng-click="deleteConfirmButton()">Retry</button>
                    </div>
                </section>
            </div>
        </div>
    </header>
    <div data-ng-show="!loading">
        <section class="p-strip">
            <div class="row">
                <div class="col-6">
                    <h2>Zone summary</h2>
                </div>
                <div class="col-6">
                    <button type="button" name="button" class="p-button--neutral u-float--right" data-ng-click="enterEditSummary()" data-ng-if="editSummary != true">Edit</button>
                </div>
            </div>
            <div class="row" data-ng-if="editSummary != true">
                <dl class="col-6">
                    <dt>Name</dt>
                    <dd>{$ zone.name $}</dd>
                    <dt>Description</dt>
                    <dd>{$ zone.description $}&nbsp;</dd>
                    <dt>Machines</dt>
                    <dd><a href="#/nodes?tab=nodes&query=zone:({$ zone.name $})">{$ zone.machines_count $}</a></dd>
                </dl>
            </div>
            <div class="row">
                <maas-obj-form obj="zone" data-ng-if="editSummary == true" table-form="true" save-on-blur="false" after-save="exitEditSummary" manager="zoneManager" data-ng-disabled="!isSuperUser()">
                    <div class="row">
                        <div class="col-6">
                            <maas-obj-field type="text" key="name" label="Name" placeholder="Zone name"
                                label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                            <maas-obj-field type="textarea" key="description" label="Description" placeholder="Zone description"
                                label-width="2" input-width="5" blur-on-enter="true"></maas-obj-field>
                            <dl>
                                <dt class="col-2">Machines</dt>
                                <dd class="col-5">
                                    <a href="#/nodes?tab=nodes&query=zone:({$ zone.name $})">{$ zone.machines_count $}</a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 u-align--right">
                            <button class="p-button--base" type="button"
                            data-ng-click="exitEditSummary()">Cancel</button>
                            <button class="p-button--positive" maas-obj-save>Save summary</button>
                        </div>
                    </div>
                </maas-obj-form>
            </div>
        </section>
    </div>
</div>
