@charset "UTF-8";

@import "../../ubuntu/core-constants";
@import "../../ubuntu/core-mixins";

/**
 * MAAS footer styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

footer.global {
	border-top: 1px dotted #b2b2b2;
	background-color: transparent;
	padding-top: 0px;
	background-image: url(/static/img/logos/logo-ubuntu-orange.png);
	background-image: url(/static/img/logos/logo-ubuntu-orange.svg), none;
	background-size: 107px 25px;
	background-position: top 20px right 10px;
	background-repeat: no-repeat;

	a {
		margin: 0 5px;
		color: $ubuntu_orange;
	}

	.version {
		font-weight: 500;
		margin-right: 5px;
	}

	.copy {
		margin-top: 10px;
	}
}
