@charset 'UTF8';

/**
 * MAAS grid styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

.inner-wrapper {
    max-width: 1480px;
    padding: -0px 20px;
}

.row {
    background-color: transparent;
}
