@charset "UTF-8";

/**
 * MAAS header styles
 *
 * @project     MAAS
 * @author      Web Team at Canonical Ltd
 * @copyright   2015 Canonical Ltd
 *
 */

header.banner {

    overflow: visible;

    nav.nav-primary {
        border-bottom: none;
    }

    .nav-primary {

        &.nav-right {

            .logo-ubuntu {
                @include background-size(100px);
                background-position: 5px 9px;
            }
        }

        @media screen and (max-width: 768px) {
            ul {
                border-right: none;
            }
        }
    }

    #right-nav {
        float: right;
        margin-right: 20px;

        @media screen and (max-width: 768px) {
            margin-right: 0;
        }
    }

    #user-link {
        position: relative;

        @media screen and (max-width: 768px) {
            border-top: 1px solid #d4d7d4;
            width: 100%;
        }

        > a {
            padding-bottom: 12px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .normal,
        .hover {
            margin-right: 7px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .hover {
            display: none;
        }

        .nav {
            @include rounded-corners(0px 0px 4px 4px);
            background-color: #FFF;
            border: none;
            display: none;
            position: absolute;
            right: 0;
            top: 48px;
            box-shadow: 0px 2px 4px rgba(000,000,000,0.15);

            a {

                @media screen and (min-width: 769px) {
                    &.active {
                        background: none;
                        border: none;
                    }
                }

                &:hover {
                    background-color: transparent;

                    @media screen and (max-width: 768px) {
                        background-color: #F8F8F8;
                        color: #333;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                background: none;
                position: relative;
                top: inherit;
                width: 100%;
                box-shadow: none;
                float: left;
                padding: 0;

                li {
                    border-bottom: 1px solid #d4d7d4;
                    width: 100%;
                    float: left;

                    a {
                        padding:10px 14px;
                        width: 100%;
                    }
                }
            }
        }

        &:hover {
            @media screen and (max-width: 768px) {
                > a {
                    background-color: transparent;
                }
            }

            .normal {
                display: none;
            }

            .hover {
                display: inline-block;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .nav {
                display: block;
            }
        }
    }

    .nav-toggle {
        background-image: url('../?img/icons/navigation-menu-plain.png');
        background-image: url('../?img/icons/navigation-menu-plain.svg'), none;
        top: 0;
    }

    @media screen and (max-width: 768px) {
        .nav-toggles {

            .open {
                display: block;
            }

            .close {
                display: none;
            }
        }

        #canonlist:target {
            ul {
                display: block;
            }
        }

        #canonlist:target + .nav-toggles {
            .open {
                display: none;
            }

            .close {
                display: block;
            }
        }
    }

}
