@charset "UTF-8";

/* -------------------------------------------------------------------
----------------------------------------------------------------------

    MAAS header styles

    @project     MAAS
    @author      Web Team at Canonical Ltd
    @copyright   2015 Canonical Ltd

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* INTRODUCTION ------------------------------------------------------
----------------------------------------------------------------------

    1. VARIABLES
    2. GLOBAL HEADER   -- Main page header style
    3. PAGE HEADER     -- Default fix page header style

----------------------------------------------------------------------
------------------------------------------------------------------- */


/* 1. VARIABLES ------------------------------------------------------
--------------------------------------------------------------------*/

/**
 * Main page title font size
 */
$title-size:            2.00em;

/**
 * Sub action title font size
 */
$title-action-size:     0.60em;


/* 2. GLOBAL HEADER --------------------------------------------------
--------------------------------------------------------------------*/

header.banner {
    overflow: visible;
    z-index: 20;

    nav.nav-primary {
        border-bottom: none;
    }

    .nav-primary {

        &.nav-right {

            .logo-ubuntu {
                @include background-size(100px);
                background-position: 5px 9px;
            }
        }

        @media screen and (max-width: 768px) {
            ul {
                border-right: none;
            }
        }
    }

    #right-nav {
        float: right;
        margin-right: 20px;

        @media screen and (max-width: 768px) {
            margin-right: 0;
        }
    }

    #user-link {
        position: relative;

        @media screen and (max-width: 768px) {
            border-top: 1px solid #d4d7d4;
            width: 100%;
        }

        > a {
            padding-bottom: 12px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .normal,
        .hover {
            margin-right: 7px;

            @media screen and (max-width: 768px) {
                display: none;
            }
        }

        .hover {
            display: none;
        }

        .nav {
            @include rounded-corners(0px 0px 4px 4px);
            background-color: #FFF;
            border: none;
            display: none;
            position: absolute;
            right: 0;
            top: 48px;
            box-shadow: 0px 2px 4px rgba(000,000,000,0.15);

            a {

                @media screen and (min-width: 769px) {
                    &.active {
                        background: none;
                        border: none;
                    }
                }

                &:hover {
                    background-color: transparent;

                    @media screen and (max-width: 768px) {
                        background-color: #F8F8F8;
                        color: #333;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                background: none;
                position: relative;
                top: inherit;
                width: 100%;
                box-shadow: none;
                float: left;
                padding: 0;

                li {
                    border-bottom: 1px solid #d4d7d4;
                    width: 100%;
                    float: left;

                    a {
                        padding:10px 14px;
                        width: 100%;
                    }
                }
            }
        }

        &:hover {
            @media screen and (max-width: 768px) {
                > a {
                    background-color: transparent;
                }
            }

            .normal {
                display: none;
            }

            .hover {
                display: inline-block;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .nav {
                display: block;
            }
        }
    }

    .nav-toggle {
        background-image: url('../img/icons/navigation-menu-plain.png');
        background-image: url('../img/icons/navigation-menu-plain.svg'), none;
        top: 0;
    }

    @media screen and (max-width: 768px) {
        .nav-toggles {

            .open {
                display: block;
            }

            .close {
                display: none;
            }
        }

        #canonlist:target {
            ul {
                display: block;
            }
        }

        #canonlist:target + .nav-toggles {
            .open {
                display: none;
            }

            .close {
                display: block;
            }
        }
    }

}

/* 3. PAGE HEADER ----------------------------------------------------
--------------------------------------------------------------------*/

.page-header {
    @include box-sizing();
    background:#FFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    float: left;
    position: relative;
    z-index: 10;

    /**
     * Main page title
     */
    .page-header__title {
        font-size: $title-size;
        width: auto;
        padding: 31px 0;
        margin: 0;
        float: left;

        /**
         * Title identicator is used to show any sub pages and where
         * a user is currently.
         */
        .page-header__title--identicator {
            font-size: $title-action-size;
            width: auto;
            display: inline-block;
            position: relative;
            top: 0px;
            padding-left: 20px;
            margin-left: 10px;

            a {
                color: #888;

                &:hover {
                    text-decoration: none;
                    border-bottom: 1px solid #888;
                }

                &.active {
                    color: #333;
                    border-bottom: 1px solid $ubuntu-orange;

                    &:hover {
                        text-decoration: none;
                        cursor: default;
                    }
                }
            }

            .divide {
                width: 1px;
                display: inline-block;
                background: #D2D2D2;
                height: 11px;
                padding: 0;
                margin: 0 5px;
            }
        }
    }

    /**
     * Page actions container, used to hold any call to action buttons
     * and links
     */
    .page-header__actions {
        float: right;
        padding: 34px 0;
        margin-bottom: 0;

        .page-header__cta {
            float: right;
            position: relative;
            height: auto;
            max-height: 36px;

            /**
             * Feedback container for the cta, will contain positive or
             * negative feedback
             */
            .page-header__cta-feedback {
                display: inline-block;
                position: relative;
                line-height: 36px;
                float: left;
                text-align: right;
                color: $ubuntu-orange;
            }
        }
    }

    /**
     * Header dropdown section, can contain secondary information i.e
     * flash messages or form controls / actions
     */
    .page-header__dropdown {
        float: left;
        width: 100%;
        padding: 13px 0;
        border-top: 1px dotted #888;

        /**
         * Feedback style, mainly used for actions feedback
         */
        .page-header__feedback {
            padding: 6px 0 5px;

            .page-header__feedback-message {
                @include box-sizing();
                margin: 0;
                background-position: top 3px left 0px;
                background-repeat: no-repeat;
                padding-left: 25px;

                &.info {
                    background-image: url('../img/icons/error.png');
                    background-image: url('../img/icons/error.svg'), none;
                }
            }
        }
    }
}

.title {

    .title__indicator {

        .title__link {
            color: #888;
            font-size: 20px;

            &:hover {
                color: #333;
                text-decoration: none;
                border-bottom: 1px solid #333;
            }

            &.active {
                color: #333;
                border-bottom: 1px $ubuntu-orange solid;
            }
        }

        .divide {
            width: 1px;
            display: inline-block;
            background: #D2D2D2;
            height: 11px;
            padding: 0;
            margin: 0 5px;
        }
    }
}
