@mixin KVMResourcesCard {
  .kvm-resources-card {
    @extend %vf-is-bordered;
    display: grid;
    grid-template-areas:
      "ram ram ram ram"
      "cor cor cor cor"
      "vfs vfs vfs vfs";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: min-content;

    .ram-resources {
      grid-area: ram;
    }

    .core-resources {
      border-top: $border;
      grid-area: cor;
    }

    .vf-resources {
      border-top: $border;
      grid-area: vfs;
    }

    @media only screen and (min-width: $breakpoint-small) {
      grid-template-areas:
        "ram ram ram ram ram ram"
        "cor cor cor cor cor cor"
        "vfs vfs vfs vfs vfs vfs";
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    @media only screen and (min-width: $breakpoint-kvm-resources-card) {
      grid-template-areas: "ram ram ram ram cor cor cor cor vfs vfs vfs vfs";
      grid-template-columns: repeat(12, minmax(0, 1fr));

      .core-resources,
      .vf-resources {
        border-left: $border;
        border-top: 0;
      }
    }
  }

  .vms-link {
    padding: $spv--large;
  }
}
