@charset "UTF-8";
@import "core-constants";
@import "core-mixins";

/**
 * Ubuntu Patterns Stylesheet
 *
 * The CSS file required by Ubuntu patterns page
 *
 * @project		Ubuntu Patterns
 * @author		Web Team at Canonical Ltd
 * @copyright	2012 Canonical Ltd
 *
 */

/**
 * Links
 *
 * @section links
 */

html { /* same colour as the footer background for if there is a short page */
	background-color: $light_grey;
}

p.intro {
	@include font_size (23);
	line-height: 1.4;
}

header.banner {
  background: $ubuntu_orange;
  position: relative;
  z-index: 2;
  width: 100%;
  display: inline-block;
	border-top: 0;
		-moz-box-shadow:
			 inset 0  2px 2px -2px #777,
			 2px 1px #fff;
		-webkit-box-shadow:
			 inset 0  2px 2px -2px #777,
			 2px 1px #fff;
	box-shadow:
		 inset 0  2px 2px -2px #777,
		 2px 1px #fff;
	}

header.banner .nav-primary {
  border: 0;
	margin: 0 auto;
	overflow: hidden;
}

header.banner .nav-primary ul {
  border-right: 1px solid lighten($ubuntu_orange, 10%);
  float: left;
  margin: 0;
  position: relative;
}

header.banner .nav-primary li {
  border-left: 1px solid darken($ubuntu_orange, 5%);
  float: left;
  list-style-image: none;
  margin: 0;
  text-indent: 0;
  vertical-align: bottom;
}

header.banner .nav-primary ul li:last-child {
  border-right: 1px solid darken($ubuntu_orange, 5%);
}

header.banner .nav-primary li a:link,
header.banner .nav-primary li a:visited {
  font-size: 14px;
  border-left: 1px solid lighten($ubuntu_orange, 7%);
  color: #fff;
  display: block;
  margin-bottom: 0;
  padding: 12px 14px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
}

header.banner .nav-primary a.active {
  background: #B83A10;
  border-left: 1px solid lighten($ubuntu_orange, 7%);
}

header.banner .nav-primary li a:hover {
	background: #e1662f;
	border-top: 0;
		-moz-box-shadow: inset 0 2px 2px -2px #777;
		-webkit-box-shadow: inset 0 2px 2px -2px #777;
	box-shadow: inset 0 2px 2px -2px #777;
}


	/*
	 * Responsive header navigation
	 */

	/* @section site nav
	-------------------------------------------------------------- */
	header.banner .nav-toggle {
		position:absolute;
		right: 0;
		display: block;
		width: 48px;
		height: 48px;
		text-indent: -99999px;
		background-image: url(../img/icons/navigation-menu-plain.svg);
		@include background_size(25px auto);
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
	}

	header.banner .no-script {
		display: none;
	}

	.opera-mini header.banner .nav-toggle,
	.no-svg header.banner .nav-toggle {
		background-image: url(../img/icons/navigation-menu-plain.png);
	}

	header.banner nav ul {
		background-color: $nav_bg;
		display: none;
		float: left;
	}
	header.banner .nav-primary.active {
		box-shadow: 0 1px 2px 1px rgba(120, 120, 120, 0.2);
		padding: 0;
	}

	header nav ul.active {
		display: block;
	}

	header.banner .nav-primary ul li,
	header.banner .nav-primary ul li a:link,
	header.banner .nav-primary ul li a:visited,
	header.banner .nav-primary ul li a:active {
		display: block;
		padding: 0;
		margin: 0;
		border: none;
	}

	header.banner .nav-primary ul li a:hover {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: $nav_hover_bg;
	}
	header.banner .nav-primary ul li a.active {
		background-color: $nav_active_bg;
	}

	header.banner .nav-primary ul li {
		border-bottom: 1px solid #F2F2F4;
		font-size: 16px;
	}

	header.banner .nav-primary ul li:last-child {
		border: 0;
	}

	header.banner nav.nav-primary ul li a:link,
	header.banner .nav-primary ul li a:visited,
	header.banner .nav-primary ul li a:hover,
	header.banner .nav-primary ul li a:active {
		padding: 12px 14px 14px;
		text-align: left;
	}

	header.banner nav.nav-primary ul.active li ul {
		display: none;
	}

	/*
	 * End responsive navigation
	 */

/* nav-secondary */
.nav-secondary {
  border-bottom: 1px solid #dfdcd9;
  margin-bottom: 0;

  ul {
    float: left;
    margin-bottom: 10px;
    margin-left: 2px;

    li {
      float: left;
      margin-top: 16px;
      font-size: 14px;
	    margin-right: 15px;

      a:link,
      a:visited {
        color: #333;
        font-size: 14px;
        float: left;
      }

      a:hover,
      a:active {
        color: $ubuntu_orange;
        text-decoration: none;
      }
    }

    li,
    li.active a:link,
    li.active a:visited {
      color: $ubuntu_orange;
      text-decoration: none;
    }
  }
  ul.breadcrumb {
    margin-left: 20px;

    li,
    li a:link,
    li a:visited {
      color: $warm_grey;
      margin-right: 8px;
    }

    li.active a:link,
    li.active a:visited {
      color: $ubuntu_orange;
    }
  }
}

header.banner h2 {
	@include font_size (25);
	display: block;
	left: 4px;
	margin-bottom:0;
	position: relative;
	text-transform: lowercase;
	top: 14px;
}

header.banner h2 a:link, header.banner h2 a:visited, header.banner a {
	color: #fff;
	float: left;
	text-decoration:none;
}

header.banner {
	.logo {
	  border-left: 0;
  	float: left;
    height: 48px;
  	overflow: hidden;
	}

  .logo-ubuntu {
  	background: url("../img/ubuntu-logo.png") no-repeat scroll 0 10px transparent;
    font-size: 18px;
    margin-bottom: 0;
    position: relative;
    text-transform: lowercase;
    float: left;
    margin: 0;
    display: inline-block;
    height: 32px;
    min-width: 128px;
    margin-right: -20px;
    padding: 7px 14px 9px 0;

    img {
      margin-right: 8px;
      position: absolute;
      left: -999em;
    }

    span {
      float: left;
      font-size: 23px;
      padding-left: 122px;
      padding-right: 20px;
      position: relative;
      top: 5px;
    }

  }
  .nav-primary.nav-left {
    .logo-ubuntu {
      float: right;
    }
  }
  .nav-primary.nav-right {
    .logo-ubuntu {
      float: left;
    }
  }
}

/* Footer */
footer.global {
	@include box_sizing;
		-moz-box-shadow: inset 0 2px 2px -2px #d3d3d3;
		-webkit-box-shadow: inset 0 2px 2px -2px #d3d3d3;
	background: $light_grey;
	border-top: 0;
	box-shadow: inset 0 2px 2px -1px #d3d3d3;
	clear: both;
	display: block;
	padding: 30px 10px 20px;
	position: relative;
	width: 100%;

	.footer-a {
		display: none;
		border-bottom: 1px solid #d8d8d8;
		clear: both;
		padding-bottom: 20px;
		margin-bottom: 20px;

		div {
			padding-bottom: 10px;
		}

		ul {
			border-collapse: collapse;
			display: table;
			float: none;
			margin-left: -15px;
			padding-bottom: 0;
			width: 100%;
		}

		ul li {
			border-right: 1px dotted $warm_grey;
			display: table-cell;
			float: none;
			margin-left: 15px;
			padding-bottom: 5px;
			padding-left: 15px;
			padding-right: 5px;
			width: auto;
			width: 124px;
		}

		ul li.secondary-desktop {
			width: 128px;
		}

		ul li.secondary-server {
			width: 118px;
		}

		ul li.secondary-tablet {
			width: 123px;
		}

		ul li.secondary-cloud {
			width: 115px;
		}

		ul li.secondary-tv {
			width: 115px;
		}

		ul li.secondary-management {
			width: 143px;
		}

		ul li:last-child, ul li.last-item {
			border: 0;
			padding-right: 0;
		}

		ul ul {
			margin-left: 0;
			display: block;
		}

		li li {
			margin-left: 0;
			float: none;
			width: auto;
			display: block;
			min-height: 0;
			border: 0;
			margin-bottom: 2px;
			padding-left: 0;
			padding-bottom: inherit;
			background: none;
		}

		li li:last-child {
			margin-bottom: 0;
		}

		li li a {
			display: block;
		}
	}/* end footer-a */

	nav div.footer-a div, .inline-lists ul, .legal {
		/* Can be removed once live */
		margin: 0 auto;
		width: 100%; /* 980px / 15px (baseline font); 980px + (60px x 2) = 1100px */
	}

	.legal {
		background-image: none;
		position: relative;
		clear: both;
		min-height: 40px;
	}

	h2 {
	  font-size: 0.75em;
		line-height: 1.4;
	  margin-bottom: 0;
	  padding-bottom: 0.5em;
	}

	h2, h2 a:link, h2 a:visited {
		color: $cool_grey;
	  font-weight: normal;
	}

	nav ul li h2 a:after { content: ""; }

	ul {	margin: 0; }

	nav ul li.two-col {
		display: inline-block;
		min-height: 10em;
		vertical-align: top;
	}

	nav ul li li {
	  @include font_size (12);
		margin-bottom: 0;
	}

	ul li li a:link, ul li li a:visited {
		color: $cool_grey;
		margin-bottom: 0;
	}

	ul li li a:hover, ul li li a:active, h2 a:hover, h2 a:active {
		color: $ubuntu_orange;
		text-decoration: underline;
	}

	p, ul.inline li a {
		color: $cool_grey;
		font-size: 12px;
		margin-bottom: 0;
	}
	ul.inline li a:hover {
		color: $ubuntu_orange;
	}
	ul.inline li:after {
		color: $warm_grey;
		content: "•";
		vertical-align: middle;
		margin: 0 5px;
	}
	ul.inline li:last-child {
		width: 120px;
	}
	ul.inline li:last-child:after {
		content: "";
	}
	.inline li {
	    display: block;
	    float: none;
	    margin-bottom: 0;
	}
	.footer-b {
		padding: 0 0 20px;
		margin: 0 auto;

		ul ul, ul li, ul ul, h2, h2 a {
			margin: 0;
			padding: 0;
			line-height: 2;
			width: auto;
			float: none;
		}
		h2 {
			float: left;
			margin-right: 6px;
			display: inline;
		}
		li {
			width: 100%;
			display: block;
			clear: both;
			overflow: hidden;
		}
		li li {
			width: auto;
			background: 0;
			float: left;
			clear: none;
		}
		li li:last-child {
			width: 200px;
		}
		li li:after {
			content: "|";
			padding-left: 6px;
			padding-right: 6px;
			position: relative;
		}
		li h2 a:after,
		li li:last-child:after  {
				content: "";
		}
	}/* end footer-b */
} /* End footer.global */

/* contextualised footers */
#context-footer {
	@include font_size (14);
	border-bottom: 0;
	padding-bottom: 1px;
	padding-top: 0;
	width: 100%;
}

#context-footer hr {
	background: $ubuntu_orange;
	height: 14px;
	margin: 0 -10px 10px;
	border: 0;
		-moz-box-shadow: inset 0 2px 2px -2px #333;
		-webkit-box-shadow: inset 0 2px 2px -2px #333;
	box-shadow: inset 0 2px 2px -2px #333;
	clear: both;
}

#context-footer div.twelve-col {
	display: table;
	float: none;
	margin-bottom: 7px;
}

#context-footer div div {
		display: block;
		padding-left: 0;
		margin-bottom: 20px;
}

#context-footer div div div {
	display: block;
	padding-left: 0;
	margin-bottom: 0;
}

#context-footer div div.feature-one {
	padding-left: 0;
}

#context-footer div div.feature-four {
	margin-right: 0;
}


#context-footer ul {
	margin-bottom: 5px;
}

#context-footer li.active {
	display: none;
}

#context-footer h3 {
	@include font_size (16);
	font-weight: normal;
}

#context-footer .list a:after,
a.link-arrow:after, nav ul li h2 a:after {
	content: " ›";
}

/*
 * CTA Buttons
 */

a.link-cta-ubuntu,
a.link-cta-canonical,
a.link-cta-inverted,
button.cta-ubuntu,
button.cta-canonical,
form button[type="submit"],
form input[type="submit"] {
	@include box_sizing();
	@include font_size (16);
	@include rounded_corners(4px);
	@include gradient($ubuntu_orange, #c03f11);
	color: #fff;
	text-decoration:none;
	display: inline-block;
	margin: 0;
	padding: 8px 14px;
  font-family: Ubuntu, Arial, "libra sans", sans-serif;
	font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
  font-smoothing: subpixel-antialiased;
  padding: 8px 14px;
  width: 100%;
  text-align: center;
}
a.cta-large,
button.cta-large {
	@include font_size (18);
	padding: 10px 20px;
}
a.link-cta-canonical,
button.cta-canonical,
form button.cta-canonical[type="submit"],
form input.cta-canonical[type="submit"] {
	@include gradient($canonical_aubergine, #5f193e);
	color: #fff;
}
a.link-cta-inverted,
button.cta-inverted {
	background: #fff;
	color: $cool_grey;
}

.row-enterprise a.link-cta-canonical,
.row-enterprise button.link-cta-canonical {
  background: #fff;
  color: $canonical_aubergine;
}

a.link-cta-ubuntu:hover,
a.link-cta-ubuntu:hover,
button.cta-ubuntu:hover,
form button[type="submit"]:hover,
form input[type="submit"]:hover  {
	text-decoration: none;
  background: $ubuntu_orange;
}
a.link-cta-canonical:hover,
button.cta-canonical:hover, {
  text-decoration: none;
  background: $canonical_aubergine;
}
a.link-cta-inverted:hover,
.row-enterprise a.link-cta-canonical:hover,
button.cta-inverted:hover,
.row-enterprise button.cta-canonical:hover {
  text-decoration: underline;
  background: #fff;
}
a.cta-deactivated,
a.cta-deactivated:hover,
button.cta-deactivated,
button.cta-deactivated:hover {
  color: #fff;
  background: $box_solid_grey;
  cursor: not-allowed;
}

/*
 * End CTA Buttons
 */

 /*
 * External link
 */

a.external {
  @include background_size(.7em .7em);
  padding-right: .9em;
  background-image: url(../img/external-link-orange.svg);
  background-position: right 1px;
  background-repeat: no-repeat;
}
.opera-mini a.external,
.no-svg a.external { background-image: url(../img/external-link-orange.png); }

/*
 * End External link
 */

.four-col p:last-child {
  margin-bottom: 0;
}

/**
 * Forms
 *
 * Global form element styles
 *
 * @section forms
 */

form input,
form select,
form textarea {
	@include box_sizing();
	width: 100%;
}

form .fieldset-submit ul {
  margin-bottom: 0px;
}

form fieldset .mktError, form .errMsg {
	color: $error;
}

.reqMark {
	color: $error;
}

form fieldset .mktFormMsg {
	clear: both;
	display: block;
}

.donation-button {
  margin-bottom: 1em;
}

/**
 * Components
 *
 * @section components
 */

.wrapper,
header.banner .nav-primary,
nav div.footer-a div,
.inline-lists ul,
.legal {
	@include box_sizing;
	width: auto;
}
.inner-wrapper {
	/* Remove boxshadow once guidelines are live */
	@include box_shadow(none);
	@include box_sizing;
	@include rounded_corners(4px);
	background: #fff;
	clear: both;
	display: block;
	float: left;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
	position:relative;
	z-index:1;
}

.row,
#context-footer {
	@include box_sizing;
	clear: both;
	position: relative;
}

.row,
.row.row-image-centered,
div.box-image-centered,
div.row-image-centered,
div.row.row-image-centered {
    padding: 20px 10px 0;
}

.row {
	border-bottom: 1px dotted $warm_grey;
}

.row br {
	display: none;
}

.row iframe {
	width: 100%;
}

#main-content .row-hero {
	margin-top: 40px;
	padding-top: 0;
}

.row-feature {
	background: none;
	border: 1px solid #dfdcd9;
	padding-bottom: 20px;
}

.row-grey {
  background: $light_grey;
}

.box, .box-grey {
  @include rounded_corners(4px);
  padding: 1.333em $gutter_width;
}

.box {
  background: #fff;
  border: 1px solid #dfdcd9;
}

.box-grey {
  background: $light_grey;
  color: $cool_grey;
}

.box-orange {
  background: $ubuntu_orange;
  color: #fff;
}

.box-highlight {
	@include box_shadow(0 2px 2px 0 #c2c2c2);
	border: 1px solid $light_grey;
}

.box-textured {
  @include box_shadow(0 2px 2px 0 #c2c2c2);
  background: url("../img/patterns/grey-textured-background.jpg");
  border: 0;
}

.box-padded {
  @include rounded_corners(4px);
  background: $box_solid_grey;
  border: 0;
  margin-bottom: 20px;
  padding: 6px 5px 6px;

  h3 {
    @include font_size(19.5);
    margin-left: ($gutter_width / 4);
    margin-top: 5px;
  }

  li h3 { /* this happens in 'Further reading' /cloud/insights */
	  @include font_size(19.5);
	  margin: 0;
  }

  div {
    @include rounded_corners(4px);
      background: #fff;
      overflow: hidden;
      padding: 8px 8px 2px;
  }
}

.box-padded-feature {
  @include rounded_corners(4px);
  background: url("../img/patterns/soft-centre-bkg.gif") repeat scroll 0 0 #A09F9F;
  border: 0;
  margin-bottom: 20px;
  padding: 11px 5px 6px;

  h3 {
    color: #fff;
    margin-left: ($gutter_width / 4);
    @include font_size(19.5);
  }

  h4 {
    @include font_size(16);
    font-weight: normal;
  }

  > div {
    @include rounded_corners(4px);
      background: #fff;
      overflow: hidden;
      padding: 20px 8px 0;
  }

  div div {
    margin-bottom: 0;
  }

	.inline-icons { display: table; width: 100%; margin: 0 0 $gutter_width 0; }
	.inline-icons li { display: table-cell; text-align: left; float: none; }
}

/*
 * Arrows for the pointing boxes component
 */

.arrow-right, .arrow-up, .arrow-down, .arrow-left {
	height: 11px;
	position: absolute;
	width: 18px;
}

.arrow-right{
	background: url("../img/patterns/arrow-right.png") 0 0 no-repeat;
	height: 18px;
	right: -11px;
	top: 20px;
	width: 11px;
}
.arrow-up{
	background: url("../img/patterns/arrow-up.png") 0 0 no-repeat;
	left: 20px;
	top: -11px;
}
.arrow-down{
	background: url("../img/patterns/arrow-down.png") 0 0 no-repeat;
	bottom: -11px;
	right: 20px;
}
.arrow-left{
	background: url("../img/patterns/arrow-left.png") 0 0 no-repeat;
	bottom: 20px;
	height: 18px;
	left: -11px;
	width: 11px;
}

div > .arrow-left { left: -10px; }

/*
 * Lists
 */

.list, .list-ubuntu, .list-canonical {
	list-style: none;
	margin-left: 0;

	li {
	  border-bottom: 1px dotted $warm_grey;
    margin-bottom: 0;
    padding: 10px 0;
	}

	li:last-of-type, li.last-item {
	  border: 0;
    padding-bottom: 0;
  }
}

nav .list a {
	display: block;
}

.list-ubuntu li, .list-canonical li {
		background-repeat: no-repeat;
		background-position: 0 15px;
    padding-left: 25px;
}

.list-ubuntu li { background-image: url("../img/patterns/tick-orange.png"); }
.list-canonical li { background-image: url("../img/patterns/tick-aubergine.png"); }


/*
 * Blockquotes
 */

blockquote{
	&.pull-quote {
		text-indent: 0;

		p {
			color: $cool_grey;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 0.813em;
			text-indent: -0.4em;
			margin-left: 0.4em;
			line-height: 1.3;

			span {
				font-weight: bold;
				color: #dd4814;
				line-height: 0;
				position: relative;
				left: -5px;
			}
			span + span { left: 5px; } /* the second span */

			cite {
				margin: 10px 0 0 0.8em;
				font-weight: 300;
				display: block;
				font-size: .75em;
				text-indent: -14px;
			}
		}
	}

	&.quote-canonical,
	&.quote-canonical-white{
	  @include font_size (16);
	    background: url("../img/patterns/quote-white-360x360.png") no-repeat 20px -130px;
	    color: $canonical_aubergine;
	    float: right;
	    height: 215px;
	    margin-top: 0;
	    padding: 20px 60px 0 60px;
	    position: relative;
	    width: 236px;
	}

	&.quote-canonical-white{
	  background: url("../img/patterns/quote-aubergine-345x345.png") no-repeat 0 0;
	  color: #fff;
	  padding: 80px 60px 0 60px;
	  height: 265px;
	}

	&.quote p:first-child {
		@include font_size (18); /* (16) desired value in px, this is divided by the baseline font-size value to reach the em value */
	    line-height: 1.3;
	    text-indent: -7px;
	}

	&.quote-right-bottom p { color: #fff; }

	&.quote-right-bottom {
	    background: url("../img/patterns/quote-orange-br-287x287.png") no-repeat;
	    color: #fff;
	    height: 167px;
	    padding: 60px 40px;
	    position: absolute;
	    right:  -($gutter_width * 2);
	    top: -($gutter_width * 4.5);
	    width: 207px;
	}

	&.quote-grey {
		@include font_size (36);
		background: url("../img/patterns/quote-grey-br-211x211.png") no-repeat scroll 0 0 transparent;
		color: #FFFFFF;
		height: 152px;
		line-height: 40px;
		margin-left: 20px;
		padding: 60px 0 0;
		text-align: center;
		width: 211px;
	}

	&.quote-bottom-left {
	    background: url("../img/patterns/quote-orange-bl-287x287.png") no-repeat;
	    color: #fff;
	    height: 167px;
	    padding: 55px 40px 70px 45px;
	    width: 225px;
	}

	&.pull-quote.js {
	  padding-left: $gutter_width * 3;
	  display: table-cell;
	}
}

.pull-quote {
	@include font_size (30);
	color: $warm_grey;
	line-height: 1.4;
	right: 0;
}

/*
 * End blockquote
 */

 /*
  * row-quote
  */

.row-quote {
  @include rounded_corners(0);

  blockquote {
    @include font_size (24);
    @include rounded_corners(4px);
    margin: 0;
	padding: 0 0 20px;

    p {
		margin-bottom: 0.75em;
		line-height: 1.3;
      	color: $cool_grey;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.813em;
		text-indent: -0.4em;
    }

    span {
		font-weight: bold;
		color: #dd4814;
		line-height: 0;
		position: relative;
		left: -5px;
	}
	span + span { left: 5px; } /* the second span */

    cite {
      color: $cool_grey;
      font-style: normal;
      margin-bottom: 0;
      font-size: .75em;
	  text-indent: -14px;
    }
  }
  .quote-twitter {
    background: #fcece7 url("../img/pictograms/pictogram-twitter-115x139.png") $gutter_width bottom no-repeat;
    padding: $gutter_width $gutter_width $gutter_width $three_col;
  }
  .quote-twitter-small {
    background: #fcece7 url("../img/pictograms/pictogram-twitter-54x63.png") 99% bottom no-repeat;
    padding: $gutter_width $gutter_width $gutter_width 80px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

/*
 * End row-quote
 */

/*
 * Tabbed content
 */
/*
.tabbed-menu {
  @include box_sizing;
  @include rounded_corners(4px 4px 0 0);
  @include box_shadow(0 -1px 10px #cfcfcf inset);
  background: none repeat scroll 0 0 $light_grey;
  position: relative;
  padding-top: $gutter_width;
  padding-bottom: $gutter_width;

  ul {
	  @include box_sizing;
    margin-bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
    padding: 0;
  }

  li {
    text-align: center;
    display: table-cell;
  }

  a {
    color: #666;
    display: block;
    outline: none;
  }

  a:hover {
    text-decoration: none;
  }

  a.active {
    color: $canonical_aubergine;
    text-decoration: none;
  }

  .arrow {
    position: absolute;
    bottom: 0;
  }
}
.tabbed-content {
  @include clearfix();
  padding: $gutter_width $gutter_width*2 0;

  .row {
    padding-left: 0;
    padding-right: 0;
  }
}

.tabbed-content .main-content {
	padding-bottom: 40px;
}

html.yui3-js-enabled .tabbed-content.hide {
	display: none;
	opacity: 0;
}

.tabbed-content-bg  {
	@include box_sizing;
	background: #fff;
	margin-left: 20px;
	margin-right: 20px;
}

.tabbed-content-bg .row-box {
	padding-left: 0;
	padding-right: 0;
}*/

html.yui3-js-enabled {

	.tabbed-menu {
		display: none;
	}

	.arrow {
		display: none;
		visibility: hidden;
		position: absolute;
	}

	.tabbed-content {
	    padding: 8px 8px 0;
	    margin-bottom: 8px;

	    &.hide {
	    	display: block;
	    	opacity: 1 !important;
	    }

	    .title {
	    	display: none;
	    }

	    div {
	    	display: none;
	    }

	    .accordion-button {
			display: block;
			width: 100%;
			height: 30px;
			font-size: 16px;
	    	color: $cool_grey;
	    	padding-top: 2px;
	    	background: url(../img/icons/icon-arrow-down.svg) no-repeat scroll right 3px $light_grey;
		}

	    &.open {
	    	.accordion-button {
	    		background-image: url(../img/icons/icon-arrow-up.svg);
	    		margin-bottom: 10px;
	    	}
	    	div {
	    		display: block;
	    	}
	    }
	}

	html.yui3-js-enabled.opera-mini .tabbed-content,
	html.yui3-js-enabled.no-svg .tabbed-content {
		.accordion-button {
			background-image: url(../img/icons/icon-arrow-right.png)
		}
		&.open {
			.accordion-button {
				background-image: url(../img/icons/icon-arrow-up.png);
			}
		}
	}
	html.yui3-js-enabled.opera-mini.tabbed-content {
		.accordion-button {
			background-image: none;
			margin-bottom: 10px;
		}
		div {
			display: block;
		}
	}

	@media only screen and (min-width : 768px) {
		.tabbed-menu {
			display: block;
		}
		.tabbed-content {
		    padding: 40px;
		    margin-bottom: 20px;

		    &.hide {
		    	display: none;
		    	opacity: 0 !important;
		    }

		    .title {
		    	display: block;
		    }

		    div {
	    		display: block;
	    	}
	    	.vertical-divider div {
	    		display: table-cell;
	    	}

			.accordion-button {
				display: none;
			}
		}
	}

	.accordion-button.active {
		background-color: transparent;
	}

}

/*
 * End tabbed content
 */

 /*
  * Slider
  */

.slider {
  @include rounded_corners(4px);
  background: $light_grey;
  padding-top: $gutter_width * 2;

  .slide-window {
    overflow: hidden;
    position: relative;
    height: 450px;
    -moz-transition: left 1s;
      -webkit-transition: left 1s;
      -o-transition: left 1s;
    transition: left 1s;
  }

  .slide-container {
    position: absolute;
    width: (700 * 4)px;
      -moz-transition: left 1s;
      -webkit-transition: left 1s;
      -o-transition: left 1s;
    transition: left 1s;
    left: 0;
  }

  .slider-dots {
    ul {
      position: absolute;
      top: 550px;
      left: 220px;
      z-index: 5;
    }
    li {
      background: url("../img/patterns/sprite-pager.png") no-repeat;
      list-style-type: none;
      float: left;
      text-indent: -9999em;
      width: 7px;
      height: 7px;
      margin-right: 0.75em;
      background-position: 0 -8px;
    }
    li.active {
      background-position: 0 0;
    }
    a {
      display:block;
      outline: 0;
    }
  }

  .slide {
    float: right;
    width: 700px;

    h3{
      margin-top:65px;
      display: inline-block;
    }
    p {
      width: 350px;
    }
  }

  .arrow-prev,
  .arrow-next {
    font-size: 5em;
    margin-top: 150px;
    display: block;
    color: $warm_grey;
    outline: 0;
  }
  .arrow-prev:hover,
  .arrow-next:hover {
    text-decoration: none;
    color: $cool_grey;
  }
  .arrow-prev:active,
  .arrow-next:active {
    padding-top:1px;
    text-decoration: none;
  }
  .arrow-prev:focus,
  .arrow-next:focus {
    text-decoration: none;
  }
}

/*
 * End slider
 */

/**
 * Helper classes
 *
 * @section helper
 */

.no-bullets {
  list-style: none;
  margin-left:0;
}

.inline {
  margin-left: 0;

  li {
    display: inline;
    list-style: none;
    margin-left: 0;
    float:left;
  }
}

.inline-icons { margin: 0 0 $gutter_width 0; }
.inline-icons li { margin-right: 20px; margin-bottom: 20px; text-align: left; display: inline-block; }
.inline-icons.no-margin-bottom li { margin-bottom: 0; }
.inline-icons li.last-item { margin-right: 0; }
.inline-icons img { vertical-align: middle; }

.left { float: left; }
.right { float: right; }

.accessibility-aid, .off-left { position: absolute; left: -999em; }

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

.middle {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.no-margin { margin: 0; }
.no-margin-bottom { margin-bottom: 0; }
.no-padding-bottom { padding-bottom: 0; }

.note {
  font-size: 0.813em;
  color: $warm_grey;
}
.pull-left-20 { margin-left: -20px; }
.pull-right-20 { margin-right: -20px; }
.pull-left-40 { margin-left: -40px; }
.pull-right-40 { margin-right: -41px; }
.no-border { border: none; }
.no-indent { text-indent: 0; }
.extra-gap div.last { padding-left: 1.25em; }
.boxed {
  @include rounded_corners(4px);
  background-color: $light_grey;
  margin-bottom: 1.538em;
}

.link-top {
    @include font_size (14);
    clear: both;
    margin-bottom: 40px;
    margin-top: -40px;

    a {
      background: white;
      margin-right: 10px;
      margin-top: -17px;
      padding: 5px;
      float: right;
    }
}

.pull-bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
	left: auto;
}

.box .pull-bottom-right {
  @include rounded_corners(0 0 4px 0);
}

.pull-bottom-left { margin-left: -20px; margin-bottom: -21px; }
.pull-top-right { margin-right: -20px; margin-top: -21px; }
.pull-top-right { margin-left: -20px; margin-top: -21px; }

.row.vertical-divider {
	padding-bottom: 40px;
}

.vertical-divider div,
.vertical-divider li {
	display: block;
	border-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.vertical-divider-full {
	padding-bottom: 0;

	> div {
		padding-bottom: 40px;
	}
}

.row.vertical-divider-full {
	padding-bottom: 0;
}

div.warning {
  @include rounded_corners(4px);
    background-color: #fdffdc;
    color: #333;

  p {
    padding: $gutter_width;
    margin: 0;
  }
}

.row-box.row-image-centered {
  display: table;
	padding-top: 20px;
	padding-bottom: 20px;
}

.row.row-image-centered {
  display: table;
  padding-top: 40px;
	padding-bottom: 40px;
}

.row-hero.row-image-centered {
		padding-top: 0;
}

div.row-image-centered,
div.box-image-centered,
div.row.row-image-centered {
	display: block;

	div, span {
		display: block;
		float: none;
	}
	span {
		width: 100%;
	}

	span img {
		height: auto;
		max-width: 100%;
		display: block;
		padding: 0;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	p, h2, h3 {
		float: none;
	}
}

/* priority-0
----------------------------------------------------------- */
div.box-image-centered span img,
div.row-image-centered span img,
div.row.row-image-centered span img,
img {
	&.priority-0 {
		display: none;
	}
}
@media only screen and (min-width : 768px) {
	div.box-image-centered span img,
	div.row-image-centered span img,
	div.row.row-image-centered span img,
	img {
		&.priority-0 {
			display: block;
		}
	}
}

.priority-0 {
	display: none;
}
/* /priority-0
 ---------------------------------------------------------- */

div.box-image-centered {
	padding-top: 20px;
}

.yui3-tooltip-hidden {
  display: none;
}

.yui3-tooltip-content {
  @include box_shadow(0px 2px 8px hsla(0, 0%, 0%, .20));
  position: relative;
  max-width: 520px;
  _width: 520px; /* IE6 */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid $box_solid_grey;
  color: $cool_grey;
  background: url("../img/patterns/grey-textured-background.jpg") repeat scroll 0 0 transparent;
  margin-top: -30px;
}

.yui3-tooltip .yui3-widget-bd {
  padding: 20px;
  width: 320px;
}

.yui3-tooltip .yui3-widget-bd * {
  max-width: 100%;
}

.yui3-tooltip .yui3-widget-bd h5 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
}
.yui3-tooltip .yui3-widget-bd img {
   float: left;
   margin-right: 10px;
}
.yui3-tooltip .yui3-widget-bd q {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  display: block;
  font-size: 13px;
  border-top: 1px dotted $warm_grey;
  border-bottom: 1px dotted $warm_grey;
  font-style: italic;
}

.yui3-tooltip .yui3-widget-bd p:last-child {
  margin-bottom: 0;
}

.yui3-tooltip .yui3-widget-ft,
.yui3-tooltip .yui3-widget-ft div {
  *display: none; /* IE6, IE7 */
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  line-height: 0;
  font-size: 0;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-width: 0 10px 10px 10px;
  border-color: $box_solid_grey transparent;
}

.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: 0;
  border-color: $box_solid_grey transparent;
}

.tooltip-label {
  @include rounded_corners(4px);
  @include box_shadow(3px 3px 6px rgba(0, 0, 0, 0.3));
  display:none;
  background: #fff;
  padding: 6px 5px;
  border: 1px solid #DFDCD9;
  position:absolute;
  top: -20px;
  z-index: 1000;
  font-size: 13px;
  line-height: 1;
  white-space: nowrap;
  margin: 0;
}

/* share this */
.share-this {
  margin-top: 10px;
  float: left;
}

#box-search {
	float: right;
	margin-bottom: 0;
	padding-bottom: 5px;
	padding-top: 7px;
	border-right: 0;
  padding-right: 0;

	form input[type="text"] {
	  @include rounded_corners(6px);
	  @include font_size (13);
    width: 86px;
    height: 24px;
    border-bottom: 1px solid #de6532;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin-bottom: 0;
    background:  #be3d00;
    background: url("../img/icons/icon-search.png") no-repeat scroll 5px center, none repeat scroll 0 0 #BE3D00;
      -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
      -moz-transition: all .5s;
      -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-appearance: none;
    padding-left: 30px;
    color: #fff;
    outline: none;
  }

  form input[type="text"]:focus {
    width: 160px;
    background:#a63603;
    background: url("../img/icons/icon-search.png") no-repeat 5px center,#a63603;
  }

  form button {
    display: none;
  }
}
.search-toggle {
	position: absolute;
	top: 0;
	right: 58px;
	height: 48px;
	width: 24px;
	display: block;
  background-image: url('../img/search_icon_white_64.png');
	background-image: url('../img/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
	@include background_size(20px 20px);
	text-indent: -999em;
	overflow: hidden;
	outline: none;
}

.search-toggle:link, .search-toggle:active {
	outline: none;
}

#box-search {
	background: #f0f0f0;
	display: none;
	border: 0;
	margin-bottom: 0;
	position: relative;
  float: left;
  margin: 0 0 -1px 0;
  padding: 0;
  width: 100%;
	z-index: 3;
	border-bottom: 0;
}

#box-search.active {
	display: block;
}

#box-search div {
	background: $nav_bg;
	position: relative;
	z-index: 1;
	box-shadow:
		inset 0 -4px 4px -4px rgba(0, 0, 0, .3),
		inset 0  5px 5px -5px rgba(0, 0, 0, 0.3);
	margin: 10px;
}

#box-search form input[type="search"] {
	@include rounded_corners();
	background: #fff;
	border: 0;
	color: #333;
  	-webkit-box-shadow:
  		0 1px 2px rgba(0, 0, 0, 0.2) inset,
  		0 -1px 3px rgba(0, 0, 0, 0.1) inset,
  		0 0px 0 rgba(255, 255, 255, 0.2);
		-moz-box-shadow:
			0 1px 2px rgba(0, 0, 0, 0.2) inset,
			0 -1px 3px rgba(0, 0, 0, 0.1) inset,
			0 0px 0 rgba(0, 0, 0, 0.2);
		-o-box-shadow:
			0 1px 2px rgba(0, 0, 0, 0.2) inset,
			0 -1px 3px rgba(0, 0, 0, 0.1) inset,
			0 0px 0 rgba(0, 0, 0, 0.2);
  box-shadow:
  	0 2px 2px rgba(0, 0, 0, 0.3) inset,
		0 -1px 3px rgba(0, 0, 0, 0.2) inset,
    0 2px 0 rgba(255, 255, 255, 0.4);
	@include box_sizing();
  float: left;
  width: 100%;
  padding: 9px 10px 9px 10px;
	height: auto;
	margin: 0;
	@include font_size (16);
	font-size: 16px;
}

.yes-js .header-inner #box-search  {
	display: none;

	form {
		@include box_sizing();
		margin-left: 0;
		margin-right: 0;
		overflow: hidden;
		padding: 10px;
		top: 0;
		z-index: 999;
	  position: relative;
	  width: 100%;
	}
}

/*
*
* Popover styles
*
* Example:
* <a tooltip="&lt;h5&gt;Ubuntu&lt;/h5&gt;&lt;p&gt;About Ubuntu.&lt;/p&gt;" tooltip:alignment="bottom" href="#">Ubuntu</a>
*
*/

.yui3-tooltip-hidden {
  display: none;
}
.yui3-tooltip-content {
  @include box_shadow(0px 2px 8px hsla(0, 0%, 0%, .20));
  position: relative;
  max-width: 520px;
  _width: 520px; /* IE6 */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  color: #333;
  background: $light_grey; /* Fallback */
}
.yui3-tooltip .yui3-widget-bd {
  padding: 20px;
}
.yui3-tooltip .yui3-widget-bd * {
  max-width: 100%;
}
.yui3-tooltip .yui3-widget-bd h5 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 300;
}
.yui3-tooltip .yui3-widget-bd q {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  display: block;
  font-size: 16px;
  border-top: 1px dotted $warm_grey;
  border-bottom: 1px dotted $warm_grey;
  font-style: italic;
}
.yui3-tooltip .yui3-widget-bd p:last-child {
  margin-bottom: 0;
}
.yui3-tooltip .yui3-widget-ft,
.yui3-tooltip .yui3-widget-ft div {
  *display: none; /* IE6, IE7 */
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  line-height: 0;
  font-size: 0;
}
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft,
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  border-width: 0 10px 10px 10px;
  border-color: #e3e3e3 transparent;
}
.yui3-tooltip .yui3-tooltip-align-bottom .yui3-widget-ft div {
  top: 1px;
  border-color: $light_grey transparent;
}
