@import "core-constants";
@import "core-mixins";

@media only screen and (min-width: 984px) {

	h1 {
		font-size: 2.8125em;
	}

	h2 {
		font-size: 2em;
		margin-bottom:.375em;
	}

	h3 {
		font-size:1.438em;
		margin-bottom:.522em;
	}

	h4 {
		font-size: 1em;
		margin-bottom:.75em;
	}

	h5 { font-size: 1em; }

	p, li, code, pre {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: .75em;
	}

	header.banner {
 		margin-bottom: 20px;
	}
	.wrapper {
		@include box_sizing;
		background: #fff;
		margin: 0 auto;
		text-align: left;
		width: 984px;
		position: relative;
	}
	.inner-wrapper {
		@include box_shadow(0 0 3px #c9c9c9);
		margin: 10px 0 30px;
	}
	header.banner nav.nav-primary ul {
		display: block;
	}
	.wrapper,
	header.banner .nav-primary,
	#nav-global .nav-global-wrapper,
	footer.global nav div.footer-a div,
	footer.global .inline-lists ul,
	footer.global .legal {
		width: 984px; /* 980px / 15px (baseline font); 980px + (60px x 2) = 1100px */
	}
	.row-quote blockquote {
		padding: 0 80px 20px;
    	text-indent: -10px;
	}
	blockquote.pull-quote p span,
	.row-quote blockquote p span {
		top: 10px;
	}
	div.row-image-centered,
	div.row.row-image-centered,
	div.box-image-centered {
		@include box_sizing;
		padding-bottom: 20px;
		display: table;

		div {
			float: none;
			display: table-cell;
			position: relative;

			p, h2, h3 {
				display: block;
				width: 100%;
				float: left;
			}
		}

		span {
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			float: none;
			position: relative;
			top: 0;
			width: auto;
		}
		span img {
			padding-right: 20px; /* if image is on the left hand side */
		}
		div + span img { /* if image is on the right hand side */
			padding-right: 0;
			margin-right: -20px;
			margin-bottom: 20px;
		}
	}
	#context-footer, .row {
		padding: 40px 40px 20px;
	}
	#context-footer {
		padding-top: 0;
	}
	.row br {
		display: block;
	}
	.row iframe {
		width: auto;
	}

	.row,
	.row.row-image-centered,
	div.box-image-centered,
	div.row-image-centered,
	div.row.row-image-centered {
	    padding: 60px 40px 40px;
	}

	.row-quote {
		blockquote {
		  padding: 0 30px 20px;
		}
	}
	.vertical-divider {
	  > div,
	  > li {
	    border-right: 1px dotted $warm_grey;
	    margin-right: 0;
	    padding-right: 20px;
	    padding-left: 20px;
	    float: none;
	    display: table-cell;
	    vertical-align: top;

	  }
	  > div:last-child,
	  > li:last-child,
	  > div.last-col,
	  > li.last-col,
	  > div:last-of-type,
	  > li:last-of-type {
	    border-right: 0;
	    padding-right: 0;
	  }
	  > div:first-child,
	  > li:first-child,
	  > div.first-col,
	  > li.first-col,
	  > div:first-of-type,
	  > li:first-of-type {
	    padding-left: 0;
	  }
	}
	#context-footer div div {
		display: table-cell;
		float: none;
		padding-left: 20px;
		margin-bottom: 0;
	}
	#context-footer hr {
		margin: 0 -40px 40px;
	}
	footer.global {
		padding: 30px 0 20px;

		.legal {
			background: url("../img/logos/logo-ubuntu-grey.png") 100% 0 no-repeat;
		}

		.footer-a {
			display: block;
		}
	}

	form .fieldset-1 { background-image: url("../img/patterns/fieldsets-1.png"); }
	form .fieldset-2 { background-image: url("../img/patterns/fieldsets-2.png"); }
	form .fieldset-3 { background-image: url("../img/patterns/fieldsets-3.png"); }
	form .fieldset-4 { background-image: url("../img/patterns/fieldsets-4.png"); }

	a.link-cta-ubuntu,
	a.link-cta-canonical,
	a.link-cta-inverted,
	button.cta-ubuntu,
	button.cta-canonical,
	form button[type="submit"],
	form input[type="submit"] {
	  width: auto;
	}

	.three-col,
	.med-six-col .three-col {
		width: 23.30%;
	}
	.med-six-col {
		.three-col:nth-of-type(2n) {
		    margin-right: 20px;
		}
		.three-col.last-col {
			margin-right: 0;
		}
	}
}
