include "{{named_rndc_conf_path}}";

# Zone declarations
{{for zone in zones}}
zone "{{zone.name}}" {
    type master;
    file "{{zone.target_path}}";
};
{{endfor}}

{{for rev_zone in rev_zones}}
zone "{{rev_zone.name}}" {
    type master;
    file "{{rev_zone.target_path}}";
};
{{endfor}}
