include "{{named_rndc_conf_path}}";

# Zone declarations
{{for zone in zones}}
zone "{{zone.zone_name}}" {
    type master;
    file "{{zone.target_path}}";
};
{{endfor}}

{{for zone in zones}}
zone "{{zone.reverse_zone_name}}" {
    type master;
    file "{{zone.target_reverse_path}}";
};
{{endfor}}
