$TTL    300
@   IN    SOA {{domain}}. nobody.example.com. (
              {{serial}} ; serial
              600 ; Refresh
              1800 ; Retry
              604800 ; Expire
              300 ; TTL
              )

    IN  NS  {{domain}}.
{{for host in hosts}}
{{host['hostname']}} IN A {{host['ip']}}
{{endfor}}
